  <div th:fragment="common-back_1">
    <!-- <div th:text="${#arrays.contains(lRequestForm, '19')}"><a href="#" type="button" class="btn btn-warning btn-custom denybtn pull-left" style="font-size: 20px !important; margin-top: 25px;"> + ข.2 </a></div> -->
    <a href="javascript:history.back()" type="button" class="btn btn-danger btn-custom denybtn pull-right " style="font-size: 20px !important; margin-top: 25px;" >
    <i class="glyphicon glyphicon-chevron-left"></i> ย้อนกลับ</a>
  </div>
