<div id="footer_nav" class="meme" style="background-color: #444; color: #eee;" th:fragment="common-footer">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย
กรมธุรกิจพลังงาน กระทรวงพลังงาน
เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br>ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900 
                            <br> โทรศัพท์<a tabindex="9001" title="โทรศัพท์" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="โทรสาร" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="ติดต่อผู้ดูแลเว็บไซต์" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>