<head th:fragment="common-header">

<meta http-equiv="Content-Type" charset="UTF-8" content="text/html; charset=UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<script type="text/javascript" src=""  th:src="@{/js/jquery-1.10.2.js}"></script>
	
	
	<link rel="stylesheet" href="css/3.3.0/bootstrap.css" th:href="@{/officer/css/3.3.0/bootstrap.css}">
	<link rel="stylesheet" href="css/fontawesome-all.min.css" th:href="@{/officer/css/fontawesome/fontawesome-all.min.css}">
	<link rel="stylesheet" href="css/style.css" th:href="@{/officer/css/style.css}">
	<link rel="stylesheet" href="css/magin-padding.css" th:href="@{/officer/css/magin-padding.css}">
	
	
	
<script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
<script src="" th:src="@{/chosen/chosen.jquery.js}"></script>
<link rel="stylesheet" href="" th:href="@{/chosen/chosen.css}">
<script src="" th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" href="" th:href="@{/css/jquery.dataTables.min.css}">

    <link href="dist/css/bootstrap-datepicker.css" th:href="@{/bootstrap-datepicker-custom/dist/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <script src="dist/js/bootstrap-datepicker-custom.js" th:src="@{/bootstrap-datepicker-custom/dist/js/bootstrap-datepicker-custom.js}"></script>
    <script src="dist/locales/bootstrap-datepicker.th.min.js"  th:src="@{/bootstrap-datepicker-custom/dist/locales/bootstrap-datepicker.th.min.js}" charset="UTF-8"></script>
<script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: true,
                language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        });
    </script>