<div class="row mt-20"  th:fragment="common-menu_das">
      <div class="col-xs-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-4">
                <div class="text-center">
                  <i class="fas fa-database pt-30" style="color: #e74124;"></i>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="numbers text-right pt-30">
                  <p class="text-left">ขอใบอนุญาต</p>
                 <h2 th:text="${SumDas1}"></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-4">
                <div class="text-center">
                  <i class="fas fa-calendar pt-30" style="color: #e74124;"></i>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="numbers text-right pt-30">
                  <p class="text-left">ขอต่ออายุใบอนุญาต  / ใบแทน</p>
                  <h2 th:text="${SumDas2}"></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-4">
                <div class="text-center">
                  <i class="fas fa-copy pt-30" style="color: #e74124;"></i>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="numbers text-right pt-30">
                  <p class="text-left">ขอแก้ไขเปลี่ยนแปลงใบอนุญาต</p>
                  <h2 th:text="${SumDas3}"></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="card">
          <div class="content">
            <div class="row">
              <div class="col-xs-4">
                <div class="text-center">
                  <i class="fas fa-clock pt-30" style="color: #e74124;"></i>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="numbers text-right pt-30">
                  <p class="text-left">อยู่ระหว่างดำเนินการ</p>
                  <h2 th:text="${SumDas4}"></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>