<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/fueloperator/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/fueloperator/save}">
		<div class="form-group ">
		    <label for="formTitle">CardNo</label>
		    <input type="text" class="form-control" id="foCardNo" name="foCardNo" required>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">Name</label>
		    <input type="text" class="form-control" id="foName" name="foName" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">Surname</label>
		    <input type="text" class="form-control" id="foSurname" name="foSurname" required>
		  </div>
		   <div class="form-group">
		    <label for="formDescription">PersonalId</label>
		    <input type="text" class="form-control" id="foPersonalId" name="foPersonalId" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">InitDate</label>
		    <input type="date" class="form-control datepicker" id="foInitDateStr" name="foInitDateStr" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">ExpireDate</label>
		    <input type="date" class="form-control datepicker" id="foExpireDateStr" name="foExpireDateStr" required>
		  </div>
		 <div class="form-group">
		    <label for="formDescription">company</label>
		     <select name="company" id="company" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="company : ${lCompany}"
                            	th:value="${company.dbdId}"
                            	th:utext="${company.companyName}"/>
                  		</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

