<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/fueloperator/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>FO_ID</th>
      <th>CARD_NO</th>
      <th>NAME</th>
      <th>SURNAME</th>
      <th>PERSONAL_ID</th>
      <th>INIT_DATE</th>
      <th>EXPIRE_DATE</th>
      <th>COMPANY</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
   <tr th:each="f : ${lFuelOperator}">
   	 <td th:text="${f.foId}"></td>
      <td th:text="${f.foCardNo}"></td>
      <td th:text="${f.foName}"></td>
      <td th:text="${f.foSurname}"></td>
      <td th:text="${f.foPersonalId}"></td>
      <td th:text="${f.foInitDate}"></td>
      <td th:text="${f.foExpireDate}"></td>
      <td th:text="${f.company.companyName}"></td>
      <td>[<a href="#" th:href="@{|/fueloperator/view/${f.foId}|}">Edit</a>]  [<a href="#" th:href="@{|/fueloperator/meta/${f.foId}|}">Meta</a>] </td>
    </tr>
  </tbody>
</table>
</div>