@font-face {
    font-family: THSarabunNew;
    src: url("../../font/THSarabunNew.ttf") format("truetype");
}
@font-face {
    font-family: THSarabunNew_Bold;
    src: url("../../font/THSarabunNew%20Bold.ttf") format("truetype");
}

body {
  font-family: THSarabunNew;
  font-size: 21px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2,h3,h4,strong,label {
  font-family: THSarabunNew_Bold;
}

.left {
  text-align: left !important;
}
.right {
  text-align: right !important
}
/*margin and padding*/
.mg-0 {
  margin: 0px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.pd-0 {
  padding: 0px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.fs-XL {
  font-size: 20px !important;
}
.w-100 {
  width: 100% !important;
}

/* start edit */
h2.title-info {
  font-family: THSarabunNew_Bold;
  background-color: #428bca;
  color: #fff;
  padding: 10px 10px;
  line-height: 15px;
}
h3.title {
  background-color: #f44336;
  line-height: 40px;
  padding-left: 10px;
  color: #ffffff;
}
h4.title {
  font-size: 21px;
  background-color: #eeeeee;
  line-height: 40px;
  padding-left: 10px;
  color: #555555;
  border-left: 5px solid #ccc;
}
.form-control-edit {
  border: none;
  outline: none;
  font-size: 21px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  border-radius: 0;
  box-shadow: none;
}
.form-control.edit {
  font-size: 18px;
  border-radius: 0px;
  border-top: 0px solid;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}
.navbar {
  border-radius: 0px;
  font-size: 21px;
}
.navbar-custom {
  background-color: #ffffff;
}
.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.custom-link > li > a {
  width: 80px;
  text-align: center;
  font-size: 24px;
  border-bottom: 0px;
  color: #ffffff;
  line-height: 50px;
  transition: 0.25s;
}
.custom-link > li.active > a,
.custom-link > li:hover,
.custom-link > li:focus {
  color: #ffffff !important;
  background-color: #e74124 !important;
  transition: 0.25s;
}
.form-group label {
  margin-right: 10px;
}
.box-header {
  padding: 80px 50px 100px 50px;
}
.text-header {
  margin-top: 5px;
  font-size: 38px;
  color: #333333;
}
.box-container {
  width: 950px;
  padding: 35px;
  margin-right: auto;
  margin-left: auto;
  color: #777777;
  background-color: #fff;
  border-radius: .25em;
  margin-top: 50px;
  border-top: 4px solid #e74124;
  box-shadow: 0 1px 1px 1px #00000020;
}
#footer_nav {
  font-weight: bold;
}
a {
  color: #e04e39;
}
.btn-custom-prev, .btn-custom-prev:hover, .btn-custom-prev:focus {
  color: #333;
  background-color: #ccc !important;
  border-color: #ccc;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.btn-custom-next, .btn-custom-next:hover, .btn-custom-next:focus {
  color: #ffffff !important;
  background-color: #f44336 !important;
  border-color: #f44336;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.btn-custom-confirm, .btn-custom-confirm:hover, .btn-custom-confirm:focus {
  color: #fff;
  background-color: #f44336 !important;
  border-color: #f44336;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #e04e39;
}
.tab-edit {
  background-color: #eeeeee;
}
.nav-tabs {
  padding-left: 15px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  
}
.nav-tabs>li>a{
  font-family: THSarabunNew_Bold;
  color: #333333;
  border: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  font-family: THSarabunNew_Bold;
  background-color: #428bca;
  left: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  border-color: #428bca;
  transition: 0.25s;
  border: 0px;
}
.tab-content {
  padding: 0px 15px;
}
.user-footer {
  padding: 10px;
}
.custom-tab li {
  height: 115px;
}
.custom-tab li.active {
  border-color: #f44336;
  background-color: #f44336 !important;
}
.well {
  font-size: 16px;
}
.process-detail {
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #ccc;
}
td{
  vertical-align: middle !important;
}
thead>tr>th {
  font-family: THSarabunNew_Bold;
}
.info>thead>tr>th {
  background-color: #428bca;
  color: #ffffff;
}
.warning>thead>tr>th {
  background-color: #F3BB45;
  color: #2f2f2f;
}
.danger>thead>tr>th {
  background-color: #ac2925;
  color: #ffffff;
}
li.active > a#edit-tab {
  background-color: #F3BB45;
  color: #2f2f2f;
}
li.active > a#delete-tab {
  background-color: #ac2925;
  color: #ffffff;
}
td>a.btn-custom {
  font-family: THSarabunNew_Bold;
  font-size: 21px;
  line-height: 17px;
}
.check {
  font-family: THSarabunNew_Bold;
  color: #5bc0de;
}
/*
.check>span {
  width: 30px;
  height: 30px;
  background-color: #5bc0de;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 19px;
}*/
