<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/officer/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#" th:href="@{/officer/document-storage}">Home</a></li>
        </ul>
       <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/user/images/user.png" alt="User Image">
            <span class="ml-10 hidden-xs">เจ้าหน้าที่สถาบันพัฒนาเทคนิคพลังงาน</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" th:href="@{/user/logout}" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
  <div>
      <img src="/images/energy-logo.svg" width="250px;" alt="Energy Logo">
    </div>
    <p><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
  
  
    <hr class="mt-40">
    

       <h3 class="text-info text-center mb-30"><u>สำนักความปลอดภัยธุรกิจน้ำมัน</u></h3>
 
    <!-- Nav tabs -->
    <!-- Tab panes -->
    <div class="row">
    <!-- Nav tabs -->
    <!-- Tab panes -->
			<div class="tab-content pd-0">
			<form action="#" th:action="@{/officer/keep-file-submission}" method="post" onsubmit="return checkResult()">
	     	<input type="hidden" name="rtId" id="rtId" value="" th:value="${rtId}">
	     
				<table class="table table-bordered  info">
          <thead>
            <tr><th class="text-center" style="border-right: 1px solid;"> ลำดับ </th>
            <th class="text-center" style="border-right: 1px solid;"> ประเภทเอกสาร </th>
            <th class="text-center" style="border-right: 1px solid;"> เลขที่เอกสาร </th>
						<th class="text-center" style="border-right: 1px solid;"> วันที่ </th>
						<th class="text-center" style="border-right: 1px solid;"> ชื่อเรื่อง </th>
						<th class="text-center" style="border-right: 1px solid;"> แนบไฟล์ </th>
            <th class="text-center"> เช็คบ๊อกสำหรับผู้ประกอบการสามารถพิมพ์ได้ </th>
          </tr></thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
    				<select  class="form-control">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>          
              </td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="date"></td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="file"></td>
              <td><input  class="form-control" type="checkbox"></td>
            </tr>
          <tr>
              <td>2</td>
              <td>
    				<select  class="form-control">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>          
              </td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="date"></td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="file"></td>
              <td><input  class="form-control" type="checkbox"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>
    				<select  class="form-control">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>          
              </td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="date"></td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="file"></td>
              <td><input  class="form-control" type="checkbox"></td>
            </tr>
            <tr>
              <td>4</td>
              <td>
    				<select  class="form-control">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>          
              </td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="date"></td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="file"></td>
              <td><input  class="form-control" type="checkbox"></td>
            </tr>
            <tr>
              <td>5</td>
              <td>
    				<select  class="form-control">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>          
              </td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="date"></td>
              <td><input  class="form-control" type="text"></td>
              <td><input  class="form-control" type="file"></td>
              <td><input  class="form-control" type="checkbox"></td>
            </tr>
          </tbody>
        </table>
			<div class="text-right mt-20">
			<button type="submit" class="btn btn-custom-next" >บันทึก</button>
			</div>
			</form>
			</div>

    </div>

     
  </div>


  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#radioBtn-1 a,#radioBtn-2 a,#radioBtn-3 a,#radioBtn-4 a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);

    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
})
});
</script>
<script type="text/javascript">

function checkResult() {
	
 
  //  return false;
}
</script>
</html>