<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link rel="stylesheet" href="css/3.3.0/bootstrap.css" th:href="@{/officer/css/3.3.0/bootstrap.css}">
	<link rel="stylesheet" href="css/style.css" th:href="@{/officer/css/style.css}">
	<link rel="stylesheet" href="css/wizard.css.html" th:href="@{officer/css/wizard.css.html}">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="../user/images/user.png" alt="User Image">
            <span class="ml-10 hidden-xs">เจ้าหน้าที่สถาบันพัฒนาเทคนิคพลังงาน</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" th:href="@{/user/logout}" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <div class="box-container mb-50">
  <div>
      <img src="images/energy-logo.svg" width="250px;" alt="Energy Logo">
    </div>
   <p><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
   
    <hr class="mt-10">
    <h3 class="text-info text-center mb-40"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></h3>
<!-- start content -->
    <div class="row mb-10 center">
      <form class="form-inline">
        <div class="form-group">
          <ul class="nav nav-tabs pd-0" role="tablist">
             <li role="presentation" ><a class="edit" href="../superofficer/dashboard" id="tab-one" type="button"> เรื่องเข้า </a></li>
						<li role="presentation" class="active"><a class="edit" href="../superofficer/processing" id="tab-two" type="button"> อยู่ระหว่างดำเนินการ </a></li>
            <li role="presentation"><a class="edit" href="../superofficer/document-storage" id="tab-three" type="button"> จัดเก็บเอกสาร </a></li>
          <!--   <li role="presentation"><a class="edit" href="../oil/check_four.html" id="tab-four" type="button"> แบบชำระค่าธรรมเนียม </a></li>
            <li role="presentation"><a class="edit" href="../oil/check_five.html" id="tab-five" type="button"> สถานะการชำระค่าธรรมเนียม </a></li>
            <li role="presentation"><a class="edit" href="../oil/check_six.html" id="tab-six" type="button"> จัดทำรายงาน </a></li>
						<li role="presentation"><a class="edit" href="../oil/check_seven.html" id="tab-six" type="button"> ครบวาระ </a></li>
						<li role="presentation"><a class="edit" href="../oil/check_eight.html" id="tab-six" type="button"> ระงับ/ปลดระงับ </a></li>
            <li><a class="btn btn-info edit" href="search.html" style="color: #fff;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
           --></ul>
        </div>
      </form>
    </div>
   <div class="row">
	    <!-- Nav tabs -->
	    <ul class="nav nav-tabs pd-0" role="tablist">
	      <li role="presentation" class="active"><a href="#new" id="new-tab" role="tab" data-toggle="tab"> ขอใหม่ </a></li>
	      <li role="presentation"><a href="#edit" id="edit-tab" role="tab" data-toggle="tab"> แก้ไข </a></li>
	      <li role="presentation"><a href="#delete" id="delete-tab" role="tab" data-toggle="tab"> ยกเลิก </a></li>
	     <!--  <li role="presentation"><a href="#transfer" id="transfer-tab" role="tab" data-toggle="tab"> โอน </a></li>
	      <li role="presentation"><a href="#accident" id="accident-tab" role="tab" data-toggle="tab"> รายงานอุบัติเหตุ </a></li> -->
	    </ul>
	    <!-- Tab panes -->
	    <div class="tab-content pd-0">
	      <div role="tabpanel" class="tab-pane fade in active" id="new">
	        <table class="table table-bordered  info">
	          <thead>
	            <tr><th class="col-md-1 text-center" style="border-right: 1px solid;">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;">สถานประกอบการ</th>
	            <th class="col-md-5 text-center" style="border-right: 1px solid;"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;">วันคงเหลือ</th>
	            <th class="col-md-3 text-center" colspan="2"> ดูรายละเอียด </th>
	          </tr></thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="company-name" id="" th:id="${requestTransaction.rtId}"  th:text="|${requestTransaction.dbdId}/${requestTransaction.requestStatus.status}|" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.dbdId}"></div>
									<div   th:text="|${requestTransaction.requestStatus.status}|"></div>
									
                              	</td>
                              	<td>
									<div th:text="${requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amount" id="" th:id="|date-amount${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" type="button" class="btn btn-primary btn-custom">ดูรายละเอียด</a>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
				             	
								   <a th:case="'101'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'102'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'302'" type="button" class="btn btn-warning btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'204'" type="button" class="btn btn-danger btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'205'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}">จัดทำเอกสาร</a>
								   
								   <p th:case="*">Somethig not correct</p> 
								
								
								  </td>
				              
                              </tr>
	          </tbody>
	        </table>
	      </div>

	      <div role="tabpanel" class="tab-pane fade" id="edit">
	        <table class="table table-bordered  warning">
	          <thead>
							<tr><th class="col-md-1 text-center" style="border-right: 1px solid;">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;">สถานประกอบการ</th>
	            <th class="col-md-5 text-center" style="border-right: 1px solid;"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;">วันคงเหลือ</th>
	            <th class="col-md-3 text-center" colspan="2"> ดูรายละเอียด </th>
	          </tr></thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="company-nameT2" id="" th:id="|T2${requestTransaction.rtId}|"  th:text="${requestTransaction.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.dbdId}"></div>
									
                              	</td>
                              	<td>
									<div th:text="${requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT2" id="" th:id="|date-amountT2${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" type="button" class="btn btn-primary btn-custom">ดูรายละเอียด</a>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
				             	
								   <a th:case="'101'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'102'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'302'" type="button" class="btn btn-warning btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'204'" type="button" class="btn btn-danger btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'205'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}">จัดทำเอกสาร</a>
								   
								   <p th:case="*">Somethig not correct</p> 
								
								
								  </td>
                              </tr>
	          </tbody>
	        </table>
	      </div>

	      <div role="tabpanel" class="tab-pane fade" id="delete">
	        <table class="table table-bordered danger">
	          <thead>
							<tr><th class="col-md-1 text-center" style="border-right: 1px solid;">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;">สถานประกอบการ</th>
	            <th class="col-md-5 text-center" style="border-right: 1px solid;"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;">วันคงเหลือ</th>
	            <th class="col-md-3 text-center" colspan="2"> ดูรายละเอียด </th>
	          </tr></thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="company-nameT3" id="" th:id="|T3${requestTransaction.rtId}|"  th:text="${requestTransaction.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.dbdId}"></div>
									
                              	</td>
                              	<td>
									<div th:text="${requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT3" id="" th:id="|date-amountT3${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" type="button" class="btn btn-primary btn-custom">ดูรายละเอียด</a>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
				             	
								   <a th:case="'101'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'102'" type="button" class="btn btn-success btn-custom noticeBtn" data-id="" th:data-id="${requestTransaction.rtId}">นำเรียน ผอ.</a>
								   <a th:case="'302'" type="button" class="btn btn-warning btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'204'" type="button" class="btn btn-danger btn-custom evaluateBtn" data-id="" th:data-id="${requestTransaction.rtId}">ประมินผล</a>
								   <a th:case="'205'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}">จัดทำเอกสาร</a>
								   
								   <p th:case="*">Somethig not correct</p> 
								
								
								  </td>
                              </tr>
	          </tbody>
	        </table>
	      </div>


	     
	    </div>
    </div>
    </div>
      
  
  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/officer/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/officer/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
	
	$(".noticeBtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/notice-transaction-processing/"+$(this).attr('data-id'));
		});
$(".evaluateBtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/accept/"+$(this).attr('data-id'));
		});
$(".fileBtn").click(function() {
	
	//  alert($(this).attr('data-id') );
	  window.location.replace("/officer/edit-doc/"+$(this).attr('data-id'));
	});
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  		var divs = document.getElementsByClassName('company-name');
  //alert(divs.length);
		for (var i = 0; i < divs.length; i++) {
			//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
			getCompanyName(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
		}
		
		var divs = document.getElementsByClassName('company-nameT2');
			for (var i = 0; i < divs.length; i++) {
				//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
				getCompanyNameT2(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
			}
		var divs = document.getElementsByClassName('company-nameT3');
		  //alert(divs.length);
				for (var i = 0; i < divs.length; i++) {
					//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
					getCompanyNameT3(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
				}
		
		 var divs2 = document.getElementsByClassName('date-amount');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT2');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT2'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT3');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT3'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
});

function getCompanyName(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT2(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T2'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT3(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T3'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function diffDays(dateCreate) {
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	//console.log(dateCreate);
	var res = dateCreate.split(" ");
	var res2 = res[0].split("-");
	var firstDate = new Date(res2[0],res2[1],res2[2]);
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd = '0'+dd
	} 

	if(mm<10) {
	    mm = '0'+mm
	} 

	today = mm + '/' + dd + '/' + yyyy;
	//console.log(today);
	var secondDate = new Date(yyyy,mm,dd);

	var diffDays = 30 - Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
	//console.log(diffDays);
	return diffDays;
}

</script>
</html>


