<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/admin/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/admin/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/admin/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/admin/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="../font-awesome-4.7.0/css/font-awesome.min.css.html" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/admin/assets/css/themify-icons.css}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" th:href="@{/DataTables/datatables.min.css}"/>
</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
      <img src="doeb_thai.png" alt="" width="200">
      </a>
    </div>

    <ul class="nav">
      <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="#" th:href="@{/admin}">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/admin/manage_user}">
          <i class="ti-write"></i>
          <p> จัดการผู้ใช้ </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/admin/manage_role}">
          <i class="ti-write"></i>
          <p> จัดการสิทธิ </p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-agenda"></i>
          <p> ประวัติการเข้าใช้งาน </p>
        </a>
      </li>

    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">

              <li>
                <a href="#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/admin/logout}">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">

              

        </div>
      </div>


      <footer class="footer">

      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/admin/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/admin/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/admin/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/admin/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/admin/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>
 
<script type="text/javascript" src="DataTables/datatables.min.js" th:src="@{/DataTables/datatables.min.js}"></script>

<script type="text/javascript">
  $(document).ready(function() {

	  $("#buttonVerify").click(function(){
	  		var ldapusername = $("#ldapusername").val();

			$.ajax({
			type: "POST",
			url: "[[@{/api/verify}]]",
			data:'username='+ldapusername,
			success: function(data){
/* 				$.each(data, function (index, value) {
					
		        }); */
		        alert("ยืนยันเพิ่มบัญชีผู้ใช้ " + ldapusername + " : " + data);
		        //$("#selectType").css('visibility', 'visible');
		        $("#inputCnSn").css('visibility', 'visible');
		        $("#buttonSubmit").css('visibility', 'visible');
		        $("#buttonBack").css('visibility', 'visible');
		        $("#buttonVerify").css('visibility', 'hidden');
		        $("#cnsn").val(data);
			},
			error: function(data){
				alert("ไม่พบบัญชีผู้ใช้");
			}
			});

		});
		
		$("#buttonSubmit").click(function(){
			$("#formUser").submit();
		});
	  
  });
</script>

</html>
