<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/admin/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/admin/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/admin/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/admin/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="/assets/css/themify-icons.css" th:href="@{/admin/assets/css/themify-icons.css}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" th:href="@{/DataTables/datatables.min.css}"/>
	
<!--   Core JS Files   -->
<script src="/assets/js/jquery-1.10.2.js" th:src="@{/admin/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>
	
</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
      <img src="doeb_thai.png" alt="" width="200">
      </a>
    </div>

    <ul class="nav">
      <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="#" th:href="@{/admin}">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
       <li>
        <a href="#">
          <i class="ti-write"></i>
          <p> จัดการข้อมูลค่าเริ่มต้น </p>
        </a>
        <ul>
          <li> <a href="#" th:href="@{/admin/manage_holiday}"> วันหยุดราชการ </a> </li>
        </ul>
      </li>
      <li>
        <a href="#" th:href="@{/admin/manage_user}">
          <i class="ti-write"></i>
          <p> จัดการผู้ใช้ </p>
        </a>
      </li>
      
      <li>
        <a href="#" th:href="@{/admin/manage_role}">
          <i class="ti-write"></i>
          <p> จัดการสิทธิ </p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-agenda"></i>
          <p> ประวัติการเข้าใช้งาน </p>
        </a>
      </li>

    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">

              <li>
                <a href="#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/admin/logout}">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">
        <button type="button" class="btn btn-default btn-sm" onClick="location.href='/admin/manage_holiday/add_holiday'">เพิ่ม</button><br/><br/>
			<table id="table-holiday"  class="display" style="width:100%" >
  <thead>
    <tr>
      <th>วันที่</th>
      <th>ชื่อวันหยุด</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="f : ${lHoliday}">
      <td> <div class="date-data" th:text="${f.holidayDate}" id="" th:id="|date${f.idHoliday}|" data-id="" th:data-id="|date${f.idHoliday}|"></div></td>
      <td th:text="${f.holidayName}"></td>
      <td>[<a href="#" th:href="@{|/admin/manage_holiday/view/${f.idHoliday}|}">Edit</a>]  [<a onclick="return confirm('Are you sure you want to delete this item?');" href="#" th:href="@{|/admin/manage_holiday/delete/${f.idHoliday}|}">Delete</a>] </td>
    </tr>
  </tbody>
</table>
        </div>
      </div>


      <footer class="footer">

      </footer>

    </div>
  </div>


</body>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/assets/js/bootstrap-checkbox-radio.js" th:src="@{/admin/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="/assets/js/chartist.min.js" th:src="@{/admin/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js" th:src="@{/admin/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="/assets/js/paper-dashboard.js" th:src="@{/admin/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>
 
<script type="text/javascript" src="/DataTables/datatables.min.js" th:src="@{/DataTables/datatables.min.js}"></script>
<script type="text/javascript">
  $(document).ready(function() {
	 // $('#table-holiday').DataTable();
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#table-holiday').css("display","none");
	 var divs = document.getElementsByClassName('date-data');
   		for (var i = 0; i < divs.length; i++) {
		   // dataLeagueValues.push(divs[i].getAttribute('data-league'));
		 //  alert(divs[i].getAttribute('data-id'));
		   convDate(divs[i].getAttribute('data-id'));
		}
	$('#table-holiday').css("display","block");
	//$('#table-holiday').css("width","100%");
	 $('#table-holiday').DataTable( {
	 // scrollY:        "300px",
     //   scrollX:        true,
        scrollCollapse: true,
        paging:         true,
        columnDefs: [
            { width: '20%', targets: 0 },
            { width: '60%', targets: 1 },
            { width: 300, targets: 2 },
        ],
        fixedColumns: true
    } );
  });
  
  function convDate(id){
  var dateData = $("#"+id).html();
  //alert(dateData);
			//alert($("#holidayDate").val());
			// var str = "How are you doing today?";
			var month = "";
   			 var res = dateData.split("-");
   			 switch (res[1]) {
			    case "Jan":
			        month = "01";
			        break;
			    case "Feb":
			        month = "02";
			        break;
			    case "Mar":
			        month = "03";
			        break;
			    case "Apr":
			        month = "04";
			        break;
			    case "May":
			        month = "05";
			        break;
			    case "Jun":
			        month = "06";
			        break;
			    case  "Jul":
			        month = "07";
			        break;
			    case  "Aug":
			        month = "08";
			        break;
			    case  "Sep":
			        month = "09";
			        break;
			    case  "Oct":
			        month = "10";
			        break;
			    case  "Nov":
			        month = "11";
			        break;
			    case  "Dec":
			        month = "12";
			        break;
			}
   			var dateToShow = res[2]+"/"+ res[1]+"/"+(parseInt(res[0])+parseInt(543));
   			$("#"+id).html(dateToShow);
   			//$("#holidayDate").val(dateToShow);
   		
  }
</script>

</html>
