<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<body>
<div layout:fragment="content">
        <a href="#"><button type="button" class="btn btn-default btn-sm">เพิ่ม</button></a><br/>
			<table id="table-role" class="display" style="width:100%">
				<thead>
					<tr>
						<th>รหัส</th>
						<th>จังหวัด</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${lProvince}">
						<td th:text="${p.provinceCode}"></td>
						<td th:text="${p.provinceName}"></td>
					</tr>
				</tbody>
			</table>
</div>
</body>
</html>