<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<body>
<div layout:fragment="content">
        <a href="#" th:href="@{/admin/add_zone}"><button type="button" class="btn btn-default btn-sm">เพิ่ม</button></a><br/>
			<table id="table-role" class="display" style="width:100%">
				<thead>
					<tr>
						<th>รหัส</th>
						<th>โซน</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="z : ${lZone}">
						<td th:text="${z.zoneId}"></td>
						<td th:text="${z.zoneName}"></td>
					</tr>
				</tbody>
			</table>
</div>
</body>
</html>