<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="/css/datepicker.css" rel="stylesheet" media="screen">
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../dashboard/index.php.html">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/images/user.png" alt="User Image">
            <span class="ml-10 hidden-xs">นาย กรมธุรกิจพลังงาน</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="/images/energy-logo.svg" width="400px;" alt="Energy Logo" />
    </div>

      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">วันหยุดราชการ </a>
        </li>
      </ul>
      <div class="tab-content">
       <form class="form-horizontal"  method="POST" action="#" th:action="@{/admin/save_holiday}" >
              <input type="hidden" name="idHoliday" value=""  th:value="${holiday.idHoliday}" >
        <div role="tabpanel" class="tab-pane active" id="tap">
              <h4 class="title">แก้ไข</h4>
                 <div class="form-group">
                      <label for="holidayName" class="col-sm-3 control-label text-left">วันหยุด</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control edit" name="holidayName" id="holidayName" value="" th:value="${holiday.holidayName}">
                      </div>
                  </div>
									<div class="form-group">
                      <label for="holidayDate" class="col-sm-3 control-label text-left">วันที่</label>
                      <div class="col-sm-8">
                       <input class="form-control edit" type="text" data-provide="datepicker" id="holidayDate" name="holidayDate" value=""  th:value="${holiday.holidayDate}" data-date-language="th-th">
               
                      </div>
                  </div>
							
				</div>
          <div class="row text-right mt-20">
           <a id="prev-1" type="button" class="btn btn-custom-prev" href="" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
          <input type="submit" value="บันทึก"  class="btn btn-custom-next"> 
          </div>
          </form>
        </div>
      </div>

  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/3.3.0/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker-thai.js" th:src="@{/js/bootstrap-datepicker-thai.js}"></script>
<script type="text/javascript" src="/js/locales/bootstrap-datepicker.th.js" th:src="@{/js/locales/bootstrap-datepicker.th.js}"></script>
<script id="example_script"  type="text/javascript">
      function demo() {
        $('.datepicker').datepicker();
      }
    </script>

    <script type="text/javascript">
      $(function(){
        $('pre[data-source]').each(function(){
          var $this = $(this),
            $source = $($this.data('source'));
          var text = [];
          $source.each(function(){
            var $s = $(this);
            if ($s.attr('type') == 'text/javascript'){
              text.push($s.html().replace(/(\n)*/, ''));
            } else {
              text.push($s.clone().wrap('<div>').parent().html()
                .replace(/(\"(?=[[{]))/g,'\'')
                .replace(/\]\"/g,']\'').replace(/\}\"/g,'\'') // javascript not support lookbehind
                .replace(/\&quot\;/g,'"'));
            }
          });
          
          $this.text(text.join('\n\n').replace(/\t/g, '    '));
        });
        demo();
      });
    </script>
    <script type="text/javascript">
    	$( document ).ready(function() {
		    //prev-1
		    $( "#prev-1" ).click(function() {
			    url = "/admin/manage_holiday/";
      			$(location).attr("href", url);
			});
			var dateData = $("#holidayDate").val();
			//alert($("#holidayDate").val());
			// var str = "How are you doing today?";
			var month = "";
   			 var res = dateData.split(" ");
   			 switch (res[1]) {
			    case "Jan":
			        month = "01";
			        break;
			    case "Feb":
			        month = "02";
			        break;
			    case "Mar":
			        month = "03";
			        break;
			    case "Apr":
			        month = "04";
			        break;
			    case "May":
			        month = "05";
			        break;
			    case "Jun":
			        month = "06";
			        break;
			    case  "Jul":
			        month = "07";
			        break;
			    case  "Aug":
			        month = "08";
			        break;
			    case  "Sep":
			        month = "09";
			        break;
			    case  "Oct":
			        month = "10";
			        break;
			    case  "Nov":
			        month = "11";
			        break;
			    case  "Dec":
			        month = "12";
			        break;
			}
   			var dateToShow = res[2]+"/"+month+"/"+(parseInt(res[5])+parseInt(543));
   			$("#holidayDate").val(dateToShow);
		});
    </script>
</html>
