<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<head th:replace="common-officer/header :: common-header" />
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	
</head>
<body>
    <script type="text/javascript">
      function checkResultDisabled(){
        var divs = document.getElementsByClassName('btn-group');
         // alert(divs.length);
          for (var i = 0; i < divs.length; i++) {
         // alert("Loop:"+i);
          var id= '#EVALUATE_'+(i+1);
             var sel = $(id).data('v');
             if(sel == "N"){
             // alert("no");
               $('#c_status').val('204');
               //break;
             }else{

             }
            // var sel = $(this).data('title');
           // alert(sel);
           //  alert($(id).val());
             if(sel == "N" || sel == "W" ){
                  $('#btnResult1').removeClass( "active" );
                  $('#btnResult1').addClass( "disabled" );
                  $('#btnResult1').addClass( "notActive" );
                  
                  $('#btnResult2').removeClass( "disabled" );
                  $('#btnResult3').removeClass( "disabled" );
                  if(sel == "N"  ){
                    $('#btnResult2').removeClass( "notActive " );
                    $('#btnResult2').addClass( "active" );
                  }else{
                    $('#btnResult3').removeClass( "notActive " );
                    $('#btnResult3').addClass( "active" );
                  }
                 
                   	$("#evaluateRemark").attr('required', ''); 
           			$('#c_status').val('204');

                 break;
                  //$('#btnResult3').removeClass( "disabled" );
                }else{
                  $('#btnResult2').addClass( "disabled" );
                  $('#btnResult2').removeClass( "active " );
                  $('#btnResult2').addClass( "notActive" );
                  $('#btnResult3').addClass( "disabled" );
                  $('#btnResult3').removeClass( "active " );
                  $('#btnResult4').addClass( "notActive" );
                  $('#btnResult1').removeClass( "disabled" );
                  $('#btnResult1').removeClass( "notActive" );
                  $('#btnResult1').addClass( "active" );
                  
                   	$("#evaluateRemark").removeAttr('required');
           			$('#c_status').val('205');
                }

          }
      }
      $(document).ready(function(){
      
        checkResultDisabled();
          $('#radioBtn-result a').on('click', function(){
         // alert('AAA');
          var sel = $(this).data('title');
          var tog = $(this).data('toggle');
          $('#'+tog).prop('value', sel);
      
          $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
          $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
        
        if(sel == "N" || sel == "W" ){
          $("#evaluateRemark").attr('required', ''); 
           $('#c_status').val('204');
        }else{
          $("#evaluateRemark").removeAttr('required');
           $('#c_status').val('205');

        }
        $('#evaluateResult').val(sel);
      
      })
      
      
      });
      function checkResult() {
        var divs = document.getElementsByClassName('btn-group');
         // alert(divs.length);
          for (var i = 0; i < divs.length; i++) {
         // alert("Loop:"+i);
          var id= '#EVALUATE_'+(i+1);
             var sel = $(id).data('v');
             if(sel == "N"){
              //alert("no");
               $('#c_status').val('204');
             }else{
               //alert(sel+":yes");
             }
            //alert(sel);
            //$('#EVALUATE_'+(i+1)).val(sel);
          }
          //EVALUATE_TITLE_1
          //return false;
      }
      </script>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="row  mb-30">
                          <form id="wizard-1" novalidate="novalidate">
                              <div id="bootstrap-wizard-1" class="col-sm-12">
                                  <div class="form-bootstrapWizard6">
                                      <ul class="bootstrapWizard6 form-wizard6">
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 1</span>
                                              <span class="title">รอรับเข้าระบบ</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <a  data-toggle="">
                                              <span class="step">ขั้นตอน 2</span>
                                              <span class="title">นัดตรวจเข้างาน</span>
                                              </a>
                                          </li>
                                           <li class="active" data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 3</span>
                                              <span class="title">ประเมินผล</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 4</span>
                                              <span class="title">จัดทำเอกสาร</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 5</span>
                                              <span class="title">ลงนาม</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 6</span>
                                              <span class="title">จัดเก็บเอกสาร</span>
                                              </div>
                                          </li>
                                      </ul>
                                      <div class="clearfix"></div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <br>

       <div class="row edit">
    <!-- Nav tabs -->
    <!-- Tab panes -->
    <div class="tab-content pd-0">
    <form action="#" th:action="@{/officer/accept-submission}" method="post" onsubmit="return checkResult()">
    <input type="hidden" name="rtId" id="rtId" value="" th:value="${rtId}">
    <input type="hidden" name="c_status" id="c_status" value="205">
      <table class="table table-bordered">
        <thead>
          <tr><th class="col-md-12 text-center" style="width:50%; background-color:#428bca; color: #fff;"> รายงานผลการตรวจ </th>
        </tr></thead>
        <tbody>
          <tr>
            <td>
                <table class="table">
                  <tbody><tr><th style="border-top: 0px!important ">• ออกตรวจหน้างาน Checklist  กลับมากรอกเข้าระบบ</th>
                  </tr>
                  
                  <tr th:each="ev, iStatus : ${lEv}">
                    <td>
                      <p th:text="|${iStatus.index + 1}.${ev.evaluateTitle}|">1.ห่างจากโรงเรียนม โรงพยาบาล</p>
                      <div class="row text-center">
                      <div id="radioBtn-1" th:id="|radioBtn-${iStatus.index + 1}|" class="btn-group">
                        <a class="btn btn-success btn-lg active" data-toggle="a" th:data-toggle="|${iStatus.index + 1}|" data-title="Y">ผ่าน</a>
                        <a class="btn btn-danger btn-lg notActive" data-toggle="a" th:data-toggle="|${iStatus.index + 1}|" data-title="N">ไม่ผ่าน</a>
                      	<input type="hidden" id="" name="EVALUATE_TITLE" th:id="|EVALUATE_${iStatus.index + 1}|" th:name="|evaluate${iStatus.index + 1}|" value="Y" data-v="Y">
                      </div>
                      <div class="mt-20">
                      <input type="text" th:name="|evaluateRemarkNo${iStatus.index + 1}|" name="" th:id="|evaluateRemarkNo${iStatus.index + 1}|" id="" style="width: 95%;" placeholder="  ระบุเหตุผล">
                      </div>
                      </div>
                      <script type="text/javascript">
							
							/*<![CDATA[*/

						  //  var message = /*[[${message}]]*/ 'default';
						   // console.log(message);
								$(document).ready(function(){
							    $('#radioBtn-[[${iStatus.index + 1}]] a').on('click', function(){
							    var sel = $(this).data('title');
							    var tog = $(this).data('toggle');
							 //   alert(sel);
							    $('#'+tog).prop('value', sel);
							
							    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
							    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
								$('#EVALUATE_[[${iStatus.index + 1}]]').val(sel);
								$('#EVALUATE_[[${iStatus.index + 1}]]').data("v",sel);
                checkResultDisabled();
							
							})
							
							
							});
								
							/*]]>*/
                      </script>
                    </td>
                  </tr>
                  
                  
                  <tr>
                    <td class="text-center">
                      <p><strong>รายงานผลการตรวจ</strong></p>
                      <div id="radioBtn-result" class="btn-group">
                        <a class="btn btn-success btn-lg active" data-toggle="d" data-title="Y" id="btnResult1">ผ่าน</a>
                        <a class="btn btn-danger btn-lg notActive" data-toggle="d" data-title="N" id="btnResult2">ไม่ผ่าน</a>
						<a class="btn btn-warning btn-lg notActive" data-toggle="d" data-title="W" id="btnResult3">ผ่านแบบมีเขื่อนไข</a>
						<input type="hidden" name="evaluateResult" id="evaluateResult" value="Y">
                      </div>
                      <div class="mt-20">
                      <input type="text" name="evaluateRemark" id="evaluateRemark" style="width: 100%;" placeholder="  ระบุเหตุผลที่ไม่ผ่าน">
                      </div>
                    </td>
                  </tr> 
                </tbody></table>
                
                
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right mt-20">
       <a type="button" class="btn btn-custom-prev" href="/officer/processing">ย้อนกลับ</a>
        <button type="submit" class="btn btn-custom-next">บันทึก</button>
      </div>
     </form>
    </div>

    </div>
     
  </div>


  
  <div th:replace="common-officer/footer :: common-footer">
</body>


</html>