<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<head th:replace="common-officer/header :: common-header" />
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  
 <div th:replace="common-officer/navbar :: common-navbar" />
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
  
    <div class="row  mb-30">
        <form id="wizard-1" novalidate="novalidate">
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard6">
                    <ul class="bootstrapWizard6 form-wizard6">
                        <li data-target>
                            <div data-toggle="">
                            <span class="step">ขั้นตอน 1</span>
                            <span class="title">รอรับเข้าระบบ</span>
                            </div>
                        </li>
                        <li data-target>
                            <a  data-toggle="">
                            <span class="step">ขั้นตอน 2</span>
                            <span class="title">นัดตรวจเข้างาน</span>
                            </a>
                        </li>
                        <li  data-target>
                            <div data-toggle="">
                            <span class="step">ขั้นตอน 3</span>
                            <span class="title">ประเมินผล</span>
                            </div>
                        </li>
                        <li class="active" data-target>
                            <div data-toggle="">
                            <span class="step">ขั้นตอน 4</span>
                            <span class="title">จัดทำเอกสาร</span>
                            </div>
                        </li>
                        <li data-target>
                            <div data-toggle="">
                            <span class="step">ขั้นตอน 5</span>
                            <span class="title">ลงนาม</span>
                            </div>
                        </li>
                        <li data-target>
                            <div data-toggle="">
                            <span class="step">ขั้นตอน 6</span>
                            <span class="title">จัดเก็บเอกสาร</span>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
    <br>
    

       
 
    <!-- Nav tabs -->
    <!-- Tab panes -->
    <div class="row edit">
	    <!-- Nav tabs -->
	    <!-- Tab panes -->
	    <div class="tab-content pd-0">
	     <form action="#" th:action="@{/officer/edit-doc-submission}" method="post" onsubmit="return checkResult()">
	      <input type="hidden" name="rtId" id="rtId" value="" th:value="${rtId}">
	      <table class="table table-bordered">
	        <thead>
	          <tr><th class="col-md-12 text-center" style="width:50%; background-color:#F3BB45; color: #333;"  th:text="|จัดทำเอกสาร  ${RTData.request.requestCategory.rqCategoryName} รายการ${RTData.requestType.requestTypeName}  ${RTData.request.requestName}|">   </th>
	        </tr></thead>
	        <tbody>
	          <tr>
	            <td style="vertical-align: top!important;">
	              <table style="width: 100%; ">
	                <tbody>
	                <tr th:each="gc, iStatus : ${lGc}">
	                <td style="padding-left:15px;">
	                <p th:text="|• ${gc.docCreateTitle} |"></p>
	                </td>
	                <td>
	                    <a class="mt-10" target="_blank" href="" th:href="@{|/officer/document/export-doc/${rtId}/${gc.docCreateId}|}">
	                    	<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>   จัดทำไฟล์
	                    </a>
	                  </td>
	                </tr>
	                
	              </tbody></table>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	      <div class="text-right mt-20">
	        <a type="button" class="btn btn-custom-prev" href="/officer/processing">ย้อนกลับ</a>
	        <button type="submit" class="btn btn-custom-confirm">ยืนยัน</button>
	      </div>
	      </form>
	    </div>
    </div>

     
  </div>
	<div th:replace="common-officer/footer :: common-footer">
</body>

<script type="text/javascript">

$(document).ready(function(){
    $('#radioBtn-1 a,#radioBtn-2 a,#radioBtn-3 a,#radioBtn-4 a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);

    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
})
});
</script>
<script type="text/javascript">

function checkResult() {
	
 
  //  return false;
}
</script>
</html>