<!DOCTYPE html>
<meta charset="UTF-8">
<head th:replace="common-officer/header :: common-header" />
<body>
<script type="text/javascript">
  function setStatus(val,val2,i) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/getStatus}]]",
	data:'rtId='+val+'&&fId='+val2,
	success: function(data){
		console.log('Success: '+data);
		if(data !== ""){
			$( "#span"+i ).addClass( "success" );
			$( "#span"+i ).attr( "title", "มีการกรอกข้อมูลแล้ว" );
		}else{
			$( "#span"+i ).addClass( "danger" );
			$( "#span"+i ).attr( "title", "ยังไม่มีการกรอกข้อมูล" );
		}
	},
	error: function(xhr, status, error) {
	  //alert(err.Message);
	  console.log("Error: "+xhr.responseText);
		$( "#span"+i ).addClass( "success" );
		$( "#span"+i ).attr( "title", "มีการกรอกข้อมูลแล้ว" );
	}

	});
}
</script>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <div class="box-container mb-50">
  <div th:replace="common-officer/title :: common-title" />
  <!-- end navbar -->

   <div class="row">
            <div class="col-md-12">
                            <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                            <span class="mr-10" th:text="${company.companyName}"></span>


              </div>
            </div>


	      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title" th:text="${request.requestCategory.rqCategoryName + ' : ' + request.requestName}"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i></h4>
                      <p class="category"></p>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <!-- <label for="" th:text="${dbdId}"></label>
                      <label for="" th:text="${rtId}"></label>
                      <label for="" th:text="${requestTypeId}"></label> -->
                      <table class="table" id="tblList">
                          <thead>
                            <th class="col-md-2 text-center"> คำขอ </th>
                            <th class="col-md-7 text-center"> รายละเอียด </th>
                            <th class="col-md-2 text-center"> สถานะ </th>
                            <th class="col-md-1"></th>
                          </thead>
                          <tbody>
														
                              <tr th:each="requestForm , iStatus: ${lRequestForm}">
                              	<td th:text="${requestForm.form.formTitle}">
                              	</td>
                              	<td th:text="${requestForm.form.formDescription}">
                              	</td>
                              	<td class="text-center">
                              	  <script type="text/javascript">
                              	/*<![CDATA[*/
									setStatus("[[${rtId}]]","[[${requestForm.form.formId}]]","[[${iStatus.index + 1}]]");
								/*]]>*/
								</script>
                              	  <label class="" id="" th:id="${'span'+(iStatus.index + 1)}"></label>
                              	</td>
                              	<td>
                                  <div th:switch="${requestForm.form.formId}">
                              	    <a href="#" th:case="19" th:href="@{|/officer/Detail/${dbdId}/${rtId}/${requestForm.form.formId}/${requestTypeId}|}"  type="button" class="btn btn-warning" title="ตรวจสอบคำขอ"><i class="glyphicon glyphicon-info-sign"></i></a>
                              	    <a href="#" th:case="*" th:data-form-id="${requestForm.form.formId}" th:href="@{|/officer/company/${dbdId}/${rtId}/form/review/${requestForm.form.formId}/${requestTypeId}|}"  type="button" class="btn btn-warning" title="ตรวจสอบคำขอ"><i class="glyphicon glyphicon-info-sign"></i></a>
                                  </div>
                              	</td>
                              </tr>
                             <!--  <tr th:each="i: ${#numbers.sequence(0, LooprequestSubForm-1)}">
                              		<td th:text="${requestSubForm.form.formTitle}">
                              	</td>
                              	<td th:text="${requestSubForm.form.formDescription}">
                              	</td>
                              	<td class="text-center">
                              	  <label class="danger" id="" ></label>
                              	</td>
                              		<td>
                              	  <a href="#" th:href="@{|/officer/company/${dbdId}/${rtId}/form/review/${requestSubForm.form.formId}/${requestTypeId}|}"  type="button" class="btn btn-warning" title="ตรวจสอบคำขอ"><i class="glyphicon glyphicon-info-sign"></i></a>
                              	</td>
                              </tr>  -->
                          </tbody>
                      </table>


                  </div>



                  <div th:replace="common-officer/back_1 :: common-back_1" />
              </div>
          </div>
          </div>


    </div>

       <div th:replace="common-officer/footer :: common-footer">


</body>

<script>
	var req_Type_ID = "[[${requestTypeId}]]";
	var req_ID = "[[${requestId}]]";
	var eleTbl = $("#tblList tbody tr td a")
	// console.log(eleTbl)
	if(req_Type_ID == 3) {
		if(req_ID == 10) {
			$.each(eleTbl, function( index, value ) {
				if ($(value).data("form-id") == 18) {
					$(this).parent().parent().parent().remove()
				}
			});
		}
	}
</script>


</html>
