<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
<head th:replace="common-officer/header :: common-header" />
	
  
<body>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
  
    <hr class="mt-40">
   
    <div class="row">
                          <form id="wizard-1" novalidate="novalidate">
                              <div id="bootstrap-wizard-1" class="col-sm-12">
                                  <div class="form-bootstrapWizard6">
                                      <ul class="bootstrapWizard6 form-wizard6">
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 1</span>
                                              <span class="title">รอรับเข้าระบบ</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <a  data-toggle="">
                                              <span class="step">ขั้นตอน 2</span>
                                              <span class="title">นัดตรวจหน้างาน</span>
                                              </a>
                                          </li>
                                           <li  data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 3</span>
                                              <span class="title">ประเมินผล</span>
                                              </div>
                                          </li>
                                          <li  data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 4</span>
                                              <span class="title">จัดทำเอกสาร</span>
                                              </div>
                                          </li>
                                          <li data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 5</span>
                                              <span class="title">ลงนาม</span>
                                              </div>
                                          </li>
                                          <li class="active" data-target>
                                              <div data-toggle="">
                                              <span class="step">ขั้นตอน 6</span>
                                              <span class="title">จัดเก็บเอกสาร</span>
                                              </div>
                                          </li>
                                      </ul>
                                      <div class="clearfix"></div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <br>
    

       <h3 class="text-info text-center mb-30"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></h3>
 	<input type="hidden" name="count_loop" id="count_loop" value="1">
    <!-- Nav tabs -->
    <!-- Tab panes -->
    <div class="row">
    <!-- Nav tabs -->
    <!-- Tab panes -->
    
    <script>
         $(document).ready(function(){
         
             $("#rowAdd").click(function(){
             $("#saveBtn").css("display","block");
              $("#saveBtn").css("float","right");
              $("#saveBtn").css("margin-bottom","20px");
         	var count_loop =parseInt($('#count_loop').val())+1;
                /*  var markup = '<tr>  <td>'+(i++)+''</td>'+
              		'<td>'+
    				'<select  class="form-control">'+
					  '<option value="1">ภายใน</option>'+
					  '<option value="2">ภายนอก</option>'+
					  '<option value="3">หนังสือรับรอง</option>'+
					  '<option value="4">ใบอนุญาต</option>'+
					  '<option value="5">อื่นๆ</option>'+
					'</select>          '+
              '</td>'+
              '<td><input  class="form-control" type="text"></td>'+
              '<td><input  class="form-control" type="date"></td>'+
              '<td><input  class="form-control" type="text"></td>'+
              '<td><input  class="form-control" type="file"></td>'+
              '<td><input  class="form-control" type="checkbox"></td>'+
            '</tr>';
          */
      
                 $("#docTbl").append('<tr>'+
              		'<td>'+
    				'<select  class="form-control" name="govDocumentType[]" id="govDocumentType" required="required" > '+
					  '<option value="1">ภายใน</option>'+
					  '<option value="2">ภายนอก</option>'+
					  '<option value="3">หนังสือรับรอง</option>'+
					  '<option value="4">ใบอนุญาต</option>'+
					  '<option value="5">อื่นๆ</option>'+
					'</select>' + 
					'<label style="display:none;"><input class="form-control" type="text" name="namegeneral[]"></input></label>'+
              '</td>'+
              '<td><input  class="form-control" type="text" name="fileDocNumber[]" required="required"></td>'+
              '<td>'+
             '<input  class="form-control datepicker" type="text" id="dateinpt_'+count_loop+'"   name="fileDate[]" required="required"></td>'+
              '<td><input  class="form-control" type="text" name="fileDocTitle[]" required="required"></td>'+
              '<td><input  class="form-control" type="file" name="fileStoreName[]" required="required"></td>'+
              '<td align="center"><input  type="checkbox"  class="filePrintable" name="filePrintable[]"></td>'+
              '<td align="center"><span class="glyphicon glyphicon-trash btn btn-danger btn-custom-next" style="width: 50px;" type="button" onclick="deleteRow(this)" value="" title="ลบ"></span></td>'+
            
            '</tr>');
           
       $('#dateinpt_'+count_loop).datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: false,
                language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  
            
    	$('#docTbl').change(function(){
        if($('#govDocumentType').val() == "5"){
       
        $('label').show('fast');
        $('#govDocumentType').show('fast');
        }
        else{
        $('label').hide('fast');
         
        }
    	})
        
         $('#count_loop').val(count_loop);
         
	   		 });
	
         });
         
    
         function deleteRow(btn) {
			  var row = btn.parentNode.parentNode;
			  row.parentNode.removeChild(row);
			  var count_loop =parseInt($('#count_loop').val())-1;
			   $('#count_loop').val(count_loop);
			   if(count_loop==1){
			    $("#saveBtn").css("display","none");
			   }
           
			}  
      </script>
      <div id="scriptt">
      
      </div>
			<div class="tab-content pd-0">
			<!--  <input type="button" class="btn btn-success  btn-custom-next" value="เพิ่มเอกสาร" id="rowAdd" style="margin-left:  1px; margin-bottom: 8px;">-->
			<div></</div>
			<button type="button" class="btn btn-success  btn-custom-next" id="rowAdd" style="margin-left:  1px; margin-bottom: 8px; background-color: #5cb85c !important; border-color: #5cb85c; width: 115px;"><span class="glyphicon glyphicon-plus mr-10" style="font-size: 14px;"></span>เพิ่มเอกสาร</button>
			
			<form action="#" th:action="@{/officer/keep-file-submission}" method="post" onsubmit="return checkResult()" enctype="multipart/form-data">
	     	<input type="hidden" name="rtId" id="rtId" value="" th:value="${rtId}">
	     <div id="filePrintable_area">
			
			</div>
		<table class="table table-bordered  info dataTable" >
          <thead>
            <tr>
            			<th class="text-center" style="border-right: 2px solid #ddd; width: 14%;"> ประเภทเอกสาร </th>
            			<th class="text-center" style="border-right: 2px solid #ddd; width: 12%;"> เลขที่เอกสาร </th>
						<th class="text-center" style="border-right: 2px solid #ddd;"> วันที่ </th>
						<th class="text-center" style="border-right: 2px solid #ddd;"> ชื่อเรื่อง </th>
						<th class="text-center" style="border-right: 2px solid #ddd;"> แนบไฟล์ </th>
            			<th class="text-center" style="border-right: 2px solid #ddd; width: 12%;"><span class="glyphicon glyphicon-print btn btn-danger btn-custom-next" style="width: 50px;"></span> </th>
            			<th class="text-center">  </th>
          </tr></thead>
          <tbody id="docTbl">
            <tr th:each="c : ${iFileStorage}">
              <td th:text="${c.govDocumentType.doctypeName}">
    				<select  class="form-control" required="required" name="govDocumentType[]" id="govDocumentType1">
					  <option value="1">ภายใน</option>
					  <option value="2">ภายนอก</option>
					  <option value="3">หนังสือรับรอง</option>
					  <option value="4">ใบอนุญาต</option>
					  <option value="5">อื่นๆ</option>
					</select>
					<div id="hidden_div" style="display: none;"><input type="text" class="form-control" name="namegeneral[]"/></div>      
					
              </td>
              <td th:text="${c.fileDocNumber}">
              <input  class="form-control" type="text" name="fileDocNumber[]" required="required">
              </td>
              <td ><div class="fileDate" th:text="${c.fileDate}" id="" th:id="|date-amount${c.fileId}|" data-id="" th:data-id="|date-amount${c.fileId}|" data-date="" th:data-date="${c.fileDate}"></div></td>
              <td th:text="${c.fileDocTitle}"><input  class="form-control" type="text" name="fileDocTitle[]" required="required" size="80"></td>
              <td><a th:href="@{|/FileStorage/${c.fileId}|}" target="_blank" th:text="${c.fileStoreName}" />
             <!--  <input  class="form-control" type="file"  name="fileStoreName[]" required="required"> -->
              </td>
              <td align="center"  th:switch="${c.filePrintable}">
                <input type="checkbox" class="filePrintable" name="filePrintable[]" id="filePrintable" th:case="'1'" th:data-id="${c.filePrintable}" checked="checked"  disabled>
                
                <input class="filePrintable" type="checkbox"  th:case="'0'" name="filePrintable[]"  disabled>
                <input class="form-control" type="hidden" name="namegeneral[]" value="-">
                <input class="form-control" type="hidden" name="deleted[]" value="1">
              
                </td>
              
              <td class="text-center"><a onclick="return confirm('Are you sure you want to delete this item?');" href="#" th:href="@{|/officer/manager/delete/${c.fileId}|}"><span class="glyphicon glyphicon-trash btn btn-danger btn-custom-next" style="width: 50px;"></span></a></td>
            </tr>
          
          </tbody>
        </table>
        <br>
			<div class="text-right mt-20">
			
			<button type="submit" class="btn btn-primary btn-lg" id="saveBtn" style="display:none;">บันทึก</button>
			<div id="HDAR">
			
			</div>
			</div>
			</form>
			<br>
		
		
			</div>
<div th:replace="common-officer/back_1 :: common-back_1" />
    </div>

     
  </div>
  </div>


  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
        .datepicker-days {
		    font-size: 1.5em !important;
		}
        </style>
</body>
<script  type="text/javascript">
	function swarp_date(){
		var divs2 = document.getElementsByClassName('fileDate');
		
			for (var j = 0; j < divs2.length; j++) {
				var oldDate = divs2[j].getAttribute('data-date');
				var t = oldDate.split("-"); 
				
				$('#'+divs2[j].getAttribute('data-id')).html(t[2]+"/"+t[1]+"/"+t[0]);
				console.log('#'+divs2[j].getAttribute('data-id'));
			}	
	}
</script>
<script type="text/javascript">

$(document).ready(function(){
	$(".dataTables_paginate").click(function() {
		//alert("asdsa");
		swarp_date();
	});
	
	swarp_date();

    $('#radioBtn-1 a,#radioBtn-2 a,#radioBtn-3 a,#radioBtn-4 a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);

    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
})
});
</script>
<script type="text/javascript">

function checkResult() {
document.getElementById("HDAR").innerHTML = "";
	$('input[type="checkbox"]').each(function() {
      var check = 0;    
   		if ($(this).is(':checked')) {
 		check = 1; 
      //  alert("isChecked");
 
      } else {
      //	alert("isUnChecked");
      }
      
      var input = document.createElement("input");

input.setAttribute("type", "hidden");

input.setAttribute("name", "filePrintable_value[]");

input.setAttribute("value", check);

//append to form element that you want .
document.getElementById("HDAR").appendChild(input);
      
 	});
    //return false;
}
</script>
<script type="text/javascript">

	//document.getElementById('govDocumentType1').addEventListener('change', function () {
	
	$( "#govDocumentType1" ).change(function() {
    var style = this.value == 5 ? 'block' : 'none';
    document.getElementById('hidden_div').style.display = style;
    $('#govDocumentType1').hide('fast');
	});
	
	
	
	
	
</script>

<script>
$(function() {
    console.log( "ready SaveBtn!" );
    $( "#saveBtn" ).click(function() {
  console.log( "Handler for .click() called." );
  $("#filePrintable_area").html("");
  var htmlText = '';
   $('.filePrintable').each(function() {
   console.log("Test");
        if ($(this).is(":checked")) {
         console.log("Test check if");
        htmlText+="<input type='hidden' name='filePrintableSetValue[]' value='1' >";
        //     $("#filePrintable_area").appendTo("<input type='text' name='filePrintableSetValue[]' value='1' >");
        }else{
        console.log("Test check else");
      //  $("#filePrintable_area").appendTo("<input type='text' name='filePrintableSetValue[]' value='0' >");
        htmlText+="<input type='hidden' name='filePrintableSetValue[]' value='0' >";
        }
    });
     $("#filePrintable_area").html(htmlText);
  //return false;
});
});
</script>

</html>