<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<head th:replace="common-officer/header :: common-header" />
</head>
<body>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <!-- end navbar -->
  <div class="box-container mb-50">
  
<div th:replace="common-officer/title :: common-title" />
    <hr class="mt-10">
<!-- start content -->
    <div class="row mb-10 center">
      <form class="form-inline">
        <div class="form-group">
          <ul th:replace="common-officer/menu :: common-menu" />
        </div>
      </form>
    </div>
   <div class="row">
	    <!-- Nav tabs -->
	    <form method="POST" name="search" action="#" th:action="@{/officer/search-result}">
	    <div class="row" style="width: 100%;margin-bottom:  10px;margin-top:  10px;">
                  <div class="col-sm-3">
                    <label for="" class="control-label center chzn-select">บริษัท</label><br>
						<select name="dbdId" id="dbdId" class="form-control" >
                         	<option value="">- เลือก -</option>
                         	<option th:each="company : ${lcompanylist}"
                            	th:value="${company.dbdId}"
                            	th:utext="${company.companyName}"/>
                  		</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">เลขนิติบุคล</label><br>
					<input type="text" name="dbdIdTxt" id="dbdIdTxt" class="form-control" />
					<script>
					$(document).ready(function() {
					    $("#dbdIdTxt").keydown(function(event) {
					        // Allow: backspace, delete, tab, escape, enter and .
					        if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
					             // Allow: Ctrl+A
					            (event.keyCode == 65 && event.ctrlKey === true) || 
					             // Allow: home, end, left, right
					            (event.keyCode >= 35 && event.keyCode <= 39)) {
					                 // let it happen, don't do anything
					                 return;
					        }
					        else {
					            // Ensure that it is a number and stop the keypress
					            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
					                event.preventDefault(); 
					            }   
					        }
					    });
					});
					</script>
                  </div>
                  <div class="col-sm-2">
                    <label for="" class="control-label center">วันที่คงเหลือ</label><br>
										<input type="text" name="actualGaranteeDay" id="actualGaranteeDay" class="form-control" min="1"  />
                  </div>
                  <div class="col-sm-2" >
                    <label for="" class="control-label center">วันที่รับเรื่อง</label><br>
										<input type="text" class="form-control datepicker" id="sDateRetriveDocs" name="sDateRetriveDocs" >
                  </div>
				    <div class="col-sm-2">
                    <label for="" class="control-label center">เลขรับเรื่อง</label><br>
					<input type="text" name="" id="" class="form-control" />
                  </div>
                  </div>
                  <div class="row" style="width: 100%;">
                
				  <div class="col-sm-6" >
                    <label for="" class="control-label center">ชื่อเรื่อง</label><br>
					<input type="text" name="" id="" class="form-control" />
                  </div>
                  
                   
        </div>
        <div class="row" style="width: 100%;margin-bottom:  10px;">
                   <div class="col-sm-4" style="margin-top: 15px;">
                  <button type="submit" class="btn btn-info" ><span class="glyphicon glyphicon-search"></span></button>
                  </div>
                   </div>
       </form>
	    <!-- Tab panes -->
	    <div class="tab-content pd-0">
	      <div role="tabpanel" class="tab-pane fade in active" id="new">
	        <table class="table table-bordered table-striped   info dataTable">
	          <thead>
	            <tr><th class="col-md-1 text-center" style="border-right: 1px solid;">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;">สถานประกอบการ</th>
	            <th class="col-md-5 text-center" style="border-right: 1px solid;"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid; width: 12%;">วันคงเหลือ</th>
	            <th class="col-md-2 text-center" > สถานะ </th>
	          </tr></thead>
	          <tbody>
	           <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="company-name" id="" th:id="${requestTransaction.rtId}"  th:text="${requestTransaction.Company.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td>
									
                              		<a href="../oil/detail.html" th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" >
										<div  th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div></a>
				              
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amount" id="" th:id="|date-amount${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}"></div>
								
                              	</td>
                              	<td class="text-center">
				                  <span th:text="|${requestTransaction.requestStatus.text}|">ดูรายละเอียด</span>
				              </td>
				            
                              </tr>
	         
	           
	          </tbody>
	        </table>
	        <div th:replace="common-officer/backbtn :: common-backbtn" />
	      </div>

	      
	    </div>
    </div>
    </div>
      
  
  
    <div th:replace="common-officer/footer :: common-footer">
</body>
<script type="text/javascript">
$(document).ready(function () {
   
	$('select').chosen();
	$(".acceptbtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/accept-transaction/"+$(this).attr('data-id'));
		});
	$(".denybtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/deny-transaction/"+$(this).attr('data-id'));
		});
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  		var divs = document.getElementsByClassName('company-name');
  //alert(divs.length);
		for (var i = 0; i < divs.length; i++) {
			//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
			getCompanyName(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
		}
		
		var divs = document.getElementsByClassName('company-nameT2');
			for (var i = 0; i < divs.length; i++) {
				//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
				getCompanyNameT2(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
			}
		var divs = document.getElementsByClassName('company-nameT3');
		  //alert(divs.length);
				for (var i = 0; i < divs.length; i++) {
					//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
					getCompanyNameT3(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
				}
		
		 var divs2 = document.getElementsByClassName('date-amount');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT2');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT2'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT3');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT3'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date')));

			}	
});

function getCompanyName(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT2(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T2'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT3(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T3'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function diffDays(dateCreate) {
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	//console.log(dateCreate);
	var res = dateCreate.split(" ");
	var res2 = res[0].split("-");
	var firstDate = new Date(res2[0],res2[1],res2[2]);
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd = '0'+dd
	} 

	if(mm<10) {
	    mm = '0'+mm
	} 

	today = mm + '/' + dd + '/' + yyyy;
	//console.log(today);
	var secondDate = new Date(yyyy,mm,dd);

	var diffDays = 30 - Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
	//console.log(diffDays);
	return diffDays;
}

</script>

</html>


