<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-officer/header :: common-header" />
<body>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <div class="box-container mb-50">
  <div th:replace="common-officer/menu_das :: common-menu_das" />
<!-- start content -->
    <div class="row mb-10 center">
      <form class="form-inline">
        <div class="form-group">
          <ul th:replace="common-officer/menu :: common-menu" />
        </div>
      </form>
    </div>
   <div class="row">
    <ul th:replace="common-officer/menu :: common-sub-menu"  />

	    <!-- Tab panes -->
	    <div class="tab-content pd-0">
	      <div role="tabpanel" class="tab-pane fade in active" id="new">
	        <table class="table table-bordered  info dataTable" style="width:100%;">
	          <thead>
	            <tr><th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;" rowspan="2">สถานประกอบการ</th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">เลขรับสารบรรณ</th>
	            			<th class="col-md-4 text-center" style="border-right: 1px solid;" rowspan="2"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid; width: 12%;" rowspan="2">วันคงเหลือ</th>
	            			<th class="col-md-2 text-center" colspan="3"> ดูรายละเอียด </th>
	            			<th class="col-md-2 text-center" rowspan="2"> สถานะ </th>
	          </tr>
	          <tr style="display:none">
		            <th></th>
		            <th></th>
		            <th></th>
		        </tr></thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="" id="" th:id="${requestTransaction.rtId}"  th:text="|${requestTransaction.Company.companyName}|" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
									
                              	</td>
                              	<td th:text="${requestTransaction.documentReceiptNo}"></td>
                              	<td>
									<div th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amount" id="" th:id="|date-amount${requestTransaction.rtId}|"  th:text="${requestTransaction.startTimestamp}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.startTimestamp}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				                   <a th:case="'103'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'104'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'204'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              	   <p th:case="*">-</p>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
		             				<a th:case="'103'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
		             				<a th:case="'204'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
							  		<p th:case="*">-</p>
							  </td>
              						<td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				                  	<a  th:case="'103'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				                  	<a  th:case="'204'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				              		<p th:case="*">-</p>
				              	</td>
      
              

							  <td class="text-center">
									<span th:text="|${requestTransaction.requestStatus.text}|"></span>
							  </td>
							
								
                 </tr>
	          </tbody>
	        </table>
	        <div th:replace="common-officer/backbtn :: common-backbtn" />
	      </div>

	      <div role="tabpanel" class="tab-pane fade" id="edit">
	        <table class="table table-bordered  info dataTable" style="width:100%;">
	          <thead>
							<tr><th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;" rowspan="2">สถานประกอบการ</th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">เลขรับสารบรรณ</th>
	            			<th class="col-md-4 text-center" style="border-right: 1px solid;" rowspan="2"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid; width: 12%;" rowspan="2">วันคงเหลือ</th>
	            			<th class="col-md-2 text-center" colspan="3"> ดูรายละเอียด </th>
	            			<th class="col-md-2 text-center" rowspan="2"> สถานะ </th>
	          </tr>
	          <tr style="display:none">
		            <th></th>
		            <th></th>
		            <th></th>
		        </tr></thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction2}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="" id="" th:id="|T2${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.companyName}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td th:text="${requestTransaction.documentReceiptNo}"></td>
                              	<td>
									<div th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT2" id="" th:id="|date-amountT2${requestTransaction.rtId}|"  th:text="${requestTransaction.startTimestamp}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.startTimestamp}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				                   <a th:case="'103'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'104'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'204'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              	   <p th:case="*">-</p>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
		             				<a th:case="'103'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
		             				<a th:case="'204'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
							  		<p th:case="*">-</p>
							  </td>
              						<td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				                  	<a  th:case="'103'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				                  	<a  th:case="'204'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				              		<p th:case="*">-</p>
				              	</td>
							  <td class="text-center">
									<span th:text="|${requestTransaction.requestStatus.text}|"></span>
							  </td>
                 </tr>
	          </tbody>
	        </table>
	      </div>

	      <div role="tabpanel" class="tab-pane fade" id="delete">
	        <table class="table table-bordered info dataTable" style="width:100%;">
	          <thead>
							<tr><th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">ลำดับ</th>
							<th class="col-md-2 text-center" style="border-right: 1px solid;" rowspan="2">สถานประกอบการ</th>
							<th class="col-md-1 text-center" style="border-right: 1px solid;" rowspan="2">เลขรับสารบรรณ</th>
	            			<th class="col-md-4 text-center" style="border-right: 1px solid;" rowspan="2"> รายละเอียด </th>
							<th class="col-md-1 text-center" style="border-right: 1px solid; width: 12%;" rowspan="2">วันคงเหลือ</th>
	            			<th class="col-md-2 text-center" colspan="3"> ดูรายละเอียด </th>
	            			<th class="col-md-2 text-center" rowspan="2"> สถานะ </th>
	          </tr>
	          <tr style="display:none">
		            <th></th>
		            <th></th>
		            <th></th>
		        </tr>
		      </thead>
	          <tbody>
	            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction3}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td>
									<div class="" id="" th:id="|T3${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.companyName}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td th:text="${requestTransaction.documentReceiptNo}"></td>
                              	<td>
									<div th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT3" id="" th:id="|date-amountT3${requestTransaction.rtId}|"  th:text="${requestTransaction.startTimestamp}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center" th:switch="${requestTransaction.requestStatus.status}">
				                   <a th:case="'103'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'104'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				                   <a th:case="'204'" href="../oil/detail.html"   th:href="@{|/officer/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}"  type="button" class="btn btn-primary btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              	   <p th:case="*">-</p>
				              </td>
				              <td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				              <!--  <a href="../officer/accept/" th:href="@{|/officer/accept/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom">รับเข้าระบบ</a> --> 
		             				<a th:case="'103'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
		             				<a th:case="'204'" type="button" class="btn btn-warning btn-custom fileBtn" data-id="" th:data-id="${requestTransaction.rtId}" title="จัดทำเอกสาร"><i class="glyphicon glyphicon-file"></i></a>
							  		<p th:case="*">-</p>
							  </td>
              						<td class="text-center" th:switch="${requestTransaction.requestStatus.status} ">
				                  	<a  th:case="'103'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				                  	<a  th:case="'204'" type="button" class="btn btn-danger btn-custom denybtn" data-id="" th:data-id="${requestTransaction.rtId}" data-toggle="modal" data-target="#myModal" title="ถอนเรื่อง"><i class="glyphicon glyphicon-remove"></i></a>
				              		<p th:case="*">-</p>
				              	</td>
							 <td class="text-center">
									<span th:text="|${requestTransaction.requestStatus.text}|"></span>
						     </td>
              	</tr>
	          </tbody>
	        </table>
	      </div>


	     
	    </div>
    </div>
    </div>
      
  
  
  <div th:replace="common-officer/footer :: common-footer">
</body>
<script type="text/javascript">
	function garantee_culculate(){
	
		 var divs2 = document.getElementsByClassName('date-amount');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT2');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT2'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT3');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT3'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
	}
</script>
<script type="text/javascript">
$(document).ready(function () {
	$(".dataTables_paginate").click(function() {
		//alert("asdsa");
		garantee_culculate();
	});
	$(".noticeBtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		var result = confirm("ยืนยันการนัดเข้าตรวจงาน");
		
		if (result) {
   		 //Logic to delete the item
			 window.location.replace("/officer/notice-transaction-processing/"+$(this).attr('data-id'));
		}
	});
$(".evaluateBtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/accept/"+$(this).attr('data-id'));
		});
$(".fileBtn").click(function() {
	
	//  alert($(this).attr('data-id') );
	  window.location.replace("/officer/edit-doc/"+$(this).attr('data-id'));
	});

	$('body').on('click', '.denybtn', function (event) {

    var sNumberRequest = prompt("เลขสารบรรณ", "");
    if (sNumberRequest != null) {
				var result = confirm("ยืนยันการถอนเรื่อง");
				if (result) {
					window.location.replace("/officer/cancel/"+$(this).attr('data-id'));
				}
    } else {
			return false;
		}
		  
	});

  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  		var divs = document.getElementsByClassName('company-name');
  //alert(divs.length);
		for (var i = 0; i < divs.length; i++) {
			//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
			getCompanyName(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
		}
		
		var divs = document.getElementsByClassName('company-nameT2');
			for (var i = 0; i < divs.length; i++) {
				//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
				getCompanyNameT2(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
			}
		var divs = document.getElementsByClassName('company-nameT3');
		  //alert(divs.length);
				for (var i = 0; i < divs.length; i++) {
					//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
					getCompanyNameT3(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
				}
		
		 var divs2 = document.getElementsByClassName('date-amount');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT2');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT2'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT3');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT3'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-data-actual-garantee-day')));

			}	
});

function getCompanyName(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT2(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T2'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT3(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T3'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function diffDays(dateCreate,ACTUAL_GAURANTEE_DAY) {
	if(dateCreate == null){
	return ACTUAL_GAURANTEE_DAY;
}else{
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	console.log("dateCreate:"+dateCreate+"/ACTUAL_GAURANTEE_DAY:"+ACTUAL_GAURANTEE_DAY);
	var res = dateCreate.split(" ");
	var res2 = res[0].split("-");
	var firstDate = new Date(res2[0],res2[1],res2[2]);
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd = '0'+dd
	} 

	if(mm<10) {
	    mm = '0'+mm
	} 

	today = mm + '/' + dd + '/' + yyyy;
	//console.log(today);
	var secondDate = new Date(yyyy,mm,dd);
console.log("firstDate:"+firstDate+"/secondDate:"+secondDate);
	var diffDays =  ACTUAL_GAURANTEE_DAY - Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
	//console.log(diffDays);
	return diffDays;
}
}

</script>
</html>

<script type="text/javascript">
$(document).ready(function () {
  
	var select
	$(".btnAddName").click(function() {
		var area = $(this).parent();
		select = $(this).parent().find('select');
		$(select).first().clone().appendTo(area);
	});
	$(".btnDeleteName").click(function() {
		var area = $(this).parent();
		select = $(this).parent().find('select');
		if(select.size()>1){
	    $(select).last().remove()
	  }else{
	    alert("ต้องมีรายการข้อมูลอย่างน้อย 1 รายการ");
	  }
		// $(select).last().remove()
		// $(area).append();
		// console.log(select);
	});
}); 
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

