<head th:fragment="common-header">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" charset="UTF-8" content="text/html; charset=UTF-8">
    <title>Energy Business Information System : EBIS</title>
    <link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome-all.min.css" th:href="@{/officer/css/fontawesome/fontawesome-all.min.css}">
    <link type="text/css" href="css/helper.css" th:href="@{/css/helper.css}" rel="stylesheet">
    <link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
    <script src="" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" href="" th:href="@{/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" href="" th:href="@{/vendor/jojosati-bootstrap-datepicker-thai/css/datepicker.css}">
    <!-- <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.th.min.js" ></script> -->


    <script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker.js}"></script>
    <script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js}"></script>
    <script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js}"></script>
    <script>
        // $(document).ready(function () {
        //     $('.datepicker').datepicker({
        //         format: 'dd/mm/yyyy',
        //         todayBtn: true,
        //         language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
        //         thaiyear: true              //Set เป็นปี พ.ศ.
        //     }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        // });
    </script>