<meta charset="UTF-8">
<nav class="navbar navbar-default navbar-custom" th:fragment="common-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="" id="${dbdId}" th:href="${role == '1'}? @{|/onestop/company/${dbdId}|}:@{/officer/dashboard}">Home</a></li>
        </ul>
        <div style="margin-left: 15px;float: left;">
			<div>
		      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="220px;" alt="Energy Logo">
		    </div>
		     <p style="margin-bottom: 0px;"><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
	    </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu"  style="width: 350px;">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height: 70px;">
            <div class="row">
      			<div class="col-md-2">
            <img src="../user/images/user.png" th:src="@{/images/user.png}" alt="User Image" style=" float: left;">
            	</div>
            	<div class="col-md-7">
            <span class="ml-10 hidden-xs"th:text="${nm}"></span><br>
            <span class="ml-10 hidden-xs" th:text="${ps}"></span><br>

             <span class="ml-10 hidden-xs"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></span>
             	</div>
            	<div class="col-md-2">
					<span class="" title="ออกจากระบบ"><i class="fas fa-power-off" style="color: #fff; background: #e04e39; padding: 10px; border-radius: 5px; font-size: 14px; margin-top: 10px;"></i></span>
            	</div>
            	</div>
            </a>
            <ul class="dropdown-menu" style="
			width: 250px;
			height: 70px;
		">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" th:href="@{/user/logout}" class="btn btn-custom-next text-center w-100 fs-XL">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <script type="text/javascript">
	$(document).ready(function () {

	    //   $('.dataTable').DataTable({
		// 	"bSort" : false,
		// 	"language": {
	    //         "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
	    //         "zeroRecords": "ไม่มีข้อมูล",
	    //         "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
	    //         "infoEmpty": "ไม่มีข้อมูล",
	    //         "paginate": {
		// 		      "previous": "ก่อนหน้า",
		// 		      "next": "ถัดไป"
		// 		    }
	    //        // "infoFiltered": "(filtered from _MAX_ total records)"
	    //     }
		// 	} );


		} );
		</script>
    <script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
        var $this = $("#idcard");
            var input = $this.val();
            if(input){
            input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                 for (var i = 0, len = input.length; i < len; i += split) {
                if(i == 0){
                split = 1;
                }else if(i > 0 && i <= 4){
                	split = 4;
                }else if(i > 4 && i <= 8){
                	split = 5;
                }else if(i > 8 && i <= 10){
                	split = 2;
                }else{
                split = 1;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

            }

        $( ".textIdcard" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
            input = input.replace(/[\D\s\._\-]+/g, "");
            if(input.length > 13){
            	return false;
            }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i == 0){
                split = 1;
                }else if(i > 0 && i <= 4){
                	split = 4;
                }else if(i > 4 && i <= 8){
                	split = 5;
                }else if(i > 8 && i <= 10){
                	split = 2;
                }else{
                split = 1;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

        } );

    });
})(jQuery);
</script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

    //var message = /*[[${message}]]*/ 'default';
    $(document).ready(function() {
    // console.log($('#provinceId option:selected').val())
		//$('#all-company').DataTable();
		if($('#provinceId option:selected').val() != "" ){
			getAmphur($('#provinceId option:selected').val());
			// console.log("provinceId selected");
		 }

		 if($('#province_service').val()){
			getAmphur1($('#province_service option:selected').val());
			// console.log("province_service X : "+$('#province_service').val());
		 }
    //  console.log("province_service2 X : "+$('#province_service2').val());
		if($('#province_service2 option:selected').val() != "" ){
			getAmphur2($('#province_service2').val());
			// console.log("province_service2 X : "+$('#province_service2').val());
		 }

		if($('#province_service3 option:selected').val() != "" ){
		 getAmphur3($('#province_service3').val());
		 // console.log("province_service3 X : "+$('#province_service3').val());
		 }

    // console.log("province_service4 X : "+'[[${entryMap != null} ? ${entryMap["amphur_service4"]} : '']]');
     if($('#province_service4 option:selected').val() != "" ){
		   getAmphur4($('#province_service4').val());
		//  console.log("province_service4 X : "+$('#province_service4').val());
		 }

		 if($('#province_service5').val()){
		 getAmphur5($('#province_service5').val());
		 // console.log("province_service5 X : "+$('#province_service5').val());
		 }

     if($('#province_service6').val()){
		 getAmphur6($('#province_service6').val());
		 // console.log("province_service7 X : "+$('#province_service7').val());
		 }

		 	if($('#province_service6 option:selected').val() != "" ){
		 getAmphur6($('#province_service6').val());
		 // console.log("province_service6 X : "+$('#province_service6').val());
		 }

     if($('#province_service6').val()){
		 getAmphur6($('#province_service6').val());
		 // console.log("province_service7 X : "+$('#province_service7').val());
		 }


		 if($('#province_service7').val()){
		 getAmphur7($('#province_service7').val());
		 // console.log("province_service7 X : "+$('#province_service7').val());
		 }

		 if($('#tumbon_service6').val()){
         // console.log("tumbon_service6");

		 }




	  });

/*]]>*/

</script>
<script>
/*<![CDATA[*/

function getAmphur(val) {

	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');

	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');

	$.ajax({
	type: "POST",
	url: "[[@{/api/amphur}]]",
	data:'provinceId='+val,
	success: function(data){
	var amphurId_selected = "[[${company.amphurId} ? ${company.amphurId} : '0']]";
	var s="";
		$.each(data, function (index, value) {
		s="";
		if(amphurId_selected == value.amphurId ){
			s=" selected ";
			 // console.log("amphurId_selected:"+amphurId_selected);
			if($('#dataedit').val('')){
				getTambon(value.amphurId);
			}
		}
            $('#amphurId').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
            $('#amphur_service').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
            // console.log("amphurId_selected: "+amphurId_selected);
        });
        console.log("Success");
	},
	error: function(xhr, status, error) {
		  var err = eval("(" + xhr.responseText + ")");
		  // console.log("Error: "+err.Message);
		}
	});
}


function getTambon(val) {
	$('#districtId').html('');
	$('#zipcodeId').val('');

	$('#districtId').append('<option value="">- เลือก -</option>');
	$.ajax({
	type: "POST",
	url: "[[@{/api/tambon}]]",
	data:'amphurId='+val,
	success: function(data){
	var districtId_selected = "[[${company.districtId} ? ${company.districtId} : '0']]";
	var s="";
		$.each(data, function (index, value) {
		s="";
		if(districtId_selected == value.districtId ) {
			s=" selected ";
			// console.log("districtId_selected:"+districtId_selected);
			if($('#dataedit').val('')) {
				getZipcode(value.districtId);
			}
		}
            $('#districtId').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/zipcode}]]",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcode').val(value.zipcode);
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}
/*]]>*/
</script>

<script>
(function($, undefined) {

    "use strict";

    // When ready.
   				 $(function() {
         		var $this = $('#dbdId');
            	var input = $this.val();
            	if(input){
            		 input = input.replace(/[\D\s\._\-]+/g, "");
            		 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 6){
                	split = 2;
                }else if(i > 6 && i <= 12){
                	split = 6;
                }
                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            	}


				//dashborad dbdId format
				 var divs2 = document.getElementsByClassName('dbdIdTextHtml');
					for (var j = 0; j < divs2.length; j++) {
						//$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-actual-garantee-day')));
						var $this = $(divs2[j]);
		            	var input = $this.text();
		            	if(input){
		            		console.log(input);
		                input = input.replace(/[\D\s\._\-]+/g, "");
		                 if(input.length > 13){
			               return;
			             }
		                var split = 4;
		                var chunk = [];

		                for (var i = 0, len = input.length; i < len; i += split) {
		                if(i >= 0 && i <= 1){
		                split = 2;
		                }else if(i > 1 && i <= 4){
		                	split = 3;
		                }else if(i > 4 && i <= 6){
		                	split = 2;
		                }else if(i > 6 && i <= 12){
		                	split = 6;
		                }
		                    chunk.push( input.substr( i, split ) );
		                }
			 			console.log(chunk.join("-"));
		                $this.text(function() {
		                      return chunk.join("-");
		                });
					}

            	}

                //End dashborad dbdId format
        $( ".textbdId" ).on( "keyup", function( event ) {


            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
                    //input = input.replace(/[\W\s\._\-]+/g, '');
                    input = input.replace(/[\D\s\._\-]+/g, "");
                    //input = input ? parseInt( input, 10 ) : 0;
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                //split = 0;
                if(i >= 0 && i <= 1){
                split = 2;
                // console.log("SplitA:"+input.substr( i, split ));

                }else if(i > 1 && i <= 4){
                	split = 3;
                	// console.log("SplitB:"+input.substr( i, split ));
                }else if(i > 4 && i <= 6){
                	split = 2;
                	// console.log("SplitC:"+input.substr( i, split ));
                }else if(i > 6 && i <= 12){
                	split = 6;
                	// console.log("SplitD:"+input.substr( i, split ));
                }

                    //split = ( i >= 8 && i <= 16 ) ? 4 : 8;
                    chunk.push( input.substr( i, split ) );
                }
                /*
                var input = $this.val();

            var input = input.replace(/[\D\s\._\-]+/g, "");
                    input = input ? parseInt( input, 10 ) : 0;

                    $this.val( function() {
                        return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                    } );
                */

                $this.val(function() {
                    //return ( input == 0 ) ? "" :chunk.join("-");
                    //console.log(chunk);
                      return chunk.join("-");
                      //return str_return;
                });

        } );
        /*
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }


            var $this = $( this );

            // Get the value.
            var input = $this.val();

            var input = input.replace(/[\D\s\._\-]+/g, "");
                    input = input ? parseInt( input, 10 ) : 0;

                    $this.val( function() {
                        return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                    } );
        } ); */

    });
})(jQuery);
</script>


<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
        	var $this = $('#telephone');
            var input = $this.val();
            if(input){
            	 input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            }

            var $this = $('#tel__service');
            var input = $this.val();
            if(input){
            	 input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            }

            var $this = $('#tel');
            var input = $this.val();
            if(input){
            	 input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            }


        $( ".textTelephone" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = 9; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

        } );

    });
})(jQuery);
</script>
<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
         var $this = $("#fax");
            var input = $this.val();
            if(input){
             input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            }

            var $this = $("#fax_service");
            var input = $this.val();
            if(input){
             input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });
            }


        $( ".textFax" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = 9; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

        } );

    });
})(jQuery);
</script>
<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
        var $this = $("#mobile");
            var input = $this.val();
            if(input){
            input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 3;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

            }

        $( ".textPhone" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = 10; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 3;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                      return chunk.join("-");
                });

        } );

    });
})(jQuery);
</script>

<script>
(function($, undefined) {
//ทุนจดทะเบียน
    "use strict";

    // When ready.
   				 $(function() {
         		var $this = $('#capital');
            	var input = $this.val();
            	if(input){
            	input = input.replace(/[\D\s\._\-]+/g, "");

                var split = 3;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {

                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {
                 var number = $this.val().replace(/[\D\s\._\-]+/g, "");
                  number = parseInt(number);
				 //number.toLocaleString('en');
				 console.log(number.toLocaleString('en'));
                      return number.toLocaleString('en');
                });
            	}



        $( ".textcapital" ).on( "keyup", function( event ) {


            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
           // if ( selection !== '' ) {
           //     return;
          //  }

            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }

            var $this = $(this);
            var input = $this.val();
                input = input.replace(/[\D\s\._\-]+/g, "");

                var split = 3;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                    chunk.push( input.substr( i, split ) );
                }

                $this.val(function() {

                  var number = $this.val().replace(/[\D\s\._\-]+/g, "");
                  number = parseInt(number);
				 //number.toLocaleString('en');
				 console.log(number.toLocaleString('en'));
                      return number.toLocaleString('en');
                });
        } );
    });
})(jQuery);
</script>
<script type="text/javascript">
	function getAmphur1(val) {

		console.log("function getAmphur1 ");
		// $('#amphur_service').html('');
		// $('#tumbon_service').html('');
		$('#zipcode_service').val('');

		//   $('#amphur_service').append('<option value="">- เลือก -</option>');
		//   $('#tumbon_service').append('<option value="">- เลือก -</option>');
		$("#amphur_service option:not(:first)").remove();
		$("#tumbon_service option:not(:first)").remove();
		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data:'provinceId='+val,
			success: function(data) {
				var amphurId_selected = "[[${company.amphurId} ? ${company.amphurId} : '0']]";
				var s="";
				// console.log("amphurId_selected: "+amphurId_selected);
				$.each(data, function (index, value) {
					s = "";
					if (amphurId_selected == value.amphurId ) {
						s = " selected ";
						if($('#dataedit').val('')) {
							getTambon1(value.amphurId);
						}
					}
					$('#amphur_service').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
				});
			}
		});
	}

	function getAmphur2(val) {
		// console.log("function getAmfunction getAmphur2 phur2 ");
		$('#amphur_service2').html('');
		$('#tumbon_service2').html('');
		$('#zipcode_service2').val('');

		$('#amphur_service2').append('<option value="">- เลือก -</option>');
		$('#tumbon_service2').append('<option value="">- เลือก -</option>');

		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data:'provinceId='+val,
			success: function(data) {
				var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service2']} : '']]";
				var s="";
				// console.log("amphurId_selected: "+amphurId_selected);
				$.each(data, function (index, value) {
					s="";
					if(amphurId_selected == value.amphurId ) {
						// console.log(value.amphurId)
						s=" selected ";
						if($('#dataedit').val('')){
							getTambon2(value.amphurId);
						}
					}
					$('#amphur_service2').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
				});
			}
		});
	}

	function getAmphur3(val) {
		   // console.log("function getAmphur3");
		  $('#amphur_service3').html('');
		  $('#tumbon_service3').html('');
		  $('#zipcode_service3').val('');

		  $('#amphur_service3').append('<option value="">- เลือก -</option>');
		  $('#tumbon_service3').append('<option value="">- เลือก -</option>');

      $.ajax({
  			type: "POST",
  			url: "/api/amphur",
  			data:'provinceId='+val,
  			success: function(data) {
  				var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service3']} : '']]";
  				var s="";
  				// console.log("amphurId_selected: "+amphurId_selected);
  				$.each(data, function (index, value) {
  					s="";
  					if(amphurId_selected == value.amphurId ) {
  						// console.log(value.amphurId)
  						s=" selected ";
  						if($('#dataedit').val('')){
  							getTambon3(value.amphurId);
  						}
  					}
  					$('#amphur_service3').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
  				});
  			}
  		});
		}

    function getAmphur4(val) {

         // console.log("function getAmphur6");
         // console.log(val);
        $('#amphur_service4').html('');
        $('#tumbon_service4').html('');
        $('#zipcode_service4').val('');

        $('#amphur_service4').append('<option value="">- เลือก -</option>');
        $('#tumbon_service4').append('<option value="">- เลือก -</option>');

        $.ajax({
          type: "POST",
          url: "/api/amphur",
          data:'provinceId='+val,
          success: function(data) {

            var amphurId_selected4 = "[[${entryMap != null} ? ${entryMap['amphur_service4']} : '']]";
            var s="";
            // console.log("amphurId_selected4: "+amphurId_selected4);
            $.each(data, function (index, value) {
              s="";
              if(amphurId_selected4 == value.amphurId ) {
                // console.log(value.amphurId)
                s=" selected ";
                if($('#dataedit').val('')){
                  getTambon4(value.amphurId);
                }
              }
              $('#amphur_service4').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
            });
          }
        });
      }

	// function getAmphur4(val) {
	// 	   console.log("function getAmphur4");
  //      if (val == ""){
  //         val = "[[${entryMap != null} ? ${entryMap['province_service4']} : '']]";
  //      }
	// 	  $('#amphur_service4').html('');
	// 	  $('#tumbon_service4').html('');
	// 	  $('#zipcode_service4').val('');
  //
	// 	  $('#amphur_service4').append('<option value="">- เลือก -</option>');
	// 	  $('#tumbon_service4').append('<option value="">- เลือก -</option>');
  //
  //     $.ajax({
  // 			type: "POST",
  // 			url: "/api/amphur",
  // 			data:'provinceId='+val,
  // 			success: function(data) {
  // 				var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service4']} : '']]";
  // 				var s="";
  // 				// console.log("amphurId_selected: "+amphurId_selected);
  // 				$.each(data, function (index, value) {
  // 					s="";
  // 					if(amphurId_selected == value.amphurId ) {
  // 						// console.log(value.amphurId)
  // 						s=" selected ";
  // 						if($('#dataedit').val('')){
  // 							getTambon2(value.amphurId);
  // 						}
  // 					}
  // 					$('#amphur_service4').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
  // 				});
  // 			}
  // 		});
	// 	}

	function getAmphur5(val) {
		   // console.log("function getAmphur5");
		  $('#amphur_service5').html('');
		  $('#tumbon_service5').html('');
		  $('#zipcode_service5').val('');

		  $('#amphur_service5').append('<option value="">- เลือก -</option>');
		  $('#tumbon_service5').append('<option value="">- เลือก -</option>');

      $.ajax({
  			type: "POST",
  			url: "/api/amphur",
  			data:'provinceId='+val,
  			success: function(data) {
  				var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service5']} : '']]";
  				var s="";
  				// console.log("amphurId_selected: "+amphurId_selected);
  				$.each(data, function (index, value) {
  					s="";
  					if(amphurId_selected == value.amphurId ) {
  						// console.log(value.amphurId)
  						s=" selected ";
  						if($('#dataedit').val('')){
  							getTambon5(value.amphurId);
  						}
  					}
  					$('#amphur_service5').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
  				});
  			}
  		});
		}

	function getAmphur6(val) {
		   // console.log("function getAmphur6");
		  $('#amphur_service6').html('');
		  $('#tumbon_service6').html('');
		  $('#zipcode_service6').val('');

		  $('#amphur_service6').append('<option value="">- เลือก -</option>');
		  $('#tumbon_service6').append('<option value="">- เลือก -</option>');

      var tumbon_service6 = "[[${entryMap != null} ? ${entryMap['tumbon_service6']} : '']]";
      var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service6']} : '']]";

      $.ajax({
  			type: "POST",
  			url: "/api/amphur",
  			data:'provinceId='+val,
  			success: function(data) {
  				// var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphur_service6']} : '']]";

  				var s="";
  				// console.log("amphurId_selected: "+amphurId_selected);
  				$.each(data, function (index, value) {
  					s="";
  					if(amphurId_selected == value.amphurId ) {
  						// console.log(value.amphurId)
  						s=" selected ";
  						if($('#dataedit').val('')){
  							getTambon6(value.amphurId);
  						}
  					}
  					$('#amphur_service6').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
  				});
  			}
  		});

    }

	function getAmphur7(val) {

		   // console.log("function getAmphur6");
		   // console.log(val);
		  $('#amphur_service7').html('');
		  $('#tumbon_service7').html('');
		  $('#zipcode_service7').val('');

		  $('#amphur_service7').append('<option value="">- เลือก -</option>');
		  $('#tumbon_service7').append('<option value="">- เลือก -</option>');

      $.ajax({
  			type: "POST",
  			url: "/api/amphur",
  			data:'provinceId='+val,
  			success: function(data) {

  				var amphurId_selected7 = "[[${entryMap != null} ? ${entryMap['amphur_service7']} : '']]";
  				var s="";
  				// console.log("amphurId_selected7: "+amphurId_selected7);
  				$.each(data, function (index, value) {
  					s="";
  					if(amphurId_selected7 == value.amphurId ) {
  						// console.log(value.amphurId)
  						s=" selected ";
  						if($('#dataedit').val('')){
  							getTambon7(value.amphurId);
  						}
  					}
  					$('#amphur_service7').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
  				});
  			}
  		});
		}

		function getTambon1(val) {
			// $('#amphur_service').html('');
			$('#zipcode_service').val('');
			// $('#tumbon_service').append('<option value="">- เลือก -</option>');
			$("#tumbon_service option:not(:first)").remove();
			$.ajax({
				type: "POST",
				url: "/api/tambon",
				data:'amphurId='+val,
				success: function(data) {
					var districtId_selected = "[[${company.districtId} ? ${company.districtId} : '0']]";
					var s="";
					console.log("districtId_selected: "+districtId_selected);
					$.each(data, function (index, value) {
						s = "";
						if(districtId_selected == value.districtId ) {
							s = " selected ";
							if($('#dataedit').val('')) {
								getZipcode1(value.districtId);
							}
						}
						$('#tumbon_service').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
					});
				}
			});
		}

	function getTambon2(val) {
		$('#tumbon_service2').html('');
		$('#zipcode_service2').val('');
		$('#tumbon_service2').append('<option value="">- เลือก -</option>');
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data:'amphurId='+val,
			success: function(data) {
				var districtId_selected = "[[${entryMap != null} ? ${entryMap['tumbon_service2']} : '']]";
				var s="";
				console.log("districtId_selected2: "+districtId_selected);
				$.each(data, function (index, value) {
					s="";
					if(districtId_selected == value.districtId ) {
						s=" selected ";
						if($('#dataedit').val('')) {
							getZipcode2(value.districtId);
						}
					}
					$('#tumbon_service2').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
				});
			}
		});
	}

	function getTambon3(val) {
		$('#tumbon_service3').html('');
		$('#zipcode_service3').val('');
		$('#tumbon_service3').append('<option value="">- เลือก -</option>');
    $.ajax({
      type: "POST",
      url: "/api/tambon",
      data:'amphurId='+val,
      success: function(data) {
        var districtId_selected = "[[${entryMap != null} ? ${entryMap['tumbon_service3']} : '']]";
        var s="";
        // console.log("districtId_selected2: "+districtId_selected);
        $.each(data, function (index, value) {
          s="";
          if(districtId_selected == value.districtId ) {
            s=" selected ";
            if($('#dataedit').val('')) {
              getZipcode3(value.districtId);
            }
          }
          $('#tumbon_service3').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
      }
    });
		  }

	function getTambon4(val) {
		$('#tumbon_service4').html('');
		$('#zipcode_service4').val('');
		$('#tumbon_service4').append('<option value="">- เลือก -</option>');
    $.ajax({
      type: "POST",
      url: "/api/tambon",
      data:'amphurId='+val,
      success: function(data) {
        var districtId_selected = "[[${entryMap != null} ? ${entryMap['tumbon_service4']} : '']]";
        var s="";
        // console.log("districtId_selected2: "+districtId_selected);
        $.each(data, function (index, value) {
          s="";
          if(districtId_selected == value.districtId ) {
            s=" selected ";
            if($('#dataedit').val('')) {
              getZipcode4(value.districtId);
            }
          }
          $('#tumbon_service4').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
      }
    });
		  }

	function getTambon5(val) {
		$('#tumbon_service5').html('');
		$('#zipcode_service5').val('');
		$('#tumbon_service5').append('<option value="">- เลือก -</option>');
    $.ajax({
      type: "POST",
      url: "/api/tambon",
      data:'amphurId='+val,
      success: function(data) {
        var districtId_selected = "[[${entryMap != null} ? ${entryMap['tumbon_service5']} : '']]";
        var s="";
        // console.log("districtId_selected2: "+districtId_selected);
        $.each(data, function (index, value) {
          s="";
          if(districtId_selected == value.districtId ) {
            s=" selected ";
            if($('#dataedit').val('')) {
              getZipcode5(value.districtId);
            }
          }
          $('#tumbon_service5').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
      }
    });
		  }

	function getTambon6(val) {
		$('#tumbon_service6').html('');
		$('#zipcode_service6').val('');
		$('#tumbon_service6').append('<option value="">- เลือก -</option>');
    $.ajax({
      type: "POST",
      url: "/api/tambon",
      data:'amphurId='+val,
      success: function(data) {
        var districtId_selected6 = "[[${entryMap != null} ? ${entryMap['tumbon_service6']} : '']]";
        var s="";
        // console.log("districtId_selected6: "+districtId_selected6);
        $.each(data, function (index, value) {
          s="";
          if(districtId_selected6 == value.districtId ) {
            s=" selected ";
            if($('#dataedit').val('')) {
              getZipcode6(value.districtId);
            }
          }
          $('#tumbon_service6').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
      }
    });
    }

	function getTambon7(val) {
		$('#tumbon_service7').html('');
		$('#zipcode_service7').val('');
		$('#tumbon_service7').append('<option value="">- เลือก -</option>');
    $.ajax({
      type: "POST",
      url: "/api/tambon",
      data:'amphurId='+val,
      success: function(data) {
        var districtId_selected = "[[${entryMap != null} ? ${entryMap['tumbon_service7']} : '']]";
        var s="";
        // console.log("districtId_selected2: "+districtId_selected);
        $.each(data, function (index, value) {
          s="";
          if(districtId_selected == value.districtId ) {
            s=" selected ";
            if($('#dataedit').val('')) {
              getZipcode7(value.districtId);
            }
          }
          $('#tumbon_service7').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
      }
    });
		  }

	function getZipcode1(val) {
	  $.ajax({
	  type: "POST",
	  url: "/api/zipcode",
	  data:'districtId='+val,
	  success: function(data){
	  console.log("zipcode_service: "+val);
	    $.each(data, function (index, value) {
	            $('#zipcode_service').val(value.zipcode);
	        });
	  }
	  });
	}

	function getZipcode2(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
		  console.log("zipcode_service2: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service2').val(value.zipcode);
		        });
		  }
		  });
		}
	function getZipcode3(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
			  // console.log(data);
		  console.log("tumbon_service3: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service3').val(value.zipcode);
		    });
		  }
		  });
		}

	function getZipcode4(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
			  // console.log(data);
		  console.log("tumbon_service4: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service4').val(value.zipcode);
		    });
		  }
		  });
		}

	function getZipcode5(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
			  console.log(data);
		  console.log("tumbon_service5: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service5').val(value.zipcode);
		    });
		  }
		  });
		}

	function getZipcode6(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
			  // console.log(data);
		  // console.log("tumbon_service6: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service6').val(value.zipcode);
		    });
		  }
		  });
		}

	function getZipcode7(val) {
		  $.ajax({
		  type: "POST",
		  url: "/api/zipcode",
		  data:'districtId='+val,
		  success: function(data){
			  // console.log(data);
		  console.log("tumbon_service7: "+val);
		    $.each(data, function (index, value) {
		            $('#zipcode_service7').val(value.zipcode);
		    });
		  }
		  });
		}
</script>
<script>
		function personUpdateFormat(valData) {
			var input = valData;
			input = input.replace(/[\D\s\._\-]+/g, "");
			if(input.length > 13){
				return;
			}
			var split = 4;
			var chunk = [];

			for (var i = 0, len = input.length; i < len; i += split) {
				if(i >= 0 && i < 1){
					split = 1;
				}else if(i >= 1 && i <= 4){
					split = 4;
				}else if(i > 4 && i <= 9){
					split = 5;
				}else if(i > 9 &&  i <= 11){
					split = 2;
				}else if(i > 11 ){
					split = 1;
				}
				chunk.push( input.substr( i, split ) );
			}

			return chunk.join("-");
		}

		function telephoneUpdateFormat(valData) {
			var input = valData;
			input = input.replace(/[\D\s\._\-]+/g, "");
			if(input.length > 13){
				return;
			}

			var split = 4;
			var chunk = [];

			for (var i = 0, len = 9; i < len; i += split) {
				if(i >= 0 && i <= 1){
					split = 2;
				}else if(i > 1 && i <= 4){
					split = 3;
				}else if(i > 4 && i <= 12){
					split = 4;
				}else{
					split = 99;
				}
				chunk.push( input.substr( i, split ) );
			}

			return chunk.join("-");
		}
	</script>
  </nav>
  <!-- end navbar -->
    <div class="box-container mb-50">
  <div>
      <img src="images/energy-logo.svg" width="250px;" alt="Energy Logo">
    </div>
   <p><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
   </div>
