<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/document/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/document/save}" enctype="multipart/form-data">
		<!-- <div class="form-group ">
		    <label for="formTitle">ID</label>
		    <input type="text" class="form-control" id="docId" name="docId" required>
		  </div> -->
		<div class="form-group ">
		    <label for="formTitle">DOC_TITLE</label>
		    <input type="text" class="form-control" id="docTitle" name="docTitle" required>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">DOC_NUMBER</label>
		    <input type="text" class="form-control" id="docNumber" name="docNumber" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">DOC_ATTACH</label>
		    <input type="file" class="form-control" id="docAttachFile" name="docAttachFile" required>
		  </div>
		  <div class="form-group">
		    <label for="formTemplate">DOCTYPE_ID</label>
		    <select name="govDocumentType" id="govDocumentType" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="GovDocumentType : ${lGovDocumentType}"
                            	th:value="${GovDocumentType.doctypeId}"
                            	th:utext="${GovDocumentType.doctypeName}"/>
                  		</select>
		  </div>
		   <div class="form-group">
		    <label for="formDescription">EMPLOYEE_PERSONAL_ID</label>
		    <input type="text" class="form-control" id="employeePersonalId" name="employeePersonalId">
		  </div>
		  <div class="form-group">
		    <label for="formDescription">DOC_DETAIL</label>
		    <textarea rows="4" cols="50" id="docDetail" name="docDetail"></textarea>
		   </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>