<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/document/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>DOC_ID</th>
      <th>DOC_TITLE</th>
      <th>DOC_NUMBER</th>
      <th>DOC_ATTACH</th>
      <th>EMPLOYEE_PERSONAL_ID</th>
      <th>DOCTYPE_ID</th>
      <th>DOC_DETAIL</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="f : ${lGovDocument}">
      <td th:text="${f.docId}"></td>
      <td th:text="${f.docTitle}"></td>
      <td th:text="${f.docNumber}"></td>
      <td>[<a href="#" th:href="@{|/document/view/${f.docAttach}|}">file</a>]</td>
      <td th:text="${f.employeePersonalId}"></td> 
      <td th:text="${f.govDocumentType.doctypeName}"></td> 
      <td th:text="${f.docDetail}"></td>
      <td>[<a href="#" th:href="@{|/document/view/${f.docId}|}">Edit</a>]  [<a href="#" th:href="@{|/document/meta/${f.docId}|}">Meta</a>] </td>
    </tr>
  </tbody>
</table>
</div>