<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/document/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/document/update}">
		<div class="form-group ">
		    <label for="formTitle">DOC_ID</label>
		    <input type="text" th:value="${GovDocument.docId}"  class="form-control" id=docId name="docId" required readonly>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">DOC_TITLE</label>
		    <input type="text" th:value="${GovDocument.docTitle}" class="form-control" id="docTitle" name="docTitle" >
		  </div>
		  <div class="form-group">
		    <label for="formDescription">DOC_NUMBER</label>
		    <input type="text" th:value="${GovDocument.docNumber}" class="form-control" id="docNumber" name="docNumber" >
		  </div>
		  <div class="form-group">
		    <label for="formDescription">DOC_NUMBER</label>
		    <input type="file" th:value="${GovDocument.docAttach}" class="form-control" id="lastname" name="lastname" ><br>
		    
		  </div>
		   <div class="form-group">
		    <label for="formDescription">EMPLOYEE_PERSONAL_ID</label>
		    <input type="text" th:value="${GovDocument.employeePersonalId}" class="form-control" id="employeePersonalId" name="employeePersonalId" readonly>
		   </div> 
		<div class="form-group">
		    <label for="formTemplate">departmentName</label>
		                    		
            <select name="doctypeId" id="doctypeId" class="form-control edit" required>
			  <option th:each="lGovDocumentType : ${lGovDocumentType}" 
			          th:value="${lGovDocumentType.doctypeId}" 
			          th:utext="${lGovDocumentType.doctypeName}">select</option>
			</select>
		  </div>
		    <div class="form-group">
		    <label for="formDescription">DOC_DETAIL</label>
		    <input type="text" th:value="${GovDocument.docDetail}" class="form-control" id="docDetail" name="docDetail">
		   </div>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>