<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <!-- <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" /> -->
  <link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">
  <!--   Core JS Files   -->
  <script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <!-- <script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script> -->

  <!--  Charts Plugin -->
  <!-- <script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script> -->

  <!--  Notifications Plugin    -->
  <!-- <script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script> -->


  <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
  <script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="assets/js/demo.js" th:src="@{/dashboard/assets/js/demo.js}"></script>

  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

  <!-- <link type="text/css" src=""  th:src="@{/css/ui-lightness/jquery-ui-1.8.10.custom.css}" rel="stylesheet" />	 -->

  <link rel="stylesheet" href="" th:href="@{/vendor/jojosati-bootstrap-datepicker-thai/css/datepicker.css}">

  <!-- <script type="text/javascript" src=""  th:src="@{/js/jquery-1.4.4.min.js}"></script> -->
  <!-- <script type="text/javascript" src="" th:src="@{/js/jquery-ui-1.8.10.offset.datepicker.min.js}"></script> -->
  <script type="text/javascript">
    // $(function () {
    //   var d = new Date();
    //   var toDay = d.getDate() + '/' + (d.getMonth() + 1) + '/' + (d.getFullYear() + 543);


    //   // กรณีต้องการใส่ปฏิทินลงไปมากกว่า 1 อันต่อหน้า ก็ให้มาเพิ่ม Code ที่บรรทัดด้านล่างด้วยครับ (1 ชุด = 1 ปฏิทิน)

    //   $("#datepicker-th").datepicker({ dateFormat: 'dd/mm/yy', isBuddhist: true, defaultDate: toDay, dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
    //         dayNamesMin: ['อา.','จ.','อ.','พ.','พฤ.','ศ.','ส.'],
    //         monthNames: ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'],
    //         monthNamesShort: ['ม.ค.','ก.พ.','มี.ค.','เม.ย.','พ.ค.','มิ.ย.','ก.ค.','ส.ค.','ก.ย.','ต.ค.','พ.ย.','ธ.ค.']});

    //   $("#datepicker-th-2").datepicker({ changeMonth: true, changeYear: true,dateFormat: 'dd/mm/yy',defaultDate: toDay, isBuddhist: true, defaultDate: toDay,dayNames: ['อาทิตย์','จันทร์','อังคาร','พุธ','พฤหัสบดี','ศุกร์','เสาร์'],
    //         dayNamesMin: ['อา.','จ.','อ.','พ.','พฤ.','ศ.','ส.'],
    //         monthNames: ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'],
    //         monthNamesShort: ['ม.ค.','ก.พ.','มี.ค.','เม.ย.','พ.ค.','มิ.ย.','ก.ค.','ส.ค.','ก.ย.','ต.ค.','พ.ย.','ธ.ค.']});

    // 	   $("#date_documentReceiptNo").datepicker({ changeMonth: true, changeYear: true,dateFormat: 'dd/mm/yy', isBuddhist: true, dayNames: ['อาทิตย์','จันทร์','อังคาร','พุธ','พฤหัสบดี','ศุกร์','เสาร์'],
    //         dayNamesMin: ['อา.','จ.','อ.','พ.','พฤ.','ศ.','ส.'],
    //         monthNames: ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'],
    //         monthNamesShort: ['ม.ค.','ก.พ.','มี.ค.','เม.ย.','พ.ค.','มิ.ย.','ก.ค.','ส.ค.','ก.ย.','ต.ค.','พ.ย.','ธ.ค.']});


    // 	    $("#datepicker-en").datepicker({ dateFormat: 'dd/mm/yy'});

    //   $("#inline").datepicker({ dateFormat: 'dd/mm/yy', inline: true });


    // });
  </script>
  <!-- <style type="text/css">

			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
			ul.test {list-style:none; line-height:30px;}
    </style> -->


  <style type="css">
    /* .datepicker .datepicker-dropdown .dropdown-menu-dropdown {
      visibility: visible !important;
      background-color: #FFF !important;
      opacity: 1 !important;
    } */
    </style>
</head>

<body>

  <div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

      <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text">
            <img src="doeb_thai.png" th:src="@{/dashboard/doeb_thai.png}" alt="" width="200">
          </a>
        </div>

        <ul class="nav">
          <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
          <li>
            <a href="#" th:href="@{/onestop/dashboard}">
              <i class="ti-home"></i>
              <p> หน้าหลัก </p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-agenda"></i>
              <p> แบบคำขอรับบริการ </p>
            </a>
          </li>
          <li>
            <a href="#" th:href="@{|/onestop/company/${company.dbdId}|}">
              <i class="ti-agenda"></i>
              <p> ดูสถานะแบบคำขอ </p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <p class="check"><span><img src="images/globe.svg" th:src="@{/images/globe.svg}" alt="globe" style="width: 30px;" /></span>
              One Stop Service </p>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                      <lable> ใบรับรองพักใช้ <span>0</span> รายการ </lable>
                    </a></li>
                  <li><a href="#">
                      <lable> ใบรับรองหมดอายุ <span>0</span> รายการ </lable>
                    </a></li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="ti-settings"></i>
                  <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                  <i class="ti-power-off"></i>
                  <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="content edit">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                          <span class="mr-10" th:text="${company.companyName}"></span>
                        </div>
                        <a href="#" th:href="@{|/onestop/company/detail/${company.dbdId}|}" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="content edit">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                          <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="content">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                          <label for="name" class="success"> ปกติ </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <ol class="breadcrumb edit">
                <li><a href="#" style="color: #e74124;" th:href="@{|/onestop/company/${dbdId}|}">ดูสถานะแบบคำขอ</a></li>
                <li>ระบุเลขรับสารบรรณ</li>
              </ol>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="header">
                      <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i>
                        ระบุเลขรับสารบรรณ</h4>
                      <p class="category"></p>
                    </div>
                    <div class="content">
                      <form method="POST" name="COMPANY_FORM" action="#" th:action="@{/onestop/saveAcceptNumber}">
                        <input type="hidden" name="rtId" value="" th:value="${requestTransaction.rtId}">
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                              <div class="col-md-12">
                                <center style="margin-bottom:  20px;margin-top: 20px;"><span th:text="${ ' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></span></center>

                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4" style=" padding-top:  15px;">
                                <label>เลขรับสารบรรณ : </label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" autocomplete="off" name="documentReceiptNo" id="documentReceiptNo"
                                  class="form-control edit mr-10" required placeholder="เลขรับสารบรรณ" th:value="${requestTransaction.documentReceiptNo}">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4" style=" padding-top:  15px;">
                                <label>วันที่รับเข้า : </label>
                              </div>
                              <div class="col-md-8">
                                <!-- <input type="text" class="form-control edit datepicker text-center" id="date_documentReceiptNo" name="date_documentReceiptNo"> -->
                                <input type="text" autocomplete="off" size="10" name="date_documentReceiptNo" id="date_documentReceiptNo"
                                  class="form-control edit mr-10" required th:value="${requestTransaction.dateDocumentReceiptNo}  ? ${requestTransaction.dateDocumentReceiptNo} : '0'">
                                <input type="hidden" name="date_documentReceiptNo_str" id="date_documentReceiptNo_str"
                                  value="0" th:value="${requestTransaction.dateDocumentReceiptNo}  ? ${requestTransaction.dateDocumentReceiptNo} : '0'">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 text-center">
                            <button type="submit" class="btn" href="#">บันทึก</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <!-- <div class="container-fluid">
          <nav class="pull-left">

          </nav>
          <div class="copyright pull-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
          </div>
        </div> -->
      </footer>

    </div>
  </div>


</body>
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    // $("date_documentReceiptNo").datepicker({});


    $('#documentReceiptNo').on('keyup keypress', function (e) {

      var eleInput = $(this);

      if (e.type == "keyup") {
        if ($(eleInput).val().length >= 1) {
          $(eleInput).closest("tr").find('td').eq(0).find("input:checkbox").prop('checked', true)
        } else {
          $(eleInput).closest("tr").find('td').eq(0).find("input:checkbox").prop('checked', false)
        }
      } else {
        if (e.which != 8 && e.which != 13 && e.which != 0 && (e.which < 48 || e.which > 57)) {
          e.preventDefault();
          alert("กรุณากรอกข้อมูลเป็นตัวเลข")
          return false;
        }
      }
    });

    $('#date_documentReceiptNo').datepicker({
      format: 'dd/mm/yyyy',
      todayBtn: true,
      language: 'th-th',
      autoclose: true
    }).on('show', function (ev) {
      $(".datepicker").css({
        "background-color": "#FFF",
        "visibility": "visible",
        "opacity": 1
      })
    })

    $("#sSelectType").change(function () {
      // console.log($(this).val())
      var select = $(this).val();

      $('#sListSelect').html('');
      $('#sListSelect').append('<option value="">เลือก</option>');

      $.ajax({
        type: "POST",
        url: "[[@{/api/request}]]",
        data: 'rqCategoryId=' + select,
        success: function (data) {
          $.each(data, function (index, value) {
            $('#sListSelect').append('<option value="' + value.requestId + '">' + value.requestName +
              '</option>');
          });
        }
      });

      // console.log(selectData(select))

    });



  });

  function setInputDate(_id) {
    var _dat = document.querySelector(_id);
    var hoy = new Date(),
      d = hoy.getDate(),
      m = hoy.getMonth() + 1,
      y = hoy.getFullYear(),
      data;

    if (d < 10) {
      d = "0" + d;
    };
    if (m < 10) {
      m = "0" + m;
    };

    data = d + "/" + m + "/" + (y + 543);
    console.log(data);
    _dat.value = data;
  };
  var date_documentReceiptNo_str = $('#date_documentReceiptNo_str').val();
  if (date_documentReceiptNo_str == "0") {
    setInputDate("#date_documentReceiptNo");
  } else {
    var str = date_documentReceiptNo_str.replace(" 00:00:00.0", "");
    var arrStr = str.split("-");
    var str_true = arrStr[2] + "/" + arrStr[1] + "/" + (parseInt(arrStr[0]) + 543);
    console.log('มีข้อมูลอยู่แล้ว: ' + str_true);
    //document.querySelector('#date_documentReceiptNo_str').value = str;
    $('#date_documentReceiptNo').val(str_true);
  }
</script>

</html>