<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Energy Business Information System : EBIS</title>
  <link rel="stylesheet" href="css/3.3.0/bootstrap.css" th:href="@{/onestop/css/3.3.0/bootstrap.css}">
  <link rel="stylesheet" href="css/style.css" th:href="@{/onestop/css/style.css}">
  <link rel="stylesheet" href="css/wizard.css.html" th:href="@{/onestop/css/wizard.css.html}">
  <script src="assets/js/jquery-1.10.2.js" th:src="@{/admin/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="/onestop/dashboard">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/user/images/user.png" alt="User Image">
            <span class="ml-10 hidden-xs">นาย กรมธุรกิจพลังงาน</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/onestop/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <p class="text-center text-info"><strong>ระบบงานกำกับดูแลการปฏิบัติการทดสอบและตรวจสอบสถานประกอบการน้ำมันเชื้อเพลิง (Third Party)</strong></p>
    <hr class="mt-10">
<!-- start content -->
    <div class="">
      <p class="check"><span><img src="images/globe.svg" th:src="@{/onestop/images/globe.svg}" alt="globe" style="width: 30px;"/></span> One Stop Service </p>
    </div>
     <div class="tab-content pd-0">
      <div role="tabpanel" class="tab-pane fade  in active" id="tap3">
      <h3 class="title">ตรวจสอบเอกสารตามคู่มือประชาชน</h3>
      <table class="table" id="tbl_chklist">
        <thead>
          <tr>
            <th class="col-md-1 text-center"><input type="checkbox" id="sCheckAll"></th>
            <th class="col-md-9"> รายละเอียด </th>
            <th class="col-md-2"> จำนวนแผ่น </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="Checklist, iStatus : ${lChecklist}" class="num">
            <td class="text-center">
                <label>
                  <input type="checkbox" class="checkItem" id="checkItem">
                </label>
            </td>
            <td th:text="${Checklist.checklistText}"></td>
            <td><input type="text" style="text-align: center;" class="form-control"/></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="row text-right mt-20">
        <a id="" type="button" class="btn btn-custom-prev" href="" th:href="@{|/onestop/company/${dbdId}/requestForm|}">ย้อนกลับ</a>
        <a type="button" class="btn btn-custom-next disabled" href="#" id="saveCheckList" th:href="@{|/onestop/company/acceptnumber/${rtId}/${company.dbdId}|}" aria-controls="tab4" role="tab" data-toggle="tab">ขั้นตอนถัดไป</a>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
				$(document).ready(function () {
					
					 $("#saveCheckList").click(function () {
						var link = /*[[@{|/onestop/company/acceptnumber/${rtId}/${company.dbdId}|}]]*/ 
						 window.location =  link;
						  });
				});
			/*]]>*/
			</script>
				
          </div>
        </div>

      </div>
  </div>



  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="check.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="check.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="check.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>


<script type="text/javascript">
$(document).ready(function () {
  var requestId = "[[${requestId}]]";
  var requestTypeId = "[[${requestTypeId}]]";
  console.log(requestId);
  if((requestId == 10 || requestId == 11 || requestId == 12) && requestTypeId == 3){
    $('#tbl_chklist tbody').empty();
    var listType3 = ["หนังสือนำเรียนอธิบดีกรมธุรกิจพลังงาน  ตามแบบ สพพ.๑","คำขอเป็นผู้ปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบ ข.๒","สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน ๖ เดือน โดยมีวัตถุประสงค์ตรงตามที่ประกอบกิจการ (กรณีนิติบุคคล)","หนังสือบริคณห์สนธิและ ภ.พ. ๒๐","หนังสือมอบอำนาจ (ถ้ามี) ติดอากรแสตมป์ ๓๐ บาท","เอกสารการทำประกันภัยประเภทอุบัติภัยที่เป็นภาษาไทย (ซึ่งมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า ๓ เดือน)","เอกสารแสดงบัญชีรายชื่อของบุคลากรที่ขอเพิ่ม ที่ทำหน้าที่ทดสอบและตรวจสอบ ซึ่งเป็นลูกจ้างประจำ ในตำแหน่ง (๑) หัวหน้าควบคุมการทดสอบ  (๒) วิศวกรทดสอบ","เอกสารประกอบหากยื่นขอเป็น หัวหน้าควบคุมการทดสอบ (๑) สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม (๒) สำเนาบัตรประชาชน สำเนาทะเบียนบ้าน (๓) สัญญาจ้างทำงาน (๔) เอกสารแสดงประสบการณ์งานด้านการทดสอบและตรวจสอบภาชนะรับความดันรวมทั้งระบบท่อและอุปกรณ์ หรือได้รับใบรับรองให้เป็นผู้ปฏิบัติงานด้านการทดสอบและตรวจสอบภาชนะบรรจุก๊าซ ระบบท่อก๊าซและอุปกรณ์ต่าง ๆ จากกรมธุรกิจพลังงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า ๓ เดือน)","เอกสารประกอบหากยื่นขอเป็นวิศวกรทดสอบ (๑) สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม (๒) สำเนาบัตรประชาชน สำเนาทะเบียนบ้าน (๓) สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า ๓ เดือน)","เอกสารแสดงบัญชีรายชื่อของบุคลากรที่ขอเพิ่ม ที่ทำหน้าที่ทดสอบและตรวจสอบ ในตำแหน่งผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ซึ่งเป็นลูกจ้างประจำ","เอกสารประกอบหากยื่นขอเป็น ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม (๑) สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม (๒) สำเนาบัตรประชาชน สำเนาทะเบียนบ้าน  (๓) สัญญาจ้างทำงาน  (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า ๓ เดือน)"];
    
    $.each(listType3 , function(index, val){
      var str  ='';
          str +='<tr>';
          str +='   <td class="text-center">';
          str +='      <label>';
          str +='         <input type="checkbox"  id="checkItem">';
          str +='      </label>';
          str +='   </td>';
          str +='      <td>'+val+'</td>';
          str +='      <td><input type="text" style="text-align: center;" class="form-control"/></td>';
          str +='</tr>';
      $('#tbl_chklist tbody').append(str);
    });
  }else if((requestId == 1 || requestId == 2) && requestTypeId == 3){
    $('#tbl_chklist tbody').empty();
    var listType3 = ["หนังสือนำเรียนอธิบดีกรมธุรกิจพลังงานตามแบบสพพ.1","หนังสือมอบอำนาจ (ถ้ามี) ติดอากรแสตมป์ 30 บาท","เอกสารประกอบหนังสือมอบอำนาจ (1) สำเนาบัตรประชาชน (2) สำเนาทะเบียนบ้านของกรรมการบริษัทฯผู้มอบอำนาจและของผู้รับมอบอำนาจ","สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือนโดยมีวัตถุประสงค์ตรงตามที่ประกอบกิจการ (กรณีนิติบุคคล)","เอกสารการทำประกันภัยประเภทอุบัติภัยที่เป็นภาษาไทย (ซึ่งมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)","เอกสารแสดงบัญชีรายชื่อของบุคลากรที่จะขอเปลี่ยนแปลง(เพิ่มเติม/ยกเลิก/แก้ไข) ที่ทำหน้าที่ทดสอบและตรวจสอบซึ่งเป็นลูกจ้างประจำในตำแหน่ง (1)  ผู้ควบคุมการทดสอบและตรวจสอบ (2)  ผู้ทดสอบและตรวจสอบ","เอกสารประกอบการยื่นขอเป็นผู้ควบคุมการทดสอบและตรวจสอบเพิ่มเติมของแต่ละคน (1) สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม  (2) สำเนาบัตรประชาชน (3) สำเนาทะเบียนบ้าน  (4) สัญญาจ้างทำงาน  (5) เอกสารแสดงประสบการณ์ผ่านงานด้านการทดสอบและตรวจสอบภาชนะรับแรงดันรวมทั้งระบบท่อและอุปกรณ์ (เฉพาะตำแหน่งผู้ควบคุมการทดสอบและตรวจสอบเท่านั้น) (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)","เอกสารประกอบการยื่นขอเป็นผู้ทดสอบและตรวจสอบเพิ่มเติมของแต่ละคน (1) สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม (2) สำเนาบัตรประชาชน (3) สำเนาทะเบียนบ้าน  (4) สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)","เอกสารแสดงบัญชีรายชื่อของบุคลากรที่จะขอเปลี่ยนแปลง(เพิ่มเติม/ยกเลิก/แก้ไข) ที่ทำหน้าที่ทดสอบและตรวจสอบในตำแหน่งผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิมซึ่งเป็นลูกจ้างประจำ","เอกสารประกอบการยื่นขอเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิมเพิ่มเติมของแต่ละคน (1) สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม  (2) สำเนาบัตรประชาชน (3) สำเนาทะเบียนบ้าน  (4) สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)","สำเนาใบรับรองเป็นวิศวกรทดสอบและตรวจสอบสถานที่ใช้ก๊าซธรรมชาติ (ฉบับปัจจุบัน)","สำเนาหนังสือให้ความเห็นชอบเป็นผู้ควบคุมการทดสอบและตรวจสอบผู้ทดสอบและตรวจสอบหรือผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม (กรณีขอยกเลิกหรือแก้ไข)"];
    $.each(listType3 , function(index, val){
      var str  ='';
          str +='<tr id=>';
          str +='   <td class="text-center">';
          str +='      <label>';
          str +='         <input type="checkbox"  id="checkItem">';
          str +='      </label>';
          str +='   </td>';
          str +='      <td>'+val+'</td>';
          str +='      <td><input type="text" style="text-align: center;" class="form-control"/></td>';
          str +='</tr>';
      $('#tbl_chklist tbody').append(str);
    });
  }


  $("#sCheckAll").click(function () {
    $('input:checkbox').not(this).prop('checked', this.checked);
    chkBox()
  });

  $(".checkItem").click(function () {
    chkBox()
  });

  function chkBox(){
    var num = $('.num').length;
    var check = $( "input:checked" ).length;
    var checkAll = $("#sCheckAll").is(':checked');
    if(checkAll == true) {
      var num = $('.num').length;
      var check = $( "input:checked" ).length-1;
      if(check == num){
        $('#saveCheckList').removeClass('disabled');
      }else{
        $('#saveCheckList').addClass('disabled');
      }
    }
    if(check == num){
      $('#saveCheckList').removeClass('disabled');
    }else{
      $('#saveCheckList').addClass('disabled');
    }
  }

  $('input[type=text], input[type=number]').on('keyup keypress', function(e) {

    var eleInput = $(this);
    
    if (e.type=="keyup") {
      if($(eleInput).val().length >= 1) {
        $(eleInput).closest("tr").find('td').eq(0).find("input:checkbox").prop('checked', true)
      } else {
        $(eleInput).closest("tr").find('td').eq(0).find("input:checkbox").prop('checked', false)
      }
    } else {
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        e.preventDefault();
        alert("กรุณากรอกข้อมูลเป็นตัวเลข")
        return false;
      }
    }

  });

  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });


  $("#checkAll").click(function () {
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
});
</script>
</html>
