<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!--   Core JS Files   -->
  <script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script>

  <!--  Charts Plugin -->
  <script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script>

  <!--  Notifications Plugin    -->
  <script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script>


  <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
  <script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>

  <div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

      <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text">
            <img src="doeb_thai.png" th:src="@{/dashboard/doeb_thai.png}" alt="" width="200">
          </a>
        </div>

        <ul class="nav">
          <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
          <li>
            <a href="#" th:href="@{/onestop/dashboard}">
              <i class="ti-home"></i>
              <p> หน้าหลัก </p>
            </a>
          </li>
          <li>
            <a href="#" th:href="@{|/onestop/company/${company.dbdId}/department|}">
              <i class="ti-agenda"></i>
              <p> แบบคำขอรับบริการ </p>
            </a>
          </li>
          <li>
            <a href="#" th:href="@{|/onestop/company/${company.dbdId}|}">
              <i class="ti-agenda"></i>
              <p> ดูสถานะแบบคำขอ </p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <p class="check"><span><img src="images/globe.svg" th:src="@{/images/globe.svg}" alt="globe" style="width: 30px;" /></span>
              One Stop Service </p>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                      <lable> ใบรับรองพักใช้ <span>1</span> รายการ </lable>
                    </a></li>
                  <li><a href="#">
                      <lable> ใบรับรองหมดอายุ <span>1</span> รายการ </lable>
                    </a></li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="ti-settings"></i>
                  <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                  <i class="ti-power-off"></i>
                  <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>


      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="content edit">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                          <span class="mr-10" th:text="${company.companyName}"></span>
                        </div>
                        <a href="#" th:href="@{|/onestop/company/detail/${company.dbdId}|}" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  <div class="col-md-3">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                            <button class="btn btn-info"><i class="ti-search"></i></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div> -->
            <div class="col-md-3">
              <div class="card">
                <div class="content">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                          <label for="name" class="success"> ปกติ </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          <script type="text/javascript">
            $(document).ready(function () {
              $('#data').DataTable({});
            });
          </script>





          <div class="row">
            <div class="col-md-12">
              <div class="header">
                <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i> ดูสถานะแบบคำขอ
                </h4>
                <p class="category"></p>
              </div>
              <div class="content">
                <table id="data" class="display" style="width:100%">
                  <thead>
                    <th class="col-md-1 text-center">ลำดับ</th>
                    <th class="col-md-7 text-center"> รายละเอียด </th>
                    <th class="col-md-2 text-center"> สถานะ </th>
                    <th class="col-md-2 text-center"> รับเข้าระบบ </th>
                  </thead>
                  <tbody>
                    <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                      <td class="text-center" th:text="${iStatus.index + 1}"></td>
                      <td>
                        <a href="#" th:href="@{|/onestop/company/${dbdId}/formgroup/view/${requestTransaction.rtId}/${requestTransaction.request.requestId}/${requestTransaction.requestType.requestTypeId}|}"
                          th:text="${ ' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : รายการ'+requestTransaction.requestType.requestTypeName + ' ' + requestTransaction.request.requestName}"></a>
                      </td>
                      <td class="text-center">
                        <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label>
                      </td>
                      <td class="text-center">
                        <label th:if="${requestTransaction.documentReceiptNo == NULL}" for="name" class="success"><a
                            href="" th:href="@{|/onestop/company/acceptnumber/${requestTransaction.rtId}/${requestTransaction.Company.dbdId}|}"
                            title="ระบุเลขรับ"><i class="fa fa-sign-in" aria-hidden="true" style="color: white;"></i></a></label>
                        <label th:unless="${requestTransaction.documentReceiptNo == NULL}" for="name" class=""><a href=""
                            th:href="@{|/onestop/company/acceptnumber/${requestTransaction.rtId}/${requestTransaction.Company.dbdId}|}"
                            th:text="${' [ '+requestTransaction.documentReceiptNo+' ] '}"><i class="fa fa-sign-in"
                              aria-hidden="true" style="color: white;"></i></a></label>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <!-- <div class="container-fluid">
          <nav class="pull-left">

          </nav>
          <div class="copyright pull-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
          </div>
        </div> -->
      </footer>

    </div>
  </div>


</body>



<script type="text/javascript">
  $(document).ready(function () {

  });
</script>

</html>