<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{onestop/layout}">
<body>
<div layout:fragment="content">
<a class="btn btn-outline-primary" href="#" th:href="@{/onestop/addCompany}" role="button">เพิ่มผู้ประกอบการ</a><br/>
<br>
<table id="all-company" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ชื่อบริษัท</th>
                <th>เลขประจำตัวนิติบุคคล</th>
                <th>ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${lCompany}">
                <td th:text="${c.companyName}"></td>
                <td ><span th:text="${c.dbdId}" class="dbdIdTextHtml"></span></td>
                <td>[<a href="#" th:href="@{|/onestop/company/${c.dbdId}|}">ดำเนินการ</a>]</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>ชื่อบริษัท</th>
                <th>เลขประจำตัวนิติบุคคล</th>
                <th>ดำเนินการ</th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>