<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <title>Dashboard</title>
  </head>
  <body>

<a class="btn btn-outline-primary" href="#" th:href="@{/onestop/addCompany}" role="button">เพิ่ม</a>

<table id="all-company" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ชื่อบริษัท</th>
                <th>เลขประจำตัวนิติบุคคล</th>
                <th>ดำเนินการ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${lCompany}">
                <td th:text="${c.companyName}"></td>
                <td th:text="${c.dbdId}"></td>
                <td>[<a href="#" th:href="@{|/onestop/company/${c.dbdId}|}">รายละเอียด</a>]</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>ชื่อบริษัท</th>
                <th>เลขประจำตัวนิติบุคคล</th>
                <th>ดำเนินการ</th>
            </tr>
        </tfoot>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
    	$('#all-company').DataTable();
		} );
	</script>
  </body>
</html>