<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
      <img src="doeb_thai.png" th:src="@{/dashboard/doeb_thai.png}" alt="" width="200">
      </a>
    </div>

    <ul class="nav">
      <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="#" th:href="@{/onestop/dashboard}">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{|/onestop/company/${company.dbdId}/department|}">
          <i class="ti-agenda"></i>
          <p> แบบคำขอรับบริการ </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{|/onestop/company/${company.dbdId}|}">
          <i class="ti-agenda"></i>
          <p> ดูสถานะแบบคำขอ </p>
        </a>
      </li>
    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
		<p class="check"><span><img src="images/globe.svg" th:src="@{/images/globe.svg}" alt="globe" style="width: 30px;"/></span> One Stop Service </p>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><lable> ใบรับรองพักใช้ <span>0</span> รายการ </lable></a></li>
                  <li><a href="#"><lable> ใบรับรองหมดอายุ <span>0</span> รายการ </lable></a></li>
                </ul>
              </li>
              <li>
                <a href="#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>

      

      <div class="content">
        <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                            <span class="mr-10" th:text="${company.companyName}"></span>
                          </div>
                          <a href="#" th:href="@{|/onestop/company/detail/${company.dbdId}|}" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                            <button class="btn btn-info"><i class="ti-search"></i></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                            <label for="name" class="success"> ปกติ </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
          </div>
 
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i> แบบคำขอรับบริการ</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                      <div class="row">
                      <div class="list-group edit">
                        <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestForm|}" class="list-group-item"><span>1</span> งานกำกับดูแลการปฏิบัติการทดสอบและตรวจสอบสถานประกอบการน้ำมันเชื้อเพลิง(Third Party) - สถาบันพัฒนาเทคนิคพลังงาน (สพพ.)</a>
                        <a class="list-group-item icon safety2 collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <span>2</span> งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัย (Safety)
                        </a>
                          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="list-group edit submenu" style="margin-bottom:0px !important;">

                             

                              <!-- <a href="#" class="list-group-item">
                                <span>2.1</span>รายงานด้านสิ่งแวดล้อม โครงการระบบการขนส่งก๊าซธรรมชาติทางท่อ (Environment Report)- สำนักงานความปลอดภัยธุรกิจก๊าซธรรมชาติ (สธช.)</a> -->
                                 <a href="#"  th:href="@{|/onestop/company/${company.dbdId}/requestFormER|}" class="list-group-item" style="border-bottom:0px !important;">
                                <span>2.1</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการก๊าซธรรมชาติ (NG) - สำนักงานความปลอดภัยธุรกิจก๊าซธรรมชาติ (สธช.)</a>

                              <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestFormOil|}" class="list-group-item">
                                <span>2.2</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการน้ำมัน (Oil)- สำนักงานความปลอดภัยธุรกิจน้ำมัน (สธน.)</a>
                              <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestFormLpg|}" class="list-group-item">
                                <span>2.3</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการก๊าซปิโตเลียมเหลว (LPG) - สำนักงานความปลอดภัยธุรกิจก๊าซปิโตรเลียมเหลว (สธก.)</a>
                            <!--   <a href="#" class="list-group-item" style="border-bottom:0px !important;">
                                <span>2.4</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการก๊าซธรรมชาติ (NG) - สำนักงานความปลอดภัยธุรกิจก๊าซธรรมชาติ (สธช.)</a> -->
                            </div>
                          </div>
                        <!-- end 2 Safety -->
                        <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestFormTrade|}" class="list-group-item"><span>3</span> งานกำกับดูแลกิจการน้ำมันเชื้อเพลิงด้านการค้า (Trade)- สำนักงานบริการธุรกิจและการสำรองน้ำมันเชื้อเพลิง (สบส.)</a>
                        <!-- <a class="list-group-item icon trade3 collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <span>3</span>งานกำกับดูแลกิจการน้ำมันเชื้อเพลิงด้านการค้า (Trade)- สำนักงานบริการธุรกิจและการสำรองน้ำมันเชื้อเพลิง (สบส.)
                        </a>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="list-group edit submenu" style="margin-bottom:0px !important;">
                              <a href="#" class="list-group-item"><span>3.1</span>รายงานด้านสิ่งแวดล้อม โครงการระบบการขนส่งก๊าซธรรมชาติทางท่อ (Environment Report)- สำนักงานความปลอดภัยธุรกิจก๊าซธรรมชาติ (สธช.)</a>
                              <a href="#" class="list-group-item"><span>3.2</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการน้ำมัน (Oil)- สำนักงานความปลอดภัยธุรกิจน้ำมัน (สธน.)</a>
                              <a href="#" class="list-group-item" style="border-bottom:0px !important;"><span>3.3</span>งานการกำกับกิจการน้ำมันเชื้อเพลิงด้านความปลอดภัยกิจการก๊าซปิโตเลียมเหลว (LPG) - สำนักงานความปลอดภัยธุรกิจก๊าซปิโตรเลียมเหลว (สธก.)</a>
                            </div>
                          </div> -->
                        <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestFormQuality|}" class="list-group-item"><span>4</span>งานการกำกับดูแลคุณภาพน้ำมันเชื้อเพลิงที่ทำการค้า (Quality) - สำนักงานคุณภาพน้ำมันเชื้อเพลิง (สคน.)</a>
                        <a href="#" th:href="@{|/onestop/company/${company.dbdId}/requestFormPayment|}" class="list-group-item"><span>5</span>งานการรับชำระค่าธรรมเนียม (Payment) - ศูนย์บริการธุรกิจพลังงาน สำนักบริหารกลาง (ศบธ. สบก.)</a>
                        <a href="#" class="list-group-item"><span>6</span>ผู้ดูแลระบบ (Admin) – ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร(ศทส.)</a>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
          </div> 
          
        </div>
      </div>


      <footer class="footer">
        <!-- <div class="container-fluid">
          <nav class="pull-left">

          </nav>
          <div class="copyright pull-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
          </div>
        </div> -->
      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js" th:src="@{/dashboard/assets/js/demo.js}"></script>

<script type="text/javascript">
  $(document).ready(function() {
      $("#sSelectType").change(function() {
          // console.log($(this).val())
          var select = $(this).val();

			$('#sListSelect').html('');
			$('#sListSelect').append('<option value="">เลือก</option>');

			$.ajax({
			type: "POST",
			url: "[[@{/api/request}]]",
			data:'rqCategoryId='+select,
			success: function(data){
				$.each(data, function (index, value) {
		            $('#sListSelect').append('<option value="' + value.requestId + '">' + value.requestName + '</option>');
		        });
			}
			});

          // console.log(selectData(select))

      });
      
	$( "#next-1" ).click(function() {
		//alert($("#sListSelect").val());
		//location.href='/onestop/company/[[${dbdId}]]/form/view/' + $("#sListSelect").val();
		location.href='[[@{|/onestop/company/${dbdId}/formgroup/view/|}]]' + $("#sListSelect").val() + '/' + $("#requestTypeId").val();
	});      
      
  });
</script>

</html>
