<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/admin/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/admin/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/admin/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/admin/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="../font-awesome-4.7.0/css/font-awesome.min.css.html" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/admin/assets/css/themify-icons.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <img src="doeb_thai.png" th:src="@{/dashboard/doeb_thai.png}" alt="" width="200">
        </a>
    </div>

    <ul class="nav">
      <li>
        <a href="#" th:href="@{/onestop/dashboard}">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/onestop/request_company}">
          <i class="ti-agenda"></i>
          <p>ดูสถานะแบบคำขอ</p>
        </a>
      </li>
    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <p class="check"><span><img src="images/globe.svg" th:src="@{/images/globe.svg}" alt="globe" style="width: 30px;"/></span> One Stop Service </p>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">

              <li>
                <a href="#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">
			<div layout:fragment="content"></div>
        </div>
      </div>


      <footer class="footer">

      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/admin/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/admin/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/admin/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/admin/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/admin/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js" th:src="@{/admin/assets/js/demo.js}"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

    //var message = /*[[${message}]]*/ 'default';
    $(document).ready(function() {
    	 $("#companyNameEn").keypress(function(event){
    	        var ew = event.which;
    	        if(ew == 32)
    	            return true;
    	        if(48 <= ew && ew <= 57)
    	            return true;
    	        if(65 <= ew && ew <= 90)
    	            return true;
    	        if(97 <= ew && ew <= 122)
    	            return true;
    	        if(ew == 44)
    	            return true;
    	        if(ew == 46)
    	            return true;
    	        return false;
    	    });
    	
		$('#all-company').DataTable();
		if($('#provinceId').val()){
		 getAmphur($('#provinceId').val());
		 }
	  });

/*]]>*/
 
</script>
<script>
/*<![CDATA[*/
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "[[@{/api/amphur}]]",
	data:'provinceId='+val,
	success: function(data){
	var amphurId_selected = "[[${company.amphurId} ? ${company.amphurId} : '0']]";
	var s="";
		$.each(data, function (index, value) {
		s="";
		if(amphurId_selected == value.amphurId ){
			s=" selected ";
			if($('#dataedit').val('')){
				getTambon(value.amphurId);
			}
		}
            $('#amphurId').append('<option value="' + value.amphurId + '" '+ s +'>' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/tambon}]]",
	data:'amphurId='+val,
	success: function(data){
	var districtId_selected = "[[${company.districtId} ? ${company.districtId} : '0']]";
	var s="";
		$.each(data, function (index, value) {
		s="";
		if(districtId_selected == value.districtId ){
			s=" selected ";
			if($('#dataedit').val('')){
				getZipcode(value.districtId);
			}
		}
            $('#districtId').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/zipcode}]]",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcode').val(value.zipcode);
        });
	}
	});
}
/*]]>*/
</script>

<script>
(function($, undefined) {

    "use strict";

    // When ready.
   				 $(function() {
         		var $this = $('#dbdId');
            	var input = $this.val();
            	if(input){
            		 input = input.replace(/[\D\s\._\-]+/g, "");
            		 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 6){
                	split = 2;
                }else if(i > 6 && i <= 12){
                	split = 6;
                }
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
            	}
                   
                 
				//dashborad dbdId format
				 var divs2 = document.getElementsByClassName('dbdIdTextHtml');
					for (var j = 0; j < divs2.length; j++) {
						//$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-actual-garantee-day')));
						var $this = $(divs2[j]);
		            	var input = $this.text();
		            	if(input){
		            		console.log(input);
		                input = input.replace(/[\D\s\._\-]+/g, "");
		                 if(input.length > 13){
			               return;
			             }
		                var split = 4;
		                var chunk = [];
		
		                for (var i = 0, len = input.length; i < len; i += split) {
		                if(i >= 0 && i <= 1){
		                split = 2;
		                }else if(i > 1 && i <= 4){
		                	split = 3;
		                }else if(i > 4 && i <= 6){
		                	split = 2;
		                }else if(i > 6 && i <= 12){
		                	split = 6;
		                }
		                    chunk.push( input.substr( i, split ) );
		                }
			 			console.log(chunk.join("-"));
		                $this.text(function() {
		                      return chunk.join("-");
		                });
					}	
				
            	}
            	
                //End dashborad dbdId format
        $( ".textbdId" ).on( "keyup", function( event ) {
            
        
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                    //input = input.replace(/[\W\s\._\-]+/g, '');
                    input = input.replace(/[\D\s\._\-]+/g, "");
                    //input = input ? parseInt( input, 10 ) : 0;
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                //split = 0;
                if(i >= 0 && i <= 1){
                split = 2;
                // console.log("SplitA:"+input.substr( i, split ));
                	
                }else if(i > 1 && i <= 4){
                	split = 3;
                	// console.log("SplitB:"+input.substr( i, split ));
                }else if(i > 4 && i <= 6){
                	split = 2;
                	// console.log("SplitC:"+input.substr( i, split ));
                }else if(i > 6 && i <= 12){
                	split = 6;
                	// console.log("SplitD:"+input.substr( i, split ));
                }
                   
                    //split = ( i >= 8 && i <= 16 ) ? 4 : 8;
                    chunk.push( input.substr( i, split ) );
                }
                /*
                var input = $this.val();
            
            var input = input.replace(/[\D\s\._\-]+/g, "");
                    input = input ? parseInt( input, 10 ) : 0;

                    $this.val( function() {
                        return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                    } );
                */
	 			
                $this.val(function() {
                    //return ( input == 0 ) ? "" :chunk.join("-");
                    //console.log(chunk);
                      return chunk.join("-");
                      //return str_return;
                });
        
        } );
        /*    
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
            
            
            var $this = $( this );
            
            // Get the value.
            var input = $this.val();
            
            var input = input.replace(/[\D\s\._\-]+/g, "");
                    input = input ? parseInt( input, 10 ) : 0;

                    $this.val( function() {
                        return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                    } );
        } ); */
        
    });
})(jQuery);
</script>


<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
        	var $this = $('#telephone');
            var input = $this.val();
            if(input){
            	 input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
            }
                   

        $( ".textTelephone" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
        
        } );
        
    });
})(jQuery);
</script>
<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
         var $this = $("#fax");
            var input = $this.val();
            if(input){
             input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
            }
                   

        $( ".textFax" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
        
        } );
        
    });
})(jQuery);
</script>
<script>
(function($, undefined) {

    "use strict";

    // When ready.
    $(function() {
        var $this = $("#mobile");
            var input = $this.val();
            if(input){
            input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 3;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
            
            }
                    
        $( ".textPhone" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 3;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("-");
                });
        
        } );
        
    });
})(jQuery);
</script>

<script>
(function($, undefined) {
//ทุนจดทะเบียน
    "use strict";

    // When ready.
   				 $(function() {
         		var $this = $('#capital');
            	var input = $this.val();
            	if(input){
            	input = input.replace(/[\D\s\._\-]+/g, "");
            	
                var split = 3;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
               
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                 var number = $this.val().replace(/[\D\s\._\-]+/g, "");
                  number = parseInt(number);
				 //number.toLocaleString('en');
				 console.log(number.toLocaleString('en'));
                      return number.toLocaleString('en');
                });
            	}
                   
                 
				
        $( ".textcapital" ).on( "keyup", function( event ) {
            
        
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
           // if ( selection !== '' ) {
           //     return;
          //  }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                input = input.replace(/[\D\s\._\-]+/g, "");
              
                var split = 3;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                  
                  var number = $this.val().replace(/[\D\s\._\-]+/g, "");
                  number = parseInt(number);
				 //number.toLocaleString('en');
				 console.log(number.toLocaleString('en'));
				 if(number.toLocaleString('en') == 'NaN'){
					 return "";
				 }else{
					 return number.toLocaleString('en');
				 }
                      
                });
        } );
        $( ".number" ).on( "keyup", function( event ) {
            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if ( selection !== '' ) {
                return;
            }
            
            // When the arrow keys are pressed, abort.
            if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                return;
            }
           
            var $this = $(this);
            var input = $this.val();
                    input = input.replace(/[\D\s\._\-]+/g, "");
                 if(input.length > 13){
	               return;
	             }
                var split = 4;
                var chunk = [];

                for (var i = 0, len = input.length; i < len; i += split) {
                if(i >= 0 && i <= 1){
                split = 2;
                }else if(i > 1 && i <= 4){
                	split = 3;
                }else if(i > 4 && i <= 12){
                	split = 4;
                }else{
                 split = 99;
                }
                   
                    chunk.push( input.substr( i, split ) );
                }
	 			
                $this.val(function() {
                      return chunk.join("");
                });
        
        } );
    });
})(jQuery);
</script>
</html>
