<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{onestop/layout}">
<body>
<div layout:fragment="content">
<table id="all-company" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>สถานประกอบการ</th>
                <th>รายละเอียด</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	<td th:text="${requestTransaction.Company.companyName}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.companyName}">
									
                              	</td>
                              	<td th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}">
                              	</td>
                              	
                              	<td th:text="|${requestTransaction.requestStatus.text}|">
				              </td>
				            
                              </tr>
        </tbody>
        <tfoot>
            <tr>
                 <th>ลำดับ</th>
                <th>สถานประกอบการ</th>
                <th>รายละเอียด</th>
                <th>สถานะ</th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>

