<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

      <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text">
            <img src="doeb_thai.png" th:src="@{/dashboard/doeb_thai.png}" alt="" width="200">
          </a>
        </div>

        <ul class="nav">
          <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
          <li>
            <a href="#" th:href="@{/onestop/dashboard}">
              <i class="ti-home"></i>
              <p> หน้าหลัก </p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-agenda"></i>
              <p> แบบคำขอรับบริการ </p>
            </a>
          </li>
          <li>
            <a href="#" th:href="@{|/onestop/company/${company.dbdId}|}">
              <i class="ti-agenda"></i>
              <p> ดูสถานะแบบคำขอ </p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <p class="check"><span><img src="images/globe.svg" th:src="@{/images/globe.svg}" alt="globe" style="width: 30px;" /></span>
              One Stop Service </p>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                      <lable> ใบรับรองพักใช้ <span>0</span> รายการ </lable>
                    </a></li>
                  <li><a href="#">
                      <lable> ใบรับรองหมดอายุ <span>0</span> รายการ </lable>
                    </a></li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="ti-settings"></i>
                  <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                  <i class="ti-power-off"></i>
                  <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>



      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="content edit">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                          <span class="mr-10" th:text="${company.companyName}"></span>
                        </div>
                        <a href="#" th:href="@{|/onestop/company/detail/${company.dbdId}|}" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="content edit">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                          <button class="btn btn-info"><i class="ti-search"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="content">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <form class="form-inline">
                        <div class="form-group">
                          <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                          <label for="name" class="success"> ปกติ </label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <ol class="breadcrumb edit">
                <li><a href="#" style="color: #e74124;">แบบคำขอรับบริการ</a></li>
                <li class="active">เลือกประเภทขอรับบริการ</li>
              </ol>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="header">
                      <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i>
                        เลือกประเภทขอรับบริการ </h4>
                      <p class="category"></p>
                    </div>
                    <div class="content">
                      <form>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                              <select name="sSelectType" id="sSelectType" class="form-control edit mr-10">
                                <option value="">เลือก</option>
                                <option th:each="rc : ${lRequestCategory}" th:value="${rc.rqCategoryId}" th:utext="${rc.rqCategoryName}" />
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                              <select name="sListSelectrequest" id="sListSelectrequest" class="form-control edit mr-10">
                                <option value="">เลือก</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                              <select class="form-control edit mr-10" name="requestTypeId" id="requestTypeId" required>
                                <option value="">ประเภทการขอ</option>
                                <option value="1">ขอใหม่</option>
                                <option value="2">ขอต่ออายุ</option>
                                <option value="3">ขอแก้ไขเปลี่ยนแปลง</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 text-center">
                            <a id="next-1" type="button" class="btn" href="#">ดำเนินการ</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


      <footer class="footer">
        <!-- <div class="container-fluid">
          <nav class="pull-left">

          </nav>
          <div class="copyright pull-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
          </div>
        </div> -->
      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js" th:src="@{/dashboard/assets/js/demo.js}"></script>

<script type="text/javascript">
  $(document).ready(function () {

    $("#sSelectType option[value=29]").remove()

    $("#sSelectType").change(function () {
      // console.log($(this).val())
      var select = $(this).val();

      $('#sListSelectrequest').html('');
      $('#sListSelectrequest').append('<option value="">เลือกคำขอ</option>');
      $('#requestTypeId').html('');
      $('#requestTypeId').append('<option value="">เลือกประเภทการขอ</option>');
      $.ajax({
        type: "POST",
        url: "[[@{/api/request}]]",
        data: 'rqCategoryId=' + select,
        success: function (data) {

          $.each(data, function (index, value) {

            var requestId = value.requestId;
            var requestName = value.requestName;

            $('#sListSelectrequest').append('<option value="' + requestId + '">' + requestName +
              '</option>');
          });
          if(select == '2') {
            $("#sListSelectrequest option[value=5]").remove()
          }
        }
      });

      // console.log(selectData(select))

    });
    $("#sListSelectrequest").change(function () {
      // console.log($(this).val())
      var select = $(this).val();

      $('#requestTypeId').html('');
      $('#requestTypeId').append('<option value="">เลือกประเภทการขอ</option>');
      //console.log("sListSelectrequest: " +select);
      $.ajax({
        type: "POST",
        url: "[[@{/api/requesttype}]]",
        data: 'rqId=' + select,

        success: function (data) {
          var listRequest = new Array();
          //console.log(data);

          $.each(data, function (index, value) {

            if (index == 0) {
              listRequestArr = [value.requestType.requestTypeId, value.requestType.requestTypeName];
              listRequest.push(listRequestArr);
            }

            if (value.requestType) {

              for (i = 0; i < listRequest.length; i++) {
                if (listRequest[i][0] != value.requestType.requestTypeId) {

                  listRequestArr = [value.requestType.requestTypeId, value.requestType.requestTypeName];
                  //listRequest.push(listRequestArr);
                  console.log($.inArray(listRequest, value.requestType.requestTypeId));
                  if ($.inArray(listRequest, listRequestArr) == -1) {
                    listRequest.push(listRequestArr);
                    //console.log("if");
                  } else {
                    //console.log("else");
                  }
                }
              }


            }
            //console.log(value);
            //console.log("index: "+index+ '.listRequest: '+listRequest);
          });
          if (listRequest.length == 0) {
            listRequest = new Array([1, 'ขอใหม่'], [2, 'ขอต่ออายุ'], [3, 'ขอแก้ไขเปลี่ยนแปลง'])
          }
          var listRequestResult = multiDimensionalUnique(listRequest);
          //listRequestResult.sort(function(a,b){
          //    return a[1] - b[1];
          //});
          listRequestResult.sort();
          // console.log('listRequest All: '+listRequestResult);

          for (i = 0; i < listRequestResult.length; i++) {
            $('#requestTypeId').append('<option value="' + listRequestResult[i][0] + '">' +
              listRequestResult[i][1] + '</option>');

          }
        }
      });

      // console.log(selectData(select))

    });
    $("#next-1").click(function () {
      //alert($("#sListSelect").val());
      //location.href='/onestop/company/[[${dbdId}]]/form/view/' + $("#sListSelect").val();
      //location.href='[[@{|/onestop/company/${dbdId}/formgroup/view/|}]]' + $("#sListSelectrequest").val() + '/' + $("#requestTypeId").val();
      location.href = '[[@{|/onestop/company/${dbdId}/formgroup/checklist/|}]]' + $("#sListSelectrequest").val() +
        '/' + $("#requestTypeId").val();
    });

  });

  function multiDimensionalUnique(arr) {
    var uniques = [];
    var itemsFound = {};
    for (var i = 0, l = arr.length; i < l; i++) {
      var stringified = JSON.stringify(arr[i]);
      if (itemsFound[stringified]) {
        continue;
      }
      uniques.push(arr[i]);
      itemsFound[stringified] = true;
    }
    return uniques;
  }
</script>

</html>