<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>

	<div th:replace="common-onestop/navbar :: common-navbar" />


  <!-- start content -->
 <div class="box-container">
  <form action="#" th:action="@{/onestop/form/submission}" method="POST"  class="form-inline mt-20"  enctype="multipart/form-data">


 	<div class="row">
    <div class="col-md-3 text-right"></div>
	<div class="col-md-6 text-center"><h3 class="text-center"><u>คำขอเป็นผู้ทดสอบและตรวจสอบน้ำมัน</u></h3></div>
	<div class="col-md-3 text-right"> <h2 class="text-right">ทส.น.1</h2></div>
	</div>

      <div class="form-inline mt-20">
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" class="form-control edit form-control edit-edit" name="write_at" value="" id="theDate" disabled>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ลักษณะการขอ <br /> รับหนังสือรับรอง </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 ข้อมูลเกี่ยวกับ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>
				<li role="presentation" class="tab-edit" id="nav-3">
				  <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ผู้ปฏิบัติงาน<br />ทดสอบและตรวจสอบ</a>
				</li>
				<li role="presentation" class="tab-edit" id="nav-4">
				  <a href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 17px 0px;">4 บัญชีเครื่องมือ</a>
				</li>
        <li role="presentation" class="tab-edit" id="nav-5">
          <a href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab" style="margin: 17px 0px;">5 เอกสารหลักฐานที่ใช้ประกอบคำ <br /> ขอรับหนังสือรับรอง (สำหรับนิติบุคคล) </a>
        </li>
      <!--   <li role="presentation" class="tab-edit" id="nav-6">
          <a href="#tap6" aria-controls="tab6" role="tab" data-toggle="tab" style="margin: 3px 0px;">6 เอกสารหลักฐานผู้ปฏิบัติงานตาม <br /> บัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบ <br /> และตรวจสอบ </a>
        </li> -->
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ลักษณะการขอรับหนังสือรับรอง</h3>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-2"><strong>1. ประเภทการขอ</strong></span>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="type_service" id="type_service" value="0" th:value="${requestTypeId}" checked> <span th:text="${requestTypeName}"></span>
                    </label>
                </div>
            </div>
            <br>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-12"><strong th:text="${requestName}"></strong></span>
<!--
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service1" value="ระดับที่ ๑" checked> <span>ระดับที่ 1</span>
                    </label>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service2" value="ระดับที่ ๒"> <span>ระดับที่ 2</span>
                    </label>
                    <label class="radio-inline col-md-3">
                        <input type="radio" name="level_service" id="level_service3" value="ระดับที่ ๓"> <span>ระดับที่ 3</span>
                    </label>
                    -->
                </div>
            </div>
            <hr>
            <div class="row text-right mt-20">
								<a id="prev" class="btn btn-custom-prev" href="#tap1" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ข้อมูลเกี่ยวกับผู้ขอรับหนังสือรับรอง</h3>
              <h4 class="title">1. ผู้ขอรับหนังสือรับรอง</h4>
              <div class="row">
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-6 control-label text-left">1.1 ชื่อผู้ขอรับหนังสือรับรอง</label>
                      <div class="col-sm-12">
                          <input type="text" class="form-control edit" name="name_applicant" id="name_applicant" th:value="${company.companyName}" style="width: 100%">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-6 control-label">ชื่อเป็นภาษาอังกฤษ</label>
                      <div class="col-sm-12">
                          <input type="text" class="form-control edit" name="name_applicant_eng" id="name_applicant_eng" th:value="${company.companyNameEn}" style="width: 100%">
                      </div>
                  </div>
                  </div>
               <div class="row">
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-6 control-label text-left">หมายเลขทะเบียนนิติบุคคล</label>
                      <div class="col-sm-12">
                          <input type="text" class="form-control edit" name="corporate_number" id="corporate_number" th:value="${company.dbdId}" style="width: 100%">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-6 control-label">ทุนจดทะเบียน  (บาท)</label>
                      <div class="col-sm-12">
                          <input type="text" class="form-control edit" name="registered_capital" id="registered_capital" th:value="${company.capital}" style="width: 100%">
                      </div>
                      <!-- <label class="col-sm-2 control-label left">บาท</label> -->
                  </div>
              </div>
              <br>
              <h4 class="title">2. ที่ตั้งสำนักงานใหญ่</h4>

          <div class="form-horizontal">
              <div class="row">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="number" class="form-control edit" id="" placeholder=""  value="" name="numberhome" th:value="${company.addressNo}" style="width: 100%;">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="number" class="form-control edit" id="" placeholder="" value="" name="moo" th:value="${company.moo}" style="width: 100%;">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="soi" th:value="${company.soi}" style="width: 100%;">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="road" th:value="${company.street}" style="width: 100%;">
                  </div>
                </div>

              <div class="row" style="width: 100%">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label><br>
						<select style="width: 100%;" th:field="*{company.provinceId}" name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${company != null} ? ${company.provinceId} : ''"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==selectedValue}" />
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label><br>
						<select style="width: 100%;" name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label><br>
						<select style="width: 100%;" name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         	<option value="">- เลือก -</option>
                         </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">รหัสไปรษณีย์</label><br>
                    <input style="width: 100%;" type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-3">
                    <label for="" class="control-label left">โทรศัพท์</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="tel" th:value="${company.telephone}">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="fax" th:value="${company.fax}">
									</div>
									<div class="col-sm-3">
											<label for="" class="control-label left">มือถือ</label><br>
											<input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="mobile" th:value="${company.mobile}">
										</div>
                   <div class="col-sm-3">
                    <label for="" class="control-label right">E-mail</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="email" th:value="${company.email}">
                  </div>
              </div>
              <br>
              <h4 class="title">3. ผู้รับมอบอำนาจ (ถ้ามี)</h4>
               <div class="form-horizontal">
                  <div class="row">
              	 <div class="col-sm-2">
                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="bla_attorney" id="bla_attorney" class="form-control edit"  style="width:100%;">
											<option value="0">- เลือก -</option>
											<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_attorney']} : ''"
												th:value="${TitleName.code}"
												th:utext="${TitleName.abbreviation}"
												th:selected="${TitleName.code==selectedValue}"
												/>
										</select>
										<div id="section-title" style="display:none">
										<label for="" class="control-label center">คำนำหน้าอื่น ๆ </label>
										<input type="text" name="sTitleNameEtc" id="sTitleNameEtc" class="form-control edit">
									</div>
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">ชื่อ</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="firstname_attorney" name="firstname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_attorney']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="lastname_attorney" name="lastname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_attorney']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label><br/>
	                    <input style="width:100%;" type="number" class="form-control edit" id="numberhome_attorney" placeholder=""  value="" name="numberhome_attorney" th:value="${entryMap != null} ? ${entryMap['numberhome_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input style="width:100%;" type="number" class="form-control edit" id="moo_attorney" placeholder="" value="" name="moo_attorney" th:value="${entryMap != null} ? ${entryMap['moo_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input style="width:100%;" type="text" class="form-control edit" id="soi_attorney" placeholder=""  value="" name="soi_attorney" th:value="${entryMap != null} ? ${entryMap['soi_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input style="width:100%;" type="text" class="form-control edit" id="road_attorney" placeholder=""  value="" name="road_attorney" th:value="${entryMap != null} ? ${entryMap['road_attorney']} : ''">
	                  </div>
	                </div>

	              	<div class="row">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label><br/>
												<select style="width:100%;" name="provinceId_attorney" id="provinceId_attorney" class="form-control edit" onChange="getAmphurAttorney(this.value);">
														 <option value="">- เลือก -</option>
														 <option th:each="province : ${lProvinceBean}" 
															th:with="selectedValue = ${entryMap != null} ? ${entryMap['provinceId_attorney']} : ''"
															th:value="${province.provinceId}"
															th:utext="${province.provinceName}"
															th:selected="${#strings.equals(province.provinceId, #strings.toString(selectedValue))}"
															/>
														 <!-- <option th:each="province : ${lProvinceBean}" 
														 		th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId_attorney']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${province.provinceId==selectedValue}"
	                            	/> -->
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label><br/>
										<select style="width:100%;" name="amphurId_attorney" id="amphurId_attorney" class="form-control edit" onChange="getTambonAttorney(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label><br/>
										<select style="width:100%;" name="districtId_attorney" id="districtId_attorney" class="form-control edit" onChange="getZipcodeAttorney(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label><br/>
	                    <input type="number" style="width:100%;" class="form-control edit" id="zipcodeId_attorney" name="zipcodeId_attorney" readonly>
	                  </div>
	              </div>
	              <div class="row">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label><br/>
	                    <input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder=""  value="" name="tel_attorney" th:value="${entryMap != null} ? ${entryMap['tel_attorney']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label><br/>
	                    <input type="text" class="form-control edit textFax" id="fax_attorney" placeholder=""  value="" name="fax_attorney" th:value="${entryMap != null} ? ${entryMap['fax_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label><br/>
	                    <input type="text" class="form-control edit" id="email_attorney" placeholder=""  value="" name="email_attorney" th:value="${entryMap != null} ? ${entryMap['email_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">เว็บไซต์</label><br/>
	                    <input type="text" class="form-control edit" id="web_attorney" placeholder=""  value="" name="web_attorney" th:value="${entryMap != null} ? ${entryMap['web_attorney']} : ''">
	                  </div>
	              </div>
	          </div>
          <br>
          <h4 class="title">4. ผู้ติดต่อประสานงาน</h4>
          <div class="form-horizontal">
                  <div class="row">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="bla_contact" id="bla" class="form-control edit"  style="width:100%;">
										<option value="0">- เลือก -</option>
										<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_contact']} : ''"
											th:value="${TitleName.code}"
											th:utext="${TitleName.abbreviation}"
											th:selected="${TitleName.code==selectedValue}"
											/>
									</select>
									<div id="section-title2" style="display:none">
										<label for="" class="control-label center">คำนำหน้าอื่น ๆ </label>
										<input type="text" name="sTitleNameEtc2" id="sTitleNameEtc2" class="form-control edit">
									</div>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="firstname" name="firstname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_contact']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="lastname" name="lastname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_contact']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">

	              <div class="row">
	                  <div class="col-sm-4">
	                    <label for="" class="control-label right">โทรศัพท์</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textTelephone" id="tel_contact" placeholder=""  value="" name="tel_contact" th:value="${entryMap != null} ? ${entryMap['tel_contact']} : ''">
	                  </div>

	                  <div class="col-sm-4">
	                    <label for="" class="control-label center">โทรสาร</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textFax" id="fax_contact" placeholder=""  value="" name="fax_contact" th:value="${entryMap != null} ? ${entryMap['fax_contact']} : ''">
	                  </div>
	                   <div class="col-sm-4">
	                    <label for="" class="control-label right">มือถือ</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textPhone" id="mobile" placeholder=""  value="" name="mobile_contact" th:value="${entryMap != null} ? ${entryMap['mobile_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">E-mail</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit" id="email" placeholder=""  value="" name="email_contact" th:value="${entryMap != null} ? ${entryMap['email_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">เว็บไซต์</label><br/>
	                    <input  style="width:100%;" type="text" class="form-control edit" id="email" placeholder=""  value="" name="web_contact" th:value="${entryMap != null} ? ${entryMap['web_contact']} : ''">
	                  </div>
	              </div>
	          </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

		</div>

			<!-- //#############################################################################- -->
			<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิศวกร</h2>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      <div class="form-group">
		      <div class="col-sm-3">
		      		<label>เลขวิศวกร</label><br/>
			      	<input type="hidden" name="engineerIdOriginal" id="engineerIdOriginal" value="">
			      	<input type="text" class="form-control" name="edit-engineerId" id="edit-engineerId" value="" >
		      </div> <div class="col-sm-3">
		      		<label>คำนำหน้า</label><br/>
			      	<!-- <input type="text" class="form-control" name="edit-title" id="edit-title" value="" >  -->
			      	<select name="edit-title" id="edit-title" class="form-control edit"  >
								<option value="0">- เลือก -</option>
								<option th:each="TitleName : ${lTitleName}"
									th:value="${TitleName.code}"
									th:utext="${TitleName.abbreviation}"
									/>
							</select>
		      </div>
		      <div class="col-sm-3">
		      		<label>ชื่อ</label><br/>
			      	<input type="text" class="form-control" name="edit-firstname" id="edit-firstname" value="" >
		      </div>
		       <div class="col-sm-3">
		      		<label>นามสกุล</label><br/>
			      	<input type="text" class="form-control" name="edit-lastname" id="edit-lastname" value="" >
		      </div>
		       <div class="col-sm-12">
		      		<label>ตำแหน่ง</label><br/>
			      	<!-- <input type="text" class="form-control" name="edit-type" id="edit-type" value=""> -->
			      	 <select id="edit-type" name="edit-type" class="form-control edit" style=" width: 100%;" >
                     				<option value="0">- เลือก -</option>
									<option value="หัวหน้าวิศวกรทดสอบ">หัวหน้าวิศวกรทดสอบ</option>
									<option value="วิศวกรทดสอบ">วิศวกรทดสอบ</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3</option>
									<option value="ผู้ชำนาญการทดสอบถังเก็บน้ำมัน">ผู้ชำนาญการทดสอบถังเก็บน้ำมัน</option>
                     	 </select>
		      </div>
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="button" class="btn btn-primary" id="updateEngineerBtn">บันทึก</button>
		      </div>
		      <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaIdXSA" name="formMetaIdASA" value="0" th:value="${formMetaId}">

		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateEngineerBtn').click(function (){
        				//alert('asdopaisdpo');
        				$.post("/api-engineer/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	 $('#exampleModalCenter').modal('hide');
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล, หรือติดต่อเจ้าหน้าที่");
        					        }
        					    });
        			});

        		});
		      </script>
		    </div>
		  </div>
		</div>

				<div role="tabpanel" class="tab-pane fade" id="tap3">
				  <h3 class="title">ส่วนที่ 3 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
					<div th:replace="inc_module/tab_module/engineer_quality :: engineer-quality" />
				  <hr>
					<div class="row text-right mt-20">
						<a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" >ย้อนกลับ</a>
						<a id="next-3" type="button" class="btn btn-custom-next" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>
			<!-- //#############################################################################- -->

		<!-- modal2 -->
		<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อเครื่องมือ</h2>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form onSubmit="return false;">
		      <div class="modal-body">
		      <div class="form-group">
			      	<input type="hidden" name="edit-toolId" id="edit-toolId" value="">
			      	<!--  <input type="text" class="form-control" name="edit-toolName" id="edit-toolName" value=""> -->
			      	 <div class="col-sm-6">
										 <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ</label><br/>
										 <div th:if="${requestId} == 13">
											<select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;" >
												<option value="0">-------เลือก-------</option>
												<option value="3">ก) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
												<option value="4">ข) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
											</select>
											<script>
												$(document).ready(function(){
													$("#edit-toolNameCat").change(function (){
													console.log($('#edit-toolName').val());
														 if($(this).val() == 3){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
											$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
											$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
											$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
											$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
										}else if($(this).val() == 4){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
											$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
											$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
										}
													});
												});
												</script>
										</div>
										<div th:if="${requestId} == 14">
											<select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
												<option value="0">-------เลือก-------</option>
												<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
												<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
												<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
												<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
											</select>
											<script>
												$(document).ready(function(){
													$("#edit-toolNameCat").change(function (){
													console.log("ASJkasjdpaos");
														 if($(this).val() == 1){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
											$('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
											$('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
											$('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
											$('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
										}else if($(this).val() == 2){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
											$('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
											$('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
											$('#edit-toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
											$('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
											$('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
											$('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
										}else if($(this).val() == 3){
												$('#edit-toolName').html("");
												$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
												$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
												$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
												$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
												$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
												$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
											}else if($(this).val() == 4){
												$('#edit-toolName').html("");
												$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
												$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
												$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
												$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
											}
													});
												});
												</script>
										</div>
										<div th:if="${requestId} == 15">
											<select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
												<option value="0">-------เลือก-------</option>
												<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
												<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
												<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
												<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
											</select>
											<script>
												$(document).ready(function(){
													$("#edit-toolNameCat").change(function (){
													console.log("ASJkasjdpaos");
													if($(this).val() == 1){
													$('#edit-toolName').html("");
													$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
													$('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
													$('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
													$('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
													$('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
													$('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
												}else if($(this).val() == 2){
													$('#edit-toolName').html("");
													$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
													$('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
													$('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
													$('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
													$('#edit-toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
													$('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
													$('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
													$('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
												}else if($(this).val() == 3){
														$('#edit-toolName').html("");
														$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
														$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
														$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
														$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
														$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
														$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
													}else if($(this).val() == 4){
														$('#edit-toolName').html("");
														$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
														$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
														$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
														$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
													}
													});
												});
												</script>
										</div>
									</div>			 
						
              	 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br/>
						<select name="edit-toolName" id="edit-toolName" style="width: 100%;">
							<option value="0">-------เลือก-------</option>

						</select>
                  </div>
		      <div class="col-sm-12">
		      		<label>หมายเลขเครื่อง</label><br/>
			      	<input type="text" class="form-control" name="edit-toolSerial" id="edit-toolSerial" value="" style="width: 100%;">
			   </div>
		      <div class="col-sm-6">
		      		<label>ยี่ห้อ</label><br/>
			      	<input type="text" class="form-control" name="edit-toolBrand" id="edit-toolBrand" value="" style="width: 100%;">
			      	</div>
		      <div class="col-sm-6">
		      		<label>รุ่น</label><br/>
			      	<input type="text" class="form-control" name="edit-toolModel" id="edit-toolModel" value="" style="width: 100%;">
			      	</div>
		     <div class="col-sm-12">
		      		<label>รูป</label><br/>
			      	<input type="file" class="form-control" name="edit-toolPhotoImg" id="edit-toolPhotoImg" value="">
			  </div>
		      </div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="button" class="btn btn-primary" id="updateToolBtn">บันทึก</button>
		      </div>
		      </form>
		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateToolBtn').click(function (){
        				//alert('asdopaisdpo');
        				/*$.post("/api-tool/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล หรือติต่อเจ้าหน้าที่")
        					        }
        					    });*/
        				oData = new FormData();
	      					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
	      					oData.append("toolId", $('#edit-toolId').val());
	              		    oData.append("toolName", $('#edit-toolName').val());
												oData.append("toolNameCatagory", $('#edit-toolNameCat option:selected').val());
	              		    oData.append("toolSerial", $('#edit-toolSerial').val());
	              		  	oData.append("toolBrand", $('#edit-toolBrand').val());
	              		    oData.append("toolModel", $('#edit-toolModel').val());
	              		// HTML file input, chosen by user
	              		oData.append("toolPhotoImg", $('#edit-toolPhotoImg').prop('files')[0]);
	              		  var oReq = new XMLHttpRequest();
	              		  oReq.open("POST", "/api-tool/update", true);
	              		  oReq.onload = function(oEvent) {
	              		    if (oReq.status == 200) {
	              		      //oOutput.innerHTML = "Uploaded!";
	              		      alert("บันทึกข้อมูลสำเร็จ");
	              		      loadTableTool();
	              		    } else {
	              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
	              		    //alert("Error " + oReq.status + " occurred when trying to upload your file.<br \/>");
	              		    	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล หรือติต่อเจ้าหน้าที่");
	              		    }
	              		  };

	              		  oReq.send(oData);
        			});

        		});
		      </script>
		    </div>
		  </div>
		</div>
				<div role="tabpanel" class="tab-pane fade" id="tap4">
				  <h3 class="title">ส่วนที่ 4 : บัญชีชื่อเครื่องมือ</h3>
				  <input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
					<input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
					<div class="form-horizontal">
					  <!--   <form onSubmit="return false;" id="toolform" enctype="application/x-www-form-urlencoded"> -->

              <div class="row">
           		 <div class="col-sm-6">
										 <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ </label><br/>
						<!--  <input type="text" class="form-control edit" id="toolNameCat" name="toolNameCat" style="width: 100%;">-->
						<div th:if="${requestId} == 13">
							<select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
								<option value="0">-------เลือก-------</option>
								<option value="3">ก) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
								<option value="4">ข) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
							</select>
							<script>
								$(document).ready(function(){
									$("#toolNameCatagory").change(function (){
									console.log("ASJkasjdpaos");
										 if($(this).val() == 3){
							$('#toolName').html("");
							$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
							$('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
							$('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
							$('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
							$('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
							$('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
						}else if($(this).val() == 4){
							$('#toolName').html("");
							$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
							$('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
							$('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
							$('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
						}
									});
								});
								</script>
						</div>
						<div th:if="${requestId} == 14">
							<select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
								<option value="0">-------เลือก-------</option>
								<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
								<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
								<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
								<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
							</select>
							<script>
								$(document).ready(function(){
									$("#toolNameCatagory").change(function (){
									console.log("ASJkasjdpaos");
									if($(this).val() == 1){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
										$('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
										$('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
										$('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
										$('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
									}else if($(this).val() == 2){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
										$('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
										$('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
										$('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
										$('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
										$('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
										$('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
									}else if($(this).val() == 3){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
										$('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
										$('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
										$('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
										$('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
									}else if($(this).val() == 4){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
										$('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
										$('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
									}
									});
								});
								</script>
						</div>
						<div th:if="${requestId} == 15">
							<select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
								<option value="0">-------เลือก-------</option>
								<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
								<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
								<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
								<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
							</select>
							<script>
								$(document).ready(function(){
									$("#toolNameCatagory").change(function (){
									console.log("ASJkasjdpaos");
									if($(this).val() == 1){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
										$('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
										$('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
										$('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
										$('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
									}else if($(this).val() == 2){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
										$('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
										$('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
										$('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
										$('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
										$('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
										$('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
									}else if($(this).val() == 3){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
										$('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
										$('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
										$('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
										$('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
									}else if($(this).val() == 4){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
										$('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
										$('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
									}
									});
								});
								</script>
						</div>
            </div>
              	 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br/>
						<select name="toolName" id="toolName" style="width: 100%;">
							<option value="0">-------เลือก-------</option>

						</select>
                  </div>
              	 <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label center">หมายเลขเครื่อง</label><br/>
										<input type="text" class="form-control edit" id="toolSerial" name="toolSerial" style="width: 100%;">
                     </div>
              	 <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">ยี่ห้อ</label><br/>
										<input type="text" class="form-control edit" id="toolBrand" name="toolBrand" style="width: 100%;">
                      </div>
              	 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">รุ่น</label><br/>
									 <input type="text" class="form-control edit" id="toolModel" name="toolModel" style="width: 100%;">
                 </div>

                 <div class="col-sm-12">
                  <input type="checkbox" id="manual" name="manual" value="1"> <label style="padding-top: 0px;" for="inputEmail3" class="control-label center">คู่มือ</label>
                 </div>
                  <div class="col-sm-12">
									 <input type="checkbox" id="FieldInspection" name="FieldInspection"  value="1"> <label style="padding-top: 0px;" for="inputEmail3" class="control-label center">ออกตรวจภาคสนาม</label>
                 </div>
                 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">รูป</label>
									 <input type="file" class="well well-sm" id="toolPhotoImg" name="toolPhotoImg">
                 </div>
                 	 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">เอกสารกรรมสิทธิ์ </label>
									 <input type="file" class="well well-sm" id="proprietary_document" name="proprietary_document">
                 </div>
                 <div class="col-sm-12">
                   <label for="inputEmail3" class="control-label center">เอกสารการสอบเทียบเครื่องมือ </label>
									 <input type="file" class="well well-sm" id="calibration_tool" name="calibration_tool">
								 </div>	
								 <div class="col-sm-4">
										<label for="formDescription" class="control-label center">วันหมดอายุ</label>
										<input type="text" class="form-control edit" id="calibration_tool_expire" name="calibration_tool_expire" >
								 </div>
					 			<div class="col-sm-12">
								 <label for="formDescription" class="control-label center"></label><br/>
                   	<a id="add-tool" type="button" class="btn btn-custom-next">เพิ่ม</a>
                 </div>		
                   
              	</div>
              </div>

              <script type="text/javascript">
              /*<![CDATA[*/
              	function loadTableTool(){
              	$('#table-tool').dataTable({
              					"bDestroy": true,
								"bSort" : false,
								"language": {
                    "search": "ค้นหา :",
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          }).fnClearTable();
              		var cn = $('#e-company-name').val();
              		//alert($('#e-dbdId').val());
      				$.ajax({
          				type: "POST",
          				url: "/api-tool/list",
          				data:'dbdId='+$('#e-dbdId').val(),
          				success: function(data){
										// console.log(data)
										// return false;
          					var content = "";
          					$.each(data, function (index, value) {
          					/*
          					1 เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)
          					2 เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)
							3 เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)
							4 เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)
							5 เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)
							6 เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)
							7 เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)
							8 เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)
							9 เครื่องตรวจวัดความลึก (Depth Gauge)
							10 เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)
							11 เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)
							12 เทปวัดระยะชนิดเหล็ก (Steel Tape)
							13 เครื่องสูบอัดอากาศ (Air Compressor)
							14 เครื่องสูบอัดน้ำ (Pressure Water Pump)
							15 มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)
							16 กลอุปกรณ์ปรับความดัน (Pressure Regulator)
							17 เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)
							18 เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)
							19 เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)
							20 เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)
          					*/
          					var toolName ="";
          					switch(value.toolName) {
										case "1":
												toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)";
												break;
										case "2":
												toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)";
												break;
										case "3":
												toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)";
												break;
										case "4":
												toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)";
												break;
										case "5":
												toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)";
												break;
										case "6":
												toolName ="เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)";
												break;
										case "7":
												toolName ="เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)";
												break;
										case "8":
												toolName ="เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)";
												break;
										case "9":
												toolName ="เครื่องตรวจวัดความลึก (Depth Gauge)";
												break;
										case "10":
												toolName ="เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)";
												break;
										case "11":
												toolName ="เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)";
												break;
										case "12":
												toolName ="เทปวัดระยะชนิดเหล็ก (Steel Tape)";
												break;
										case "13":
												toolName ="เครื่องสูบอัดอากาศ (Air Compressor)";
												break;
										case "14":
												toolName ="เครื่องสูบอัดน้ำ (Pressure Water Pump)";
												break;
										case "15":
												toolName ="มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)";
												break;
										case "16":
												toolName ="กลอุปกรณ์ปรับความดัน (Pressure Regulator)";
												break;
										case "17":
												toolName ="เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)";
												break;
										case "18":
												toolName ="เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)";
												break;
										case "19":
												toolName ="เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)";
												break;
										case "20":
												toolName ="เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)";
												break;
										default:
							       // code block
							      	break;
							}
          						content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          			            content += '<td>'+toolName+'</td>';
          			             content += '<td> <img src="[[@{/images/data/uploads/tool/DbdId}]]'+$('#e-dbdId').val()+'/'+value.toolPhoto+'" style="width: 150px;"></td>';

          			            content += '<td>'+value.toolSerial+'</td>';
          			            content += '<td>'+value.toolBrand+'</td>';
          			            content += '<td>'+value.toolModel+'</td>';
          			            //value.toolPhoto
          			            //@{/images/energy-logo.svg}
          			            //'+value.toolName+'
          			            content += '<td>'+cn+'</td>';
          			            content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="'+value.toolId+'" data-toolName="'+value.toolName+'" data-toolSerial="'+value.toolSerial+'" data-toolBrand="'+value.toolBrand+'" data-toolModel="'+value.toolModel+'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.toolId+'"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a></td>';
          			            content += '</tr>';

          			           // $('#zipcodeId').val(value.zipcode);
													 
          			           console.log("test "+value.toolName);
													$('#table-tool ').dataTable().fnAddData( [
														toolName,
														value.toolSerial,
														value.calibrationToolExprie,
														value.toolBrand,
														value.toolModel,
														'<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="'+value.toolId+'" data-toolNameCat="'+value.toolNameCatagory+'" data-toolName="'+value.toolName+'" data-toolSerial="'+value.toolSerial+'" data-toolBrand="'+value.toolBrand+'" data-toolModel="'+value.toolModel+'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.toolId+'"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a>' 
													]);
          			        });
          					// $('#table-tool tbody').html(content);
          					//var para = document.createRange().createContextualFragment(content);
          					// $('#table-engineer tbody').appendChild(para);
          				},
          				error: function(jqXHR, textStatus, errorThrown) {
          	               // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

          	                //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
          	                console.log('jqXHR:');
          	                console.log(jqXHR);
          	                console.log('textStatus:');
          	                console.log(textStatus);
          	                console.log('errorThrown:');
          	                console.log(errorThrown);
          	            },
          		});
      			}
      			/*]]>*/
              	</script>
              	<script type="text/javascript">
              		$(document).ready(function(){
              			loadTableTool();
              			$('#add-tool').click(function (){
											
              				//alert('asdopaisdpo');
              				//var data = $( "#toolform" ).serialize();
              				/*$.post("/api-tool/save",
              					    {
              							data:data,
              					    },
              					    function(data, status){
              					    	//$('#e-dbdId').val("");
              							loadTableTool();
              					       //alert("Data: " + data + "\nStatus: " + status);


              					    });*/
              				//var oOutput = document.querySelector("div"),
		              		    oData = new FormData();
              						oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
		              		    oData.append("toolName", $('#toolName').val());
		              		    oData.append("toolNameCatagory", $("#toolNameCatagory option:selected" ).val());
		              		    oData.append("toolSerial", $('#toolSerial').val());
		              		  	oData.append("toolBrand", $('#toolBrand').val());
		              		    oData.append("toolModel", $('#toolModel').val());
		              		    oData.append("manual", $('#toolModel').val());
		              		    var manualVal = 0;
		              		    var manual = document.getElementsByName('manual');

								for (var i = 0, length = manual.length; i < length; i++) {
								    if (manual[i].checked) {
								        // do whatever you want with the checked radio
								       // alert(radios[i].value);
										manualVal = 1;
								        // only one radio can be logically checked, don't check the rest
								        break;
								    }
								}

								oData.append("manual", manualVal);

								var FieldInspectionlVal = 0;
		              		    var FieldInspection = document.getElementsByName('FieldInspection');

								for (var i = 0, length = FieldInspection.length; i < length; i++) {
								    if (FieldInspection[i].checked) {
								        // do whatever you want with the checked radio
								       // alert(radios[i].value);
										FieldInspectionlVal = 1;
								        // only one radio can be logically checked, don't check the rest
								        break;
								    }
								}

								oData.append("FieldInspection", FieldInspectionlVal);
								oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
								oData.append("proprietary_document", $('#proprietary_document').prop('files')[0]);
								oData.append("calibrationToolExprie", $('#calibration_tool_expire').val());
								oData.append("calibration_tool", $('#calibration_tool').prop('files')[0]);
		              		    /*
		              		     oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
		              		    oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
		              		    oData.append("title", etitle);
		              		  	oData.append("firstname", $('#e-firstname').val());
		              		    oData.append("lastname", $('#e-lastname').val());
		              		    oData.append("e-idPerson", $('#e-idPerson').val());
		              		    oData.append("e-address", $('#e-address').val());

		              		// HTML file input, chosen by user
		              		oData.append("file_1", $('#fs10').prop('files')[0]);
		              		oData.append("file_2", $('#fs11').prop('files')[0]);
		              		oData.append("file_3", $('#fs12').prop('files')[0]);
		              		oData.append("file_4", $('#fs13').prop('files')[0]);

		              		    */
		              		// HTML file input, chosen by user
		              		//oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
		              		  var oReq = new XMLHttpRequest();
		              		  oReq.open("POST", "/api-tool/save", true);
		              		  oReq.onload = function(oEvent) {
		              		    if (oReq.status == 200) {
		              		      //oOutput.innerHTML = "Uploaded!";
		              		      //alert("Uploaded!");
														$('#toolNameCatagory').val("0")
														$('#toolName').val("0")
		              		    	$('#manual').val("");
														$('#FieldInspection').val("");
		              		    	$('#toolSerial').val("");
		              		    	$('#toolBrand').val("");
		              		    	$('#toolModel').val("");
		              		    	$('#toolPhotoImg').val("");
														$('#calibration_tool_expire').val("");
		              		      loadTableTool();
		              		    } else {
		              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
		              		    console.log("Error " + oReq.status + " occurred when trying to upload your file.");
		              		    alert("การอัพโหลดผิดพลาด");
		              		    }
		              		  };

		              		  oReq.send(oData);
		              		 // ev.preventDefault();
              			});

              		});

              	</script>
              	<script type="text/javascript">
              		function appendDatatoModal2(e){
              			//$('#e-company-name').val()

              			//alert(engineerId);

              			$("#edit-toolId").val($(e).attr('data-id'));
              			$("#edit-toolNameCat").val($(e).attr('data-toolnameCat'));
              			$("#edit-toolName").val($(e).attr('data-toolName'));
              			$("#edit-toolSerial").val($(e).attr('data-toolserial'));
              			$("#edit-toolBrand").val($(e).attr('data-toolbrand'));
              			$("#edit-toolModel").val($(e).attr('data-toolmodel'));
              			//$("#edit-type").val($(e).attr('data-lastname'));
              			$("#edit-company2").val($('#e-company-name').val());
										if($("#edit-toolNameCat").val() == 1){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
										$('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
										$('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
										$('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
										$('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
									}else if($("#edit-toolNameCat").val() == 2){
										$('#toolName').html("");
										$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
										$('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
										$('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
										$('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
										$('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
										$('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
										$('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
										$('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
									}else if($("#edit-toolNameCat").val() == 3){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
											$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
											$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
											$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
											$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
										}else if($("#edit-toolNameCat").val() == 4){
											$('#edit-toolName').html("");
											$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
											$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
											$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
										}
										$("#edit-toolName").val($(e).attr('data-toolname'));
              		}
              		function deleteTool(e){
              			 if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
              		       // txt = "You pressed OK!";
              				$.post("/api-tool/delete",
              					    {
              							id:$(e).attr('data-id'),
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					        //alert("Data: " + data + "\nStatus: " + status);
              					      if(data != 0){
              					    	  alert('ลบข้อมูลเรียบร้อย');
              					      }else{
              					    	  alert('ลบข้อมูลผิดพลาดกรุณาติดต่อเจ้าหน้าที่');
              					      }
              					      loadTableTool();
              					    });
              		    } else {
              		       // txt = "You pressed Cancel!";
              		    }

              		}
              		</script>
				  <hr>
              	<h3 class="title">บัญชีรายชื่อเครื่องมือ</h3>
              	<table id="table-tool" class="display" style="width: 100%;">
  <thead>
    <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
      <th>ชื่อเครื่องมือ</th>
      <!-- <th>รูป</th> -->
			<th>หมายเลขเครื่อง</th>
			<th>วันหมดอายุ</th>
      <th>ยี่ห้อ</th>
      <th>รุ่น</th>

      <!-- <th>บริษัท</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
					<div class="row text-right mt-20">
						<a id="prev-3" type="button" class="btn btn-custom-prev" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<a id="next-4" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>

				<!-- //#############################################################################- -->


        <div role="tabpanel" class="tab-pane fade" id="tap5">
          <h3 class="title">ส่วนที่ 5 : เอกสารหลักฐานที่ใช้ประกอบคำขอรับหนังสือรับรอง (สำหรับนิติบุคคล)</h3>
					<div class="form-horizontal striped">
						<div class="form-group">
							<div class="col-sm-12">
		                      	<input type="checkbox" name="ch3_1" id="c1">
		                        <label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
		                        <div id="s1" style="display: none;">
									<input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
								</div>
							</div>
						</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_2" id="c2">
							<label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน และสำเนาทะเบียนบ้านของผู้ลงนามในคำขอรับหนังสือรับรอง</label>
							<div id="s2" style="display: none;">
								<input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_3" id="c3">
							<label for="" class="control-label center">หนังสือมอบอำนาจ (ถ้ามี) พร้อมสำเนาบัตรประจำตัวประชาชนของผู้มอบอำนาจ และผู้รับอำนาจ</label>
							<div id="s3" style="display: none;">
								<input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_4" id="c4">
							<label for="" class="control-label center">สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมตามกฎหมายว่าด้วยวิศวกรของนิติบุคคลผู้ขอรับหนังสือรับรอง</label>
							<div id="s4" style="display: none;">
								<input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_5" id="c5">
							<label for="" class="control-label center">สำเนาสัญญาประกันภัยหรือกรมธรรม์ประกันภัย  ความรับผิดชอบตามกฎหมาย  เพื่อคุ้มครองต่อชีวิต  ร่างกายและทรัพย์สินของบุคคลอื่น</label>
							<div id="s5" style="display: none;">
								<input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">

							<label for="" class="control-label left"><input type="checkbox" name="ch3_6" id="c6"> บัญชีรายการเครื่องมือที่ใช้ในการทดสอบและตรวจสอบ พร้อมรูปถ่ายและเอกสารแสดงการได้มาซึ่งกรรมสิทธิ์หรือสิทธิครอบครอง ซึ่งเป็นไปตามข้อ 5 ของกฎกระทรวงกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมันพ.ศ. 2556</label>
							<div id="s6" style="display: none;">
								<input type="file" name="file_ch3_6" class="well well-sm" id="fs6">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">

							<label for="" class="control-label left"><input type="checkbox" name="ch3_7" id="c7"> บัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ พร้อมระบุคุณสมบัติและประสบการณ์ในการปฏิบัติงานของหัวหน้าวิศวกรทดสอบ วิศวกรทดสอบ ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม และผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมันตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมันและผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
							<div id="s7" style="display: none;">
								<input type="file" name="file_ch3_7" class="well well-sm" id="fs7">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_8" id="c8">
							<label for="" class="control-label center">สำเนาหนังสือรับรองเป็นผู้ทดสอบและตรวจสอบ (กรณีต่ออายุ)</label>
							<div id="s8" style="display: none;">
								<input type="file" name="file_ch3_8" class="well well-sm" id="fs8">
							</div>
						</div>
					</div><br/>
					<div class="form-group">
						<div class="col-sm-12">
	                      	<input type="checkbox" name="ch3_9" id="c9">
	                        <label for="" class="control-label center">อื่นๆ   (ถ้ามี)</label>
							<div id="s9" style="display: none;">
								<input type="text" class="form-control edit"  name="text_ch3_9" value="" id="vs9"><br>
								<input type="file" name="file_ch3_9" class="well well-sm" id="fs9">
							</div>
						</div>
					</div>
				</div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-4" type="button" class="btn btn-custom-prev" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ย้อนกลับ</a>
           <!--   <a id="next-5" type="button" class="btn btn-custom-next" href="#tap6" aria-controls="tab6" role="tab" data-toggle="tab">ถัดไป</a>-->

              <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">

			<input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">

		<input type="submit"class="btn btn-custom-confirm" value="บันทึก" />
          </div>
        </div>

      <!--  <div role="tabpanel" class="tab-pane fade " id="tap6">
          <h3 class="title">ส่วนที่ 6 : เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ</h3>
			<div class="form-horizontal striped">
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_1" id="c10">
                        <label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน</label>
                        <div id="s10" style="display: none;">
							<input type="file" name="file_ch4_1" class="well well-sm" id="fs10">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_2" id="c11">
                        <label for="" class="control-label center">สำเนาหนังสือเดินทาง (กรณีบุคคลต่างด้าว)</label>
                        <div id="s11" style="display: none;">
							<input type="file" name="file_ch4_2" class="well well-sm" id="fs11">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_3" id="c12">
                        <label for="" class="control-label center">สำเนาทะเบียนบ้าน</label>
                        <div id="s12" style="display: none;">
							<input type="file" name="file_ch4_3" class="well well-sm" id="fs12">
						</div>
					</div>
				</div>
<!-- เริ่มตัวอย่างการดึงไฟล์กลับออกมาแสดง -->
				<!-- <div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_4" id="c13" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_4']} : ''" th:checked="${file!=''}" >
                        <label for="" class="control-label center">สำเนาใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม</label>
                        <div id="s13" style="display: none;">
							<input type="file" name="file_ch4_4" class="well well-sm" id="fs13">
						</div>
						<a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
	                    	<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
	                    </a>
					</div>
				</div>
<!-- จบตัวอย่างการดึงไฟล์กลับออกมาแสดง -->
				<!-- <div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
							<input type="checkbox" name="ch4_5" id="c14">
							หนังสือรับรองว่าเป็นผู้มีความรู้ ความชำนาญ และประสบการณ์ในการปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน (กรณีขอใหม่)</label>
                        <div id="s14" style="display: none;">
							<input type="file" name="file_ch4_5" class="well well-sm" id="fs14">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_6" id="c15">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s15" style="display: none;">
							<input type="file" name="file_ch4_6" class="well well-sm" id="fs15">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_7" id="c16">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมัน ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s16" style="display: none;">
							<input type="file" name="file_ch4_7" class="well well-sm" id="fs16">
						</div>
					</div>
				</div>
			</div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-5" type="button" class="btn btn-custom-prev" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">

			<input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">

		<input type="submit"class="btn btn-custom-confirm" value="บันทึก" />
          </div>
        </div> -->
      </div>
	</form>
  </div>
<div th:replace="common-officer/footer :: common-footer">



</body>


<!-- <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script> -->


<script type="text/javascript">
$(document).ready(function () {

	$('#sDatePermit').datepicker({
			format : 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
	});

	$('#sDatePermitExpire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});

	$('#calibration_tool_expire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});

	//---------------------------------------------------------------
  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#next-4").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-5").addClass('active');
  });
  $("#next-5").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-6").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
   $("#prev-4").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-4").addClass('active');
  });
   $("#prev-5").click(function() {
    $("#nav-6").removeClass('active');
    $("#nav-5").addClass('active');
  });

});


//------------------------------------------------
	$('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$("#fs1").prop('',true);
        }else {
        	$('#s1').css('display','none');
        	$("#fs1").prop('',false);
        }
	});
	$('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$("#fs2").prop('',true);
        }else {
        	$('#s2').css('display','none');
        	$("#fs2").prop('',false);
        }
	});
	$('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$("#fs3").prop('',true);
        }else {
        	$('#s3').css('display','none');
        	$("#fs3").prop('',false);
        }
	});
	$('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$("#fs4").prop('',true);
        }else {
        	$('#s4').css('display','none');
        	$("#fs4").prop('',false);
        }
	});
	$('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$("#fs5").prop('',true);
        }else {
        	$('#s5').css('display','none');
        	$("#fs5").prop('',false);
        }
	});
	$('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$("#fs6").prop('',true);
        }else {
        	$('#s6').css('display','none');
        	$("#fs6").prop('',false);
        }
	});
	$('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$("#fs7").prop('',true);
        }else {
        	$('#s7').css('display','none');
        	$("#fs7").prop('',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('',false);
        }
	});
	$('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('',false);
        }
      });


	$('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$("#fs10").prop('',true);
        }else {
        	$('#s10').css('display','none');
        	$("#fs10").prop('',false);
        }
	});
	$('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$("#fs11").prop('',true);
        }else {
        	$('#s11').css('display','none');
        	$("#fs11").prop('',false);
        }
	});
	$('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        	$("#fs12").prop('',true);
        }else {
        	$('#s12').css('display','none');
        	$("#fs12").prop('',false);
        }
	});
	$('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        	$("#fs13").prop('',true);
        }else {
        	$('#s13').css('display','none');
        	$("#fs13").prop('',false);
        }
	});
	$('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        	$("#fs14").prop('',true);
        }else {
        	$('#s14').css('display','none');
        	$("#fs14").prop('',false);
        }
	});
	$('#c15').change(function() {
        if($(this).is(":checked")) {
        	$('#s15').css('display','block');
        	$("#fs15").prop('',true);
        }else {
        	$('#s15').css('display','none');
        	$("#fs15").prop('',false);
        }
	});
	$('#c16').change(function() {
        if($(this).is(":checked")) {
        	$('#s16').css('display','block');
        	$("#fs16").prop('',true);
        }else {
        	$('#s16').css('display','none');
        	$("#fs16").prop('',false);
        }
	});
	$('#bla_attorney').change(function() {
    if($(this).val() == "226") {
      $("#section-title").css("display","block")
      $("#sTitleNameEtc").focus()
    } else {
      $("#section-title").css("display","none")
    }
  });
	$('#bla').change(function() {
    if($(this).val() == "226") {
      $("#section-title2").css("display","block")
      $("#sTitleNameEtc2").focus()
    } else {
      $("#section-title2").css("display","none")
    }
  });
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +(year+543) ;


document.getElementById('theDate').value = today;
</script>
<script>
// function getAmphur(val) {
// 	console.log("asdf")

// 	$('#amphurId').html('');
// 	$('#districtId').html('');
// 	$('#zipcodeId').val('');

// 	$('#amphurId').append('<option value="">- เลือก -</option>');
// 	$('#districtId').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


/*function getTambon(val) {

	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}
*/
function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>

<script>
function getAmphur2(val) {

  $('#area_recipients').html('');
  $('#district_recipients').html('');
  $('#postcode_recipients').val('');

  $('#area_recipients').append('<option value="">- เลือก -</option>');
  $('#province_recipients').append('<option value="">- เลือก -</option>');

  $.ajax({
  type: "POST",
  url: "/api/amphur",
  data:'provinceId='+val,
  success: function(data){
    $.each(data, function (index, value) {
            $('#area_recipients').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
  }
  });
}


function getTambon2(val) {
  $.ajax({
  type: "POST",
  url: "/api/tambon",
  data:'amphurId='+val,
  success: function(data){
    $.each(data, function (index, value) {
            $('#district_recipients').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
  }
  });
}

function getZipcode2(val) {
  $.ajax({
  type: "POST",
  url: "/api/zipcode",
  data:'districtId='+val,
  success: function(data){
    $.each(data, function (index, value) {
            $('#postcode_recipients').val(value.zipcode);
        });
  }
  });
}

</script>

<script>
	$(document).ready(function() {
		if($('#provinceId_attorney option:selected').val() != "" ){
			getAmphurAttorney($('#provinceId_attorney').val());
			console.log("provinceId_attorney X : "+$('#provinceId_attorney').val());
		 }
	});
function getAmphurAttorney(val) {

  $('#amphurId_attorney').html('');
  $('#districtId_attorney').html('');
  $('#zipcodeId_attorney').val('');

  $('#amphurId_attorney').append('<option value="">- เลือก -</option>');
  $('#districtId_attorney').append('<option value="">- เลือก -</option>');
	
  $.ajax({
  type: "POST",
  url: "/api/amphur",
  data:'provinceId='+val,
  success: function(data){
		var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphurId_attorney']} : '']]";
		var s="";
    $.each(data, function (index, value) {
			s="";
				if(amphurId_selected == value.amphurId ) {
					console.log(value.amphurId)
					s=" selected ";
					if($('#dataedit').val('')){
						getTambonAttorney(value.amphurId);
					}
				}
            $('#amphurId_attorney').append('<option value="' + value.amphurId + '"'+ s +'>' + value.amphurName + '</option>');
        });
  }
  });
}


function getTambonAttorney(val) {
	$('#districtId_attorney').html('');
  $('#zipcodeId_attorney').val('');
  $('#districtId_attorney').append('<option value="">- เลือก -</option>');
  $.ajax({
  type: "POST",
  url: "/api/tambon",
  data:'amphurId='+val,
  success: function(data){
		var districtId_selected = "[[${entryMap != null} ? ${entryMap['districtId_attorney']} : '']]";
		var s="";
    $.each(data, function (index, value) {
			s="";
			if(districtId_selected == value.districtId ) {
				s=" selected ";
				if($('#dataedit').val('')) {
					getZipcodeAttorney(value.districtId);
				}
			}
            $('#districtId_attorney').append('<option value="' + value.districtId + '"'+ s +'>' + value.districtName + '</option>');
        });
  }
  });
}

function getZipcodeAttorney(val) {
  $.ajax({
  type: "POST",
  url: "/api/zipcode",
  data:'districtId='+val,
  success: function(data){
    $.each(data, function (index, value) {
            $('#zipcodeId_attorney').val(value.zipcode);
        });
  }
  });
}

</script>

<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>

</html>
