<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container">

     <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอใบรับรองหรือขอต่ออายุใบรับรอง</u></h3>
    	<h3 class="text-center"><u>เป็นวิศวกรทดสอบและตรวจสอบ</u></h3>
    	<h3 class="text-center"><u>ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right"> <h2 class="text-right">สธช./ข.๒/๑</h2></div>
	</div>



       <form action="#" th:action="@{/onestop/form/submission}" method="post"  class="form-inline mt-20"  enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_engineer" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน" th:value="${entryMap != null} ? ${entryMap['write_engineer']} : 'กรมธุรกิจพลังงาน'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>

              	<input type="date" id="theDate"  name="" class="form-control edit form-control edit-edit"  disabled>
              </div>
            </div>
          </div>
        </div>

      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 20px 0px;">1 ข้อมูลเกี่ยวกับ ผู้ยื่นคำขออนุมัติ</a>
        </li>


        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 ข้อมูลเกี่ยวกับผู้ขอรับหนังสือรับรอง </a>
        </li>

        <li role="presentation" class="tab-edit" id="nav-3">
          <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ผู้ปฏิบัติงานทดสอบและตรวจสอบ <br /> &nbsp; </a>
        </li>

				<li role="presentation" class="tab-edit" id="nav-4">
          <a href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 17px 0px;">4 บัญชีเครื่องมือ <br /> &nbsp; </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
              <h3 class="title">ส่วนที่ 1 : ข้อมูลเกี่ยวกับผู้ยืนคำขอ</h3>
              <h4 class="title">1. ผู้ยื่นคำขอ</h4>

                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="bla" id="bla" class="form-control edit">
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="inputPassword3" class="col-sm-4 control-label">อายุ</label>

                          <input type="text" class="form-control edit" id="inputPassword3" name="age_engineer"  th:value="${entryMap != null} ? ${entryMap['age_engineer']} : ''">
   				</div>
                  </div>

              <br>
              <br>
               <h4 class="title">2. ความประสงค์ขอใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ</h4>

                   <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="requestTypeId" id="requestTypeId" value="" th:value="${requestTypeId}" checked>
                      	<input type="hidden" name="requestName" id="requestName" value="" th:value="${requestName}"/>
                        <label for="" class="control-label center" th:text="${requestTypeName + ' ' + requestName}"></label>
                        <div id="s1" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose1" value="" id="vs1"><br>
                        <input type="file" name="file_purpose1" class="well well-sm" id="fs1">
                       </div>
                      </div>
                  </div>

              </div>
              <br>
              <h4 class="title">2. ที่ตั้งสานักงาน</h4>

             <div class="form-group" style="width: 98%;">
              	 <div class="col-sm-12">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label><br/>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''" style="width: 100%;">
                  </div>
             </div>

             <div class="form-group">

                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" style="width: 100%;" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  </div>

              	<div class="form-group" style="width: 100%;">

                  <div class="col-sm-3">
                  <input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
                    <label for="" class="control-label right">จังหวัด</label><br/>
                    	<select style="width: 100%;" name="province_service" th:field="*{company.provinceId}"  id="province_service" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==company.provinceId}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label><br/>
                    	<select style="width: 100%;" name="amphur_service" id="amphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label><br/>
                    	<select style="width: 100%;" name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label><br/>
                     <input type="text" class="form-control edit" id="zipcode_service" placeholder="" name="zipcode_service" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
                  </div>
              </div>
              <div class="form-group" style="width: 100%;">

                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" style="width: 100%;" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" style="width: 100%;" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>

                   <div class="col-sm-6">
                    <label for="" class="control-label right">E-mail</label><br/>
                    <input type="text" style="width: 100%;" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                  </div>
              </div>
              <br>
               <br>
              <div class="form-horizontal">
                  <div class="form-group">
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ขอรับรองว่าข้าพเจ้ามีคุณสมบัติครบถ้วน ตามประกาศกรมธุรกิจพลังงาน เรื่อง การขึ้น
						ทะเบียนวิศวกรออกแบบและการออกใบรับรองวิศวกรทดสอบและตรวจสอบ พ.ศ. ๒๕๕๐ ประกาศ ณ
						วันที่ ๗ พฤศจิกายน พ.ศ. ๒๕๕๐ </p>
                  </div>
              </div>

          <br>


            <hr>
            <div class="row text-right mt-20">
              <a id="prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>



	<!-- //#############################################################################- -->
				<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิศวกร</h2>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      <div class="form-group">
		      <div class="col-sm-3">
		      		<label>เลขวิศวกร</label><br/>
			      	<input type="hidden" name="engineerIdOriginal" id="engineerIdOriginal" value="">
			      	<input type="text" class="form-control" name="edit-engineerId" id="edit-engineerId" value="" >
		      </div> <div class="col-sm-3">
		      		<label>คำนำหน้า</label><br/>
			      	<!-- <input type="text" class="form-control" name="edit-title" id="edit-title" value="" >  -->
			      	<select name="edit-title" id="edit-title" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
		      </div>
		      <div class="col-sm-3">
		      		<label>ชื่อ</label><br/>
			      	<input type="text" class="form-control" name="edit-firstname" id="edit-firstname" value="" >
		      </div>
		       <div class="col-sm-3">
		      		<label>นามสกุล</label><br/>
			      	<input type="text" class="form-control" name="edit-lastname" id="edit-lastname" value="" >
		      </div>
		       <div class="col-sm-12">
		      		<label>ตำแหน่ง</label><br/>
			      	<!-- <input type="text" class="form-control" name="edit-type" id="edit-type" value=""> -->
			      	 <select id="edit-type" name="edit-type" class="form-control edit" style=" width: 100%;" >
                     				<option value="0">- เลือก -</option>
									<option value="หัวหน้าวิศวกรทดสอบ">หัวหน้าวิศวกรทดสอบ</option>
									<option value="วิศวกรทดสอบ">วิศวกรทดสอบ</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3</option>
									<option value="ผู้ชำนาญการทดสอบถังเก็บน้ำมัน">ผู้ชำนาญการทดสอบถังเก็บน้ำมัน</option>
                     	 </select>
		      </div>
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="button" class="btn btn-primary" id="updateEngineerBtn">บันทึก</button>
		      </div>
		      <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaIdXSA" name="formMetaIdASA" value="0" th:value="${formMetaId}">

		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateEngineerBtn').click(function (){
        				//alert('asdopaisdpo');
        				$.post("/api-engineer/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	 $('#exampleModalCenter').modal('hide');
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล, หรือติดต่อเจ้าหน้าที่");
        					        }
        					    });
        			});

        		});
		      </script>
		    </div>
		  </div>
		</div>

				<div role="tabpanel" class="tab-pane fade" id="tap3">
				  <h3 class="title">ส่วนที่ 3 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
					<div class="form-horizontal">
					<input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
					<input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
              <div class="form-group">
              	 <div class="col-sm-3">
                     <label for="formDescription" class="control-label center">เลขทะเบียน</label>
										 <input type="text" class="form-control edit" id="e-engineerId" name="engineerId" >
                  </div>
              	 <div class="col-sm-3">
                     <label for="formDescription" class="control-label center">วันอนุญาต</label>
										 <input type="text" class="form-control edit" id="sDatePermit" name="sDatePermit" >
                  </div>
              	 <div class="col-sm-3">
                     <label for="formDescription" class="control-label center">บัตรหมดอายุ</label>
										 <input type="text" class="form-control edit" id="sDatePermitExpire" name="sDatePermitExpire" >
                  </div>
              	 <div class="col-sm-3">
                     <label for="formDescription" class="control-label center">ตำแหน่ง</label>
										 <!-- <input type="text" class="form-control edit" id="e-engineerId" name="engineerId" > -->
						 <select id="e-engineerType" name="e-engineerType" class="form-control edit" style=" width: 100%;" >
                     				<option value="0">- เลือก -</option>
									<option value="หัวหน้าวิศวกรทดสอบ">หัวหน้าวิศวกรทดสอบ</option>
									<option value="วิศวกรทดสอบ">วิศวกรทดสอบ</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3</option>
									<option value="ผู้ชำนาญการทดสอบถังเก็บน้ำมัน">ผู้ชำนาญการทดสอบถังเก็บน้ำมัน</option>
                     	 </select>
                  </div>
              	 <div class="col-sm-3">

                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="e-title" id="e-title" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
                     </div>
              	 <div class="col-sm-3">
                    <label for="formDescription" class="control-label center">ชื่อ&nbsp;&nbsp;</label>
										<input type="text" class="form-control edit" id="e-firstname" name="firstname" >
                      </div>
              	 <div class="col-sm-3">
                   <label for="formDescription" class="control-label center">นามสกุล</label>
									 <input type="text" class="form-control edit" id="e-lastname" name="lastname" >
                 </div>
              	 <div class="col-sm-3">
                   <label for="formDescription" class="control-label center">เลขประจำตัวประชาชน</label>
									 <input type="text" class="form-control edit idPerson" id="e-idPerson" name="lastname" maxlength="17">
                 </div>
							 </div>
	 			<div class="row">
              	 <div class="col-sm-12">
                   <label for="formDescription" class="control-label center">ที่อยู่</label><br/>
									 <input style="width:100%;" type="text" class="form-control edit" id="e-address" name="lastname" >
                 </div>
                 </div>
                 <div class="row">


					<div class="col-sm-12">
					<h3><u>เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ</u></h3>
                      	<input type="checkbox" name="ch4_1" id="c10">
                        <label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน</label>
                        <div id="s10" style="display: none;">
							<input type="file" name="file_ch4_1" class="well well-sm" id="fs10">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_2" id="c11">
                        <label for="" class="control-label center">สำเนาหนังสือเดินทาง (กรณีบุคคลต่างด้าว)</label>
                        <div id="s11" style="display: none;">
							<input type="file" name="file_ch4_2" class="well well-sm" id="fs11">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_3" id="c12">
                        <label for="" class="control-label center">สำเนาทะเบียนบ้าน</label>
                        <div id="s12" style="display: none;">
							<input type="file" name="file_ch4_3" class="well well-sm" id="fs12">
						</div>
					</div>
				</div>
<!-- เริ่มตัวอย่างการดึงไฟล์กลับออกมาแสดง -->
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_4" id="c13" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_4']} : ''">
                        <label for="" class="control-label center">สำเนาใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม</label>
                        <div id="s13" style="display: none;">
							<input type="file" name="file_ch4_4" class="well well-sm" id="fs13">
						</div>

					</div>
				</div>
<!-- จบตัวอย่างการดึงไฟล์กลับออกมาแสดง -->
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
							<input type="checkbox" name="ch4_5" id="c14">
							หนังสือรับรองว่าเป็นผู้มีความรู้ ความชำนาญ และประสบการณ์ในการปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน (กรณีขอใหม่)</label>
                        <div id="s14" style="display: none;">
							<input type="file" name="file_ch4_5" class="well well-sm" id="fs14">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_6" id="c15">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s15" style="display: none;">
							<input type="file" name="file_ch4_6" class="well well-sm" id="fs15">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_7" id="c16">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมัน ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s16" style="display: none;">
							<input type="file" name="file_ch4_7" class="well well-sm" id="fs16">
						</div>
					</div>
					<div class="col-sm-3">
						<label for="formDescription" class="control-label center"></label><br/>
                   		<a id="add-engineer" type="button" class="btn btn-custom-next">เพิ่ม</a>
                 	</div>
              	</div>

              		<script type="text/javascript">

              		(function($, undefined) {

              		    "use strict";
              		  $( ".idPerson" ).on( "keyup", function( event ) {


                          // When user select text in the document, also abort.
                          var selection = window.getSelection().toString();
                          if ( selection !== '' ) {
                              return;
                          }

                          // When the arrow keys are pressed, abort.
                          if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                              return;
                          }

                          var $this = $(this);
                          var input = $this.val();
                                  //input = input.replace(/[\W\s\._\-]+/g, '');
                                  input = input.replace(/[\D\s\._\-]+/g, "");
                                  //input = input ? parseInt( input, 10 ) : 0;
                               if(input.length > 13){
              	               return;
              	             }
                              var split = 4;
                              var chunk = [];

                              for (var i = 0, len = input.length; i < len; i += split) {
                              //split = 0;
                              if(i >= 0 && i < 1){
                              split = 1;
                              // console.log("SplitA:"+input.substr( i, split ));

                              }else if(i >= 1 && i <= 4){
                              	split = 4;
                              	// console.log("SplitB:"+input.substr( i, split ));
                              }else if(i > 4 && i <= 9){
                              	split = 5;
                              	// console.log("SplitC:"+input.substr( i, split ));
                              }else if(i > 9 &&  i <= 11){
                              	split = 2;
                              	// console.log("SplitD:"+input.substr( i, split ));
                              }else if(i > 11 ){
                                	split = 1;
                                  	// console.log("SplitD:"+input.substr( i, split ));
                                  }

                                  //split = ( i >= 8 && i <= 16 ) ? 4 : 8;
                                  chunk.push( input.substr( i, split ) );
                              }
                              /*
                              var input = $this.val();

                          var input = input.replace(/[\D\s\._\-]+/g, "");
                                  input = input ? parseInt( input, 10 ) : 0;

                                  $this.val( function() {
                                      return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                                  } );
                              */

                              $this.val(function() {
                                  //return ( input == 0 ) ? "" :chunk.join("-");
                                  //console.log(chunk);
                                    return chunk.join("-");
                                    //return str_return;
                              });

                      } );

              		})(jQuery);
              		</script>



              	<script type="text/javascript">
              	function loadTableEngineer(){
              	$('#table-engineer').dataTable({
              					"bDestroy": true,
								"bSort" : false,
								"language": {
                    "search": "ค้นหา :",
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          }).fnClearTable();

              		var cn = $('#e-company-name').val();
              		//alert($('#e-dbdId').val());
      				$.ajax({
          				type: "POST",
          				url: "/api-engineer/list",
          				data:'dbdId='+$('#e-dbdId').val(),
          				success: function(data){
          					var content = "";
          					$.each(data, function (index, value) {
          						/*content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          			            content += '<td>'+value.engineerId+'</td>';
          			            content += '<td>'+value.titleName.abbreviation+'</td>';
          			            content += '<td>'+value.firstname+'</td>';
          			            content += '<td>'+value.lastname+'</td>';
          			            content += '<td>'+value.type+'</td>';
          			            content += '<td>'+value.expireDate+'</td>';
          			            content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" onclick="appendDatatoModal(this)">แก้ไข</a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)">ลบ</a></td>';
          			            content += '</tr>';
          			         */
          			           // $('#zipcodeId').val(value.zipcode);
          			           console.log(value);
          			            $('#table-engineer').dataTable().fnAddData( [
                                value.engineerId,
                                value.titleName.abbreviation,
                                value.firstname,
                                value.lastname,
                                value.type,
                                value.expireDate,
                            '<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.id+'" data-id-engineer="'+value.engineerId+'" data-title="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" onclick="appendDatatoModal(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)"><i class="glyphicon glyphicon-trash"></i></a>' ]
                        );
          			        });
          					// $('#table-engineer tbody').html(content);
          				/*	$('#table-engineer').DataTable({
          					"bDestroy": true,
								"bSort" : false,
								"language": {
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          });*/
          					//var para = document.createRange().createContextualFragment(content);
          					// $('#table-engineer tbody').appendChild(para);
          				},
          				error: function(jqXHR, textStatus, errorThrown) {
          	               // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

          	                //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
          	                console.log('jqXHR:');
          	                console.log(jqXHR);
          	                console.log('textStatus:');
          	                console.log(textStatus);
          	                console.log('errorThrown:');
          	                console.log(errorThrown);
          	            },
          		});
      			}
              	</script>
              	<script type="text/javascript">
              		$(document).ready(function(){
              			loadTableEngineer();
              			$('#add-engineer').click(function (){
              				//var etitle = $('#e-title').find(":selected").text();
              				var etitle = $( "#e-title option:selected" ).val();
              				var eengineerType = $( "#e-engineerType option:selected" ).val();
              				//alert('asdopaisdpo');
              				console.log("eengineerType: "+eengineerType);
              				console.log("#e-engineerType option:selected: "+ $( "#e-engineerType option:selected" ).val());
              				/* $.post("/api-engineer/save",
              					    {
              							dbdId:$('#e-dbdId').val(),
              							engineerId:$('engineerId').val(),
              							title:etitle,
              							firstname:$('#e-firstname').val(),
              							lastname:$('#e-lastname').val(),
              							type:eengineerType,
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					    	//$('#e-dbdId').val("");
              							$('#e-engineerId').val("");
              							$('#e-title').val("");
              							$('#e-firstname').val("");
              							$('#e-lastname').val("");
              							$('#e-type').val("");
              							loadTableEngineer();
              					       //alert("Data: " + data + "\nStatus: " + status);


              					    }); */
              					oData = new FormData();
              					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
		              		    oData.append("engineerId", $('#e-engineerId').val());
		              		    oData.append("sDatePermit", $('#sDatePermit').val());
		              		    oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
		              		    oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
		              		    oData.append("title", etitle);
		              		  	oData.append("firstname", $('#e-firstname').val());
		              		    oData.append("lastname", $('#e-lastname').val());
		              		    oData.append("e-idPerson", $('#e-idPerson').val());
		              		    oData.append("e-address", $('#e-address').val());

		              		// HTML file input, chosen by user
		              		oData.append("file_1", $('#fs10').prop('files')[0]);
		              		oData.append("file_2", $('#fs11').prop('files')[0]);
		              		oData.append("file_3", $('#fs12').prop('files')[0]);
		              		oData.append("file_4", $('#fs13').prop('files')[0]);
		              		oData.append("file_5", $('#fs14').prop('files')[0]);
		              		oData.append("file_6", $('#fs15').prop('files')[0]);
		              		oData.append("file_7", $('#fs16').prop('files')[0]);
		              		  var oReq = new XMLHttpRequest();
		              		  oReq.open("POST", "/api-engineer/save", true);
		              		  oReq.onload = function(oEvent) {
		              		    if (oReq.status == 200) {
		              		      //oOutput.innerHTML = "Uploaded!";
		              		      //alert("Uploaded!");
		              		    	$( "#e-engineerType option:selected" ).val("0");
		              		    	$('#engineerId').val("");
		              		    	$('#e-firstname').val("");
		              		    	$('#e-lastname').val("");
		              		    	//$('#toolPhotoImg').val("");
		              		      loadTableEngineer();
		              		    } else {
		              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
		              		    console.log("Error " + oReq.status + " occurred when trying to upload your file.");
		              		    alert("การอัปโหลดผิดพลาด");
		              		    }
		              		  };

		              		  oReq.send(oData);

              			});

              		});

              	</script>

              		<script type="text/javascript">
              		function appendDatatoModal(e){
              		console.log("This function appendDatatoModal");
              			var engineerId = $(e).attr('data-id-engineer');
              			//$('#e-company-name').val()

              			//alert(engineerId);

              			$("#engineerIdOriginal").val($(e).attr('data-id'));
              			$("#edit-engineerId").val(engineerId);
              			//$("#edit-title").val($(e).attr('data-title'));
              			$( "#edit-title" ).val($(e).attr('data-title'));
              			$("#edit-firstname").val($(e).attr('data-firstname'));
              			$("#edit-lastname").val($(e).attr('data-lastname'));
              			$("#edit-type").val($(e).attr('data-type'));
              			$("#edit-company").val($('#e-company-name').val());
              		}
              		function deleteEngineer(e){
              			 if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
              		       // txt = "You pressed OK!";
              				$.post("/api-engineer/delete",
              					    {
              							id:$(e).attr('data-id'),
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					        //alert("Data: " + data + "\nStatus: " + status);
              					      if(data != 0){
              					    	  alert('ลบข้อมูลเรียบร้อย');
              					      }else{
              					    	  alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
              					      }
              					      loadTableEngineer();
              					    });
              		    } else {
              		       // txt = "You pressed Cancel!";
              		    }

              		}
              		</script>
              	<hr/>
              	<h3 class="title">ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
              	<table id="table-engineer" class="display" style="width: 100%;">
  <thead>
    <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
      <th>เลขทะเบียน</th>
      <th>คำนำหน้า</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>ตำแหน่ง</th>
      <th>บัตรหมดอายุ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <!-- <tr th:each="f : ${lEngineer}" style=" height: 60px; border-bottom: 1px solid #adadad;">
      <td th:text="${f.engineerId}"></td>
      <td th:text="${f.titleName.abbreviation}"></td>
      <td th:text="${f.firstname}"></td>
      <td th:text="${f.lastname}"></td>
      <td th:text="${f.type}"></td>
      <td th:text="${f.company.companyName}"></td>
      <td>[<a href="#" th:href="@{|/engineer/view/${f.engineerId}|}">Edit</a>]  [<a href="#" th:href="@{|/engineer/meta/${f.engineerId}|}">Meta</a>] </td>
    </tr>  -->
  </tbody>
</table>
              </div>
				  <hr>
					<div class="row text-right mt-20">
						<a id="prev-3" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" >ย้อนกลับ</a>
						<a id="next-4" type="button" class="btn btn-custom-next" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>




        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานแนบท้ายแบบ สธช./ข.๒/๑</h3>
                          <div class="form-horizontal">
        <div class="form-group">

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer1" id="Fa1" value="0">  ๑. ภาพถ่ายบัตรประจำตัวประชาชนและสำเนาทะเบียนบ้านของผู้มีอำนาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอานาจจากนิติบุคคล พร้อมหนังสือแสดงว่าเป็นผู้ได้รับมอบอานาจจากนิติบุคคล
            <div id="s1" style="display: none;">
              <input type="file" name="file_engineer1" class="well well-sm" id="fs1">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer1" id="Fa2" value="0">
            ๒. ภาพถ่ายหลักฐานการจดทะเบียนและรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการหรือหุ้นส่วน
            <div id="s2" style="display: none;">
              <input type="file" name="file_engineer2" class="well well-sm" id="fs2">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer3" id="Fa3" value="0">
            ๓. ภาพถ่ายหลักฐานการจดทะเบียน การมีเงินทุน และรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการ หรือหุ้นส่วน
            <div id="s3" style="display: none;">
              <input type="file" name="file_engineer3" class="well well-sm" id="fs3">
            </div>
          </div>

          <div class="col-sm-12">

            <input type="checkbox" name="check_engineer4" id="Fa4" value="0"> ๔. หลักฐานการถูกสั่งพักใช้ใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกสั่งพักใบรับรอง)
            <div id="s4" style="display: none;">
              <input type="file" name="file_engineer4" class="well well-sm" id="fs4">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer5" id="Fa5" value="0">
            ๕. หลักฐานการถูกสั่งเพิกถอนใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกเพิกถอนใบรับรอง)
            <div id="s5" style="display: none;">
              <input type="file" name="file_engineer5" class="well well-sm" id="fs5">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer6" id="Fa6" value="0">
            ๖. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สำนักงาน
            <div id="s6" style="display: none;">
              <input type="file" name="file_engineer6" class="well well-sm" id="fs6">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer7" id="Fa7" value="0">
            ๗. ภาพถ่ายตราสำคัญสำหรับใช้ประทับเอกสารประกอบยื่นคำขอฯ
            <div id="s7" style="display: none;">
              <input type="file" name="file_engineer7" class="well well-sm" id="fs7">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer8" id="Fa8" value="0">
           ๘. ภาพถ่ายเครื่องหมายทดสอบและตรวจสอบประกอบยื่นคำขอฯ จำนวน ๓ ชุด
            <div id="s8" style="display: none;">
              <input type="file" name="file_engineer8_1" class="well well-sm" id="fs8"><br>
              <input type="file" name="file_engineer8_2" class="well well-sm" id="fs8"><br>
              <input type="file" name="file_engineer8_3" class="well well-sm" id="fs8">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer9" id="Fa9" value="0">
              ๙. ภาพถ่ายหลักฐานการทำประกันภัยประเภทอุบัติภัยในช่วงที่ทำการทดสอบและตรวจสอบ เพื่อคุ้มครองต่อชีวิตและร่างกายของบุคคลอื่น รวมทั้งคุ้มครองความเสียหายในทรัพย์สินของบุคคลอื่น
            <div id="s9" style="display: none;">
              <input type="file" name="file_engineer9" class="well well-sm" id="fs9">
            </div>
          </div>

            <div class="col-sm-12">
            <input type="checkbox" name="check_engineer10" id="Fa10" value="0">
             ๑๐. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือทดสอบและตรวจสอบ พร้อมใบรับรองการตรวจสอบความเที่ยงตรงตามมาตรฐานสากลและตามระยะเวลาที่กำหนด
            <div id="s10" style="display: none;">
              <input type="file" name="file_engineer10" class="well well-sm" id="fs10">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="" id="Fa11">
            ๑๑. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของพนักงานที่ทำงานทดสอบและตรวจสอบ ประเภทรับเงินเดือนประจำและประเภทจ้างเป็นครั้งคราว ดังนี้
            <div id="s11" style="display: none;">
            <input type="checkbox" name="check_engineer11_1" id="Fa11" value="0">
              <label for="" class="control-label center">(๑) ผู้ควบคุมการทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer11_1" class="well well-sm" id="fs11"><br>
              <input type="checkbox" name="check_engineer11_2" id="Fa11" value="0">
              <label for="" class="control-label center">(๒) ผู้ทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer11_2" class="well well-sm" id="fs11"><br>
              <input type="checkbox" name="check_engineer11_3" id="Fa11" value="0">
              <label for="" class="control-label center">(๓) ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม</label>
              <input type="file" name="file_engineer11_3" class="well well-sm" id="fs11"><br>
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="" id="Fa12">
             ๑๒. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของผู้ควบคุมในการทดสอบและตรวจสอบ ซึ่งปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบที่เป็นลูกจ้างประจำและปฏิบัติงานเพียงแห่งเดียว ดังนี้
            <div id="s12" style="display: none;">
            <input type="checkbox" name="check_engineer12_1" id="Fa11" value="0">
              <label for="" class="control-label center">(๑) ผู้ควบคุมการทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer12_1" class="well well-sm" id="fs12"><br>
              <input type="checkbox" name="check_engineer12_2" id="Fa11" value="0">
              <label for="" class="control-label center">(๒) ผู้ทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer12_2" class="well well-sm" id="fs12"><br>
              <input type="checkbox" name="check_engineer12_3" id="Fa11" value="0">
              <label for="" class="control-label center">(๓) ผู้ชานาญการทดสอบกรรมวิธีไม่ทาลายสภาพเดิม</label>
              <input type="file" name="file_engineer12_3" class="well well-sm" id="fs12"><br>
            </div>
          </div>



        </div>
      </div>
          <hr>
          <div class="row text-right mt-20">

            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab2" role="tab" data-toggle="tab" >ย้อนกลับ</a>
            <a id="next-3" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>

          </div>
        </div>


				<div role="tabpanel" class="tab-pane fade" id="tap4">
            <h3 class="title">ส่วนที่ 4 : บัญชีชื่อเครื่องมือ</h3>
            <input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
            <input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
            <!-- modal2 -->
		<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อเครื่องมือ</h2>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form onSubmit="return false;">
		      <div class="modal-body">
		      <div class="form-group">
			      	<input type="hidden" name="edit-toolId" id="edit-toolId" value="">
			      	<!--  <input type="text" class="form-control" name="edit-toolName" id="edit-toolName" value=""> -->
			      	 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ</label><br/>
						<select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
							<option value="0">-------เลือก-------</option>
							<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก  </option>
							<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์  </option>
							<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ   </option>
							<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า   </option>

						</select>
                  </div>
                  <script>
                  $(document).ready(function(){
                  	$("#edit-toolNameCat").change(function (){
                  	//console.log("ASJkasjdpaos");
                  		 if($(this).val() == 1){
						  	$('#edit-toolName').html("");
						  	$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
						  	$('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
						  	$('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection) </option>');
						  	$('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
						  	$('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
						  }else if($(this).val() == 2){
						  	$('#edit-toolName').html("");
						  	$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
						  	$('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
						  	$('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
						  	$('#edit-toolName').append('<option value="9">ครื่องตรวจวัดความลึก (Depth Gauge)</option>');
						  	$('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
						  	$('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
						  	$('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
						  }else if($(this).val() == 3){
						  	$('#edit-toolName').html("");
						  	$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
						  	$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
						  	$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
						  	$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
						  	$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
						  }else if($(this).val() == 4){
						  	$('#edit-toolName').html("");
						  	$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
						  	$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
						  	$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
						  }
                  	});
                  });
                  </script>
              	 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br/>
						<select name="edit-toolName" id="edit-toolName" style="width: 100%;">
							<option value="0">-------เลือก-------</option>

						</select>
                  </div>
		      <div class="col-sm-12">
		      		<label>หมายเลขเครื่อง</label><br/>
			      	<input type="text" class="form-control" name="edit-toolSerial" id="edit-toolSerial" value="" style="width: 100%;">
			   </div>
		      <div class="col-sm-6">
		      		<label>ยี่ห้อ</label><br/>
			      	<input type="text" class="form-control" name="edit-toolBrand" id="edit-toolBrand" value="" style="width: 100%;">
			      	</div>
		      <div class="col-sm-6">
		      		<label>รุ่น</label><br/>
			      	<input type="text" class="form-control" name="edit-toolModel" id="edit-toolModel" value="" style="width: 100%;">
			      	</div>
		     <div class="col-sm-12">
		      		<label>รูป</label><br/>
			      	<input type="file" class="form-control" name="edit-toolPhotoImg" id="edit-toolPhotoImg" value="">
			  </div>
		      </div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="button" class="btn btn-primary" id="updateToolBtn">บันทึก</button>
		      </div>
		      </form>
		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateToolBtn').click(function (){
        				//alert('asdopaisdpo');
        				/*$.post("/api-tool/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่")
        					        }
        					    });*/
        				oData = new FormData();
	      					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
	      					oData.append("toolId", $('#edit-toolId').val());
	              		    oData.append("toolName", $('#edit-toolName').val());
	              		    oData.append("toolSerial", $('#edit-toolSerial').val());
	              		  	oData.append("toolBrand", $('#edit-toolBrand').val());
	              		    oData.append("toolModel", $('#edit-toolModel').val());
	              		// HTML file input, chosen by user
	              		oData.append("toolPhotoImg", $('#edit-toolPhotoImg').prop('files')[0]);
	              		  var oReq = new XMLHttpRequest();
	              		  oReq.open("POST", "/api-tool/update", true);
	              		  oReq.onload = function(oEvent) {
	              		    if (oReq.status == 200) {
	              		      //oOutput.innerHTML = "Uploaded!";
	              		      alert("บันทึกข้อมูลสำเร็จ");
	              		      loadTableTool();
	              		    } else {
	              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
	              		    //alert("Error " + oReq.status + " occurred when trying to upload your file.<br \/>");
	              		    	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่");
	              		    }
	              		  };

	              		  oReq.send(oData);
        			});

        		});
		      </script>
		    </div>
		  </div>
		</div>
		<div class="form-horizontal">
					  <!--   <form onSubmit="return false;" id="toolform" enctype="application/x-www-form-urlencoded"> -->

              <div class="row">
           		 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ </label><br/>
						<!--  <input type="text" class="form-control edit" id="toolNameCat" name="toolNameCat" style="width: 100%;">-->
						<select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
							<option value="0">-------เลือก-------</option>
							<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก  </option>
							<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์  </option>
							<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ   </option>
							<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า   </option>

						</select>
                  </div>
                  <script>
                  $(document).ready(function(){
                  	$("#toolNameCatagory").change(function (){
                  	console.log("ASJkasjdpaos");
                  		 if($(this).val() == 1){
						  	$('#toolName').html("");
						  	$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
						  	$('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
						  	$('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection) </option>');
						  	$('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
						  	$('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
						  }else if($(this).val() == 2){
						  	$('#toolName').html("");
						  	$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
						  	$('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
						  	$('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
						  	$('#toolName').append('<option value="9">ครื่องตรวจวัดความลึก (Depth Gauge)</option>');
						  	$('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
						  	$('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
						  	$('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
						  }else if($(this).val() == 3){
						  	$('#toolName').html("");
						  	$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
						  	$('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
						  	$('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
						  	$('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
						  	$('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
						  }else if($(this).val() == 4){
						  	$('#toolName').html("");
						  	$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
						  	$('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
						  	$('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
						  	$('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
						  }
                  	});
                  });
                  </script>
              	 <div class="col-sm-6">
                     <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br/>
						<select name="toolName" id="toolName" style="width: 100%;">
							<option value="0">-------เลือก-------</option>

						</select>
                  </div>
              	 <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label center">หมายเลขเครื่อง</label><br/>
										<input type="text" class="form-control edit" id="toolSerial" name="toolSerial" style="width: 100%;">
                     </div>
              	 <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">ยี่ห้อ</label><br/>
										<input type="text" class="form-control edit" id="toolBrand" name="toolBrand" style="width: 100%;">
                      </div>
              	 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">รุ่น</label><br/>
									 <input type="text" class="form-control edit" id="toolModel" name="toolModel" style="width: 100%;">
                 </div>

                 <div class="col-sm-12">
                  <input type="checkbox" id="manual" name="manual" value="1"> <label style="padding-top: 0px;" for="inputEmail3" class="control-label center">คู่มือ</label>
                 </div>
                  <div class="col-sm-12">
									 <input type="checkbox" id="FieldInspection" name="FieldInspection"  value="1"> <label style="padding-top: 0px;" for="inputEmail3" class="control-label center">ออกตรวจภาคสนาม</label>
                 </div>
                 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">รูป</label>
									 <input type="file" class="well well-sm" id="toolPhotoImg" name="toolPhotoImg">
                 </div>
                 	 <div class="col-sm-6">
                   <label for="inputEmail3" class="control-label center">เอกสารกรรมสิทธิ์ </label>
									 <input type="file" class="well well-sm" id="proprietary_document" name="proprietary_document">
                 </div>
                 <div class="col-sm-12">
                   <label for="inputEmail3" class="control-label center">เอกสารการสอบเทียบเครื่องมือ </label>
                   <input type="file" class="well well-sm" id="calibration_tool" name="calibration_tool">
                </div>
                <div class="col-sm-4">
                   <label for="formDescription" class="control-label center">วันหมดอายุ</label>
                   <input type="text" class="form-control edit" id="calibration_tool_expire" name="calibration_tool_expire" >
                </div>
                <div class="col-sm-12">
                   <label for="formDescription" class="control-label center"></label><br/>
                   <a id="add-tool" type="button" class="btn btn-custom-next">เพิ่ม</a>
                </div>

              	</div>
              </div>

              <script type="text/javascript">
              /*<![CDATA[*/
              	function loadTableTool(){
              	$('#table-tool').dataTable({
              					"bDestroy": true,
								"bSort" : false,
								"language": {
                    "search": "ค้นหา :",
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          }).fnClearTable();
              		var cn = $('#e-company-name').val();
              		//alert($('#e-dbdId').val());
      				$.ajax({
          				type: "POST",
          				url: "/api-tool/list",
          				data:'dbdId='+$('#e-dbdId').val(),
          				success: function(data){
          					var content = "";
          					$.each(data, function (index, value) {
          					/*
          					1 เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)
          					2 เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)
							3 เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)
							4 เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)
							5 เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)
							6 เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)
							7 เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)
							8 เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)
							9 เครื่องตรวจวัดความลึก (Depth Gauge)
							10 เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)
							11 เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)
							12 เทปวัดระยะชนิดเหล็ก (Steel Tape)
							13 เครื่องสูบอัดอากาศ (Air Compressor)
							14 เครื่องสูบอัดน้ำ (Pressure Water Pump)
							15 มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)
							16 กลอุปกรณ์ปรับความดัน (Pressure Regulator)
							17 เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)
							18 เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)
							19 เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)
							20 เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)
          					*/
          					var toolName ="";
          					switch(value.toolName) {
							    case "1":
							        toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)";
							        break;
							    case "2":
							        toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)";
							        break;
							   	case "3":
							        toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)";
							        break;
							   	case "4":
							        toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)";
							        break;
							    case "5":
							        toolName ="เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)";
							        break;
							    case "6":
							        toolName ="เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)";
							        break;
							     case "7":
							        toolName ="เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)";
							        break;
							     case "8":
							        toolName ="เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)";
							        break;
							   	case "9":
							        toolName ="เครื่องตรวจวัดความลึก (Depth Gauge)";
							        break;
							    case "10":
							        toolName ="เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)";
							        break;
							   case "11":
							        toolName ="เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)";
							        break;
							    case "12":
							        toolName ="เทปวัดระยะชนิดเหล็ก (Steel Tape)";
							        break;
							    case "13":
							        toolName ="เครื่องสูบอัดอากาศ (Air Compressor)";
							        break;
							    case "14":
							        toolName ="เครื่องสูบอัดน้ำ (Pressure Water Pump)";
							        break;
							    case "15":
							        toolName ="มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)";
							        break;
							    case "16":
							        toolName ="กลอุปกรณ์ปรับความดัน (Pressure Regulator)";
							        break;
							    case "17":
							        toolName ="เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)";
							        break;
							    case "18":
							        toolName ="เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)";
							        break;
							    case "19":
							        toolName ="เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)";
							        break;
							    case "20":
							        toolName ="เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)";
							        break;
							    default:
							       // code block
							      	break;
							}
          						content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          			            content += '<td>'+toolName+'</td>';
          			             content += '<td> <img src="[[@{/images/data/uploads/tool/DbdId}]]'+$('#e-dbdId').val()+'/'+value.toolPhoto+'" style="width: 150px;"></td>';

          			            content += '<td>'+value.toolSerial+'</td>';
          			            content += '<td>'+value.toolBrand+'</td>';
          			            content += '<td>'+value.toolModel+'</td>';
          			            //value.toolPhoto
          			            //@{/images/energy-logo.svg}
          			            //'+value.toolName+'
          			            content += '<td>'+cn+'</td>';
          			            content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="'+value.toolId+'" data-toolName="'+value.toolName+'" data-toolSerial="'+value.toolSerial+'" data-toolBrand="'+value.toolBrand+'" data-toolModel="'+value.toolModel+'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.toolId+'"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a></td>';
          			            content += '</tr>';

          			           // $('#zipcodeId').val(value.zipcode);
          			           console.log(value);
          			           $('#table-tool ').dataTable().fnAddData( [
                                toolName,
                                value.toolSerial,
                                value.calibrationToolExprie,
                                value.toolBrand,
                                value.toolModel,
                            '<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="'+value.toolId+'" data-toolNameCat="'+value.toolNameCatagory+'" data-toolName="'+value.toolName+'" data-toolSerial="'+value.toolSerial+'" data-toolBrand="'+value.toolBrand+'" data-toolModel="'+value.toolModel+'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.toolId+'"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a>' ]
                        );
          			        });
          					// $('#table-tool tbody').html(content);
          					//var para = document.createRange().createContextualFragment(content);
          					// $('#table-engineer tbody').appendChild(para);
          				},
          				error: function(jqXHR, textStatus, errorThrown) {
          	               // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

          	                //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
          	                console.log('jqXHR:');
          	                console.log(jqXHR);
          	                console.log('textStatus:');
          	                console.log(textStatus);
          	                console.log('errorThrown:');
          	                console.log(errorThrown);
          	            },
          		});
      			}
      			/*]]>*/
              	</script>
              	<script type="text/javascript">
              		$(document).ready(function(){
              			loadTableTool();
              			$('#add-tool').click(function (){
              				//alert('asdopaisdpo');
              				//var data = $( "#toolform" ).serialize();
              				/*$.post("/api-tool/save",
              					    {
              							data:data,
              					    },
              					    function(data, status){
              					    	//$('#e-dbdId').val("");
              							loadTableTool();
              					       //alert("Data: " + data + "\nStatus: " + status);


              					    });*/
              				//var oOutput = document.querySelector("div"),
		              		    oData = new FormData();
              					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
		              		    oData.append("toolName", $('#toolName').val());
		              		    oData.append("toolNameCat", $( "#toolNameCat option:selected" ).val());
		              		    oData.append("toolSerial", $('#toolSerial').val());
		              		  	oData.append("toolBrand", $('#toolBrand').val());
		              		    oData.append("toolModel", $('#toolModel').val());
		              		    oData.append("manual", $('#toolModel').val());
		              		    var manualVal = 0;
		              		    var manual = document.getElementsByName('manual');

								for (var i = 0, length = manual.length; i < length; i++) {
								    if (manual[i].checked) {
								        // do whatever you want with the checked radio
								       // alert(radios[i].value);
										manualVal = 1;
								        // only one radio can be logically checked, don't check the rest
								        break;
								    }
								}

								oData.append("manual", manualVal);

								var FieldInspectionlVal = 0;
		              		    var FieldInspection = document.getElementsByName('FieldInspection');

								for (var i = 0, length = FieldInspection.length; i < length; i++) {
								    if (FieldInspection[i].checked) {
								        // do whatever you want with the checked radio
								       // alert(radios[i].value);
										FieldInspectionlVal = 1;
								        // only one radio can be logically checked, don't check the rest
								        break;
								    }
								}

								oData.append("FieldInspection", FieldInspectionlVal);
								oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
								oData.append("proprietary_document", $('#proprietary_document').prop('files')[0]);
								oData.append("calibrationToolExprie", $('#calibration_tool_expire').val());
								oData.append("calibration_tool", $('#calibration_tool').prop('files')[0]);
		              		    /*
		              		     oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
		              		    oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
		              		    oData.append("title", etitle);
		              		  	oData.append("firstname", $('#e-firstname').val());
		              		    oData.append("lastname", $('#e-lastname').val());
		              		    oData.append("e-idPerson", $('#e-idPerson').val());
		              		    oData.append("e-address", $('#e-address').val());

		              		// HTML file input, chosen by user
		              		oData.append("file_1", $('#fs10').prop('files')[0]);
		              		oData.append("file_2", $('#fs11').prop('files')[0]);
		              		oData.append("file_3", $('#fs12').prop('files')[0]);
		              		oData.append("file_4", $('#fs13').prop('files')[0]);

		              		    */
		              		// HTML file input, chosen by user
		              		//oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
		              		  var oReq = new XMLHttpRequest();
		              		  oReq.open("POST", "/api-tool/save", true);
		              		  oReq.onload = function(oEvent) {
		              		    if (oReq.status == 200) {
		              		      //oOutput.innerHTML = "Uploaded!";
		              		      //alert("Uploaded!");
		              		    	$('#toolName').val("");
		              		    	$('#toolSerial').val("");
		              		    	$('#toolBrand').val("");
		              		    	$('#toolModel').val("");
		              		    	$('#toolPhotoImg').val("");
		              		      loadTableTool();
		              		    } else {
		              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
		              		    console.log("Error " + oReq.status + " occurred when trying to upload your file.");
		              		    alert("การอัพโหลดผิดพลาด");
		              		    }
		              		  };

		              		  oReq.send(oData);
		              		 // ev.preventDefault();
              			});

              		});

              	</script>
              	<script type="text/javascript">
              		function appendDatatoModal2(e){
              			//$('#e-company-name').val()

              			//alert(engineerId);

              			$("#edit-toolId").val($(e).attr('data-id'));
              			$("#edit-toolNameCat").val($(e).attr('data-toolnameCat'));
              			$("#edit-toolName").val($(e).attr('data-toolname'));
              			$("#edit-toolSerial").val($(e).attr('data-toolserial'));
              			$("#edit-toolBrand").val($(e).attr('data-toolbrand'));
              			$("#edit-toolModel").val($(e).attr('data-toolmodel'));
              			//$("#edit-type").val($(e).attr('data-lastname'));
              			$("#edit-company2").val($('#e-company-name').val());
              		}
              		function deleteTool(e){
              			 if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
              		       // txt = "You pressed OK!";
              				$.post("/api-tool/delete",
              					    {
              							id:$(e).attr('data-id'),
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					        //alert("Data: " + data + "\nStatus: " + status);
              					      if(data != 0){
              					    	  alert('ลบข้อมูลเรียบร้อย');
              					      }else{
              					    	  alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
              					      }
              					      loadTableTool();
              					    });
              		    } else {
              		       // txt = "You pressed Cancel!";
              		    }

              		}
              		</script>
				  <hr>
              	<h3 class="title">บัญชีรายชื่อเครื่องมือ</h3>
              	<table id="table-tool" class="display" style="width: 100%;">
  <thead>
    <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
      <th>ชื่อเครื่องมือ</th>
      <!-- <th>รูป</th> -->
      <th>หมายเลขเครื่อง</th>
      <th>วันหมดอายุ</th>
      <th>ยี่ห้อ</th>
      <th>รุ่น</th>

      <!-- <th>บริษัท</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
            <div class="row text-right mt-20">
              <!-- <a id="prev-3" type="button" class="btn btn-custom-prev" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <a id="next-4" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a> -->

            <a id="prev-4" type="button" class="btn btn-custom-prev" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
            <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
            <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">

            <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <input type="submit"class="btn btn-custom-confirm" value="บันทึก" />
            </div>
          </div>

      </div>

      </form>
  </div>
  <div th:replace="common-officer/footer :: common-footer">

</body>

<!-- <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script> -->
<script type="text/javascript">
$(document).ready(function () {

	 $('#Fa1').change(function() {
		    if($(this).is(":checked")) {
		      $('#s1').css('display','block');
		      $("#fs1").prop('required',true);
		    }else {
		      $('#s1').css('display','none');
		      $("#fs1").prop('required',false);
		    }
		  });
		   $('#Fa2').change(function() {
		    if($(this).is(":checked")) {
		      $('#s2').css('display','block');
		      $("#fs2").prop('required',true);
		    }else {
		      $('#s2').css('display','none');
		      $("#fs2").prop('required',false);
		    }
		  });
		   $('#Fa3').change(function() {
		    if($(this).is(":checked")) {
		      $('#s3').css('display','block');
		      $("#fs3").prop('required',true);
		    }else {
		      $('#s3').css('display','none');
		      $("#fs3").prop('required',false);
		    }
		  });
		   $('#Fa4').change(function() {
		    if($(this).is(":checked")) {
		      $('#s4').css('display','block');
		      $("#fs4").prop('required',true);
		    }else {
		      $('#s4').css('display','none');
		      $("#fs4").prop('required',false);
		    }
		  });
		   $('#Fa5').change(function() {
		    if($(this).is(":checked")) {
		      $('#s5').css('display','block');
		      $("#fs5").prop('required',true);
		    }else {
		      $('#s5').css('display','none');
		      $("#fs5").prop('required',false);
		    }
		  });
		   $('#Fa6').change(function() {
		    if($(this).is(":checked")) {
		      $('#s6').css('display','block');
		      $("#fs6").prop('required',true);
		    }else {
		      $('#s6').css('display','none');
		      $("#fs6").prop('required',false);
		    }
		  });
		   $('#Fa7').change(function() {
		    if($(this).is(":checked")) {
		      $('#s7').css('display','block');
		      $("#fs7").prop('required',true);
		    }else {
		      $('#s7').css('display','none');
		      $("#fs7").prop('required',false);
		    }
		  });
		   $('#Fa8').change(function() {
		    if($(this).is(":checked")) {
		      $('#s8').css('display','block');
		      $("#fs8").prop('required',true);
		    }else {
		      $('#s8').css('display','none');
		      $("#fs8").prop('required',false);
		    }
		  });

		   $('#Fa9').change(function() {
			    if($(this).is(":checked")) {
			      $('#s9').css('display','block');
			      $("#fs9").prop('required',true);
			    }else {
			      $('#s9').css('display','none');
			      $("#fs9").prop('required',false);
			    }
			  });

		   $('#Fa10').change(function() {
			    if($(this).is(":checked")) {
			      $('#s10').css('display','block');
			      $("#fs10").prop('required',true);
			    }else {
			      $('#s10').css('display','none');
			      $("#fs10").prop('required',false);
			    }
			  });

		   $('#Fa11').change(function() {
			    if($(this).is(":checked")) {
			      $('#s11').css('display','block');
			      $("#fs11").prop('required',true);
			    }else {
			      $('#s11').css('display','none');
			      $("#fs11").prop('required',false);
			    }
			  });


		   $('#Fa12').change(function() {
			    if($(this).is(":checked")) {
			      $('#s12').css('display','block');
			      $("#fs12").prop('required',true);
			    }else {
			      $('#s12').css('display','none');
			      $("#fs12").prop('required',false);
			    }
			  });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });


  $("#next-4").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });

  // $("#prev-3").click(function() {
  //   $("#nav-3").removeClass('active');
  //   $("#nav-2").addClass('active');
  // });

  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });

  $("#prev-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });

  $("#prev-4").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

  	$('#sDatePermit').datepicker({
			format : 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
	});

	$('#sDatePermitExpire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});

	$('#calibration_tool_expire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});

});
</script>

<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = (year + 543) + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script>
// function getAmphur(val) {

// 	$('#amphurId').html('');
// 	$('#districtId').html('');
// 	$('#zipcodeId').val('');

// 	$('#amphurId').append('<option value="">- เลือก -</option>');
// 	$('#districtId').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcode(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>
<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>

</html>
