<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <form action="#" th:action="@{/onestop/form/submission}" id="frmSubmit" method="POST" enctype="multipart/form-data">
  <div class="box-container">

    <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอใบรับรอง/ขอต่ออายุเป็นบุคคลธรรมดาผู้ตรวจสอบระบบไฟฟ้า </u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">ธช./ฟ.1</h2>
	</div>
	</div>

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน" >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" class="form-control edit form-control edit-edit" value="" id="theDate"  >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลส่วนตัว </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 ความประสงค์ในการขอ </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3">
          <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 17px 0px;">3 คำรับรองคุณสมบัติตามแบบ ธช./ฟ.1 </a>
				</li>


      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลส่วนตัว</h3>
            <div class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-3">
										<label for="" class="control-label center">คำนำหน้า</label>
										<select name="bla" id="bla" class="form-control edit" style="width:100%;">
												<option value="0">- เลือก -</option>
												<option th:each="TitleName : ${lTitleName}"
													th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
													th:value="${TitleName.code}"
													th:utext="${TitleName.abbreviation}"
													th:selected="${TitleName.code==selectedValue}" />
										</select>
									</div>
									<div class="col-sm-3" id="section-title" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''" th:style="${selectedValue == '226'} ?'display:block':'display:none'">
										<label for="formDescription" class="control-label center">โปรดระบุ</label>
										<input type="text" class="form-control edit" name="sTitleNameEtc" id="sTitleNameEtc" maxlength="17" th:value="${entryMap != null} ? ${entryMap['sTitleNameEtc']} : ''">
									</div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">บัตรประชาชนเลขที่</label>
                    <input type="text" class="form-control edit textIdcard" maxlength="17" id="idcard" name="idcard" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['idcard']} : ''">
                  </div>
									</div>
									<script>
                      $('body').on('change','#bla',function(){
                        var bla_value = $(this).val();
                        if(bla_value == 226){
                          $('div#section-title').show();
                        }else{
                          $('div#section-title').hide();
                        }
                      });
                  </script>
					<div class="form-group">
						<div class="col-md-12">
							ใบประกอบวิชาชีพวิศวกรรมควบคุม เลขที่
							<input type="text" name="no_certificate_engineer" class="form-control edit"  th:value="${entryMap != null} ? ${entryMap['no_certificate_engineer']} : ''">

						</div>
					</div>
					<h4 class="title">1. ที่อยู่ที่ทำงาน</h4>
					<div class="form-horizontal striped">
              <div class="form-group">
              	 <div class="col-sm-12">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''">
                  </div>
                  </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  </div>

              	<div class="form-group">

                  <div class="col-sm-3">
                  <input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
                    <label for="" class="control-label right">จังหวัด</label>
                    	<select name="province_service" th:field="*{company.provinceId}"  id="province_service" class="form-control edit" onChange="getAmphur1(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['province_service']} : ''"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==selectedValue}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
                    	<select name="amphur_service" id="amphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label>
                    	<select name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                     <input type="text" class="form-control edit" id="zipcode_service" placeholder="" name="zipcode_service" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
                  </div>
              </div>
              <div class="form-group">

                  <div class="col-sm-4">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>

                  <div class="col-sm-4">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>
                  <div class="col-sm-4">
                    <label for="" class="control-label right">E-mail</label>
                    <input type="text" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                  </div>
              </div>


          </div>
					<h4 class="title">2. ที่อยู่ปัจจุบัน</h4>
					 <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId']} : ''"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==selectedValue}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">E-mail</label>
                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
                  </div>
              </div>
          </div>




            </div>
            <div class="row text-right mt-20">
              <a id="prev" class="btn btn-custom-prev" href="#tap1" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ความประสงค์ในการขอ </h3>
              <div class="form-horizontal">
                  <fieldset class = "test1" style="margin-top: 30px;">
						<p style="margin-left: 30px;" >
							มีความประสงค์
							<br>
						</p>
						<div style="margin-left: 90px;">
							<label for="purpose1"> <input type="checkbox" name="purpose1" id="purpose1" value="0" th:value="${requestTypeId}" checked> <span th:text="${requestTypeName + ' ' + requestName}"></span> </label> <br>
						</div>
					</fieldset>
              	</div>


          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้ประกอบคาขอรับหนังสือรับรอง (สาหรับนิติบุคคล)</h3>
                        <div class="form-horizontal striped">

							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_1" class=" well well-sm" />

								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายบัตรประชาชน เลขที่</label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_1_txt"  th:value="${entryMap != null} ? ${entryMap['doc_attached7_1_txt']} : ''"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_2" class=" well well-sm" />
									</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายสำเนาทะเบียนบ้าน</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_3" class=" well well-sm" />
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายของข้าพเจ้าขนาด 2.5 x 3 ซม. ที่ถ่ายไว้ไม่เกิน 6 เดือน</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_4" class=" well well-sm" />
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายวุฒิบัตรการศึกษาและวุฒิบัตรการฝึกอบรม</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_5" class=" well well-sm" />
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> หนังสือรับรองการทำงานหรือรับรองการมีประสบการณ์</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_6" class=" well well-sm" />
								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม เลขที่</label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_6_txt"  th:value="${entryMap != null} ? ${entryMap['doc_attached7_6_txt']} : ''"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_7" class=" well well-sm" />
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ใบรับรองแพทย์</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_8" class=" well well-sm" />
								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> อื่นๆ </label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_8_txt"  th:value="${entryMap != null} ? ${entryMap['doc_attached7_8_txt']} : ''"/>
								</div>
							</div>
                        </div>
          <hr>
          <div class="row text-right mt-20">
              <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
              <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
              <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
              <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
              <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
              <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
              <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
          </div>
				</div>
      </div>
  </div>
  </form>

<div th:replace="common-officer/footer :: common-footer">
</body>
<style>
	.custom-tab li {
	    height: auto;
	}
</style>

<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  $("#btnCloseModal").click(function() {
	  $("#myModal").css("display","none");

  });
  $("#next-1").click(function() {
	  //tab-content
	//alert("AAAAAAA");
	/*var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab-pane");
	  y = x[0].getElementsByTagName("input");
	  //alert(y.length);
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }
	  }
	 // frmSubmit
	 if(valid == false){
		// alert("1/"+valid);
		// $( "#btnSubmit" ).click();
		 //error-modal
		 //$("#error-modal").html("<center><span style='color:red;'>ไม่สามารถบันทึกข้อมูลได้<br/>กรุณาตรวจสอบข้อมูลให้ครบถ้วน</span></center>");
		 //$("#myModal").css("display","block");
		 //alert("ไม่สามารถบันทึกข้อมูลได้ กรุณาตรวจสอบข้อมูลให้ครบถ้วน");
		 return false;
	 }else{*/
		 //alert("2/"+valid);
		  $("#nav-1").removeClass('active');
		  $("#nav-2").addClass('active');
	// }

  });
  $("#next-2").click(function() {
	/*  var count = 0;
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab-pane");
	  y = x[1].getElementsByTagName("input");
	  //alert(y.length);
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }else{
	    	count++;
	    }
	  }
	 // frmSubmit
	 //alert(count);
	 if(count == 0){
		// alert("1/"+valid);
		// $( "#btnSubmit" ).click();
		 //error-modal
		 $("#error-modal").html("<center><span style='color:red;'>ไม่สามารถบันทึกข้อมูลได้<br/>กรุณาตรวจสอบข้อมูลให้ครบถ้วน</span></center>");
		 //$("#myModal").css("display","block");
		 //alert("ไม่สามารถบันทึกข้อมูลได้ กรุณาตรวจสอบข้อมูลให้ครบถ้วน");
		 return false;
	 }else{*/
		 //alert("2/"+valid);
		 $("#nav-2").removeClass('active');
		 $("#nav-3").addClass('active');
	// }

  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#next-4").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });

	$("#next-5").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-5").addClass('active');
  });

  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

	$("#prev-4").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

	$("#prev-5").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-4").addClass('active');
  });
});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" + (year + 543) ;


document.getElementById('theDate').value = today;
</script>
<script>


function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>

<script type="text/javascript">
   $(document).ready(function(){
   	  	$('#sDatePermit').datepicker({
			format : 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
	});

	$('#sDatePermitExpire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});

	$('#calibration_tool_expire').datepicker({
		format : 'dd/mm/yyyy',
		todayBtn: true,
		language: 'th-th',
		autoclose: true
	});
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>

</html>
