<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <link rel="stylesheet" href="" th:href="@{/vendor/jojosati-bootstrap-datepicker-thai/css/datepicker.css}">
  <!-- start content -->
  <div class="box-container mb-50">

   <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอใบรับรอง ขอต่ออายุใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ</u><br><u>ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">ธช./ข.1</h2>
	</div>
	</div>

    <form action="#" th:action="@{/onestop/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 แบบคำขอ </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 คำรับรองเป็นวิศวกรทดสอบและตรวจสอบตามแบบ ธช./ข.1</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : แบบคำขอ</h3>
            <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
					<select name="bla" id="bla" class="form-control edit">
                         <option value="0">- เลือก -</option>
                         <option th:each="TitleName : ${lTitleName}"  th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                   </select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" placeholder=""  value=""  name="firstname" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" placeholder=""  value=""  name="lastname" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">อายุ</label>
                    <input type="number" class="form-control edit" id="age_engineer" placeholder=""  value=""  name="age_engineer" th:value="${entryMap != null} ? ${entryMap['age_engineer']} : ''">
                  </div>
                  </div>
              </div>
              <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="homeid" placeholder=""  value=""  name="homeid" th:value="${entryMap != null} ? ${entryMap['homeid']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">หมู่ที่</label>
                    <input type="text" class="form-control edit" id="moo" placeholder=""  value=""  name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ตรอก / ซอย</label>
                    <input type="text" class="form-control edit" id="trock" placeholder=""  value=""  name="trock" th:value="${entryMap != null} ? ${entryMap['trock']} : ''">
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label center">ถนน</label>
                    <input type="text" class="form-control edit" id="road" placeholder=""  value=""  name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                  </div>
              </div>
          <div class="form-horizontal">

                	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						        <select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                      <option value="">- เลือก -</option>
                      <option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId']} : ''"
                        th:value="${province.provinceId}"
                        th:utext="${province.provinceName}"
                        th:selected="${province.provinceId==selectedValue}"
                        />
                    </select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode1(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcode_service" name="zipcode_service" readonly>
                  </div>
              </div>
              </div>
                 <div class="form-horizontal">
                  <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">E-mail</label>
                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
                  </div>
              </div>
              </div>

               <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-12">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''">
                  </div>
                  </div>
                     <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
                  		<input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
                    	<select name="province_service" th:field="*{company.provinceId}"  id="province_service" class="form-control edit" onChange="getAmphur1(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==company.provinceId}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphur_service" id="amphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                     <input type="text" class="form-control edit" id="zipcode" placeholder="" name="zipcode" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
               </div>
              </div>

          </div>
               <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-4">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>

                  <div class="col-sm-4">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ไปรษณีย์อเล็กทรอนิกส์</label>
                        <input type="text" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                </div>

                  </div>
              </div>

               <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ตำแหน่ง</label>
                    <input type="text" class="form-control edit" id="position" placeholder="" value=""  name="position" th:value="${entryMap != null} ? ${entryMap['position']} : ''">
                  </div>
              	 <div class="col-sm-8">
                    <label for="" class="control-label center">ขอยื่นคำขอ (ใบรับรอง / ต่ออายุใบรับรอง)</label>
                    <input type="text" class="form-control edit" id="requestTypeName" th:value="${entryMap != null} ? ${entryMap['requestTypeName']} : ${requestTypeName + ' ' + requestName}"  placeholder=""  value="requestTypeName"  name="requestTypeName">
                  </div>

                  </div>
              </div>
              <br>
              <h3 class="title">ส่วนที่ 2 : นิติบุคคล</h3>
               <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
					<select name="bla2" id="bla2" class="form-control edit">
                         <option value="0">- เลือก -</option>
                        <option th:each="TitleName : ${lTitleName}"  th:with="selectedValue=${entryMap != null} ? ${entryMap['bla2']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                   </select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstnameC" placeholder=""  value=""  name="firstnameC" th:value="${entryMap != null} ? ${entryMap['firstnameC']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastnameC" placeholder=""  value=""  name="lastnameC" th:value="${entryMap != null} ? ${entryMap['lastnameC']} : ''">
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label center">ประเภท</label>
                    <input type="text" class="form-control edit" id="TypeC" placeholder=""  value=""  name="TypeC" th:value="${entryMap != null} ? ${entryMap['TypeC']} : ''">
                  </div>


                  </div>
              </div>
               <div class="form-horizontal">
                  <div class="form-group">
              	<div class="col-sm-4">
                    <label for="" class="control-label center">ตามกฎหมาย</label>
                    <input type="text" class="form-control edit" id="RawC" placeholder=""  value=""  name="RawC" th:value="${entryMap != null} ? ${entryMap['RawC']} : ''">
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">จดทะเบียนเมื่อวันที่</label>
                    <input type="text" class="form-control edit" id="DateRegisC" placeholder=""  value=""  name="DateRegisC" th:value="${entryMap != null} ? ${entryMap['DateRegisC']} : ''">
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">เลขทะเบียน</label>
                    <input type="text" class="form-control edit" id="NoRegisC" placeholder=""  value=""  name="NoRegisC" th:value="${entryMap != null} ? ${entryMap['NoRegisC']} : ''">
                  </div>

                  </div>
              </div>
               <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-3">
                    <label for="" class="control-label center">สำนักงานใหญ่ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numhome_serviceC" placeholder=""  value=""  name="numhome_serviceC" th:value="${entryMap != null} ? ${entryMap['numhome_serviceC']} : ${company.addressNo}">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">หมู่ที่</label>
                    <input type="text" class="form-control edit" id="moo_serviceC" placeholder=""  value=""  name="moo_serviceC" th:value="${entryMap != null} ? ${entryMap['moo_serviceC']} : ${company.moo}">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ตรอก / ซอย</label>
                    <input type="text" class="form-control edit" id="soi_serviceC" placeholder=""  value=""  name="soi_serviceC" th:value="${entryMap != null} ? ${entryMap['soi_serviceC']} : ${company.soi}">
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label center">ถนน</label>
                    <input type="text" class="form-control edit" id="road_serviceC" placeholder=""  value=""  name="road_serviceC" th:value="${entryMap != null} ? ${entryMap['road_serviceC']} : ${company.street}">
                  </div>
                  </div>
              </div>
          <div class="form-horizontal">

                	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId2" id="provinceId12" class="form-control edit" onChange="getAmphur2(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId2" id="amphurId2" class="form-control edit" onChange="getTambon2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId2" id="districtId2" class="form-control edit" onChange="getZipcode2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId2" name="zipcodeId2" readonly>
                  </div>
              </div>
              </div>
                 <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-4">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel__serviceC" placeholder=""  name="tel__serviceC" th:value="${entryMap != null} ? ${entryMap['road_serviceC']} : ${company.telephone} ">
                  </div>

                  <div class="col-sm-4">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax_serviceC" placeholder=""  name="fax_serviceC" th:value="${entryMap != null} ? ${entryMap['fax_serviceC']} : ${company.fax} ">
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ไปรษณีย์อเล็กทรอนิกส์</label>
                      <input type="text" class="form-control edit" id="email_serviceC" placeholder=""  name="email_serviceC" th:value="${entryMap != null} ? ${entryMap['email_serviceC']} : ${company.email} ">
                 </div>

                  </div>
              </div>

               <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-12">
              	 <label for="" class="control-label center">เพื่อขอรับ(ใบรับรอง/ต่ออายุใบรับรอง)</label>
                    	<input type="text" class="form-control edit" id="requestTypeName2" placeholder=""  value=""  name="requestTypeName2" th:value="${entryMap != null} ? ${entryMap['requestTypeName2']} : ''">
                  </div>

                   <div class="col-sm-12">
                   <br>
              	       </div>

                </div>
              </div>
            <br>
            <hr>
            <div class="row text-right mt-20">
<<<<<<< HEAD
              <a id="prev"  class="btn btn-custom-prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
=======
              <a id="prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" class="btn btn-custom-prev">ย้อนกลับ</a>
>>>>>>> 0bf1694be118c5b2a2ddcf7068fd0b1744de4bc6
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานเป็นวิศวกรทดสอบและตรวจสอบ</h3>
              <h4 class="title">ให้ทำเครื่องหมาย <input type="checkbox" checked="">เอกสารหลักฐานเป็นวิศวกรทดสอบและตรวจสอบ</h4>
              <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c1">&nbsp;&nbsp;&nbsp;สำเนาบัตรประชาชนและทะเบียนบ้านของผู้มีอำนาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอำนาจจากนิติบุคคล
                        	พร้อมหนังสือแสดงว่าเป็นผุ้ได้รับมอบอำนาจจากนินิบุคคลพร้อมหนังสือแสดงว่าเป้นผู้ได้รับมอบอำนาจจากนิติบุคคล
                        <div id="s1" style="display: none;">
                        <input type="file" name="file_purpose1" class="well well-sm" id="fs1" accept="application/pdf, image/jpeg, image/png">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-12">
                       <input type="checkbox" name="" id="c2">&nbsp;&nbsp;&nbsp;เป็นนิติบุคคลก่อตั้งโดยกฎหมาย
                       <div id="s2" style="display: none;">
                        <input type="text" class="form-control edit" name="purpose2" value="" id="vs2">
                       	ทะเบียนเลขที่
                        <input type="text" name="file_purpose2" class="form-control edit" id="fs2">
                        (พร้อมหลักฐานการจดทะเบียนและรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการหรือหุ้นส่วน)
                        <input type="file" name="file_purpose3" class="well well-sm" id="fs3">
                       </div>
                     </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c3">&nbsp;&nbsp;&nbsp;เป็นนิติบุคคลที่เป็น (ห้างหุ้นส่วน/บริษัท/ห้างหุ้นส่วนจำกัด/บริษัท จำกัด(มหาชน))
                         <div id="s3" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose3" value="" id="vs3"><br>
                       	  มีทุนจดทะเบียนที่ชำระเต็ม
                        <input type="text" name="" class="well well-sm" id="fs3">&nbsp;&nbsp;บาท&nbsp;&nbsp;&nbsp;
                        (<input type="text" name="" class="well well-sm" id="fs5">)<br>
                        (พร้อมหลักฐานการจดทะเบียนการมีเงินทุนและรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการหรือหุ้นส่วน)
                        <input type="file" name="file_purpose3" class="well well-sm" id="fs3" accept="application/pdf, image/jpeg, image/png">

                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c4">&nbsp;&nbsp;&nbsp;ทำประกันภัยประเภทอุบัติภัยในช่วงที่ทำการทดสอบและตรวจสอบเพื่อคุ้มครองต่อชีวิตและร่างกายของบุคคลอื่น รวมทั้งคุ้มครองความเสียหายในทรัพย์สินของบุคคลอื่นด้วย</label>
                        <div id="s4" style="display: none;">
                        <p>1. จำนวนเงินที่คุ้มครองต่อชีวิตและร่างกาย</p>
                        <input type="text" class="well well-sm"  name="purpose4" value="" id="vs4">&nbsp;&nbsp;บาท/คน
                        &nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;<input type="text" class="well well-sm"  name="purpose4" value="" id="vs4">&nbsp;&nbsp;)&nbsp;&nbsp;บาท/อุบัติเหตุ<br>
                        <p>2. จำนวนเงินที่คุ้มครองต่อทรัพย์สิน</p>
                        <input type="text" name="file_purpose4" class="well well-sm" id="fs4">&nbsp;&nbsp;บาท<br>
                       	 <p>พร้อมหลักฐานการทำประกันภัย</p>
                         <input type="file" name="file_purpose5" class="well well-sm" id="fs5" accept="application/pdf, image/jpeg, image/png">
                       </div>
                     </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c5">&nbsp;&nbsp;&nbsp;สำนักงานตั้งอยู่ที่
                         <div id="s5" style="display: none;">
                         <div class="col-sm-3">
		                    <label for="" class="control-label center">สำนักงานใหญ่ตั้งอยู่เลขที่</label>
		                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
		                  </div>
		              	 <div class="col-sm-3">
		                    <label for="" class="control-label center">หมู่ที่</label>
		                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
		                  </div>
		              	 <div class="col-sm-3">
		                    <label for="" class="control-label center">ตรอก / ซอย</label>
		                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
		                  </div>
		                   <div class="col-sm-3">
		                    <label for="" class="control-label center">ถนน</label>
		                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
		                  </div>
		                  <br>
		              <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							<select name="provinceId4" id="provinceId4" class="form-control edit" onChange="getAmphur4(this.value);">
	                         	<option value="">- เลือก -</option>
	                         	<option th:each="province : ${lProvinceBean}"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"/>
	                  		</select>
	                  </div>
		              <div class="col-sm-3">
		                <label for="" class="control-label center">อำเภอ/เขต</label>
						    <select name="amphurId4" id="amphurId4" class="form-control edit" onChange="getTambon4(this.value);">
		                    <option value="">- เลือก -</option>
		                    </select>
		              </div>
                  	<div class="col-sm-3">
                    	<label for="" class="control-label right">ตำบล/แขวง</label>
							<select name="districtId4" id="districtId4" class="form-control edit" onChange="getZipcode4(this.value);">
                         	<option value="">- เลือก -</option>
                            </select>
                  	</div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId4" name="zipcodeId4" readonly>
                  </div>
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c6">&nbsp;&nbsp;&nbsp;เคยถูกพักใช้ใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์มาก่อนรวม /ครั้ง
                        <div id="s6" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose6" value="" id="vs6">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c7">&nbsp;&nbsp;&nbsp;เคยถูกสั่งเพิกถอนใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์มาก่อนรวม /ครั้ง
                         <div id="s7" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose7" value="" id="vs7">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c8">&nbsp;&nbsp;&nbsp;ไม่ได้เป็นผุ้ผลิตถังเก็บและจ่ายก๊าซหรือถังขนส่งก๊าซ
                         <div id="s8" style="display: none;">
                        <input type="file" name="file_purpose8" class="well well-sm" id="fs8">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c9">&nbsp;&nbsp;&nbsp;มีเครื่องหมายทดสอบและตรวจสอบดังนี้
                         <div id="s9" style="display: none;">
                            1. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)<br>
    						2. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตาโวนิค (Ultrasonic)<br>
    						3. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล้ก(Magnetic Particle Inspection)<br>
    						4. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม(Radiographic Inspection)<br>
    						5. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจวัดความหนา (Ultrasonic Thickness Tester)<br>
    						6. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องตรวจวัดความแข็ง(Hardness Tester)<br>
    						7. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องสูบอัดน้ำแรงดันสูง(High Pressure Water Pump)<br>
    						8. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;มาตราวัดความดันมาตรฐาน (Standard Pressure gauge)<br>
    						9. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;กลอุปกรณ์ปรับความดัน(Pressure Regulator)<br>
    						10. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องทดสอบกลอุปกรณ์นิรภัย (Safety relief Valve Tester)<br>
    						11. <input type="checkbox" name="" id="c9">&nbsp;&nbsp;มี <input type="checkbox" name="">&nbsp;&nbsp;ไม่มี
    						&nbsp;&nbsp;&nbsp;&nbsp;เครื่องมือตรวจสอบการขยายตัวของถังก๊าซ (Volumetric Expansion Hydrostatic Tester)<br>
                       </div>
                      </div>
                  </div>
                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c10">&nbsp;&nbsp;&nbsp;มีผู้ควบคุมในการทดสอบและตรวจสอบ ซึ้งปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบที่เป็นลูกจ้างประจำและปฏิบัติงานเพียงแห่งเดียว ดังนี้
                         <div id="s10" style="display: none;">
                         &nbsp;&nbsp;1. ผู้ควบคุมการทดสอบซึ่งมีรายชื่อและรายละเอียดที่แนบคำขอ
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                         &nbsp;&nbsp;2. วิศวกรทดสอบซึ่งมีรายชื่อและรายละเอียดที่แนบคำขอ
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                         &nbsp;&nbsp;3. ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิมซึ่งมีรายชื่อและรายละเอียดที่แนบตามคำขอ
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                       </div>
                      </div>
                  </div>

                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c11">&nbsp;&nbsp;&nbsp;มีตราสำคัญสำหรับใช้ประทับเอกสารดังนี้
                        <div id="s11" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose6" value="" id="vs11">
                       </div>
                      </div>
                  </div>


                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c12">&nbsp;&nbsp;&nbsp;มีเครื่องหมายทดสอบและตรวจสอบที่แนบมาจำนวน 3 ชุด
                        <div id="s12" style="display: none;">
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10"><br>
                       </div>
                      </div>
                  </div>

                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c13">&nbsp;&nbsp;&nbsp;บัญชีรายชื่อพนักงานที่ทำหน้าที่ทดสอบและตรวจสอบประเภทรับเงินเดือนประจำและประเภทเป็นครั้งคราว
                        <div id="s13" style="display: none;">
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10">
                       </div>
                      </div>
                  </div>
                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c14">&nbsp;&nbsp;&nbsp;บัญชีรายชื่อผู้ควบคุมในการทดสอบและตรวจสอบซึ่งปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบ
                        <div id="s14" style="display: none;">
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10">
                       </div>
                      </div>
                  </div>

                   <div class="form-group">
                      <div class="col-sm-12">
                      	<p>&nbsp;&nbsp;&nbsp;ข้าพเจ้าขอรับรองว่า ข้อความดังกล่าวมาข้างต้นนี้ ถูกต้องและตรงกับความเป้นจริงทุกประการ</p>

                       </div>
                      </div>
                  </div>
          <hr>
          <!-- <div class="row text-right mt-20">
              <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <a id="next-3" type="button" class="btn btn-custom-next" href="form.html#tap3" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
          </div> -->
          <div class="row text-right mt-20">
            <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
            <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
            <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
            <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
          </div>
        </div>
        </div>
 </div>

</form>

<div th:replace="common-officer/footer :: common-footer">
</body>

<!-- <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script> -->
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js}"></script>

<script type="text/javascript">
$(document).ready(function () {

  $('#DateRegisC').datepicker({
    format : 'dd/mm/yyyy',
    todayBtn: true,
    language: 'th-th',
    autoclose: true
  });

    $.each($("form").find($("input:file")), function( index, value ) {
      $(value).attr("accept","application/pdf, image/jpeg, image/png");
    });

	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',false);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',false);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',false);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',false);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',false);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',false);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',false);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',false);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',false);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',false);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });

       $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
      });

       $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
      });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-4").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });


  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });

  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });

  $("#prev-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });

  $("#prev-4").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });


});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear()+543;

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>

// function getAmphur(val) {

// 	$('#amphurId').html('');
// 	$('#districtId').html('');
// 	$('#zipcodeId').val('');

// 	$('#amphurId').append('<option value="">- เลือก -</option>');
// 	$('#districtId').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcode(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>

<script>
// function getAmphur1(val) {

// 	$('#amphurId1').html('');
// 	$('#districtId1').html('');
// 	$('#zipcodeId1').val('');

// 	$('#amphurId1').append('<option value="">- เลือก -</option>');
// 	$('#districtId1').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId1').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon1(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId1').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcodes1(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId1').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>

<script>
// function getAmphur2(val) {

// 	$('#amphurId2').html('');
// 	$('#districtId2').html('');
// 	$('#zipcodeId2').val('');

// 	$('#amphurId2').append('<option value="">- เลือก -</option>');
// 	$('#districtId2').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId2').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon2(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId2').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcode2(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId2').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>

<script>
// function getAmphur4(val) {

// 	$('#amphurId4').html('');
// 	$('#districtI').html('');
// 	$('#zipcodeId4').val('');

// 	$('#amphurId4').append('<option value="">- เลือก -</option>');
// 	$('#districtId4').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId4').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon4(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId4').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcode4(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId4').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>
</html>
