<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container mb-50">

    <div class="row">
    <div class="col-md-3 text-right"></div>
	<div class="col-md-6 text-center"><h3 class="text-center"><u>คำขอใบรับรองผู้ฝึกอบรม</u></h3></div>
	<div class="col-md-3 text-right"><h2 class="text-right">ธพ.พ.1อ</h2></div>
	</div>


    <form action="#" th:action="@{/onestop/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1" style="width: 30%;">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ขอใบรับรองและผู้ได้รับมอบอำนาจ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2" style="width: 30%;">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 ประเภทผู้ฝึกอบรม หลักสูตรการฝึกอบรมและวิทยากร</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3" style="width: 30%;">
          <a href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 เอกสารหลักฐานที่ใช้ประกอบคำขอรับใบรับรอง</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ผู้ขอใบรับรอง</h3>
            <div class="form-horizontal">
                  <div class="form-group">

	              	 <div class="col-sm-12 ">
	                    <label for="" class="control-label center">สถานภาพทางกฎหมาย</label><br>
	                    <label for="purpose1">  <span th:text="${requestName}"></span> </label>

	                     </div>



	              	<!-- <div class="col-sm-offset-1 col-sm-9">
	                      <input type="radio" class="" id="legal_status" placeholder=""  value="1"  name="legal_status" style="margin-right: 10px;">ผู้ค้าน้ำมันตามมาตรา ๗ ตามกฎหมายว่าด้วยการค้าน้ำมันเชื้อเพลิง
	                  </div>
	              	<div class="col-sm-offset-1 col-sm-9">
	                      <input type="radio" class="" id="legal_status" placeholder=""  value="2"  name="legal_status" style="margin-right: 10px;">ส่วนราชการ
	                  </div>
	                <div class="col-sm-offset-1 col-sm-9">
	                      <input type="radio" class="" id="legal_status" placeholder=""  value="3"  name="legal_status" style="margin-right: 10px;">รัฐวิสาหกิจ
	                  </div>
	                <div class="col-sm-offset-1 col-sm-9">
	                      <input type="radio" class="" id="legal_status" placeholder=""  value="4"  name="legal_status" style="margin-right: 10px;">สถาบันการศึกษา
	                  </div>
	                <div class="col-sm-offset-1 col-sm-9">
	                      <input type="radio" class="" id="legal_status" placeholder=""  value="5"  name="legal_status" style="margin-right: 10px;">นิติบุคคลที่ประกอบกิจการฝึกอบรม
	                  </div> -->


                  </div>
              </div>

               <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-9">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''">
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">เลขทะเบียนนิติบุคคล</label>
                    <input type="text" class="form-control edit " id="dbdId" placeholder=""  name="dbdId_service" th:value="${company != null} ? ${company.dbdId} : ''">
                  </div>
                  </div>
                     <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
                  		<input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
											<select name="province_service" th:field="*{company.provinceId}"
											id="province_service" class="form-control edit" onChange="getAmphur1(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['province_service']} : ''"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==selectedValue}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphur_service" id="amphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                     <input type="text" class="form-control edit" id="zipcode_service" placeholder="" name="zipcode_service" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
               </div>
              </div>

          </div>
               <div class="form-horizontal">
                  <div class="form-group">

              	 <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">E-mail</label>
                        <input type="text" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                </div>
                <div class="col-sm-3">
                    <label for="" class="control-label center">เว็บไซต์</label>
                        <input type="text" class="form-control edit" id="web_service" placeholder=""  name="web_service" th:value="${entryMap != null} ? ${entryMap['web_service']} : ''">
                </div>

                  </div>
              </div>


              <br>
              <h3 class="title">ส่วนที่ 2 : ผู้รับมอบอํานาจ (ถ้ามี) </h3>
                <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
	                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
	                  </div>
	                   <div class="col-sm-2">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
	                  </div>
	                  <div class="col-sm-4">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
	                  </div>
	                </div>

	              	<div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
	                         	<option value="">- เลือก -</option>
	                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${province.provinceId==selectedValue}"
	                            	/>
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label>
										<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label>
										<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
	                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">เว็บไซต์</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="web" th:value="${entryMap != null} ? ${entryMap['web']} : ''">
	                  </div>
	              </div>
	          </div>

	          <h3 class="title">ส่วนที่ 3 : ผู้ติดต่อประสานงาน</h3>
                <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla_contact" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_contact']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_contact']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_contact']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">

	              <div class="form-group">
	                  <div class="col-sm-4">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel_contact" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel_contact']} : ''">
	                  </div>

	                  <div class="col-sm-4">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax_contact" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax_contact']} : ''">
	                  </div>
	                   <div class="col-sm-4">
	                    <label for="" class="control-label right">มือถือ</label>
	                    <input type="text" class="form-control edit textPhone" id="mobile" placeholder=""  value="" name="mobile_contact" th:value="${entryMap != null} ? ${entryMap['mobile_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email_contact" th:value="${entryMap != null} ? ${entryMap['email_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">เว็บไซต์</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="web_contact" th:value="${entryMap != null} ? ${entryMap['web_contact']} : ''">
	                  </div>
	              </div>
	          </div>



            <br>
            <hr>
            <div class="row text-right mt-20">

              <a id="prev"  class="btn btn-custom-prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>

              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ประเภทผู้ฝึกอบรม หลักสูตรการฝึกอบรมและวิทยากร </h3>
              <h4 class="title">รายชื่อวิทยากร  <input  type="button" class="btn btn-custom-confirm"  data-toggle="modal" data-target="#AddEngineerTraining" value="+" style="
    width: 40px;
    font-size: 1em;
    font-weight: 700;
    background-color: #00c300 !important;
    border-color: #eeeeee !important;
"></h4>      <!-- Modal -->
<div class="modal fade" id="AddEngineerTraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="
    font-size: 1.2em;
    font-weight: 700;
">เพิ่มวิทยากร</h5>
      </div>
      <div class="modal-body">
       <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label><span id="bla_valid" style="
    font-size: 0.8em;
    color: red;
"></span>
									<select  id="bla_EngineerTraining" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label><span id="firstname_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span>
                    <input type="text" class="form-control edit" id="firstname_EngineerTraining"  placeholder="" >
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label><span id="lastname_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span>
                    <input type="text" class="form-control edit" id="lastname_EngineerTraining"  placeholder="" >
                  </div>
                  <div class="col-sm-12">
                   <!--  <label for="" class="control-label center">เลขที่ใบรับรองวิทยากร</label> -->
                    <input type="hidden" class="form-control edit" id="no_EngineerTraining"  placeholder="" >
                  </div>
                  </div>
              </div>
              <div class="form-horizontal">
                 <div class="form-group">
	              	 <div class="col-sm-4">
	              	 	  	<label for="" class="control-label center">ประเภทผู้ฝึกอบรม</label><span id="type_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span><br/>
                    		<select id="type_EngineerTraining">
                    		<option value="">--เลือกประเภทผู้ฝึกอบรม--</option>
                    			<option value="1">ผู้ฝึกอบรมน้ำมัน</option>
                    			<option value="2">ผู้ฝึกอบรมก๊าซปิโตรเลียมเหลว</option>
                    			<option value="3">ผู้ฝึกอบรมก๊าซธรรมชาติ </option>
                    		</select>
					 </div>
					 <div class="col-sm-8">
	              	 	  	<label for="" class="control-label center">หลักสูตรการฝึกอบรมและวิทยากร</label><span id="course_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span><br/>
                    		<select id="course_EngineerTraining" style="width: 100%;">
                    		<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>
                    		</select>
					 </div>
              	 </div>
              </div>
      </div>
      <script>
      	$( document ).ready(function() {
          $.each($("form").find($("input:file")), function( index, value ) {
            $(value).attr("accept","application/pdf, image/jpeg, image/png");
          });
      		getListEngineerTraining();
		   $( "#type_EngineerTraining" ).change(function() {
			  //alert( $(this).val());
				  if($(this).val() == 1){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="1">หลักสูตรผู้ปฏิบัติงานถังขนส่งน้ำมันประเภทรถขนส่งน้ำมัน </option>');
				  	$('#course_EngineerTraining').append('<option value="2">หลักสูตรผู้ปฏิบัติงานคลังน้ำมันและระบบการขนส่งน้ำมันทางท่อ</option>');
				  	$('#course_EngineerTraining').append('<option value="3">หลักสูตรผู้ปฏิบัติงานสถานีบริการน้ำมัน </option>');
				  	$('#course_EngineerTraining').append('<option value="4">หลักสูตรผู้ปฏิบัติงานสถานที่เก็บรักษาน้ำมัน  </option>');
				  }else if($(this).val() == 2){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="5">หลักสูตรผู้ปฏิบัติงานสถานีบรรจุก๊าซปิโตรเลียมเหลว</option>');
				  	$('#course_EngineerTraining').append('<option value="6">หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซปิโตรเลียมเหลว</option>');
				  	$('#course_EngineerTraining').append('<option value="7">หลักสูตรผู้ปฏิบัติงานร้านจําหน่ายและโรงเก็บก๊าซปิโตรเลียมเหลว</option>');
				  }else if($(this).val() == 3){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="8">หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานรับหรือจ่ายก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="9">หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานประจํารถ</option>');
				  	$('#course_EngineerTraining').append('<option value="10">หลักสูตรผู้ปฏิบัติงานคลังก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="11">หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="12">หลักสูตรผู้ปฏิบัติงานสถานีบริการก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="13">หลักสูตรผู้ปฏิบัติงานระบบการขนส่งก๊าซธรรมชาติทางท่อ</option>');
				  }else{
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  }
			});

			 $( "#AddEngineerTrainingBtn" ).click(function() {


			 	var count_Required =0;
			 	var no_EngineerTraining = $('#no_EngineerTraining').val();
			 	var titleEngineerTraining = $('#bla_EngineerTraining').val();
			 	//alert(titleEngineerTraining);
			 	if(titleEngineerTraining == "0"){
			 		document.getElementById("bla_valid").innerHTML = "Required.";
			 		count_Required++;
			 	}else{
			 		document.getElementById("bla_valid").innerHTML = "";
			 	}


			 	var firstname_EngineerTraining = $('#firstname_EngineerTraining').val();
			 	if(!firstname_EngineerTraining){
			 		document.getElementById("firstname_EngineerTraining_valid").innerHTML = "Required.";
			 		count_Required++;
			 	}else{
			 		document.getElementById("firstname_EngineerTraining_valid").innerHTML = "";
			 	}

			 	var lastname_EngineerTraining = $('#lastname_EngineerTraining').val();
			 	if(!lastname_EngineerTraining){
			 		document.getElementById("lastname_EngineerTraining_valid").innerHTML = "Required.";
			 		count_Required++;
			 	}else{
			 		document.getElementById("lastname_EngineerTraining_valid").innerHTML = "";
			 	}

			 	var type_EngineerTraining = $('#type_EngineerTraining').val();
			 	if(!type_EngineerTraining){
			 		document.getElementById("type_EngineerTraining_valid").innerHTML = "Required.";
			 		count_Required++;
			 	}else{
			 		document.getElementById("type_EngineerTraining_valid").innerHTML = "";
			 	}

			 	var course_EngineerTraining = $('#course_EngineerTraining').val();
			 	if(!course_EngineerTraining){
			 		document.getElementById("course_EngineerTraining_valid").innerHTML = "Required.";
			 		count_Required++;
			 	}else{
			 		document.getElementById("course_EngineerTraining_valid").innerHTML = "";
			 	}
			 	if(count_Required != 0){
			 		return false;
			 	}
			 	 //String TITLE,String FIRSTNAME,
			 //String LASTNAME,String DBD_ID,String ENGINEER_ID,
			 //long TYPE_ENGINEER_TRAINING,long COURSE_ENGINEERTRAINING,Long RTID
			 	$.ajax({
				  type: "POST",
				  url: "/api/saveEngineerTraining",
				  data:'TITLE='+titleEngineerTraining+"&FIRSTNAME="+firstname_EngineerTraining+"&LASTNAME="+lastname_EngineerTraining+"&DBD_ID="+$("#dbdId").val()+"&ENGINEER_ID="+no_EngineerTraining+"&TYPE_ENGINEER_TRAINING="+type_EngineerTraining+"&COURSE_ENGINEERTRAINING="+course_EngineerTraining+"&RTID="+$('#rtId').val(),
				  success: function(data){
				  	console.log("Save Success: "+data);
					getListEngineerTraining();
					$('#AddEngineerTraining').modal('hide');
				  }
				  });

			 	//$('#EngineerTrainingList').dataTable().fnClearTable();//$('#EngineerTrainingListBody').html("");
			 	//$("#EngineerTrainingList").removeClass("dataTable no-footer");

			 	//dataTable no-footer

			 });


		});
		function getListEngineerTraining(){
		//$("#EngineerTrainingList").removeClass("dataTable no-footer");
		$('#EngineerTrainingListBody').html("");
		$("#EngineerTrainingList").dataTable().fnClearTable();
  		$("#EngineerTrainingList").dataTable().fnDestroy();
			$.ajax({
				  type: "POST",
				  url: "/api/getEngineerTraining",
				  datatype: "json",
				  data:"DBD_ID="+$("#dbdId").val()+"&RTID="+$('#rtId').val(),
				  success: function(data){
				  var content="";
				  console.log("List EngineerTraining: ");
					  $.each(data, function (index, value) {
          						content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          						if(value.engineerId){
          							content += '<td>'+value.engineerId+'</td>';
          						}else{
          							content += '<td style="padding-left: 55px;">-</td>';
          						}

          			            content += '<td>'+value.titleName.abbreviation+''+value.firstname+' '+value.lastname+'</td>';

          			            switch(value.typeEngineerTraining){
          			            	case 1:
								        content += '<td>ผู้ฝึกอบรมน้ำมัน</td>';
								        switch(value.courseEngineertraining){
								        	case 1:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานถังขนส่งน้ำมันประเภทรถขนส่งน้ำมัน </td>';
								        		break;
								        	case 2:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานคลังน้ำมันและระบบการขนส่งน้ำมันทางท่อ</td>';
								        		break;
								        	case 3:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานีบริการน้ำมัน</td>';
								        		break;
								        	case 4:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานที่เก็บรักษาน้ำมัน </td>';
								        		break;
								        	default:
								        		content += '<td style="padding-left: 55px;">-</td>';
								        }
								        break;
								    case 2:
								        content += '<td>ผู้ฝึกอบรมก๊าซปิโตรเลียมเหลว</td>';
								        switch(value.courseEngineertraining){
								        	case 5:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานีบรรจุก๊าซปิโตรเลียมเหลว</td>';
								        		break;
								        	case 6:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซปิโตรเลียมเหลว</td>';
								        		break;
								        	case 7:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานร้านจําหน่ายและโรงเก็บก๊าซปิโตรเลียมเหลว</td>';
								        		break;

								        	default:
								        		content += '<td style="padding-left: 55px;">-</td>';

								        }
								        break;
								     case 3:
								        content += '<td>ผู้ฝึกอบรมก๊าซธรรมชาติ</td>';
								        switch(value.courseEngineertraining){
								        	case 8:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานรับหรือจ่ายก๊าซธรรมชาติ</td>';
								        		break;
								        	case 9:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานประจํารถ</td>';
								        		break;
								        	case 10:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานคลังก๊าซธรรมชาติ</td>';
								        		break;
								        	case 11:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซธรรมชาติ</td>';
								        		break;
								        	case 12:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานสถานีบริการก๊าซธรรมชาติ</td>';
								        		break;
								        	case 13:
								        		content += '<td>หลักสูตรผู้ปฏิบัติงานระบบการขนส่งก๊าซธรรมชาติทางท่อ</td>';
								        		break;
								        	default:
								        		content += '<td style="padding-left: 55px;">-</td>';

								        }
								        break;
								    default:
								        content += '<td style="padding-left: 55px;">-</td>';
								        content += '<td style="padding-left: 55px;">-</td>';
          			            }
          			            /*content += '<td>'+value.firstname+'</td>';
          			            content += '<td>'+value.lastname+'</td>';
          			            content += '<td>'+value.type+'</td>';
          			            content += '<td>'+cn+'</td>';*/
          			            content += '<td><a  class="btn btn-custom-prev btn-sm edit-engineer" data-toggle="modal" '+
          			            'data-target="#exampleModalCenter" data-id="'+value.id+'" data-id-engineer="'+value.engineerId+
          			            '" data-title="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+
          			            '" data-type="'+value.type+'" onclick="appendDatatoModal(this)" style="padding-top: 8px;width: 30px;padding-left: 8px;">'+
          			            '<i class="glyphicon glyphicon-edit" style="font-size: 0.7em;"></i></a> <a class="btn btn-custom-next '+
          			            ' btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)" style="padding-top: 8px;width: 30px;padding-left: 8px;">'+
          			            '<i class="glyphicon glyphicon-trash" style="font-size: 0.7em;"></i></a></td>';

          			             content += '</tr>';

          			           // $('#zipcodeId').val(value.zipcode);

          			           console.log(index+": "+value);
          			        });
          			        console.log("Before input content");
          			         $('#EngineerTrainingListBody').html(content);
          			          console.log("Before input dataTable");
          			          //$("#EngineerTrainingList").removeClass("dataTable no-footer");

          			        //$('#EngineerTrainingList').dataTable()
          			         $('#EngineerTrainingList').dataTable({
          			         "destroy" : false,
							"bSort" : false,
							"language": {
                      "search": "ค้นหา :",
					            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
					            "zeroRecords": "ไม่มีข้อมูล",
					            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
					            "infoEmpty": "ไม่มีข้อมูล",
					            "paginate": {
								      "previous": "ก่อนหน้า",
								      "next": "ถัดไป"
								    }
					           // "infoFiltered": "(filtered from _MAX_ total records)"
					        }
							} );
							console.log("After input dataTable");
				  }
				  });
		}
      </script>
      <script type="text/javascript">
              		function appendDatatoModal(e){
              			var engineerId = $(e).attr('data-id-engineer');
              			//$('#e-company-name').val()

              			//alert(engineerId);
              			if(engineerId != "null"){
              			$("#edit-engineerId").val(engineerId);
              			}else{
              			$("#edit-engineerId").val("");
              			}
              			$("#engineerIdOriginal").val($(e).attr('data-id'));

              			$("#edit-title").val($(e).attr('data-title'));
              			$("#edit-firstname").val($(e).attr('data-firstname'));
              			$("#edit-lastname").val($(e).attr('data-lastname'));
              			$("#edit-type").val($(e).attr('data-lastname'));
              			$("#edit-company").val($('#e-company-name').val());
              		}
              		function deleteEngineer(e){
              			 if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
              		       // txt = "You pressed OK!";
              				$.post("/api-engineerTraining/delete",
              					    {
              							id:$(e).attr('data-id'),
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					        //alert("Data: " + data + "\nStatus: " + status);
              					      if(data != 0){
              					    	  alert('ลบข้อมูลเรียบร้อย');
              					      }else{
              					    	  alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
              					      }
              					      loadTableEngineer();
              					    });
              		    } else {
              		       // txt = "You pressed Cancel!";
              		    }

              		}
              		</script>
      <div class="modal-footer">
         <button type="button" class="btn btn-custom-prev" data-dismiss="modal">ยกเลิก</button>
             <button  id="AddEngineerTrainingBtn" type="button" class="btn btn-custom-confirm">บันทึก</button>

      </div>
    </div>
  </div>
</div>
              <div class="form-horizontal">
                  <table class="display" style="width: 100%;" id="EngineerTrainingList">
                  	<thead>
                  		<tr>
                  			<th>เลขที่ใบรับรองวิทยากร</th>
                  			<th>ชื่อวิทยากร</th>
                  			<th>ประเภทผู้ฝึกอบรม </th>
                  			<th width="180px">หลักสูตรการฝึกอบรม </th>
                  			<th></th>
                  		</tr>
                  	</thead>
                  	<tbody id="EngineerTrainingListBody">

                  	</tbody>
                  </table>
			  </div>

          <hr>
          <div class="row text-right mt-20">
          		     <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
         </div>
        </div>


         <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้ประกอบคําขอรับใบรับรอง  </h3>
             <div class="form-horizontal striped">

								<h3 class="title">1. เอกสารหลักฐานเกี่ยวกับผู้ขอใบรับรอง</h3>
								<label for="" class="control-label center">1.1 กรณีผู้ค้าน้ำมันตามมาตรา 7 ตามกฏหมายว่าด้วยการค้าน้ำมันเชื้อเพลิง</label>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_1" id="sCheckFile_1" class="iCheckFile" data-file-id="1">
										<label for="" class="control-label center">สำเนาใบอนุญาตเป็นผู้ค้าน้ำมันตามมาตรา 7</label>
										<div id="sArea_1" style="display: none;">
											<input type="file" name="sFileDetail_1" class="well well-sm" id="sFileDetail_1">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_2" id="sCheckFile_2" class="iCheckFile" data-file-id="2">
										<label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
										<div id="sArea_2" style="display: none;">
											<input type="file" name="sFileDetail_2" class="well well-sm" id="sFileDetail_2">
										</div>
									</div>
								</div>

								<label for="" class="control-label center">1.2 กรณีส่วนราชการ รัฐวิสาหกิจ และสถานบันการศึกษา</label>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_3" id="sCheckFile_3" class="iCheckFile" data-file-id="3">
										<label for="" class="control-label center">กฏหมายว่าด้วยการจัดตั้ง</label>
										<div id="sArea_3" style="display: none;">
											<textarea class="form-control edit" name="sFileDetail_2" id="sFileDetail_2" cols="30" rows="5"></textarea>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_4" id="sCheckFile_4" class="iCheckFile" data-file-id="4">
										<label for="" class="control-label center">สำเนาใบอนุญาตจัดตั้งสถาบันการศึกษาเอกชน</label>
										<div id="sArea_4" style="display: none;">
											<textarea class="form-control edit" name="sFileDetail_4" id="sFileDetail_4" cols="30" rows="5"></textarea>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_5" id="sCheckFile_5" class="iCheckFile" data-file-id="5">
										<label for="" class="control-label center">อื่น ๆ</label>
										<div id="sArea_5" style="display: none;">
											<textarea class="form-control edit" name="sFileDetail_5" id="sFileDetail_5" cols="30" rows="5"></textarea>
										</div>
									</div>
								</div>

								<label for="" class="control-label center">1.3 กรณีนิติบุคคลที่ประกอบกิจการฝึกอบรม</label>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_6" id="sCheckFile_6" class="iCheckFile" data-file-id="6">
										<label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
										<div id="sArea_6" style="display: none;">
											<input type="file" name="sFileDetail_6" class="well well-sm" id="sFileDetail_6">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_7" id="sCheckFile_7" class="iCheckFile" data-file-id="7">
										<label for="" class="control-label center">ทุนจดทะเบียน</label>
										<div id="sArea_7" style="display: none;">
											<input type="number" name="sFileDetail_7" class="well well-sm" id="sFileDetail_7"> บาท
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_8" id="sCheckFile_8" class="iCheckFile" data-file-id="8">
										<label for="" class="control-label center">มีสำนักงานที่มีที่ทำการแน่นอน โดยมีสำเนาแสดงสิทธิ์ใช้ที่ดิน</label>
										<div id="sArea_8" style="display: none;">
											<input type="file" name="sFileDetail_8" class="well well-sm" id="sFileDetail_8">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<input type="checkbox" name="sCheckFile_9" id="sCheckFile_9" class="iCheckFile" data-file-id="9">
										<label for="" class="control-label center">โฉนดที่ดิน</label>
									</div>
									<div id="sArea_9" style="display: none;">
											<div class="col-md-3">
												<input type="checkbox" name="sCheckFile_10" id="sCheckFile_10" class="iCheckFile" data-file-id="10">
												<label for="" class="control-label center">น.ส.3</label>
												<div id="sArea_10" style="display: none;">
													<input type="file" name="sFileDetail_10" class="well well-sm" id="sFileDetail_10">
												</div>
											</div>
											<div class="col-md-3">
												<input type="checkbox" name="sCheckFile_11" id="sCheckFile_11" class="iCheckFile" data-file-id="11">
												<label for="" class="control-label center">น.ส.3ก</label>
												<div id="sArea_11" style="display: none;">
													<input type="file" name="sFileDetail_11" class="well well-sm" id="sFileDetail_11">
												</div>
											</div>
											<div class="col-md-3">
												<input type="checkbox" name="sCheckFile_12" id="sCheckFile_12" class="iCheckFile" data-file-id="12">
												<label for="" class="control-label center">ส.ค.1</label>
												<div id="sArea_12" style="display: none;">
													<input type="file" name="sFileDetail_12" class="well well-sm" id="sFileDetail_12">
												</div>
											</div>
											<div class="col-md-3">
												<input type="checkbox" name="sCheckFile_13" id="sCheckFile_13" class="iCheckFile" data-file-id="13">
												<label for="" class="control-label center">อื่น ๆ</label>
												<div id="sArea_13" style="display: none;">
													<input type="text" name="sFileDetail_13" class="form-control edit" id="sFileDetail_13">
												</div>
											</div>
										</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_14" id="sCheckFile_14" class="iCheckFile" data-file-id="14"> สำเนาเอกสารแสดงว่าผู้ขอใบรับรองมีสิทธิ์ใช้ที่ดิน หรือหนังสือยินยอมให้ใช้ที่ดิน หรือหนังสือยินยอมจากหน่วยงานที่มีหน้าที่ดูแลและรับผิดชอบที่ดินดังกล่าว
												</label>
											</div>
										<div id="sArea_14" style="display: none;">
											<input type="file" name="sFileDetail_14" class="well well-sm" id="sFileDetail_14">
										</div>
									</div>
								</div>

								<h3 class="title">2. เอกสารหลักฐานอื่น</h3>
								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_15" id="sCheckFile_15"
														class="iCheckFile" data-file-id="15"> สำเนาบัตรประชาชนของผู้มีอำนาจลงนาม
												</label>
											</div>
										<div id="sArea_15" style="display: none;">
											<input type="file" name="sFileDetail_15" class="well well-sm" id="sFileDetail_15">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_16" id="sCheckFile_16"
														class="iCheckFile" data-file-id="16"> หนังสือมอบอำนาจ (ถ้ามี) พร้อมสำเนาบัตรประจำตัวประชาชนของผู้มอบอำนาจ และผู้รับมอบอำนาจ
												</label>
											</div>
										<div id="sArea_16" style="display: none;">
											<input type="file" name="sFileDetail_16" class="well well-sm" id="sFileDetail_16">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_17" id="sCheckFile_17"
														class="iCheckFile" data-file-id="17"> หนังสือยินยอมของวิทยากรผู้ฝึกอบรม
												</label>
											</div>
										<div id="sArea_17" style="display: none;">
											<input type="file" name="sFileDetail_17" class="well well-sm" id="sFileDetail_17">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_18" id="sCheckFile_18"
														class="iCheckFile" data-file-id="18"> สำเนาใบรับรองวิทยากร (ถ้ามี)
												</label>
											</div>
										<div id="sArea_18" style="display: none;">
											<input type="file" name="sFileDetail_18" class="well well-sm" id="sFileDetail_18">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
											<div class="checkbox">
												<label>
													<input type="checkbox" name="sCheckFile_24" id="sCheckFile_24"
														class="iCheckFile" data-file-id="24"> แผนที่โดยสังเขปของสำนักงานที่ตั้ง
												</label>
											</div>
										<div id="sArea_24" style="display: none;">
											<input type="file" name="sFileDetail_24" class="well well-sm" id="sFileDetail_24">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-12">
										<div class="checkbox">
											<label>
												<input type="checkbox" name="sCheckFile_19" id="sCheckFile_19"
													class="iCheckFile" data-file-id="19"> เอกสารการฝึกอบรมเพื่อประกอบการรับรองหลักสูตรการฝึกอบรมที่ยื่นขอใบรับรองจำนวน 2 ชุด แต่ละหลักสูตร ประกอบด้วย
											</label>
										</div>
									</div>
									<div id="sArea_19" style="display: none;">
										<div class="col-md-6">
												<label>
												<input type="checkbox" name="sCheckFile_20" id="sCheckFile_20"
													class="iCheckFile" data-file-id="20"> เอกสารและข้อมูลอิเล็กทรอนิกส์ของคู่มือการฝึกอบรม
											</label>
											<div id="sArea_20" style="display: none;">
												<input type="file" name="sFileDetail_20" class="well well-sm" id="sFileDetail_20">
											</div>
										</div>
										<div class="col-md-6">
												<label>
												<input type="checkbox" name="sCheckFile_21" id="sCheckFile_21"
													class="iCheckFile" data-file-id="21"> ภาพถ่ายสื่อการสอน เครื่องมือและอุปกรณ์ที่ใช้ในการฝึกอบรม
											</label>
											<div id="sArea_21" style="display: none;">
												<input type="file" name="sFileDetail_21" class="well well-sm" id="sFileDetail_21">
											</div>
										</div>

										<div class="col-md-6">
												<label>
												<input type="checkbox" name="sCheckFile_22" id="sCheckFile_22"
													class="iCheckFile" data-file-id="22"> แนวข้อสอบพร้อมเฉลย อย่างน้อย 50 ข้อ
											</label>
											<div id="sArea_22" style="display: none;">
												<input type="file" name="sFileDetail_22" class="well well-sm" id="sFileDetail_22">
											</div>
										</div>

										<div class="col-md-6">
												<label>
												<input type="checkbox" name="sCheckFile_23" id="sCheckFile_23"
													class="iCheckFile" data-file-id="23"> อื่น ๆ
											</label>
											<div id="sArea_23" style="display: none;">
												<input type="text" name="sFileDetail_23" class="form-control edit" id="sFileDetail_23">
											</div>
										</div>

									</div>
								</div>

             </div>
          <hr>
          <div class="row text-right mt-20">
          		<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
			        <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
             <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
          </div>
        </div>

        </div>
 </div>

</form>


  <!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิทยากร</h2>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form onSubmit="return false;">
		      <div class="modal-body">
		      <div class="form-group">
		      		<label>เลขวิศวกร</label><br/>
			      	<input type="hidden" name="engineerIdOriginal" id="engineerIdOriginal" value="">
			      	<input type="text" class="form-control" name="edit-engineerId" id="edit-engineerId" value="" >
		      </div>
		      <div class="form-group">
		      		<label>คำนำหน้า</label><br/>
			      	<select name="edit-title" id="edit-title" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
		      </div>
		      <div class="form-group">
		      		<label>ชื่อ</label><br/>
			      	<input type="text" class="form-control" name="edit-firstname" id="edit-firstname" value="" >
		      </div>
		      <div class="form-group">
		      		<label>นามสกุล</label><br/>
			      	<input type="text" class="form-control" name="edit-lastname" id="edit-lastname" value="" >
		      </div>
		      <div class="form-group">
		      		<label>ตำแหน่ง</label><br/>
			      	<input type="text" class="form-control" name="edit-type" id="edit-type" value="">
		      </div>
		       <div class="form-group">
		      		<label>บริษัท</label><br/>
			      	<input type="text" class="form-control" name="edit-company" id="edit-company" value="">
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="submit" class="btn btn-primary" id="updateEngineerBtn">บันทึก</button>
		      </div>
		      <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">


		      </form>
		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateEngineerBtn').click(function (){
        				//alert('asdopaisdpo');
        				$.post("/api-engineer/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่");
        					        }
        					    });
        			});

        		});
		      </script>
		    </div>
		  </div>
		</div>

<div th:replace="common-officer/footer :: common-footer">


</body>

<script type="text/javascript">
$(document).ready(function () {

		$('.iCheckFile').change(function() {
			iFileID = $(this).data("file-id")
			if($(this).is(":checked")) {
				$('#sArea_'+iFileID).css('display','block');
				// $("#fs5").prop('',true);
			} else {
				$('#sArea_'+iFileID).css('display','none');
				// $("#fs5").prop('',false);
			}
		});

	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });

       $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
      });

       $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
      });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" + (year + 543) ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {

	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');

	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');

	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>
