<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head th:replace="common-onestop/header :: common-header" />

<body>
	<div th:replace="common-onestop/navbar :: common-navbar" />
	<link rel="stylesheet" href="" th:href="@{/vendor/jojosati-bootstrap-datepicker-thai/css/datepicker.css}">
	<!-- start content -->
	<div class="box-container mb-50">

		<div class="row">
			<div class="col-md-2 text-right"></div>
			<div class="col-md-8 text-center">
				<h3 class="text-center"><u>จดหมายสำหรับแก้ไขเปลี่ยนแปลง</u></h3>
			</div>
			<div class="col-md-2 text-right">
				<h2 class="text-right">จดหมาย</h2>
				<input type="hidden" id="typePage" value="1">
			</div>
		</div>

		<form method="post" action="#" th:action="@{/onestop/form/submission}" enctype="multipart/form-data">
			<!-- <form onsubmit="return checkCheckBoxes(this);" method="post" action="#" th:action="@{/onestop/form/submission}" enctype="multipart/form-data"> -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-6 text-right">
					<div class="form-inline">
						<div class="form-group">
							<label>เขียนที่</label>
							<input type="text" class="form-control edit text-center" name="write_at_tester" value="กรมธุรกิจพลังงาน">
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-10">
				<div class="col-sm-6 col-sm-offset-6 text-right">
					<div class="form-inline">
						<div class="form-group">
							<label>วันที่</label>
							<input type="text" id="theDate" class="form-control edit text-center" value="">
						</div>
					</div>
				</div>
			</div>

			<!-- end date form -->
			<!-- Nav tabs -->
			<ul class="nav nav-tabs mt-40" role="tablist">
				<li role="presentation" class="tab-edit active" id="nav-1">
					<a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="padding: 25px 10px;">1 รายละเอียดจดหมาย</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-2">
					<a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="padding: 25px 10px;">2 ผู้ปฎิบัติงานทดสอบและตรวจสอบ</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-3">
					<a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="padding: 25px 10px;">3 เอกสารหลักฐานประกอบ</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="tap1">
					<div action="#" class="form-inline">
                        <h3 class="title">ส่วนที่ 1 : รายละเอียดจดหมาย</h3>
                        <div class="text-center">
                            <strong>การเปลี่ยนแปลงรายชื่อบุคลากรผู้ปฏิบัติงานวิศวกรออกแบบสถานที่ใช้ก๊าซธรรมชาติ</strong>
                        </div>
						<div class="form-group">
                            <label class="pl-30">ตามใบรับรองแบบ สธช./ท1/1 เลขที่
                                <input type="number" class="form-control edit" id="number" name="number" placeholder=""
                                value="" th:value="${entryMap != null} ? ${entryMap['number']} : ''">
                            </label>
                            <label>ให้ไว้ ณ
                            <input type="text" class="form-control edit date" name="date" placeholder=""
                             value="" th:value="${entryMap != null} ? ${entryMap['date']} : ''">
                            </label>
                            <br>
                            <label>ของบริษัท
                            <input type="text" class="form-control edit" id="company_name" name="company_name" placeholder=""
                            value="" th:value="${entryMap != null} ? ${entryMap['company_name']} : ''">
                            เอกสารแนบท้ายฉบับนี้ใช้สำหรับเป็นข้อมูลแสดงรายละเอียดที่เกี่ยวกับใบรับรอง และถือเป็นส่วนหนึ่ง</label>
                            <label>ของการบันทึกข้อมูลสำคัญของวิศวกรออกแบบดังกล่าว นั้น</label>
                            <br>
							<label class="pl-30">ในการนี้ การขอเปลี่ยนแปลงรายชื่อบุคลากรผู้ปฏิบัติงานวิศวกรออกแบบสถานที่ใช้ก๊าซธรรมชาติ บริษัท
                            <input type="text" class="form-control edit" id="company_name2" name="company_name2" placeholder=""
                            value="" th:value="${entryMap != null} ? ${entryMap['company_name2']} : ''"> 
                            </label>
                            <label>กรณีการขอเพิ่มรายชื่อบุคลากรผู้ปฏิบัติงานวิศวกรออกแบบตามแบบนำเรียนอธิบดีกรมพลังงาน
                            ของบริษัท <input type="text" class="form-control edit" id="company_name3" name="company_name3" placeholder=""
                            value="" th:value="${entryMap != null} ? ${entryMap['company_name3']} : ''">
                            </label>
                            <label>
                            กรมธุรกิจพลังงาน ได้ดำเนินการเพิ่ม บุคลากรผู้ปฏิบัติงานวิศวกรออกแบบ ในฐานข้อมูลทะเบียนเรียบร้อยแล้ว ตามรายชื่อดังนี้
                            </label>
                        </div>
                        <div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="letter" id="c6">
								<label for="" class="control-label center">แนบไฟล์จดหมาย</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_letter']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s6" style="display: none;">
									<input type="file" name="file_letter" class="well well-sm" id="fs6">
								</div>
							</div>
						</div>
						<div class="row text-right mt-20">
							<a id="prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" class="btn btn-custom-prev">ย้อนกลับ</a>
							<a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab"
							 data-toggle="tab">ถัดไป</a>
						</div>
						<hr>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap2">
					<div action="#" class="form-horizontal">
						<h3 class="title">ส่วนที่ 2 : ผู้ปฎิบัติงานทดสอบและตรวจสอบ</h3>
						<div th:replace="inc_module/tab_module/engineer_quality2 :: engineer-quality2" />
						<hr>
						<div class="row text-right mt-20">
							<a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab"
							 data-toggle="tab">ย้อนกลับ</a>
							<a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab"
							 data-toggle="tab">ถัดไป</a>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap3">
					<h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานประกอบ</h3>
					<div class="form-horizontal striped">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="ch3_1" id="c1">
                                <label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
                                <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                                <div id="s1" style="display: none;">
                                    <input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="ch3_2" id="c2">
                                <label for="" class="control-label center">หนังสือบริคณห์สนธิและ ภ.พ. 20</label>
                                <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                                <div id="s2" style="display: none;">
                                    <input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="ch3_3" id="c3">
                                <label for="" class="control-label center">หนังสือมอบอำนาจ (ถ้ามี)</label>
                                <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                                <div id="s3" style="display: none;">
                                    <input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="ch3_4" id="c4">
                                <label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน และสำเนาทะเบียนบ้านของผู้มอบอำนาจ (ถ้ามีการมอบอำนาจ)</label>
                                <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                                <div id="s4" style="display: none;">
                                    <input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="checkbox" name="ch3_5" id="c5">
                                <label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชนแลสำเนาทะบียนบ้านของผู้รับมอบนาจ (ถ้ามีการมอบอำนาจ)</label>
                                <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_5']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </a>
                                <div id="s5" style="display: none;">
                                    <input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="row text-right mt-20">
                        <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
                        <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
                        <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
                        <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
                        <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
                        <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
						<a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<input id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก" />
					</div>
				</div>

			</div>
		</form>
	</div>

	<div th:replace="common-officer/footer :: common-footer" />

</body>

<!-- <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script> -->
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js}"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	$('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
    });
    $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
    });

    $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
    });

    $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
	});
	
		$('#datetester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		$('#datenum_tester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		$('#date_office_tester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});
		
		$('#sDateRetriveDocs').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		var selected_provinceId_person = "[[${entryMap != null} ? ${entryMap['province_service']} : '0']]";
		$("#provinceId_person").val(selected_provinceId_person);
		// getAmphurAttorney(selected_provinceId_person);
		var abc =
			'{"edit-toolNameCat":"0","anount_person":"1","toolNameCatagory":"0","formMetaId":"398","systemsend_num":"69","edit-toolPhotoImg":"","sToolFile_2":"","check_num":"69","sToolFile_1":"","edit-toolSerial":"","tumbon_service":"377","sEngineerFile_5":"","calibration_tool":"","sEngineerFile_1":"","sEngineerFile_2":"","sEngineerFile_3":"","sEngineerFile_4":"","datenum_tester":"16/11/2561","file_tester10":"","placeregister_tester":"placeregister_tester","file_tester11":"","file_tester12":"","office_road":"street","edit-firstname-th":"สอน","dataedit":"","toolName":"0","formId":"18","edit-prefix-th":"คำนำหน้า","edit-toolModel":"","edit-toolName":"0","proprietary_document":"","edit-name-en":"Sornram","toolPhotoImg":"","provinceId":"4","toolSerial":"","numofficer_tester":"69/96","table-engineer_length":"10","table-tool_length":"10","e-dbdId":"1324566545364","prefix_service3":"เจ้า","formMetaIdASA":"398","file_tester9":"","e-company-name":"companyName3","file_tester8":"","payment_regiter":"3624151","amount_asset":"50","file_tester7":"","firstname_service3":"คำสร้อย","file_tester6":"","num_tester":"01110","admin_num":"69","file_tester5":"","toolModel":"","file_tester4":"","file_tester3":"","file_tester2":"","rtId":"588","edit-toolId":"","date_office_tester":"16/11/2561","office_numhome":"addressNo","dbdId":"13-245-66-545364","type_2_8":"1","amount_accident":"2","type_2_9":"2","toolBrand":"","type_4_1":"2","bla":"226","calibration_tool_expire":"","edit-title-th":"226","edit-lastname-th":"ราม","file_tester1":"","rfId":"23","aData":"{anount_person=1, formMetaId=398, systemsend_num=69, check_num=69, tumbon_service=377, sEngineerFile_5=, sEngineerFile_1=, sEngineerFile_2=, sEngineerFile_3=, sEngineerFile_4=, datenum_tester=16/11/2561, file_tester10=, placeregister_tester=placeregister_tester, file_tester11=, file_tester12=, office_road=street, edit-firstname-th=สอน, dataedit=, formId=18, edit-prefix-th=คำนำหน้า, edit-name-en=Sornram, provinceId=4, numofficer_tester=69/96, table-engineer_length=10, e-dbdId=1324566545364, prefix_service3=เจ้า, formMetaIdASA=398, file_tester9=, e-company-name=companyName3, file_tester8=, payment_regiter=3624151, amount_asset=50, file_tester7=, firstname_service3=คำสร้อย, file_tester6=, num_tester=01110, admin_num=69, file_tester5=, file_tester4=, file_tester3=, file_tester2=, rtId=588, date_office_tester=16/11/2561, office_numhome=addressNo, dbdId=13-245-66-545364, type_2_8=1, amount_accident=2, type_2_9=2, type_4_1=2, bla=226, edit-title-th=226, edit-lastname-th=ราม, file_tester1=, rfId=23, aData={anount_person=1, toolNameCatagory=0, systemsend_num=69, edit-toolPhotoImg=, sToolFile_2=, check_num=69, sToolFile_1=, edit-engineerId=, tumbon_service=1128, calibration_tool=, edit-title=0, edit-lastname-en=, datenum_tester=16/11/2561, road_attorney=, e-prefix=, file_tester10=, file_tester11=, edit-type=0, file_tester12=, office_road=street, edit-firstname-th=สอน, dataedit=, toolName=0, moo_attorney=, edit-toolModel=, edit-toolName=0, proprietary_document=, e-idPerson=, numofficer_tester=69/96, soi_attorney=9, table-engineer_length=10, engineerId=, edit-firstname=, prefix_service3=เจ้า, engineerIdOriginal=, formMetaIdASA=0, e-company-name=companyName3, num_tester=01110, toolModel=, sDatePermitExpire=, edit-toolId=, date_office_tester=16/11/2561, office_numhome=addressNo, e-engineerFaculty=0, e-engineerType=0, type_2_8=1, type_2_9=2, toolBrand=, bla=226, calibration_tool_expire=, rfId=23, get_receipt=2, office_soi=soi, amphur_service=140, sDatePermit=, wishing_tester=ทดสอบฯ, write_at_tester=, systemsum_num=, edit-idPerson=, edit-toolBrand=, edit-toolNameCat=0, tel_attorney=, formMetaId=0, e-lastname=, edit-toolSerial=, sEngineerFile_5=, email_attorney=, sEngineerFile_6=, sEngineerFile_7=, sEngineerFile_1=, provinceId_attorney=, zipcodeId_attorney=, sEngineerFile_2=, sEngineerFile_3=, sEngineerFile_4=, placeregister_tester=placeregister_tester, formId=18, edit-prefix-th=คำนำหน้า, edit-name-en=Sornram, toolPhotoImg=, provinceId=11, edit-faculty=0, toolSerial=, table-tool_length=10, e-dbdId=1324566545364, file_tester9=, file_tester8=, payment_regiter=3624151, amount_asset=50, amphurId_attorney=, file_tester7=, firstname_service3=คำสร้อย, e-title=0, districtId_attorney=, file_tester6=, admin_num=69, file_tester5=, edit-lastname=, file_tester4=, file_tester3=, file_tester2=, rtId=588, dbdId=13-245-66-545364, e-firstname=, amount_accident=2, type_4_1=2, edit-title-th=226, edit-lastname-th=ราม, file_tester1=, edit-lastname-cn=, numberhome_attorney=, register_tester=ทวงถามหนี้, office_tester=companyName3, controllerPosition=officerController, fax_attorney=, sDateRetriveDocs=21/11/2561, edit-name-cn=你好, lastname_service3=มานี, amount_register=999999999, office_tel=999999999}, get_receipt=2, register_tester=ทวงถามหนี้, office_soi=soi, amphur_service=68, office_tester=companyName3, controllerPosition=officerController, sDateRetriveDocs=21/11/2561, edit-name-cn=你好, wishing_tester=ทดสอบฯ, write_at_tester=กรมธุรกิจพลังงาน, lastname_service3=มานี, systemsum_num=, amount_register=999999999, office_tel=999999999}","get_receipt":"2","register_tester":"ทวงถามหนี้","office_soi":"soi","amphur_service":"68","office_tester":"companyName3","controllerPosition":"officerController","sDateRetriveDocs":"21/11/2561","edit-name-cn":"你好","wishing_tester":"ทดสอบฯ","write_at_tester":"กรมธุรกิจพลังงาน","lastname_service3":"มานี","systemsum_num":"","amount_register":"999999999","office_tel":"999999999","edit-toolBrand":""}';
		// $('table').dataTable({
		//                   "oLanguage": {
		//                   "sLengthMenu": "แสดง _MENU_ เร็คคอร์ด ต่อหน้า",
		//                   "sZeroRecords": "ไม่เจอข้อมูลที่ค้นหา",
		//                   "sInfo": "แสดง _START_ ถึง _END_ ของ _TOTAL_ เร็คคอร์ด",
		//                   "sInfoEmpty": "แสดง 0 ถึง 0 ของ 0 เร็คคอร์ด",
		//                   "sInfoFiltered": "(จากเร็คคอร์ดทั้งหมด _MAX_ เร็คคอร์ด)",
		//                   "sSearch": "ค้นหา :"
		//                                 }
		//               });

		$('body').on('click', '.editBtnUpload', function () {
			// console.log($(this).prev().attr("type", "file"))
			$(this).remove()
		})

		var file_tester1 = "[[${entryMap != null}? ${entryMap['file_tester1']}:'']]";
		// console.log(file_tester1);
		if (file_tester1 != '' || file_tester1 != null) {
			// $('#file_tester1').val(file_tester1);
			// $('#file_tester1').attr("type","hidden");
		}

		if ($('#bla').val() == '226') {
			$('#prefix_service3').show();
		}

		var edit_title_th = "[[${entryMap != null}? ${entryMap['edit-title-th']}:'0']]";
		if (edit_title_th == '226') {
			$("div#showTitle-2-226").show();
		}

		var chkReceipt = "[[${entryMap != null} ? ${entryMap['get_receipt']} : '']]";
		console.log("xx : "+chkReceipt)
		if (chkReceipt == '' || chkReceipt == null) {
			$('select#get_receipt').val('');
		} else {
			$('select#get_receipt').val(chkReceipt);
		}

		$('#someTab').tab('show');

		$("#next-1").click(function () {
			$("#nav-1").removeClass('active');
			$("#nav-2").addClass('active');
		});
		$("#next-2").click(function () {
			$("#nav-2").removeClass('active');
			$("#nav-3").addClass('active');
		});
		$("#next-3").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-4").addClass('active');
		});

		$("#next-4").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-4").addClass('active');
		});

		$("#next-5").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-5").addClass('active');
		});

		$("#prev-1").click(function () {
			$("#nav-2").removeClass('active');
			$("#nav-1").addClass('active');
		});
		$("#prev-2").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-2").addClass('active');
		});
		$("#prev-3").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-3").addClass('active');
		});

		$("#prev-4").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-3").addClass('active');
		});

		$("#prev-5").click(function () {
			$("#nav-5").removeClass('active');
			$("#nav-4").addClass('active');
		});

	});
</script>

<script type="text/javascript">
	var date = new Date();

	var day = date.getDate();
	var month = date.getMonth() + 1;
	var year = date.getFullYear() + 543;

	if (month < 10) month = "0" + month;
	if (day < 10) day = "0" + day;

	var today = day + "/" + month + "/" + year;


	document.getElementById('theDate').value = today;
</script>
<script>
	function getAmphur(val) {

		$('#office_auphur').html('');
		$('#office_tumbon').html('');
		$('#zipcodeId').val('');

		$('#office_auphur').append('<option value="">- เลือก -</option>');
		$('#office_province').append('<option value="">- เลือก -</option>');

		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data: 'provinceId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#office_auphur').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
				});
			}
		});
	}


	function getTambon(val) {
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data: 'amphurId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#office_tumbon').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
				});
			}
		});
	}

	function getZipcode(val) {
		$.ajax({
			type: "POST",
			url: "/api/zipcode",
			data: 'districtId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#zipcodeId').val(value.zipcode);
				});
			}
		});
	}
</script>

<script type="text/javascript">
	$(document).ready(function () {


		$('#calibration_tool_expire').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
        });
        $('.date').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});
		$.each($("form").find($("input:file")), function (index, value) {
			$(value).attr("accept", "application/pdf, image/jpeg, image/png");
		});
	});
</script>
<script>
	$('body').on('keyup', '.allownumericwithdecimal', function () {

		var val = $(this).val();
		// console.log(val);
		var pass = 0; // 1 = กรอกข้อมูลไม่ใช่ตัวเลข หรือ ทศนิยม
		for (var i = 0; i < val.length; i++) {
			if (val.charAt(i) != '1' && val.charAt(i) != '2' && val.charAt(i) != '3' && val.charAt(i) != '4' && val.charAt(i) !=
				'5' &&
				val.charAt(i) != '6' && val.charAt(i) != '7' && val.charAt(i) != '8' && val.charAt(i) != '9' && val.charAt(i) !=
				'0' &&
				val.charAt(i) != '.') {
				pass = 1;
			}
		}
		if (pass == 1) {
			alert('กรุณากรอกเฉพาะตัวเลขเท่านั้น!');
			$(this).val('');
		}
	})
</script>
<script th:inline="javascript">
	function getAmphurAttorney(val) {

		$('#amphurId_attorney').html('');
		$('#districtId_attorney').html('');
		$('#zipcodeId_attorney').val('');

		$('#amphurId_attorney').append('<option value="">- เลือก -</option>');
		$('#districtId_attorney').append('<option value="">- เลือก -</option>');
		var s = "";
		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data: 'provinceId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#amphurId_attorney').append('<option value="' + value.amphurId + '" ' + s + '>' + value.amphurName +
						'</option>');
				});
			}
		});
	}

	function getTambonAttorney(val) {
		var s = "";
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data: 'amphurId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#districtId_attorney').append('<option value="' + value.districtId + '">' + value.districtName +
						'</option>');
				});
			}
		});
	}

	function getZipcodeAttorney(val) {
		$.ajax({
			type: "POST",
			url: "/api/zipcode",
			data: 'districtId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#zipcodeId_attorney').val(value.zipcode);
				});
			}
		});
	}

	function getAmphurAttorneyModal(val) {

		$('#amphurId_attorney_modal').html('');
		$('#districtId_attorney_modal').html('');
		$('#zipcodeId_attorney_modal').val('');

		$('#amphurId_attorney_modal').append('<option value="">- เลือก -</option>');
		$('#districtId_attorney_modal').append('<option value="">- เลือก -</option>');
		var s = "";
		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data: 'provinceId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#amphurId_attorney_modal').append('<option value="' + value.amphurId + '" ' + s + '>' + value.amphurName +
						'</option>');
				});
			}
		});
		}

		function getTambonAttorneyModal(val) {
		var s = "";
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data: 'amphurId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#districtId_attorney_modal').append('<option value="' + value.districtId + '">' + value.districtName +
						'</option>');
				});
			}
		});
		}

		function getZipcodeAttorneyModal(val) {
		$.ajax({
			type: "POST",
			url: "/api/zipcode",
			data: 'districtId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#zipcodeId_attorney_modal').val(value.zipcode);
				});
			}
		});
		}
</script>

</html>