<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container mb-50">

    <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คําขอขึ้นทะเบียนเป็นวิศวกรออกแบบสถานที่ใช้ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">สธช./ข.๑/๑</h2>
	</div>
	</div>

    <form action="#" th:action="@{/onestop/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1" style="width: 30%;">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ยื่นคําขอ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2" style="width: 30%;">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 เอกสารหลักฐานเป็นวิศวกรออกแบบ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3" style="width: 30%;">
          <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ผู้ปฏิบัติงานทดสอบและตรวจสอบ</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลของผู้ยื่นคําขอ</h3>
            <div class="form-horizontal">

              <div class="form-group">
              	<div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>

									<select name="bla" id="bla" class="form-control edit"  >
                    <option value="0">- เลือก -</option>
										<option th:each="TitleName : ${lTitleName}"
											th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
											th:value="${TitleName.code}"
											th:utext="${TitleName.abbreviation}"
											th:selected="${TitleName.code==selectedValue}" />
                  </select>

                  </div>
                  <div class="col-sm-3" id="section-title" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''" th:style="${selectedValue == '226'} ?'display:block':'display:none'">
										<label for="formDescription" class="control-label center">โปรดระบุ</label>
										<input type="text" class="form-control edit" name="sTitleNameEtc" id="sTitleNameEtc" maxlength="17" th:value="${entryMap != null} ? ${entryMap['sTitleNameEtc']} : ''">
									</div>
                <div class="col-sm-3">
                  <label for="" class="control-label center">ชื่อ</label>
                  <input type="text" class="form-control edit" id="firstname_attorney" name="firstname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_attorney']} : ''">
                </div>
                <div class="col-sm-3">
                  <label for="" class="control-label center">นามสกุล</label>
                  <input type="text" class="form-control edit" id="lastname_attorney" name="lastname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_attorney']} : ''">
                </div>
                <div class="col-sm-3">
                  <label for="" class="control-label center">อายุ</label>
                  <input type="text" class="form-control edit allownumericwithdecimal" id="age_attorney" name="age_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['age_attorney']} : ''">
                </div>
              </div>
            </div>
            <script>
                $('body').on('change','#bla',function(){
                  var bla_value = $(this).val();
                  if(bla_value == 226){
                    $('div#section-title').show();
                  }else{
                    $('div#section-title').hide();
                  }
                });
            </script>

            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="" class="control-label center">มีความประสงค์ขอขึ้นทะเบียนเป็นวิศวกรออกแบบ ชื่อ</label>
                  <input type="text" class="form-control edit" id="detail_attorney" name="detail_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['detail_attorney']} : ''">
                </div>
              </div>
            </div>

              <h4 class="title">สถานที่ตั้งสำนักงาน</h4>
              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
	                    <input type="text" class="form-control edit allownumericwithdecimal" id="numberhome_attorney" placeholder=""  value="" name="numberhome_attorney" th:value="${entryMap != null} ? ${entryMap['numberhome_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input type="text" class="form-control edit allownumericwithdecimal" id="moo_attorney" placeholder="" value="" name="moo_attorney" th:value="${entryMap != null} ? ${entryMap['moo_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input type="text" class="form-control edit" id="soi_attorney" placeholder=""  value="" name="soi_attorney" th:value="${entryMap != null} ? ${entryMap['soi_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input type="text" class="form-control edit" id="road_attorney" placeholder=""  value="" name="road_attorney" th:value="${entryMap != null} ? ${entryMap['road_attorney']} : ''">
	                  </div>
	                </div>

	              	<div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							        <select name="province_service2" id="province_service2" class="form-control edit" onChange="getAmphur2(this.value);">
	                         	<option value="">- เลือก -</option>
                             <option th:each="province : ${lProvinceBean}" 
                                th:with="selectedValue=${entryMap != null} ? ${entryMap['province_service2']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${#strings.equals(province.provinceId, #strings.toString(selectedValue))}"
	                            	/>
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label>
										<select name="amphur_service2" id="amphur_service2" class="form-control edit" onChange="getTambon2(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label>
										<select name="tumbon_service2" id="tumbon_service2" class="form-control edit" onChange="getZipcode2(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
	                    <input type="text" class="form-control edit" id="zipcode_service2" name="zipcode_service2" readonly>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder=""  value="" name="tel_attorney" th:value="${entryMap != null} ? ${entryMap['tel_attorney']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax_attorney" placeholder=""  value="" name="fax_attorney" th:value="${entryMap != null} ? ${entryMap['fax_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email_attorney" placeholder=""  value="" name="email_attorney" th:value="${entryMap != null} ? ${entryMap['email_attorney']} : ''">
	                  </div>
	              </div>
	          </div>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev"  class="btn btn-custom-prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานเป็นวิศวกรออกแบบ</h3>
              <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_1" id="c1">
                      <label for="" class="control-label center">เอกสารแสดงการก่อตั้งนิติบุคคล หรือหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s1" style="display: none;">
                        <input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="" class="control-label left"><input type="checkbox" name="ch3_2" id="c2">
                        ภาพถ่ายบัตรประชาชนและทะเบียนบ้านของผู้มีอํานาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอํานาจจากนิติบุคคล พร้อมหนังสือแสดงว่าเป็นผู้ได้รับมอบอํานาจจากนิติบุคคล
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      </label>
                      <div id="s2" style="display: none;">
                        <input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_3" id="c3">
                      <label for="" class="control-label center">หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s3" style="display: none;">
                        <input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_4" id="c4">
                      <label for="" class="control-label center">เอกสารแสดงผลงานด้านวิศวกรรมที่ผ่านมาหรือที่กําลังดำเนินงาน(ถ้ามี)</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s4" style="display: none;">
                        <input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
                      </div>
                    </div>
                  </div>
              </div>


              <div class="row text-right mt-20">
                <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab"
                  data-toggle="tab">ย้อนกลับ</a>
                <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab"
                  data-toggle="tab">ถัดไป</a>
              </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
          <div th:replace="inc_module/tab_module/engineer_quality2 :: engineer-quality2" />
          <hr>
          <div class="row text-right mt-20">
            <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
            <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
            <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
            <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
          </div>
        </div>

        </div>
 </div>

</form>


<div th:replace="common-officer/footer :: common-footer">


</body>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function () {

	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });

       $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
      });

       $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
      });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
/*]]>*/
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +(year+543) ;


document.getElementById('theDate').value = today;
</script>

<script th:inline="javascript">

function updateShowFile(idUpdate){
  // console.log(idUpdate);
  // console.log($("input#"+idUpdate+"").prop('checked'));
  // return false;
  if($("input#"+idUpdate+"").prop('checked')){
    $("div#"+idUpdate+"").show();
  }else{
    $("div#"+idUpdate+"").hide();
  }
}
</script>
<script>
  $(document).ready(function () {
  if ($('#provinceId_attorney option:selected').val() != "") {
    getAmphurAttorney($('#provinceId_attorney').val());
    console.log("provinceId_attorney X : " + $('#provinceId_attorney').val());
  }
});

function getAmphurAttorney(val) {

$('#amphurId_attorney').html('');
$('#districtId_attorney').html('');
$('#zipcodeId_attorney').val('');

$('#amphurId_attorney').append('<option value="">- เลือก -</option>');
$('#districtId_attorney').append('<option value="">- เลือก -</option>');

$.ajax({
  type: "POST",
  url: "/api/amphur",
  data: 'provinceId=' + val,
  success: function (data) {
    var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphurId_attorney']} : '']]";
    var s = "";
    $.each(data, function (index, value) {
      s = "";
      if (amphurId_selected == value.amphurId) {
        console.log(value.amphurId)
        s = " selected ";
        if ($('#dataedit').val('')) {
          getTambonAttorney(value.amphurId);
        }
      }
      $('#amphurId_attorney').append('<option value="' + value.amphurId + '"' + s + '>' + value.amphurName +'</option>');
    });
  }
});
}

function getTambonAttorney(val) {
		$('#districtId_attorney').html('');
		$('#zipcodeId_attorney').val('');
		$('#districtId_attorney').append('<option value="">- เลือก -</option>');
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data: 'amphurId=' + val,
			success: function (data) {
				var districtId_selected = "[[${entryMap != null} ? ${entryMap['districtId_attorney']} : '']]";
				var s = "";
				$.each(data, function (index, value) {
					s = "";
					if (districtId_selected == value.districtId) {
						s = " selected ";
						if ($('#dataedit').val('')) {
							getZipcodeAttorney(value.districtId);
						}
					}
					$('#districtId_attorney').append('<option value="' + value.districtId + '"' + s + '>' + value.districtName +
						'</option>');
				});
			}
		});
	}

function getZipcodeAttorney(val) {
		$.ajax({
			type: "POST",
			url: "/api/zipcode",
			data: 'districtId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#zipcodeId_attorney').val(value.zipcode);
				});
			}
		});
	}
</script>
<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	  $(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>
<script>
  $('body').on('keyup','.allownumericwithdecimal',function(){
    
    var val = $(this).val();
    console.log(val);
    var pass = 0; // 1 = กรอกข้อมูลไม่ใช่ตัวเลข หรือ ทศนิยม
    for(var i = 0 ; i < val.length ;i++){
    if(val.charAt(i) != '1' && val.charAt(i) != '2' && val.charAt(i) != '3' && val.charAt(i) != '4' && val.charAt(i) != '5' &&
      val.charAt(i) != '6' && val.charAt(i) != '7' && val.charAt(i) != '8' && val.charAt(i) != '9' && val.charAt(i) != '0' &&
      val.charAt(i) != '.'){
      pass = 1;
    }
    }
    if(pass == 1){
    alert('กรุณากรอกเฉพาะตัวเลขเท่านั้น!');
    $(this).val('');
    }
  })
</script>
</html>
