<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head th:replace="common-onestop/header :: common-header" />

<body>
	<div th:replace="common-onestop/navbar :: common-navbar" />
	<link rel="stylesheet" href="" th:href="@{/vendor/jojosati-bootstrap-datepicker-thai/css/datepicker.css}">
	<!-- start content -->
	<div class="box-container mb-50">

		<div class="row">
			<div class="col-md-2 text-right"></div>
			<div class="col-md-8 text-center">
				<h3 class="text-center"><u>คำขอเป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม<br>ถังเก็บก๊าซและจ่ายก๊าซ ถังขนส่งก๊าซ
						ระบบท่อก๊าซ และอุปกรณ์ </u></h3>
			</div>
			<div class="col-md-2 text-right">
				<h2 class="text-right">ข.1</h2>
				<input type="hidden" id="typePage" value="1">
			</div>
		</div>

		<form method="post" action="#" th:action="@{/onestop/form/submission}" enctype="multipart/form-data">
			<!-- <form onsubmit="return checkCheckBoxes(this);" method="post" action="#" th:action="@{/onestop/form/submission}" enctype="multipart/form-data"> -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-6 text-right">
					<div class="form-inline">
						<div class="form-group">
							<label>เขียนที่</label>
							<input type="text" class="form-control edit text-center" name="write_at_tester" value="กรมธุรกิจพลังงาน">
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-10">
				<div class="col-sm-6 col-sm-offset-6 text-right">
					<div class="form-inline">
						<div class="form-group">
							<label>วันที่</label>
							<input type="text" id="theDate" class="form-control edit text-center" value="">
						</div>
					</div>
				</div>
			</div>

			<!-- end date form -->
			<!-- Nav tabs -->
			<ul class="nav nav-tabs mt-40" role="tablist">
				<li role="presentation" class="tab-edit active" id="nav-1">
					<a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="padding: 25px 10px;">1 ข้อมูลคำขอ</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-2">
					<a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="padding: 25px 10px;">2 ข้อมูลจดทะเบียน</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-3">
					<a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="padding: 25px 10px;">3 บัญชีเครื่องมือ</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-4">
					<a href="#tap4" aria-controls="tab3" role="tab" data-toggle="tab">4 ผู้ปฏิบัติงานทดสอบ<br />และตรวจสอบ</a>
				</li>

				<li role="presentation" class="tab-edit" id="nav-5">
					<a href="#tap5" aria-controls="tab4" role="tab" data-toggle="tab">5 เอกสารหลักฐานที่ใช้<br />ประกอบคำขอ</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="tap1">
					<div action="#" class="form-inline">
						<h3 class="title">ส่วนที่ 1 : ข้อมูลคำขอ</h3>

						<div class="form-group">
							<label class="pl-30">ข้าพเจ้า</label>
							<label for="" class="control-label center">คำนำหน้า</label>
							<select name="bla" id="bla" class="form-control edit">
								<option value="0">- เลือก -</option>
								<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
								 th:value="${TitleName.code}" th:utext="${TitleName.abbreviation}" th:selected="${TitleName.code==selectedValue}" />
							</select>
							<input style="display: none" type="text" class="form-control edit" id="prefix_service3" name="prefix_service3"
							 placeholder="โปรดระบุ" value="" th:value="${entryMap != null} ? ${entryMap['prefix_service3']} : ''">
							<label for="" class="control-label center">ชื่อ</label>
							<input type="text" class="form-control edit" id="firstname_service3" name="firstname_service3" placeholder=""
							 value="" th:value="${entryMap != null} ? ${entryMap['firstname_service3']} : ''">
							<label for="" class="control-label center">นามสกุล</label>
							<input type="text" class="form-control edit" id="lastname_service3" name="lastname_service3" placeholder=""
							 value="" th:value="${entryMap != null} ? ${entryMap['lastname_service3']} : ''">
							<label>ผู้ลงชื่อข้างท้ายนี้</label>
						</div>
						<script>
							$('body').on('change','#bla',function(){
								var bla_value = $(this).val();
								if(bla_value == 226){
									$('#prefix_service3').show();
								}else{
									$('#prefix_service3').hide();
								}
							});
						</script>

						<div class="form-group">
							<label>ขอยื่นคำขอเพื่อขอในนามของ</label>
							<select name="get_receipt" id="get_receipt" class="form-control edit">
								<option value="0">- เลือก -</option>
								<option value="1">หัวหน้าควบคุมการทดสอบ</option>
								<option value="2">วิศวกรทดสอบ</option>
								<option value="3">ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2</option>
								<option value="4">ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 3</option>
							</select>
							<label>เพื่อขอรับใบรับรองเป็น<span th:text="${requestName}"></span> ตามประกาศกรมธุรกิจพลังงาน เรื่อง
								คุณสมบัติและคุณวุฒิของผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าส ระบบท่อก๊าซและอุปกรณ์
								และการออกใบรับรองให้เป็นผู้ทดสอบและตรวจสอบ ลงวันที่ <input type="text" class="form-control edit datepicker text-center"
								 id="sDateRetriveDocs" name="sDateRetriveDocs" th:value="${entryMap != null} ? ${entryMap['sDateRetriveDocs']} : ''">
								และขอแจ้งรายละเอียดเพื่อประกอบการพิจารณาดังต่อไปนี้</label>
						</div>

						<div class="row text-right mt-20">
							<a id="prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" class="btn btn-custom-prev">ย้อนกลับ</a>
							<a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab"
							 data-toggle="tab">ถัดไป</a>
						</div>
						<hr>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap2">
					<div action="#" class="form-horizontal">
						<h3 class="title">ส่วนที่ 1 : ข้อมูลจดทะเบียน</h3>
						<div class="form-group">
							<div class="col-sm-3">
								<label>1. คำนำหน้า (ภาษาไทย)</label><br />
								<!-- <input type="text" class="form-control" name="edit-title" id="edit-title" value="" >  -->
								<select name="edit-title-th" id="edit-prefix" class="form-control edit" data-lang="th">
									<option value="0">- เลือก -</option>
									<option th:each="TitleName : ${lTitleName}" th:with="selectValue=${entryMap != null}? ${entryMap['edit-title-th']}:'0'"
									 th:value="${TitleName.code}" th:utext="${TitleName.abbreviation}" th:selected="${TitleName.code == selectValue}" />
								</select>
							</div>
							<div class="col-sm-3" id="showTitle-2-226" style="display:none;">
								<label>โปรดระบุ (ภาษาไทย)</label><br />
								<input type="text" class="form-control edit" name="edit-prefix-th" id="edit-prefix-th" value="" th:value="${entryMap != null} ? ${entryMap['edit-prefix-th']} : ''">
							</div>
							<div class="col-sm-3">
								<label>ชื่อ (ภาษาไทย)</label><br />
								<input type="text" class="form-control edit" name="edit-firstname-th" id="edit-firstname-th" value="" th:value="${entryMap != null} ? ${entryMap['edit-firstname-th']} : ''">
							</div>
							<div class="col-sm-3">
								<label>นามสกุล (ภาษาไทย)</label><br />
								<input type="text" class="form-control edit" name="edit-lastname-th" id="edit-lastname-th" value="" th:value="${entryMap != null} ? ${entryMap['edit-lastname-th']} : ''">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-6">
								<label>เขียนเป็นตัวอักษรโรมันว่า</label><br />
								<input type="text" class="form-control edit" name="edit-name-en" id="edit-name-en" value="" th:value="${entryMap != null} ? ${entryMap['edit-name-en']} : ''">
							</div>
							<div class="col-sm-6">
								<label>และเขียนเป็นภาษาจีนว่า</label><br />
								<input type="text" class="form-control edit" name="edit-name-cn" id="edit-name-cn" value="" th:value="${entryMap != null} ? ${entryMap['edit-name-cn']} : ''">
							</div>
						</div>
						<!-- <div class="form-group">
							<div class="col-sm-3">
							<label>คำนำหน้า (ตัวอักษรโรมัน)</label><br/>
							<select name="edit-title-en" id="edit-prefix" class="form-control edit" data-lang="en">
								<option value="0">- เลือก -</option>
								<option value="201">Mr.</option>
								<option value="202">Mrs.</option>
								<option value="203">Miss</option>
								<option value="200">Other</option>
							</select>
							</div>
							<div class="col-sm-3" id="showTitle-2-200" style="display:none;">
								<label>โปรดระบุ (ตัวอักษรโรมัน)</label><br/>
								<input type="text" class="form-control edit" name="edit-prefix-en" id="edit-prefix-en" value="" >
							</div>
							<div class="col-sm-3">
								<label>ชื่อ (ตัวอักษรโรมัน)</label><br/>
								<input type="text" class="form-control edit" name="edit-firstname-en" id="edit-firstname-en" value="" >
							</div>
							<div class="col-sm-3">
								<label>นามสกุล (ตัวอักษรโรมัน)</label><br/>
								<input type="text" class="form-control edit" name="edit-lastname-en" id="edit-lastname-en" value="" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
							<label>คำนำหน้า (ภาษาจีน)</label><br/>
							<select name="edit-title-cn" id="edit-prefix" class="form-control edit" data-lang="cn" >
								<option value="0">- เลือก -</option>
								<option value="301">先生</option>
								<option value="302">女士</option>
								<option value="303">小姐</option>
								<option value="300">其他</option>
							</select>
							</div>
							<div class="col-sm-3" id="showTitle-2-300" style="display:none;">
								<label>โปรดระบุ (ภาษาจีน)</label><br/>
								<input type="text" class="form-control edit" name="edit-prefix-cn" id="edit-prefix-cn" value="" >
							</div>
							<div class="col-sm-3">
								<label>ชื่อ (ภาษาจีน)</label><br/>
								<input type="text" class="form-control edit" name="edit-firstname-cn" id="edit-firstname-cn" value="" >
							</div>
							<div class="col-sm-3">
								<label>นามสกุล (ภาษาจีน)</label><br/>
								<input type="text" class="form-control edit" name="edit-lastname-cn" id="edit-lastname-cn" value="" >
							</div>
						</div> -->
						<script>
							$('body').on('change','#edit-prefix',function(){
								var lang = $(this).data("lang");
								var id = $(this).val();
								if(lang == "th"){
									if($(this).val() == "226"){
										$('div#showTitle-2-226').show();
									}else{
										$('div#showTitle-2-226').hide();
									}
								}

								if(lang == "en"){
									if($(this).val() == "200"){
										$('div#showTitle-2-200').show();
									}else{
										$('div#showTitle-2-200').hide();
									}
								}

								if(lang == "cn"){
									if($(this).val() == "300"){
										$('div#showTitle-2-300').show();
									}else{
										$('div#showTitle-2-300').hide();
									}
								}
							})
						</script>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">2. จดทะเบียนประกอบธุรกิจในประเทศไทยเป็น</label>
								<input type="text" class="form-control edit" name="register_tester" th:value="${entryMap != null} ? ${entryMap['register_tester']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label center">ณ หอทะเบียน</label>
								<input type="text" class="form-control edit" name="placeregister_tester" th:value="${entryMap != null} ? ${entryMap['placeregister_tester']} : ''">
							</div>
							<div class="col-sm-4">
								<label class="control-label center">เลขที่ทะเบียนที่</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="num_tester" th:value="${entryMap != null} ? ${entryMap['num_tester']} : ''">
							</div>
							<div class="col-sm-4">
								<label class="control-label center">ลงวันที่</label>
								<input type="text" id="datenum_tester" class="form-control edit" name="datenum_tester" th:value="${entryMap != null} ? ${entryMap['datenum_tester']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">3. จดทะเบียนพาณิชย์ในประเทศไว้ ณ สำนักงานทะเบียนพาณิชย์</label>
								<input type="text" class="form-control edit" name="office_tester" th:value="${company != null} ? ${company.companyName} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<label class="control-label center">เลขที่ทะเบียนที่</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="numofficer_tester" th:value="${entryMap != null} ? ${entryMap['numofficer_tester']} : ''">
							</div>
							<div class="col-sm-6">
								<label class="control-label center">ลงวันที่</label>
								<input type="text" class="form-control edit" id="date_office_tester" name="date_office_tester" th:value="${entryMap != null} ? ${entryMap['date_office_tester']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">4. วัตถุประสงค์ที่ระบุไว้ในทะเบียนมีดังนี้</label>
								<input type="text" class="form-control edit" name="wishing_tester" th:value="${entryMap != null} ? ${entryMap['wishing_tester']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">5. มีเงินทุนตามที่จดทะเบียนดังนี้</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<label class="control-label center">(1) จำนวนเงินทุนที่จดทะเบียน (บาท)</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="amount_register" th:value="${entryMap != null} ? ${entryMap['amount_register']} : ''">
							</div>
							<div class="col-sm-6">
								<label class="control-label center">(2) จำนวนเงินทุนที่ชำระแล้ว (บาท)</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="payment_regiter" th:value="${entryMap != null} ? ${entryMap['payment_regiter']} : ''">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">6. ทำประกันภัยคุ้มครองต่อชีวิต ร่างกายและทรัพย์สินของบุคคลอื่น
									สันสืบเนื่องมาจากการดำเนินการของผู้ทดสอบและตรวจสอบดังนี้</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12"><label class="control-label center">(1) จำนวนเงินที่คุ้มครองต่อชีวิตและร่างกาย</label></div>
							<div class="col-sm-6">
								<label>บาท/คน</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="anount_person" th:value="${entryMap != null} ? ${entryMap['anount_person']} : ''">
							</div>
							<div class="col-sm-6">
								<label>บาท/อุบัติเหตุ</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="amount_accident" th:value="${entryMap != null} ? ${entryMap['amount_accident']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label class="control-label center">(2) จำนวนเงินที่คุ้มครองต่อทรัพย์สิน (บาท)</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="amount_asset" th:value="${entryMap != null} ? ${entryMap['amount_asset']} : ''">
							</div>

						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label center">7. สำนักงานตั้งอยู่เลขที่</label>
								<input type="text" class="form-control edit" name="office_numhome" th:value="${company != null} ? ${company.addressNo} : ''">
							</div>
							<div class="col-sm-4">
								<label class="control-label center">ตรอก/ซอย</label>
								<input type="text" class="form-control edit" name="office_soi" th:value="${company != null} ? ${company.soi} : ''">
							</div>
							<div class="col-sm-4">
								<label class="control-label center">ถนน</label>
								<input type="text" class="form-control edit" name="office_road" th:value="${company != null} ? ${company.street} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<input type="hidden" name='dataedit' id='dataedit' value='dataedit'>
								<label for="" class="control-label right">จังหวัด</label>
								<select name="province_service6" id="province_service6" class="form-control edit" onChange="getAmphur6(this.value);">
									<option value="">- เลือก -</option>
									<option th:each="province : ${lProvinceBean}" th:value="${province.provinceId}" th:utext="${province.provinceName}"
									 th:with="selectValue=${entryMap != null}? ${entryMap['province_service6']}: ''" th:selected="${#strings.equals(province.provinceId, #strings.toString(selectValue))}" />
								</select>
							</div>
							<div class="col-sm-4">
								<label for="" class="control-label center">อำเภอ/เขต</label>
								<select name="amphur_service6" id="amphur_service6" class="form-control edit" onChange="getTambon6(this.value);">
									<option value="">- เลือก -</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label for="" class="control-label center">ตำบล/แขวง</label>
								<select name="tumbon_service6" id="tumbon_service6" class="form-control edit" onChange="getZipcode6(this.value);">
									<option value="">- เลือก -</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label class="control-label center">โทรศัพท์</label>
								<input type="text" class="form-control edit textTelephone" name="office_tel" th:value="${entryMap != null} ? ${entryMap['office_tel']} : ''">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label>8. เคยถูกสั่งเพิกถอนใบรับรองให้เป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายก๊าซถังขนส่งก๊าซ
									ระบบท่อก๊าซและอุปกรณ์รวม (รวม/ครั้ง)</label>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="control-label center" style="display: -webkit-inline-box;">
											<input type="radio" name="type_2_8" id="type_2_8" value="1" checked="" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_2_8']} : ''"
											 th:checked="${'1' == checkedValue}"> <span>เคย</span>
											<span> จำนวน </span><input type="text" class="form-control edit allownumericwithdecimal" name="systemsend_num"
											 th:value="${entryMap != null} ? ${entryMap['systemsend_num']} : ''"><span> ครั้ง</span>
										</label>
									</div>
									<div class="col-sm-6">
										<label class="control-label center">
											<input type="radio" name="type_2_8" id="type_2_8" value="2" class="ml-20" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_2_8']} : ''"
											 th:checked="${'2' == checkedValue}"> <span>ไม่เคย</span>
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label>9. เคยถูกสั่งเพิกถอนใบรับรองให้เป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ
									ระบบท่อก๊าซและอุปกรณ์มาก่อนรวม (ครั้ง)</label>
								<div class="form-group">
									<div class="col-sm-6">
										<label class="control-label center" style="display: -webkit-inline-box;">
											<input type="radio" name="type_2_9" id="type_2_9" value="1" checked="" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_2_9']} : ''"
											 th:checked="${'1' == checkedValue}"> <span>เคย</span>
											<span> จำนวน </span><input type="text" class="form-control edit allownumericwithdecimal" name="systemsum_num"
											 th:value="${entryMap != null} ? ${entryMap['systemsum_num']} : ''"><span> ครั้ง</span>
										</label>
									</div>
									<div class="col-sm-6">
										<label class="control-label center">
											<input type="radio" name="type_2_9" id="type_2_9" value="2" class="ml-20" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_2_9']} : ''"
											 th:checked="${'2' == checkedValue}"> <span>ไม่เคย</span>
										</label>
									</div>
								</div>
								<!-- <input type="text" class="form-control edit" name="systemsum_num" th:value="${entryMap != null} ? ${entryMap['systemsum_num']} : ''"> -->
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label>10. ไม่ได้เป็นผู้ผลิตถังก๊าซหุงต้มหรือถังเก็บและจ่ายก๊าซ หรือถังขนส่งก๊าซ</label>
								<div class="form-group">
									<div class="col-sm-9">
										<label class="control-label center">
											<input type="radio" name="type_4_1" id="type_4_1" value="1" checked="" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_4_1']} : ''"
											 th:checked="${'1' == checkedValue}"> <span>ใช่</span>
											<input type="radio" name="type_4_1" id="type_4_1" value="2" class="ml-20" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_4_1']} : ''"
											 th:checked="${'2' == checkedValue}"> <span>ไม่ใช่</span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label>12. มีพนักงานซึ่งรับเงินเดือนดังนี้</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<label>(1) ฝ่ายธุรการ จำนวน (คน)</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="admin_num" th:value="${entryMap != null} ? ${entryMap['admin_num']} : ''">
							</div>
							<div class="col-sm-6">
								<label>(2) ฝ่ายทดสอบและตรวจสอบ จำนวน (คน)</label>
								<input type="text" class="form-control edit allownumericwithdecimal" name="check_num" th:value="${entryMap != null} ? ${entryMap['check_num']} : ''">
							</div>
						</div>

						<hr>
						<div class="row text-right mt-20">
							<a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab"
							 data-toggle="tab">ย้อนกลับ</a>
							<a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab"
							 data-toggle="tab">ถัดไป</a>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap3">

					<h3 class="title">ส่วนที่ 3 : บัญชีชื่อเครื่องมือ</h3>
					<input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
					<input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
					<!-- modal2 -->
					<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
					 aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อเครื่องมือ</h2>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form onSubmit="return false;">
									<div class="modal-body">
										<div class="form-group">
											<input type="hidden" name="edit-toolId" id="edit-toolId" value="">
											<!--  <input type="text" class="form-control" name="edit-toolName" id="edit-toolName" value=""> -->
											<div class="col-sm-6">
												<label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ</label><br />
												<select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
													<option value="0">-------เลือก-------</option>
													<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก </option>
													<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์ </option>
													<option value="3">ค)
														ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ
													</option>
													<option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า </option>

												</select>
											</div>
											<script>
												$(document).ready(function(){
													$("#edit-toolNameCat").change(function (){
													// console.log("ASJkasjdpaos");
														if($(this).val() == 1){
															$('#edit-toolName').html("");
															$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
															$('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
															$('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
															$('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection) </option>');
															$('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
															$('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
														}else if($(this).val() == 2){
															$('#edit-toolName').html("");
															$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
															$('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
															$('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
															$('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
															$('#edit-toolName').append('<option value="9">ครื่องตรวจวัดความลึก (Depth Gauge)</option>');
															$('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
															$('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
															$('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
														}else if($(this).val() == 3){
															$('#edit-toolName').html("");
															$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
															$('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
															$('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
															$('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
															$('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
															$('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
														}else if($(this).val() == 4){
															$('#edit-toolName').html("");
															$('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
															$('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
															$('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
															$('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
														}
													});
												});
												</script>
											<div class="col-sm-6">
												<label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br />
												<select name="edit-toolName" id="edit-toolName" style="width: 100%;">
													<option value="0">-------เลือก-------</option>
												</select>
											</div>
											<div class="col-sm-12">
												<label>หมายเลขเครื่อง</label><br />
												<input type="text" class="form-control" name="edit-toolSerial" id="edit-toolSerial" value="" style="width: 100%;">
											</div>
											<div class="col-sm-6">
												<label>ยี่ห้อ</label><br />
												<input type="text" class="form-control" name="edit-toolBrand" id="edit-toolBrand" value="" style="width: 100%;">
											</div>
											<div class="col-sm-6">
												<label>รุ่น</label><br />
												<input type="text" class="form-control" name="edit-toolModel" id="edit-toolModel" value="" style="width: 100%;">
											</div>
											<div class="col-sm-12">
												<label>รูป</label><br />
												<input type="file" class="form-control" name="edit-toolPhotoImg" id="edit-toolPhotoImg" value="">
											</div>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
										<button type="button" class="btn btn-primary" id="updateToolBtn">บันทึก</button>
									</div>
								</form>
								<script type="text/javascript">
									$(document).ready(function () {
										$('#updateToolBtn').click(function () {
											//alert('asdopaisdpo');
											/*$.post("/api-tool/update",
														{
														dbdId:$('#e-dbdId').val(),
														engineerIdOriginal:$('#engineerIdOriginal').val(),
														engineerId:$('#edit-engineerId').val(),
														title:$('#edit-title').val(),
														firstname:$('#edit-firstname').val(),
														lastname:$('#edit-lastname').val(),
														type:$('#edit-type').val(),
																// city: "Duckburg"
														},
														function(data, status){
																// alert("Data: " + data + "\nStatus: " + status);
																if(data != 0){
																	alert("บันทึกข้อมูลสำเร็จ");
																	loadTableEngineer();
																}else{
																	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่")
																}
														});*/
											oData = new FormData();
											oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
											oData.append("toolId", $('#edit-toolId').val());
											oData.append("toolName", $('#edit-toolName').val());
											oData.append("toolSerial", $('#edit-toolSerial').val());
											oData.append("toolBrand", $('#edit-toolBrand').val());
											oData.append("toolModel", $('#edit-toolModel').val());
											// HTML file input, chosen by user
											oData.append("toolPhotoImg", $('#edit-toolPhotoImg').prop('files')[0]);
											var oReq = new XMLHttpRequest();
											oReq.open("POST", "/api-tool/update", true);
											oReq.onload = function (oEvent) {
												if (oReq.status == 200) {
													//oOutput.innerHTML = "Uploaded!";
													alert("บันทึกข้อมูลสำเร็จ");
													loadTableTool();
												} else {
													//oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
													//alert("Error " + oReq.status + " occurred when trying to upload your file.<br \/>");
													alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่");
												}
											};

											oReq.send(oData);
										});

									});
								</script>
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<!--   <form onSubmit="return false;" id="toolform" enctype="application/x-www-form-urlencoded"> -->
						<div class="row">
							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ </label><br />
								<!--  <input type="text" class="form-control edit" id="toolNameCat" name="toolNameCat" style="width: 100%;">-->
								<select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
									<option value="0">-------เลือก-------</option>
									<option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก </option>
									<option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์ </option>
									<option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ
									</option>
									<!-- <option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า   </option> -->
								</select>
							</div>
							<script>
								$(document).ready(function(){
									$("#toolNameCatagory").change(function (){
									// console.log("ASJkasjdpaos");
											if($(this).val() == 1){
												$('#toolName').html("");
												$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
												$('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
												$('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
												$('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection) </option>');
												$('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
											}else if($(this).val() == 2){
												$('#toolName').html("");
												$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
												$('#toolName').append('<option value="5">เครื่องตรวจวัดความหนาผนังถัง (Nondestructive Thickness Test หรือ Ultrasonic Thickness Tester)</option>');
												$('#toolName').append('<option value="6">เครื่องตรวจวัดความแข็งผนังถัง (Hardness Tester)</option>');
												$('#toolName').append('<option value="7">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
												$('#toolName').append('<option value="8">เครื่องชั่ง ที่มีความละเอียดได้ถึง 0.1 กิโลกรัม</option>');
												$('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
											}else if($(this).val() == 3){
												$('#toolName').html("");
												$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
												$('#toolName').append('<option value="10">เครื่องสูบอัดอากาศแรงดันสูง (Air Compressor)</option>');
												$('#toolName').append('<option value="11">เครื่องสูบอัดน้ำแรงดันสูง (High Pressure Water Pump)</option>');
												$('#toolName').append('<option value="12">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
												$('#toolName').append('<option value="13">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
												$('#toolName').append('<option value="14">เครื่องตรวจสอบวิสัยสามารถ และอัตราการระบาย (Orifice Metering Device) หรือเครื่องมือที่ใช้แทนกันได้</option>');
												$('#toolName').append('<option value="15">เครื่องทดสอบกลอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
												$('#toolName').append('<option value="16">เครื่องมือตรวจสอบการขยายตัวของถังก๊าซหุงต้ม (Volumetric Expansion Hydrostatic Tester) สามารถทดสอบกับถังก๊าซหุงต้มทุกขนาด</option>');
											}
											// else if($(this).val() == 4){
											// 	$('#toolName').html("");
											// 	$('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
											// 	$('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
											// 	$('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
											// 	$('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
											// }
									});
								});
							</script>
							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br />
								<select name="toolName" id="toolName" style="width: 100%;">
									<option value="0">-------เลือก-------</option>
								</select>
							</div>
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label center">หมายเลขเครื่อง</label><br />
								<input type="text" class="form-control edit" id="toolSerial" name="toolSerial" style="width: 100%;">
							</div>
							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">ยี่ห้อ</label><br />
								<input type="text" class="form-control edit" id="toolBrand" name="toolBrand" style="width: 100%;">
							</div>
							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">รุ่น</label><br />
								<input type="text" class="form-control edit" id="toolModel" name="toolModel" style="width: 100%;">
							</div>

							<div class="col-sm-12">
								<label for="" class="control-label center"><input type="checkbox" name="sToolCheck_1" data-check="1" id="sToolCheck_1"
									 class="sCheckFileTool"> คู่มือ</label>
								<div id="section-tool-file-1" style="display: none;">
									<input type="file" name="sToolFile_1" class="well well-sm" id="sToolFile_1">
								</div>
							</div>
							<div class="col-sm-12">
								<label for="" class="control-label center"><input type="checkbox" name="sToolCheck_2" data-check="2" id="sToolCheck_2"
									 class="sCheckFileTool"> ออกตรวจภาคสนาม</label>
								<div id="section-tool-file-2" style="display: none;">
									<input type="file" name="sToolFile_2" class="well well-sm" id="sToolFile_2">
								</div>
							</div>

							<script type="text/javascript">
								$('body').on('change', '.sCheckFileTool', function () {
									var iCheckArea = $(this).data("check")
									if ($(this).is(":checked")) {
										$('#section-tool-file-' + iCheckArea).css('display', 'block');
									} else {
										$('#section-tool-file-' + iCheckArea).css('display', 'none');
									}
								})
							</script>

							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">รูป</label>
								<input type="file" class="well well-sm" id="toolPhotoImg" name="toolPhotoImg">
							</div>
							<div class="col-sm-6">
								<label for="inputEmail3" class="control-label center">เอกสารกรรมสิทธิ์ </label>
								<input type="file" class="well well-sm" id="proprietary_document" name="proprietary_document">
							</div>
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label center">เอกสารการสอบเทียบเครื่องมือ </label>
								<input type="file" class="well well-sm" id="calibration_tool" name="calibration_tool">
							</div>
							<div class="col-sm-4">
								<label for="formDescription" class="control-label center">วันหมดอายุ</label>
								<input type="text" class="form-control edit" id="calibration_tool_expire" name="calibration_tool_expire">
							</div>
							<div class="col-sm-12">
								<label for="formDescription" class="control-label center"></label><br />
								<a id="add-tool" type="button" class="btn btn-custom-next">เพิ่ม</a>
							</div>

						</div>
					</div>

					<script type="text/javascript">
						/*<![CDATA[*/
						function loadTableTool() {
							$('#table-tool').dataTable({
								"bDestroy": true,
								"bSort": false,
								"language": {
									"search": "ค้นหา :",
									"lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
									"zeroRecords": "ไม่มีข้อมูล",
									"info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
									"infoEmpty": "ไม่มีข้อมูล",
									"paginate": {
										"previous": "ก่อนหน้า",
										"next": "ถัดไป"
									}
									// "infoFiltered": "(filtered from _MAX_ total records)"
								}
							}).fnClearTable();
							var cn = $('#e-company-name').val();
							//alert($('#e-dbdId').val());
							$.ajax({
								type: "POST",
								url: "/api-tool/list",
								data: 'dbdId=' + $('#e-dbdId').val(),
								success: function (data) {
									var content = "";
									$.each(data, function (index, value) {
										/*
											1 เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)
											2 เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)
											3 เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)
											4 เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)
											5 เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)
											6 เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)
											7 เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)
											8 เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)
											9 เครื่องตรวจวัดความลึก (Depth Gauge)
											10 เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)
											11 เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)
											12 เทปวัดระยะชนิดเหล็ก (Steel Tape)
											13 เครื่องสูบอัดอากาศ (Air Compressor)
											14 เครื่องสูบอัดน้ำ (Pressure Water Pump)
											15 มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)
											16 กลอุปกรณ์ปรับความดัน (Pressure Regulator)
											17 เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)
											18 เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)
											19 เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)
											20 เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)
										*/
										var toolName = "";
										switch (value.toolName) {
											case "1":
												toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)";
												break;
											case "2":
												toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)";
												break;
											case "3":
												toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)";
												break;
											case "4":
												toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)";
												break;
											case "5":
												toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)";
												break;
											case "6":
												toolName = "เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)";
												break;
											case "7":
												toolName = "เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)";
												break;
											case "8":
												toolName = "เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)";
												break;
											case "9":
												toolName = "เครื่องตรวจวัดความลึก (Depth Gauge)";
												break;
											case "10":
												toolName = "เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)";
												break;
											case "11":
												toolName = "เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)";
												break;
											case "12":
												toolName = "เทปวัดระยะชนิดเหล็ก (Steel Tape)";
												break;
											case "13":
												toolName = "เครื่องสูบอัดอากาศ (Air Compressor)";
												break;
											case "14":
												toolName = "เครื่องสูบอัดน้ำ (Pressure Water Pump)";
												break;
											case "15":
												toolName = "มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)";
												break;
											case "16":
												toolName = "กลอุปกรณ์ปรับความดัน (Pressure Regulator)";
												break;
											case "17":
												toolName = "เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)";
												break;
											case "18":
												toolName = "เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)";
												break;
											case "19":
												toolName = "เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)";
												break;
											case "20":
												toolName = "เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)";
												break;
											default:
												// code block
												break;
										}
										content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
										content += '<td>' + toolName + '</td>';
										content += '<td> <img src="[[@{/images/data/uploads/tool/DbdId}]]' + $('#e-dbdId').val() + '/' + value.toolPhoto +
											'" style="width: 150px;"></td>';

										content += '<td>' + value.toolSerial + '</td>';
										content += '<td>' + value.toolBrand + '</td>';
										content += '<td>' + value.toolModel + '</td>';
										//value.toolPhoto
										//@{/images/energy-logo.svg}
										//'+value.toolName+'
										content += '<td>' + cn + '</td>';
										content +=
											'<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="' +
											value.toolId + '" data-toolName="' + value.toolName + '" data-toolSerial="' + value.toolSerial +
											'" data-toolBrand="' + value.toolBrand + '" data-toolModel="' + value.toolModel +
											'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="' +
											value.toolId + '"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a></td>';
										content += '</tr>';

										// $('#zipcodeId').val(value.zipcode);
										//console.log(value);
										$('#table-tool ').dataTable().fnAddData([
											toolName,
											value.toolSerial,
											value.calibrationToolExprie,
											value.toolBrand,
											value.toolModel,
											'<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="' +
											value.toolId + '" data-toolNameCat="' + value.toolNameCatagory + '" data-toolName="' + value.toolName +
											'" data-toolSerial="' + value.toolSerial + '" data-toolBrand="' + value.toolBrand +
											'" data-toolModel="' + value.toolModel +
											'"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="' +
											value.toolId + '"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a>'
										]);
									});
									// $('#table-tool tbody').html(content);
									//var para = document.createRange().createContextualFragment(content);
									// $('#table-engineer tbody').appendChild(para);
								},
								error: function (jqXHR, textStatus, errorThrown) {
									// alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

									//$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
									// console.log('jqXHR:');
									// console.log(jqXHR);
									// console.log('textStatus:');
									// console.log(textStatus);
									// console.log('errorThrown:');
									// console.log(errorThrown);
								},
							});
						}
						/*]]>*/
					</script>
					<script type="text/javascript">
						$(document).ready(function () {
							loadTableTool();
							$('#add-tool').click(function () {
								//alert('asdopaisdpo');
								//var data = $( "#toolform" ).serialize();
								/*$.post("/api-tool/save",
											{
											data:data,
											},
											function(data, status){
												//$('#e-dbdId').val("");
											loadTableTool();
													//alert("Data: " + data + "\nStatus: " + status);


											});*/
								//var oOutput = document.querySelector("div"),
								oData = new FormData();
								oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
								oData.append("toolName", $('#toolName').val());
								oData.append("toolNameCat", $("#toolNameCat option:selected").val());
								oData.append("toolSerial", $('#toolSerial').val());
								oData.append("toolBrand", $('#toolBrand').val());
								oData.append("toolModel", $('#toolModel').val());
								oData.append("manual", $('#toolModel').val());
								var manualVal = 0;
								var manual = document.getElementsByName('manual');

								for (var i = 0, length = manual.length; i < length; i++) {
									if (manual[i].checked) {
										// do whatever you want with the checked radio
										// alert(radios[i].value);
										manualVal = 1;
										// only one radio can be logically checked, don't check the rest
										break;
									}
								}

								oData.append("manual", manualVal);

								var FieldInspectionlVal = 0;
								var FieldInspection = document.getElementsByName('FieldInspection');

								for (var i = 0, length = FieldInspection.length; i < length; i++) {
									if (FieldInspection[i].checked) {
										// do whatever you want with the checked radio
										// alert(radios[i].value);
										FieldInspectionlVal = 1;
										// only one radio can be logically checked, don't check the rest
										break;
									}
								}

								oData.append("FieldInspection", FieldInspectionlVal);
								oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
								oData.append("proprietary_document", $('#proprietary_document').prop('files')[0]);
								oData.append("calibrationToolExprie", $('#calibration_tool_expire').val());
								oData.append("calibration_tool", $('#calibration_tool').prop('files')[0]);
								/*
											oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
										oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
										oData.append("title", etitle);
										oData.append("firstname", $('#e-firstname').val());
										oData.append("lastname", $('#e-lastname').val());
										oData.append("e-idPerson", $('#e-idPerson').val());
										oData.append("e-address", $('#e-address').val());

								// HTML file input, chosen by user
								oData.append("file_1", $('#fs10').prop('files')[0]);
								oData.append("file_2", $('#fs11').prop('files')[0]);
								oData.append("file_3", $('#fs12').prop('files')[0]);
								oData.append("file_4", $('#fs13').prop('files')[0]);

										*/
								// HTML file input, chosen by user
								//oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
								var oReq = new XMLHttpRequest();
								oReq.open("POST", "/api-tool/save", true);
								oReq.onload = function (oEvent) {
									if (oReq.status == 200) {
										//oOutput.innerHTML = "Uploaded!";
										//alert("Uploaded!");
										$('#toolName').val("");
										$('#toolSerial').val("");
										$('#toolBrand').val("");
										$('#toolModel').val("");
										$('#toolPhotoImg').val("");
										loadTableTool();
									} else {
										//oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
										console.log("Error " + oReq.status + " occurred when trying to upload your file.");
										alert("การอัพโหลดผิดพลาด");
									}
								};

								oReq.send(oData);
								// ev.preventDefault();
							});

						});
					</script>
					<script type="text/javascript">
						function appendDatatoModal2(e) {
							//$('#e-company-name').val()

							//alert(engineerId);

							$("#edit-toolId").val($(e).attr('data-id'));
							$("#edit-toolNameCat").val($(e).attr('data-toolnameCat'));
							$("#edit-toolName").val($(e).attr('data-toolname'));
							$("#edit-toolSerial").val($(e).attr('data-toolserial'));
							$("#edit-toolBrand").val($(e).attr('data-toolbrand'));
							$("#edit-toolModel").val($(e).attr('data-toolmodel'));
							//$("#edit-type").val($(e).attr('data-lastname'));
							$("#edit-company2").val($('#e-company-name').val());
						}

						function deleteTool(e) {
							if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
								// txt = "You pressed OK!";
								$.post("/api-tool/delete", {
										id: $(e).attr('data-id'),
										// city: "Duckburg"
									},
									function (data, status) {
										//alert("Data: " + data + "\nStatus: " + status);
										if (data != 0) {
											alert('ลบข้อมูลเรียบร้อย');
										} else {
											alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
										}
										loadTableTool();
									});
							} else {
								// txt = "You pressed Cancel!";
							}

						}
					</script>
					<hr>
					<h3 class="title">บัญชีรายชื่อเครื่องมือ</h3>
					<table id="table-tool" class="display" style="width: 100%;">
						<thead>
							<tr style=" height: 60px; border-bottom: 1px solid #adadad;">
								<th>ชื่อเครื่องมือ</th>
								<!-- <th>รูป</th> -->
								<th>หมายเลขเครื่อง</th>
								<th>วันหมดอายุ</th>
								<th>ยี่ห้อ</th>
								<th>รุ่น</th>
								<!-- <th>บริษัท</th> -->
								<th></th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>

					<div class="row text-right mt-20">
						<a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<a id="next-4" type="button" class="btn btn-custom-next" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap4">
					<h3 class="title">ส่วนที่ 4 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
					<div th:replace="inc_module/tab_module/engineer_quality_director :: engineer-quality-director" />
					<hr>
					<div class="row text-right mt-20">
						<a id="prev-4" type="button" class="btn btn-custom-prev" href="#tap3" aria-controls="tab4" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<a id="next-5" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane fade" id="tap5">
					<h3 class="title">ส่วนที่ 5 : เอกสารหลักฐานที่ใช้แนบ</h3>
					<div class="form-horizontal striped">
						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">ตราสำคัญสำหรับใช้ประทับเอกสาร
									<!-- <a th:text="${entryMap != null}? ${entryMap['file_tester1']}:''" th:with="hVal=${entryMap != null}? ${entryMap['file_tester1']}:''" th:href="@{|/filemanager/${hVal}|}"></a>  -->
									<a th:with="file=${entryMap != null} ? ${entryMap['file_tester1']} : ''" class="mt-10" target="_blank" href="#"
									 th:href="@{|/filemanager/${file}|}">
										<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">มีเครื่องหมายทดสอบและตรวจสอบที่แนบมา จำนวน 3 ชุด</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester2']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">หลักฐานการจดทะเบียนนิติบุคคล</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester3']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">รายชื่อกรรมการผู้มีอำนาจลงชื่อแทนบริษัท
									หรือซื้อหุ้นส่วนผู้จัดการ</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester4']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left"> หลักฐานแสดงที่ตั้งสำนักงาน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester5']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left"> หนังสือบริคณห์สนธิและข้อบังคับของบริษัท</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester6']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">บัญชีรายชื่อพนักงานที่ทำหน้าที่ทดสอบและตรวจสอบ
									ประเภทรับเงินเดือนประจำและประเภทจ้างเป็นครั้งคราว</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester7']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">บัญชีรายชื่อผู้ปฎิบัตงานวิชาการด้านการทดสอบและตรวจสอบ</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester8']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">หลักฐานการครอบครองสำนักงาน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester9']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">หลักฐานการมีเงินทุน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester10']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">หลักฐานการทำประกันภัย</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester11']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-12">
								<label for="inputEmail3" class="control-label left">รายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการหรือหุ้นส่วน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_tester12']} : ''" class="mt-10" target="_blank" href="#"
								 th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
							</div>
						</div>



					</div>
					<div class="row text-right mt-20">
						<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
						<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
						<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
						<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
						<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
						<input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
						<a id="prev-5" type="button" class="btn btn-custom-prev" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<!-- <input id="submit" type="button" class="btn btn-custom-confirm" value="ปิด" onclick="closeCurrentWindow()"/> -->
						<button type="button" class="btn btn-custom-confirm" onclick="closeCurrentTab();">ปิด</button>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div th:replace="common-officer/footer :: common-footer" />

</body>

<!-- <script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script> -->
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js}"></script>
<script src="" th:src="@{/vendor/jojosati-bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js}"></script>

<script type="text/javascript">
function closeCurrentTab() {
  var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
  if(conf==true){
  window.top.close();
  }
}
	$(document).ready(function () {
		$.each( $("select,input:text,input:checkbox,input[type=date],input:radio"), function( key, value ) {
			$(value).attr('disabled', true);
		});
		// $('body').on('click','input#submit',function(){
		// 	window.close()
		// })
		

		$('#datetester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		$('#datenum_tester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		$('#date_office_tester').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});
		
		$('#sDateRetriveDocs').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});

		var selected_provinceId_person = "[[${entryMap != null} ? ${entryMap['province_service']} : '0']]";
		$("#provinceId_person").val(selected_provinceId_person);
		// getAmphurAttorney(selected_provinceId_person);
		var abc =
			'{"edit-toolNameCat":"0","anount_person":"1","toolNameCatagory":"0","formMetaId":"398","systemsend_num":"69","edit-toolPhotoImg":"","sToolFile_2":"","check_num":"69","sToolFile_1":"","edit-toolSerial":"","tumbon_service":"377","sEngineerFile_5":"","calibration_tool":"","sEngineerFile_1":"","sEngineerFile_2":"","sEngineerFile_3":"","sEngineerFile_4":"","datenum_tester":"16/11/2561","file_tester10":"","placeregister_tester":"placeregister_tester","file_tester11":"","file_tester12":"","office_road":"street","edit-firstname-th":"สอน","dataedit":"","toolName":"0","formId":"18","edit-prefix-th":"คำนำหน้า","edit-toolModel":"","edit-toolName":"0","proprietary_document":"","edit-name-en":"Sornram","toolPhotoImg":"","provinceId":"4","toolSerial":"","numofficer_tester":"69/96","table-engineer_length":"10","table-tool_length":"10","e-dbdId":"1324566545364","prefix_service3":"เจ้า","formMetaIdASA":"398","file_tester9":"","e-company-name":"companyName3","file_tester8":"","payment_regiter":"3624151","amount_asset":"50","file_tester7":"","firstname_service3":"คำสร้อย","file_tester6":"","num_tester":"01110","admin_num":"69","file_tester5":"","toolModel":"","file_tester4":"","file_tester3":"","file_tester2":"","rtId":"588","edit-toolId":"","date_office_tester":"16/11/2561","office_numhome":"addressNo","dbdId":"13-245-66-545364","type_2_8":"1","amount_accident":"2","type_2_9":"2","toolBrand":"","type_4_1":"2","bla":"226","calibration_tool_expire":"","edit-title-th":"226","edit-lastname-th":"ราม","file_tester1":"","rfId":"23","aData":"{anount_person=1, formMetaId=398, systemsend_num=69, check_num=69, tumbon_service=377, sEngineerFile_5=, sEngineerFile_1=, sEngineerFile_2=, sEngineerFile_3=, sEngineerFile_4=, datenum_tester=16/11/2561, file_tester10=, placeregister_tester=placeregister_tester, file_tester11=, file_tester12=, office_road=street, edit-firstname-th=สอน, dataedit=, formId=18, edit-prefix-th=คำนำหน้า, edit-name-en=Sornram, provinceId=4, numofficer_tester=69/96, table-engineer_length=10, e-dbdId=1324566545364, prefix_service3=เจ้า, formMetaIdASA=398, file_tester9=, e-company-name=companyName3, file_tester8=, payment_regiter=3624151, amount_asset=50, file_tester7=, firstname_service3=คำสร้อย, file_tester6=, num_tester=01110, admin_num=69, file_tester5=, file_tester4=, file_tester3=, file_tester2=, rtId=588, date_office_tester=16/11/2561, office_numhome=addressNo, dbdId=13-245-66-545364, type_2_8=1, amount_accident=2, type_2_9=2, type_4_1=2, bla=226, edit-title-th=226, edit-lastname-th=ราม, file_tester1=, rfId=23, aData={anount_person=1, toolNameCatagory=0, systemsend_num=69, edit-toolPhotoImg=, sToolFile_2=, check_num=69, sToolFile_1=, edit-engineerId=, tumbon_service=1128, calibration_tool=, edit-title=0, edit-lastname-en=, datenum_tester=16/11/2561, road_attorney=, e-prefix=, file_tester10=, file_tester11=, edit-type=0, file_tester12=, office_road=street, edit-firstname-th=สอน, dataedit=, toolName=0, moo_attorney=, edit-toolModel=, edit-toolName=0, proprietary_document=, e-idPerson=, numofficer_tester=69/96, soi_attorney=9, table-engineer_length=10, engineerId=, edit-firstname=, prefix_service3=เจ้า, engineerIdOriginal=, formMetaIdASA=0, e-company-name=companyName3, num_tester=01110, toolModel=, sDatePermitExpire=, edit-toolId=, date_office_tester=16/11/2561, office_numhome=addressNo, e-engineerFaculty=0, e-engineerType=0, type_2_8=1, type_2_9=2, toolBrand=, bla=226, calibration_tool_expire=, rfId=23, get_receipt=2, office_soi=soi, amphur_service=140, sDatePermit=, wishing_tester=ทดสอบฯ, write_at_tester=, systemsum_num=, edit-idPerson=, edit-toolBrand=, edit-toolNameCat=0, tel_attorney=, formMetaId=0, e-lastname=, edit-toolSerial=, sEngineerFile_5=, email_attorney=, sEngineerFile_6=, sEngineerFile_7=, sEngineerFile_1=, provinceId_attorney=, zipcodeId_attorney=, sEngineerFile_2=, sEngineerFile_3=, sEngineerFile_4=, placeregister_tester=placeregister_tester, formId=18, edit-prefix-th=คำนำหน้า, edit-name-en=Sornram, toolPhotoImg=, provinceId=11, edit-faculty=0, toolSerial=, table-tool_length=10, e-dbdId=1324566545364, file_tester9=, file_tester8=, payment_regiter=3624151, amount_asset=50, amphurId_attorney=, file_tester7=, firstname_service3=คำสร้อย, e-title=0, districtId_attorney=, file_tester6=, admin_num=69, file_tester5=, edit-lastname=, file_tester4=, file_tester3=, file_tester2=, rtId=588, dbdId=13-245-66-545364, e-firstname=, amount_accident=2, type_4_1=2, edit-title-th=226, edit-lastname-th=ราม, file_tester1=, edit-lastname-cn=, numberhome_attorney=, register_tester=ทวงถามหนี้, office_tester=companyName3, controllerPosition=officerController, fax_attorney=, sDateRetriveDocs=21/11/2561, edit-name-cn=你好, lastname_service3=มานี, amount_register=999999999, office_tel=999999999}, get_receipt=2, register_tester=ทวงถามหนี้, office_soi=soi, amphur_service=68, office_tester=companyName3, controllerPosition=officerController, sDateRetriveDocs=21/11/2561, edit-name-cn=你好, wishing_tester=ทดสอบฯ, write_at_tester=กรมธุรกิจพลังงาน, lastname_service3=มานี, systemsum_num=, amount_register=999999999, office_tel=999999999}","get_receipt":"2","register_tester":"ทวงถามหนี้","office_soi":"soi","amphur_service":"68","office_tester":"companyName3","controllerPosition":"officerController","sDateRetriveDocs":"21/11/2561","edit-name-cn":"你好","wishing_tester":"ทดสอบฯ","write_at_tester":"กรมธุรกิจพลังงาน","lastname_service3":"มานี","systemsum_num":"","amount_register":"999999999","office_tel":"999999999","edit-toolBrand":""}';
		// $('table').dataTable({
		//                   "oLanguage": {
		//                   "sLengthMenu": "แสดง _MENU_ เร็คคอร์ด ต่อหน้า",
		//                   "sZeroRecords": "ไม่เจอข้อมูลที่ค้นหา",
		//                   "sInfo": "แสดง _START_ ถึง _END_ ของ _TOTAL_ เร็คคอร์ด",
		//                   "sInfoEmpty": "แสดง 0 ถึง 0 ของ 0 เร็คคอร์ด",
		//                   "sInfoFiltered": "(จากเร็คคอร์ดทั้งหมด _MAX_ เร็คคอร์ด)",
		//                   "sSearch": "ค้นหา :"
		//                                 }
		//               });

		$('body').on('click', '.editBtnUpload', function () {
			// console.log($(this).prev().attr("type", "file"))
			$(this).remove()
		})

		var file_tester1 = "[[${entryMap != null}? ${entryMap['file_tester1']}:'']]";
		// console.log(file_tester1);
		if (file_tester1 != '' || file_tester1 != null) {
			// $('#file_tester1').val(file_tester1);
			// $('#file_tester1').attr("type","hidden");
		}

		if ($('#bla').val() == '226') {
			$('#prefix_service3').show();
		}

		var edit_title_th = "[[${entryMap != null}? ${entryMap['edit-title-th']}:'0']]";
		if (edit_title_th == '226') {
			$("div#showTitle-2-226").show();
		}

		var chkReceipt = "[[${entryMap != null} ? ${entryMap['get_receipt']} : '']]";
		console.log("xx : "+chkReceipt)
		if (chkReceipt == '' || chkReceipt == null) {
			$('select#get_receipt').val('');
		} else {
			$('select#get_receipt').val(chkReceipt);
		}

		$('#someTab').tab('show');

		$("#next-1").click(function () {
			$("#nav-1").removeClass('active');
			$("#nav-2").addClass('active');
		});
		$("#next-2").click(function () {
			$("#nav-2").removeClass('active');
			$("#nav-3").addClass('active');
		});
		$("#next-3").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-4").addClass('active');
		});

		$("#next-4").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-4").addClass('active');
		});

		$("#next-5").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-5").addClass('active');
		});

		$("#prev-1").click(function () {
			$("#nav-2").removeClass('active');
			$("#nav-1").addClass('active');
		});
		$("#prev-2").click(function () {
			$("#nav-3").removeClass('active');
			$("#nav-2").addClass('active');
		});
		$("#prev-3").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-3").addClass('active');
		});

		$("#prev-4").click(function () {
			$("#nav-4").removeClass('active');
			$("#nav-3").addClass('active');
		});

		$("#prev-5").click(function () {
			$("#nav-5").removeClass('active');
			$("#nav-4").addClass('active');
		});

	});
</script>

<script type="text/javascript">
	var date = new Date();

	var day = date.getDate();
	var month = date.getMonth() + 1;
	var year = date.getFullYear() + 543;

	if (month < 10) month = "0" + month;
	if (day < 10) day = "0" + day;

	var today = day + "/" + month + "/" + year;


	document.getElementById('theDate').value = today;
</script>
<script>
	function getAmphur(val) {

		$('#office_auphur').html('');
		$('#office_tumbon').html('');
		$('#zipcodeId').val('');

		$('#office_auphur').append('<option value="">- เลือก -</option>');
		$('#office_province').append('<option value="">- เลือก -</option>');

		$.ajax({
			type: "POST",
			url: "/api/amphur",
			data: 'provinceId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#office_auphur').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
				});
			}
		});
	}


	function getTambon(val) {
		$.ajax({
			type: "POST",
			url: "/api/tambon",
			data: 'amphurId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#office_tumbon').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
				});
			}
		});
	}

	function getZipcode(val) {
		$.ajax({
			type: "POST",
			url: "/api/zipcode",
			data: 'districtId=' + val,
			success: function (data) {
				$.each(data, function (index, value) {
					$('#zipcodeId').val(value.zipcode);
				});
			}
		});
	}
</script>

<script type="text/javascript">
	$(document).ready(function () {


		$('#calibration_tool_expire').datepicker({
			format: 'dd/mm/yyyy',
			todayBtn: true,
			language: 'th-th',
			autoclose: true
		});
		$.each($("form").find($("input:file")), function (index, value) {
			$(value).attr("accept", "application/pdf, image/jpeg, image/png");
		});
	});
</script>
<script>
	$('body').on('keyup', '.allownumericwithdecimal', function () {

		var val = $(this).val();
		// console.log(val);
		var pass = 0; // 1 = กรอกข้อมูลไม่ใช่ตัวเลข หรือ ทศนิยม
		for (var i = 0; i < val.length; i++) {
			if (val.charAt(i) != '1' && val.charAt(i) != '2' && val.charAt(i) != '3' && val.charAt(i) != '4' && val.charAt(i) !=
				'5' &&
				val.charAt(i) != '6' && val.charAt(i) != '7' && val.charAt(i) != '8' && val.charAt(i) != '9' && val.charAt(i) !=
				'0' &&
				val.charAt(i) != '.') {
				pass = 1;
			}
		}
		if (pass == 1) {
			alert('กรุณากรอกเฉพาะตัวเลขเท่านั้น!');
			$(this).val('');
		}
	})
</script>
<script th:inline="javascript">
	// function getAmphurAttorney(val) {

	// 	$('#amphurId_attorney').html('');
	// 	$('#districtId_attorney').html('');
	// 	$('#zipcodeId_attorney').val('');

	// 	$('#amphurId_attorney').append('<option value="">- เลือก -</option>');
	// 	$('#districtId_attorney').append('<option value="">- เลือก -</option>');
	// 	var selected_amphurId_person = "[[$ {entryMap != null} ? $ {entryMap['amphurId']} : '']]";
	// 	var s = "";
	// 	$.ajax({
	// 		type: "POST",
	// 		url: "/api/amphur",
	// 		data: 'provinceId=' + val,
	// 		success: function (data) {
	// 			$.each(data, function (index, value) {
	// 				if (value.amphurId === selected_amphurId_person) {
	// 					s = " selected ";
	// 					getTambonAttorney(value.amphurId);
	// 				} else {
	// 					s = "";
	// 				}
	// 				$('#amphurId_attorney').append('<option value="' + value.amphurId + '" ' + s + '>' + value.amphurName +
	// 					'</option>');
	// 			});
	// 		}
	// 	});
	// }

	// function getTambonAttorney(val) {
	// 	var s = "";
	// 	var selected_districtId_person = "[[$ {entryMap != null} ? $ {entryMap['districtId']} : '']]";
	// 	$.ajax({
	// 		type: "POST",
	// 		url: "/api/tambon",
	// 		data: 'amphurId=' + val,
	// 		success: function (data) {
	// 			$.each(data, function (index, value) {
	// 				if (value.districtId == selected_districtId_person) {
	// 					s = " selected ";
	// 					getZipcodeAttorney(value.districtId);
	// 				} else {
	// 					s = "";
	// 				}
	// 				$('#districtId_attorney').append('<option value="' + value.districtId + '">' + value.districtName +
	// 					'</option>');
	// 			});
	// 		}
	// 	});
	// }

	// function getZipcodeAttorney(val) {
	// 	$.ajax({
	// 		type: "POST",
	// 		url: "/api/zipcode",
	// 		data: 'districtId=' + val,
	// 		success: function (data) {
	// 			$.each(data, function (index, value) {
	// 				$('#zipcodeId_attorney').val(value.zipcode);
	// 			});
	// 		}
	// 	});
	// }
</script>

</html>