<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container">

     <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอใบรับรองหรือขอต่ออายุใบรับรอง</u></h3>
    	<h3 class="text-center"><u>เป็นวิศวกรทดสอบและตรวจสอบ</u></h3>
    	<h3 class="text-center"><u>ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right"> <h2 class="text-right">สธช./ข.๒/๑</h2></div>
	</div>



       <form action="#" th:action="@{/onestop/form/submission}" method="post"  class="form-inline mt-20"  enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_engineer" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน" th:value="${entryMap != null} ? ${entryMap['write_engineer']} : 'กรมธุรกิจพลังงาน'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>

              	<input type="date" id="theDate"  name="" class="form-control edit form-control edit-edit"  disabled>
              </div>
            </div>
          </div>
        </div>

      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 20px 140px;">1 ข้อมูลเกี่ยวกับ <br /> ผู้ยื่นคำขออนุมัติ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 20px 140px;">2 ข้อมูลเกี่ยวกับ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>

      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
              <h3 class="title">ส่วนที่ 1 : ข้อมูลเกี่ยวกับผู้ยืนคำขอ</h3>
              <h4 class="title">1. ผู้ยื่นคำขอ</h4>

                <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label> <br>
                    <select name="bla" id="bla" class="form-control edit">
                      <option value="0">- เลือก -</option>
                      <option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
                        th:value="${TitleName.code}"
                        th:utext="${TitleName.abbreviation}"
                        th:selected="${TitleName.code==selectedValue}"
                      />
                    </select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="inputPassword3" class="col-sm-4 control-label">อายุ</label>

                          <input type="text" class="form-control edit" id="inputPassword3" name="age_engineer"  th:value="${entryMap != null} ? ${entryMap['age_engineer']} : ''">
   				</div>
                  </div>

            <br>
            <br>
            <h4 class="title">2. ความประสงค์ขอใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ</h4>
            <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-12">
                    <input type="checkbox" name="requestTypeId" id="requestTypeId" value="" th:value="${requestTypeId}" checked>
                    <input type="hidden" name="requestName" id="requestName" value="" th:value="${requestName}"/>
                    <label for="" class="control-label center" th:text="${requestTypeName + ' ' + requestName}"></label>
                    <div id="s1" style="display: none;">
                    <input type="text" class="form-control edit"  name="purpose1" value="" id="vs1"><br>
                    <input type="file" name="file_purpose1" class="well well-sm" id="fs1">
                    </div>
                  </div>
              </div>
            </div>
            <br>
            <h4 class="title">2. ที่ตั้งสำนักงาน</h4>

             <div class="form-group" style="width: 98%;">
              	 <div class="col-sm-12">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label><br/>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''" style="width: 100%;">
                  </div>
             </div>

             <div class="form-group">

                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" style="width: 100%;" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" style="width: 100%;" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  </div>

              	<div class="form-group" style="width: 100%;">

                  <div class="col-sm-3">
                  <input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
                    <label for="" class="control-label right">จังหวัด</label><br/>
                    	<select style="width: 100%;" name="province_service" th:field="*{company.provinceId}"  id="province_service" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==company.provinceId}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label><br/>
                    	<select style="width: 100%;" name="amphur_service" id="amphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label><br/>
                    	<select style="width: 100%;" name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                   <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label><br/>
                     <input type="text" class="form-control edit" id="zipcode_service" placeholder="" name="zipcode_service" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
                  </div>
              </div>
              <div class="form-group" style="width: 100%;">

                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" style="width: 100%;" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" style="width: 100%;" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>

                   <div class="col-sm-6">
                    <label for="" class="control-label right">E-mail</label><br/>
                    <input type="text" style="width: 100%;" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                  </div>
              </div>
              <br>
               <br>
              <div class="form-horizontal">
                  <div class="form-group">
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ขอรับรองว่าข้าพเจ้ามีคุณสมบัติครบถ้วน ตามประกาศกรมธุรกิจพลังงาน เรื่อง การขึ้น
						ทะเบียนวิศวกรออกแบบและการออกใบรับรองวิศวกรทดสอบและตรวจสอบ พ.ศ. ๒๕๕๐ ประกาศ ณ
						วันที่ ๗ พฤศจิกายน พ.ศ. ๒๕๕๐ </p>
                  </div>
              </div>

          <br>


            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <!-- <code th:text="${entryMap}"></code> -->

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานแนบท้ายแบบ สธช./ข.๒/๑</h3>
          <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
              <input type="checkbox" name="check_engineer1_1" 
                th:with="check_1=${entryMap != null} ? ${entryMap['check_engineer1_1']} : ''" 
                th:checked="${check_1 != null}" id="Fa1" value="0"> 1. ภาพถ่ายบัตรประจำตัวประชาชนและสำเนาทะเบียนบ้านของผู้มีอำนาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอานาจจากนิติบุคคล พร้อมหนังสือแสดงว่าเป็นผู้ได้รับมอบอานาจจากนิติบุคคล
              <a href="#" th:with="file_1=${entryMap != null} ? ${entryMap['file_engineer1']} : ''" 
                target="_blank" th:href="@{|/filemanager/${file_1}|}">
                <span th:if="${file_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <!-- <div id="s1_1" th:classappend="${entryMap['file_engineer1']} != '' ? 'enable-box-attach' : 'disable-box-attach'">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>รายการเอกสาร</th>
                        <th class="text-center">ความถูกต้อง</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td>ไฟล์แนบเอกสารที่ 1</td>
                        <td class="text-center"><span th:classappend="${entryMap['file_engineer1']} != '' ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span></td>
                      </tr>
                    </tbody>
                  </table>
              </div> -->
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer1" 
              th:with="check_2=${entryMap != null} ? ${entryMap['check_engineer1']} : ''" 
              th:checked="${check_2 != null}" id="Fa2" value="0"> 2. ภาพถ่ายหลักฐานการจดทะเบียนและรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการหรือหุ้นส่วน
            <a href="#" th:with="file_2=${entryMap != null} ? ${entryMap['file_engineer2']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_2}|}">
              <span th:if="${file_2 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer3" 
              th:with="check_3=${entryMap != null} ? ${entryMap['check_engineer3']} : ''" 
              th:checked="${check_3 != null}" id="Fa3" value="0"> 3. ภาพถ่ายหลักฐานการจดทะเบียน การมีเงินทุน และรายชื่อผู้รับผิดชอบในตำแหน่งหน้าที่และกรรมการ หรือหุ้นส่วน
            <a href="#" th:with="file_3=${entryMap != null} ? ${entryMap['file_engineer3']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_3}|}">
              <span th:if="${file_3 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer4" 
              th:with="check_4=${entryMap != null} ? ${entryMap['check_engineer4']} : ''" 
              th:checked="${check_4 != null}" id="Fa4" value="0"> 4. หลักฐานการถูกสั่งพักใช้ใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกสั่งพักใบรับรอง)
            <a href="#" th:with="file_4=${entryMap != null} ? ${entryMap['file_engineer4']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_4}|}">
              <span th:if="${file_4 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer5" 
              th:with="check_5=${entryMap != null} ? ${entryMap['check_engineer5']} : ''" 
              th:checked="${check_5 != null}" id="Fa5" value="0"> 5. หลักฐานการถูกสั่งเพิกถอนใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกเพิกถอนใบรับรอง)
            <a href="#" th:with="file_5=${entryMap != null} ? ${entryMap['file_engineer5']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_5}|}">
              <span th:if="${file_5 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer6" 
              th:with="check_6=${entryMap != null} ? ${entryMap['check_engineer6']} : ''" 
              th:checked="${check_6 != null}" id="Fa6" value="0"> 6. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สำนักงาน
            <a href="#" th:with="file_6=${entryMap != null} ? ${entryMap['file_engineer6']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_6}|}">
              <span th:if="${file_6 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer7" 
              th:with="check_7=${entryMap != null} ? ${entryMap['check_engineer7']} : ''" 
              th:checked="${check_7 != null}" id="Fa7" value="0"> 7. ภาพถ่ายตราสำคัญสำหรับใช้ประทับเอกสารประกอบยื่นคำขอฯ
            <a href="#" th:with="file_7=${entryMap != null} ? ${entryMap['file_engineer7']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_7}|}">
              <span th:if="${file_7 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer8" 
              th:with="check_8=${entryMap != null} ? ${entryMap['check_engineer8']} : ''" 
              th:checked="${check_8 != null}" id="Fa8" value="0"> 8. ภาพถ่ายเครื่องหมายทดสอบและตรวจสอบประกอบยื่นคำขอฯ จำนวน ๓ ชุด
              <ul th:classappend="${check_8} != null ? 'enable-box-attach' : 'disable-box-attach'">
                <li>
                  <a href="#" th:with="file_8_1=${entryMap != null} ? ${entryMap['file_engineer8_1']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_8_1}|}">
                    [ ไฟล์แนบที่ 1 <span th:if="${file_8_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> ]
                  </a>
                </li>
                <li>
                  <a href="#" th:with="file_8_2=${entryMap != null} ? ${entryMap['file_engineer8_2']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_8_2}|}">
                    [ ไฟล์แนบที่ 2 <span th:if="${file_8_2 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> ]
                  </a>
                </li>
                <li>
                  <a href="#" th:with="file_8_3=${entryMap != null} ? ${entryMap['file_engineer8_3']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_8_3}|}">
                    [ ไฟล์แนบที่ 3 <span th:if="${file_8_3 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> ]
                  </a>
                </li>
              </ul>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer9" 
              th:with="check_9=${entryMap != null} ? ${entryMap['check_engineer9']} : ''" 
              th:checked="${check_9 != null}" id="Fa9" value="0"> 9. ภาพถ่ายหลักฐานการทำประกันภัยประเภทอุบัติภัยในช่วงที่ทำการทดสอบและตรวจสอบ เพื่อคุ้มครองต่อชีวิตและร่างกายของบุคคลอื่น รวมทั้งคุ้มครองความเสียหายในทรัพย์สินของบุคคลอื่น
            <a href="#" th:with="file_9=${entryMap != null} ? ${entryMap['file_engineer9']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_9}|}">
              <span th:if="${file_9 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer10" 
              th:with="check_10=${entryMap != null} ? ${entryMap['check_engineer10']} : ''" 
              th:checked="${check_10 != null}" id="Fa10" value="0"> 10. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือทดสอบและตรวจสอบ พร้อมใบรับรองการตรวจสอบความเที่ยงตรงตามมาตรฐานสากลและตามระยะเวลาที่กำหนด
            <a href="#" th:with="file_10=${entryMap != null} ? ${entryMap['file_engineer10']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_10}|}">
              <span th:if="${file_10 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div th:if="${requestTypeId} == 2">
            <div class="col-sm-12">
                <input type="checkbox" name="check_engineer11" 
                  th:with="check_11=${entryMap != null} ? ${entryMap['check_engineer11']} : ''" 
                  th:checked="${check_11 != null}" id="Fa11" value="0">๑๑. สำเนาใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ สถานที่ใช้ก๊าซธรรมชาติ      (ฉบับ เดิม) 
                <a href="#" th:with="file_11=${entryMap != null} ? ${entryMap['file_engineer11']} : ''" 
                  target="_blank" th:href="@{|/filemanager/${file_11}|}">
                  <span th:if="${file_11 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                </a>
              </div>
          </div>
          <!-- <div class="col-sm-12">

            <input type="checkbox" name="check_engineer11_1" 
              th:with="check_11=${entryMap != null} ? ${entryMap['check_engineer11_1']} : ''" 
              th:checked="${check_11 != null}" id="Fa11" value="0"> 11. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของพนักงานที่ทำงานทดสอบและตรวจสอบ ประเภทรับเงินเดือนประจำและประเภทจ้างเป็นครั้งคราว ดังนี้
              <ul th:classappend="${check_11} != null ? 'enable-box-attach' : 'disable-box-attach'">
                <li>
                  <span>(1) ผู้ควบคุมการทดสอบและตรวจสอบ</span>
                  <a href="#" th:with="file_11_1=${entryMap != null} ? ${entryMap['file_engineer11_1']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_11_1}|}">
                    <span th:if="${file_11_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li>

                <li>
                  <span>(2) ผู้ทดสอบและตรวจสอบ</span>
                  <a href="#" th:with="file_11_2=${entryMap != null} ? ${entryMap['file_engineer11_2']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_11_2}|}">
                    <span th:if="${file_11_2 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li>

                <li>
                  <span>(3) ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม</span>
                  <a href="#" th:with="file_11_3=${entryMap != null} ? ${entryMap['file_engineer11_3']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_11_3}|}">
                    <span th:if="${file_11_3 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer12" 
              th:with="check_12=${entryMap != null} ? ${entryMap['file_engineer12_1']} : ''" 
              th:checked="${check_12 != ''}" id="Fa12" value="0"> 12. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของผู้ควบคุมในการทดสอบและตรวจสอบ ซึ่งปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบที่เป็นลูกจ้างประจำและปฏิบัติงานเพียงแห่งเดียว ดังนี้

              <ul th:classappend="${check_12} != null ? 'enable-box-attach' : 'disable-box-attach'">
                <li>
                  <span>(1) ผู้ควบคุมการทดสอบและตรวจสอบ</span>
                  <a href="#" th:with="file_12_1=${entryMap != null} ? ${entryMap['file_engineer12_1']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_engineer12_1}|}">
                    <span th:if="${file_12_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li>

                <li> 
                  <span>(2) ผู้ทดสอบและตรวจสอบ</span>
                  <a href="#" th:with="file_12_2=${entryMap != null} ? ${entryMap['file_engineer12_2']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_engineer12_2}|}">
                    <span th:if="${file_12_2 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li> 

                <li> 
                  <span>(3) ผู้ชานาญการทดสอบกรรมวิธีไม่ทาลายสภาพเดิม</span>
                  <a href="#" th:with="file_12_3=${entryMap != null} ? ${entryMap['file_engineer12_3']} : ''" 
                    target="_blank" th:href="@{|/filemanager/${file_engineer12_3}|}">
                    <span th:if="${file_12_3 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                </li>  
              </ul>
          </div> -->

        </div>
      </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
            <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
            <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
			      <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <button type="button" class="btn btn-custom-confirm" onclick="closeCurrentTab();">ปิด</button>
          </div>
        </div>


      </div>

      </form>
  </div>
  <div th:replace="common-officer/footer :: common-footer">

</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
  function closeCurrentTab() {
    var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
    if(conf==true){
    window.top.close();
    }
  }
$(document).ready(function () {

    $.each( $("select,input:text,input:checkbox"), function( key, value ) {
      $(value).attr('disabled', true);
    });

    $('#Fa1').change(function() {
        if($(this).is(":checked")) {
          $('#s1_1').css('display','block'); 
          // $("#fs1").prop('required',true);
        }else { 
          $('#s1_1').css('display','none'); 
          // $("#fs1").prop('required',false); 
        }     
    });

		   $('#Fa2').change(function() {
		    if($(this).is(":checked")) {
		      $('#s2').css('display','block');
		      $("#fs2").prop('required',true);
		    }else {
		      $('#s2').css('display','none');
		      $("#fs2").prop('required',false);
		    }
		  });
		   $('#Fa3').change(function() {
		    if($(this).is(":checked")) {
		      $('#s3').css('display','block');
		      $("#fs3").prop('required',true);
		    }else {
		      $('#s3').css('display','none');
		      $("#fs3").prop('required',false);
		    }
		  });
		   $('#Fa4').change(function() {
		    if($(this).is(":checked")) {
		      $('#s4').css('display','block');
		      $("#fs4").prop('required',true);
		    }else {
		      $('#s4').css('display','none');
		      $("#fs4").prop('required',false);
		    }
		  });
		   $('#Fa5').change(function() {
		    if($(this).is(":checked")) {
		      $('#s5').css('display','block');
		      $("#fs5").prop('required',true);
		    }else {
		      $('#s5').css('display','none');
		      $("#fs5").prop('required',false);
		    }
		  });
		   $('#Fa6').change(function() {
		    if($(this).is(":checked")) {
		      $('#s6').css('display','block');
		      $("#fs6").prop('required',true);
		    }else {
		      $('#s6').css('display','none');
		      $("#fs6").prop('required',false);
		    }
		  });
		   $('#Fa7').change(function() {
		    if($(this).is(":checked")) {
		      $('#s7').css('display','block');
		      $("#fs7").prop('required',true);
		    }else {
		      $('#s7').css('display','none');
		      $("#fs7").prop('required',false);
		    }
		  });
		   $('#Fa8').change(function() {
		    if($(this).is(":checked")) {
		      $('#s8').css('display','block');
		      $("#fs8").prop('required',true);
		    }else {
		      $('#s8').css('display','none');
		      $("#fs8").prop('required',false);
		    }
		  });

		   $('#Fa9').change(function() {
			    if($(this).is(":checked")) {
			      $('#s9').css('display','block');
			      $("#fs9").prop('required',true);
			    }else {
			      $('#s9').css('display','none');
			      $("#fs9").prop('required',false);
			    }
			  });

		   $('#Fa10').change(function() {
			    if($(this).is(":checked")) {
			      $('#s10').css('display','block');
			      $("#fs10").prop('required',true);
			    }else {
			      $('#s10').css('display','none');
			      $("#fs10").prop('required',false);
			    }
			  });

		   $('#Fa11').change(function() {
			    if($(this).is(":checked")) {
			      $('#s11').css('display','block');
			      $("#fs11").prop('required',true);
			    }else {
			      $('#s11').css('display','none');
			      $("#fs11").prop('required',false);
			    }
			  });


		   $('#Fa12').change(function() {
			    if($(this).is(":checked")) {
			      $('#s12').css('display','block');
			      $("#fs12").prop('required',true);
			    }else {
			      $('#s12').css('display','none');
			      $("#fs12").prop('required',false);
			    }
			  });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
</script>

<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = (year + 543) + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script>
// function getAmphur(val) {

// 	$('#amphurId').html('');
// 	$('#districtId').html('');
// 	$('#zipcodeId').val('');

// 	$('#amphurId').append('<option value="">- เลือก -</option>');
// 	$('#districtId').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


// function getTambon(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/tambon",
// 	data:'amphurId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
//         });
// 	}
// 	});
// }

// function getZipcode(val) {
// 	$.ajax({
// 	type: "POST",
// 	url: "/api/zipcode",
// 	data:'districtId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#zipcodeId').val(value.zipcode);
//         });
// 	}
// 	});
// }

</script>
<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>

</html>
