<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <head th:replace="common-onestop/header :: common-header" />
</head>
<body>
    <div th:replace="common-onestop/navbar :: common-navbar" />

    <form action="#" th:action="@{/onestop/form/submission}" method="post" enctype="multipart/form-data">  

  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <h2 class="text-right">แบบ ธพ.พ.3ผ</h2>
    <h3 class="text-center">คำขอ &nbsp; <input type="radio" name="request1" value="ต่ออายุ" checked> ต่ออายุ &nbsp;<input type="radio" name="request1" value="ใบแทนบัตรประจําตัวผู้ปฏิบัติงาน"> ใบแทน </h3>
    <h3 class="text-center"><u>บัตรประจําตัวผู้ปฏิบัติงาน</u></h3>
    <div class="form-inline mt-20">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 text-right">
          <div class="form-inline">
            <div class="form-group">
              <label>เขียนที่</label>
              <input type="text" class="form-control edit form-control edit-edit" name="Wa" value="กรมธุรกิจพลังงาน" placeholder="กรมธุรกิจพลังงาน">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-6 col-sm-offset-6 text-right">
          <div class="form-inline">
            <div class="form-group">
              <label>วันที่</label>
              <input type="text" class="form-control edit form-control edit-edit" name="write_at" value="" id="theDate" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end date form -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
      <li role="presentation" class="tab-edit active" id="nav-1">
        <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ได้รับบัตรประจำตัว <br> ผู้ปฏิบัติงานและได้มอบหมายอำนาจ </a>
      </li>
      <li role="presentation" class="tab-edit" id="nav-2">
        <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 : เอกสารหลักฐานที่ใช้ประกอบคําขอต่ออายุ/ขอใบแทนบัตรประจําตัวผู้ปฏิบัติงาน </a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tap1">
        <div class="tab-pane active" role="tabpanel" id="step1">
          <h3 class="title">ส่วนที่ 1 : ข้อมูลของผู้ได้รับบัตรประจำตัวผู้ปฏิบัติงานและได้มอบหมายอำนาจ</h3>
          <h4 class="title">1 ผู้ได้รับบัตรประจําตัวผู้ปฏิบัติงาน</h4>

          <div class="form-horizontal">
            <div class="row">
              <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
              </div>
              
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>

              <div class="col-sm-3">
                <label class="control-label center">บัตรประชาชนเลขที่</label>
                <input type="text" class="form-control edit" name="uid" id="" placeholder="" value="">
              </div>

              <div class="col-sm-9">
                <label class="control-label center">บัตรประจําตัวผู้ปฏิบัติงาน.เลขที่</label>
                <input type="text" class="form-control edit" id="" name="uid_career" placeholder="" value="">
              </div>
              <div class="col-sm-3">
                <label class="control-label center">หมดอายุวันที่ </label>
                <input type="date" class="form-control edit" id="" name="end_date_career" placeholder="" value="">
              </div>
            </div>
          </div>

          <h4 class="title">2 สถานประกอบกิจการน้ํามันเชื้อเพลิงของผู้ได้รับบัตรประจําตัวผู้ปฏิบัติงาน </h4>

          <div class="form-horizontal striped">      
            <div class="row">

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="comname" value="">
              </div>

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">เลขที่ใบอนุญาต(ประกอบกิจการควบคุมประเภทที่ 3 ตามกฎหมายว่าด้วยการควบคุมน้ํามันเชื้อเพลิง)</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="license_id" value="">
              </div>

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">ประเภทกิจการตามที่ระบุในใบอนุญาต</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="license_type" value="">
              </div>



            </div>  <!-- form -->

          <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">E-mail</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="email1" value="">
              </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">website</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="web1" value="">
              </div>
              </div>
          </div>

            <h4 class="title">3 ผู้รับมอบอํานาจ (ถ้ามี) </h4>

            <div class="form-horizontal">
              <div class="row">
                <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
                 
                </div>
               
                
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>
                
                <div class="col-6 col-sm-3">
                <label for="" class="control-label center">อายุ</label>
                 <input type="text" class="form-control edit" id="" placeholder="" >
               </div>

            </div>                     
          </div>

<div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId2" id="provinceId2" class="form-control edit" onChange="getAmphur2(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId2" id="amphurId2" class="form-control edit" onChange="getTambon2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId2" id="districtId2" class="form-control edit" onChange="getZipcode2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId2" name="zipcodeId2" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">E-mail</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="email1" value="">
              </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">website</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="web1" value="">
              </div>
              </div>
          </div>

          <h4 class="title">4 ผู้ติดต่อประสานงาน </h4>

          <div class="form-horizontal">
            <div class="row">
              <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
              </div>
              
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>
             
              <div class="col-6 col-sm-3">
               <label for="" class="control-label center">อายุ</label>
               <input type="text" class="form-control edit" id="" placeholder="" >
             </div>

            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">โทรศัพท์</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="phone3" value="">
            </div>
          
            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">โทรสาร</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="fax3" value="">
            </div>
          
            <div class="col-6 col-sm-3">
              <label for="" class="control-label center">มือถือ</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="phones3" value="">
            </div>

            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">E-mail</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="email3" value="">
            </div>
            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">website</label>
              <input type="text" class="form-control edit" id="" placeholder=""  value="" name="web3">
            </div>

          </div>                     
        </div>
        <hr>
        <div class="row text-right mt-20">
          <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
          <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
        </div>
      </div>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="tap2">
      <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานที่ใช้ประกอบคําขอต่ออายุ/ขอใบแทนบัตรประจําตัวผู้ปฏิบัติงาน </h3>

      <div class="form-horizontal">
        <div class="form-group">

          <div class="col-sm-12">
            <!-- <input type="checkbox" th:checked="${entryMap['Fa1'] != null}" name="Fa1" id="Fa1"> -->
            <input type="checkbox" name="Fa1" 
              th:with="check_1=${entryMap != null} ? ${entryMap['Fa1']} : ''" 
              th:checked="${check_1 != null}" id="Fa1"> สําเนาบัตรประจําตัวประชาชน

              <a href="#" th:with="file_1=${entryMap != null} ? ${entryMap['pic_name1']} : ''" 
                target="_blank" th:href="@{|/filemanager/${file_1}|}">
                <span th:if="${file_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <!-- <div id="s1" th:classappend="${entryMap['pic_name1']} != '' ? 'enable-box-attach' : 'disable-box-attach'">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">ลำดับ</th>
                    <th>รายการเอกสาร</th>
                    <th class="text-center">ความถูกต้อง</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td>ไฟล์แนบเอกสารที่ 1</td>
                    <td class="text-center"><span th:classappend="${entryMap['pic_name1']} != '' ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span></td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa2" 
              th:with="check_2=${entryMap != null} ? ${entryMap['Fa1']} : ''" 
              th:checked="${check_2 != null}" id="Fa2"> หนังสือมอบอํานาจ (ถ้ามี) พร้อมสําเนาบัตรประจําตัวประชาชนของผู้มอบอํานาจ และผู้รับมอบอํานาจ
              <a href="#" th:with="file_2=${entryMap != null} ? ${entryMap['pic_name2']} : ''" 
                target="_blank" th:href="@{|/filemanager/${file_2}|}">
                <span th:if="${file_2 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa3" 
              th:with="check_3=${entryMap != null} ? ${entryMap['Fa3']} : ''" 
              th:checked="${check_3 != null}" id="Fa3"> รูปถ่ายสี หน้าตรง ไม่สวมหมวกและแว่นตาดํา ถ่ายไม่เกิน 6 เดือน ขนาด 2.5 คูณ 3 เซนติเมตร จํานวน 2 รูป
              <a href="#" th:with="file_3=${entryMap != null} ? ${entryMap['pic_name3']} : ''" 
                target="_blank" th:href="@{|/filemanager/${file_3}|}">
                <span th:if="${file_3 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa4" 
              th:with="check_4=${entryMap != null} ? ${entryMap['Fa4']} : ''" 
              th:checked="${check_4 != null}" id="Fa4"> สําเนาใบอนุญาตประกอบกิจการควบคุมประเภทที่ 3 ตามกฎหมายว่าด้วยการควบคุมน้ํามันเชื้อเพลิงของสถานประกอบ <br> &nbsp;&nbsp;&nbsp;&nbsp;กิจการที่ผู้ขอรับบัตรจะปฏิบัติงาน
              <a href="#" th:with="file_4=${entryMap != null} ? ${entryMap['pic_name4']} : ''" 
                target="_blank" th:href="@{|/filemanager/${file_4}|}">
                <span th:if="${file_4 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa5" 
              th:with="check_5=${entryMap != null} ? ${entryMap['Fa5']} : ''" 
              th:checked="${check_5 != null}" id="Fa5"> หนังสือรับรองการทํางานเป็นผู้ปฏิบัติงานในกิจการด้านที่ตนจะขอต่ออายุติดต่อกันเป็นเวลาไม่น้อยกว่า 2 ปี(กรณีต่ออายุ)

            <a href="#" th:with="file_5=${entryMap != null} ? ${entryMap['pic_name5']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_5}|}">
              <span th:if="${file_5 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">

            <input type="checkbox" name="Fa6" 
              th:with="check_6=${entryMap != null} ? ${entryMap['Fa6']} : ''" 
              th:checked="${check_6 != null}" id="Fa6"> สําเนาบัตรประจําตัวผู้ปฏิบัติงานน้ํามันเชื้อเพลิงเดิม (กรณีต่ออายุ)
              
            <a href="#" th:with="file_6=${entryMap != null} ? ${entryMap['pic_name6']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_6}|}">
              <span th:if="${file_6 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
            
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa7" 
              th:with="check_7=${entryMap != null} ? ${entryMap['Fa7']} : ''" 
              th:checked="${check_7 != null}" id="Fa7"> บัตรประจําตัวผู้ปฏิบัติงานน้ํามันเชื้อเพลิงเดิม (กรณีถูกทําลาย หรือชํารุดเสียหายในสาระสําคัญ)
            <a href="#" th:with="file_7=${entryMap != null} ? ${entryMap['pic_name7']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_7}|}">
              <span th:if="${file_7 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa8" 
              th:with="check_8=${entryMap != null} ? ${entryMap['Fa8']} : ''" 
              th:checked="${check_8 != null}" id="Fa8"> หลักฐานใบแจ้งความ (กรณีสูญหาย)
            <a href="#" th:with="file_8=${entryMap != null} ? ${entryMap['pic_name8']} : ''" 
              target="_blank" th:href="@{|/filemanager/${file_8}|}">
              <span th:if="${file_8 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
          </div>

        </div>
      </div>
      <div class="row text-right mt-20">
        <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" 
          aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
          <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
          <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
          <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
          <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
          <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
          <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
          <button type="button" class="btn btn-custom-confirm" onclick="closeCurrentTab();">ปิด</button>
      </div>
 
    </div>
  </div>
</div>
</form> 
  <div th:replace="common-officer/footer :: common-footer">
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>

<script type="text/javascript">
  function closeCurrentTab() {
    var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
    if(conf==true){
    window.top.close();
    }
  }

  $(document).ready(function () {

  $.each( $("select,input:text,input:checkbox,input[type=date],input:radio"), function( key, value ) {
    $(value).attr('disabled', true);
  });

   $('#Fa1').change(function() {
    if($(this).is(":checked")) {
      $('#s1').css('display','block');  
      $("#fs1").prop('required',false);
    }else { 
      $('#s1').css('display','none'); 
      $("#fs1").prop('required',false); 
    }     
  });
   $('#Fa2').change(function() {
    if($(this).is(":checked")) {
      $('#s2').css('display','block');  
      $("#fs2").prop('required',false);
    }else { 
      $('#s2').css('display','none'); 
      $("#fs2").prop('required',false); 
    }     
  });
   $('#Fa3').change(function() {
    if($(this).is(":checked")) {
      $('#s3').css('display','block');  
      $("#fs3").prop('required',false);
    }else { 
      $('#s3').css('display','none'); 
      $("#fs3").prop('required',false); 
    }     
  });
   $('#Fa4').change(function() {
    if($(this).is(":checked")) {
      $('#s4').css('display','block');  
      $("#fs4").prop('required',false);
    }else { 
      $('#s4').css('display','none'); 
      $("#fs4").prop('required',false); 
    }     
  });
   $('#Fa5').change(function() {
    if($(this).is(":checked")) {
      $('#s5').css('display','block');  
      $("#fs5").prop('required',false);
    }else { 
      $('#s5').css('display','none'); 
      $("#fs5").prop('required',false); 
    }     
  });
   $('#Fa6').change(function() {
    if($(this).is(":checked")) {
      $('#s6').css('display','block');  
      $("#fs6").prop('required',false);
    }else { 
      $('#s6').css('display','none'); 
      $("#fs6").prop('required',false); 
    }     
  });
   $('#Fa7').change(function() {
    if($(this).is(":checked")) {
      $('#s7').css('display','block');  
      $("#fs7").prop('required',false);
    }else { 
      $('#s7').css('display','none'); 
      $("#fs7").prop('required',false); 
    }     
  });
   $('#Fa8').change(function() {
    if($(this).is(":checked")) {
      $('#s8').css('display','block');  
      $("#fs8").prop('required',false);
    }else { 
      $('#s8').css('display','none'); 
      $("#fs8").prop('required',false); 
    }     
  });
  

   $('#someTab').tab('show');

   $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
   $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
   $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
   $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
   $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
   $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

 });
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" + (year + 543) ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

//

function getAmphur2(val) {
	
	$('#amphurId2').html('');
	$('#districtId2').html('');
	$('#zipcodeId2').val('');
	
	$('#amphurId2').append('<option value="">- เลือก -</option>');
	$('#districtId2').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId2').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon2(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId2').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode2(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId2').val(value.zipcode);
        });
	}
	});
}
</script>
</html>