<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <form method="POST" action="#" th:action="@{/onestop/form/submission}" enctype="multipart/form-data">
  <div class="box-container mb-50">
    <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอใบรับรอง หรือขอต่ออายุผู้ตรวจสอบระบบไฟฟ้าบุคคล/นิติบุคคล สถานที่ใช้ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">สธช./ฟ.1/1</h2>
	</div>
	</div>
         <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit " value="กรมธุรกิจพลังงาน" th:value="${entryMap != null} ? ${entryMap['write_at']} : 'กรมธุรกิจพลังงาน'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="dateat" class="form-control edit" value="" id="theDate" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลเกี่ยวกับ<br /> รับหนังสือรับรอง </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 เอกสารหลักฐานที่ใช้ประกอบคำ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>

      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลเกี่ยวกับ</h3>
             <div class="form-horizontal">
                <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
                    <select name="bla" id="bla" class="form-control edit" style="width:100%;">
                        <option value="0">- เลือก -</option>
                        <option th:each="TitleName : ${lTitleName}"
                          th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
                          th:value="${TitleName.code}"
                          th:utext="${TitleName.abbreviation}"
                          th:selected="${TitleName.code==selectedValue}" />
                    </select>
                  </div>
                  <div class="col-sm-3" id="section-title" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''" th:style="${selectedValue == '226'} ?'display:block':'display:none'">
                    <label for="formDescription" class="control-label center">โปรดระบุ</label>
                    <input type="text" class="form-control edit" name="sTitleNameEtc" id="sTitleNameEtc" maxlength="17" th:value="${entryMap != null} ? ${entryMap['sTitleNameEtc']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="inputPassword3" class="col-sm-4 control-label">อายุ</label>

                          <input type="text" class="form-control edit" id="inputPassword3" name="age_engineer" required="required" th:value="${entryMap != null} ? ${entryMap['age_engineer']} : ''">
   				        </div>
                </div>
                <script>
                    $('body').on('change','#bla',function(){
                      var bla_value = $(this).val();
                      if(bla_value == 226){
                        $('div#section-title').show();
                      }else{
                        $('div#section-title').hide();
                      }
                    });
                </script>
                    <div class="form-group">
                    <div class="col-sm-6">
                      <label  class="control-label text-left">มีความประสงค์</label>
                       <input type="text" class="form-control edit" name="Purpose" value="" th:value="${requestTypeName}" >
                      </div>
                      <div class="col-sm-6">
                         <label  class="control-label text-left">เป็น</label>
                         <input type="text" class="form-control edit" name="Typee" value="" th:value="${requestName}" >
                      </div>

              </div>
              </div>
          <div class="form-horizontal">
              <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">บัตรประชาชนเลขที่</label>
                    <input type="text" class="form-control edit textIdcard" maxlength="17" id="idcard" name="idcard" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['idcard']} : ''">
                 </div>
                  <div class="col-sm-2">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" name="homeid" class="form-control edit" th:value="${entryMap != null} ? ${entryMap['homeid']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" name="moo" class="form-control edit"  th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-2">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" name="trock" class="form-control edit"  th:value="${entryMap != null} ? ${entryMap['trock']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" name="road" class="form-control edit"  th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                   </div>

                  <div class="form-group">
                    <div class="col-sm-3">
                      <label for="" class="control-label center">จังหวัด</label>
                      <select name="province_service2" id="province_service2" class="form-control edit" onChange="getAmphur2(this.value);">
                          <option value="">- เลือก -</option>
                          <option th:each="province : ${lProvinceBean}"
                              th:with="selectedValue = ${entryMap != null} ? ${entryMap['province_service2']} : ''"
                              th:value="${province.provinceId}"
                              th:utext="${province.provinceName}"
                              th:selected="${#strings.equals(province.provinceId, #strings.toString(selectedValue))}"
                              />
                        </select>
                    </div>
                  <div class="col-sm-3">
                      <label for="" class="control-label center">อำเภอ/เขต</label>
                    <select name="amphur_service2" id="amphur_service2" class="form-control edit" onChange="getTambon2(this.value);">
                                    <option value="">- เลือก -</option>
                                  </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="control-label right">ตำบล/แขวง</label>
                    <select name="tumbon_service2" id="tumbon_service2" class="form-control edit" onChange="getZipcode2(this.value);">
                                    <option value="">- เลือก -</option>
                                  </select>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="control-label right">รหัสไปรษณีย์</label>
                      <input type="text" class="form-control edit" id="zipcode_service2" name="zipcode_service2" readonly>
                    </div>
                </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">E-mail</label>
                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
                  </div>
              </div>



          </div>

            <br>

            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานที่ใช้ประกอบคำ</h3>
          <div th:if="${requestId} == 16">
            <h4 class="title">1. เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้า</h4>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_1" id="c1">
                  <label for="" class="control-label center"> ภาพถ่ายบัตรประจำตัวประชาชน</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s1" style="display: none;">
                    <input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_2" id="c2">
                  <label for="" class="control-label center"> ภาพถ่ายสำเนาทะเบียนบ้าน</label>
                    <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                      <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    </a>
                  <div id="s2" style="display: none;">
                    <input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
                  </div>
                </div>
              </div> 

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_3" id="c3">
                  <label for="" class="control-label center"> ภาพถ่ายวุฒิบัตรการศึกษา</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s3" style="display: none;">
                    <input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_4" id="c4">
                  <label for="" class="control-label center"> หนังสือรับรองการทำงานหรือรับรองการมีประสบการณ์</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s4" style="display: none;">
                    <input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
                  </div>
                </div>
              </div>
      
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_5" id="c5">
                  <label for="" class="control-label center"> ภาพถ่ายใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_5']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s5" style="display: none;">
                    <input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">

                  <label for="" class="control-label left"><input type="checkbox" name="ch3_6" id="c6"> ใบรับรองแพทย์</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_6']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s6" style="display: none;">
                    <input type="file" name="file_ch3_6" class="well well-sm" id="fs6">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="" class="control-label left"><input type="checkbox" name="ch3_7" id="c7"> หลักฐานแสดงกรรมสิทธิ์ที่ตั้งของสำนักงาน และแผนผังที่ตั้ง</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_7']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s7" style="display: none;">
                    <input type="file" name="file_ch3_7" class="well well-sm" id="fs7">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div th:if="${requestId} == 4">
            <h4 class="title">เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้านิติบุคคล</h4>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                      <div class="col-xs-6" style="width: 45%;">
                        <input type="checkbox" name="ch3_1" id="c1">
                        <label for="" class="control-label center">หนังสือรับรองการจดทะเบียนเป็นนิติบุคคล ทะเบียนเลขที่</label>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" name="doc_attached2_11_txt" class="form-control edit" placeholder="" th:value="${entryMap != null} ? ${entryMap['doc_attached2_11_txt']} : ''"/>
                      </div>
                      <div class="col-xs-2">
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      </div>
                  </div>
                  <div id="s1" style="display: none;">
                    <input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_2" id="c2">
                  <label for="" class="control-label center">แผนที่ตั้งสํานักงาน</label>
                    <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                      <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                    </a>
                  <div id="s2" style="display: none;">
                    <input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_3" id="c3">
                  <label for="" class="control-label center">ภาพถ่ายบัตรประจําตัวประชาชนผู้มีอํานาจลงนาม</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s3" style="display: none;">
                    <input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_4" id="c4">
                  <label for="" class="control-label center">หนังสือมอบอํานาจพร้อมภาพถ่ายบัตรประจําตัวประชาชนของผู้มอบอํานาจและผู้รับมอบอํานาจ</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s4" style="display: none;">
                    <input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="checkbox" name="ch3_5" id="c5">
                  <label for="" class="control-label center">หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน</label>
                  <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_5']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                    <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                  </a>
                  <div id="s5" style="display: none;">
                    <input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
       		  <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
            <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
            <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
            <input type="hidden" id="controllerPosition" name="controllerPosition" value="0" th:value="${controllerPosition}">
            <button type="button" class="btn btn-custom-confirm" onclick="closeCurrentTab();">ปิด</button>
          </div>
        </div>

      </div>
  </div>
  </form>
 <div th:replace="common-officer/footer :: common-footer">
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
function closeCurrentTab() {
    var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
    if(conf==true){
    window.top.close();
    }
  }
$(document).ready(function () {
  $.each( $("select,input:text,input:checkbox,input[type=date]"), function( key, value ) {
    $(value).attr('disabled', true);
  });

  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});


</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +(year+543) ;


document.getElementById('theDate').value = today;
</script>

<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>

</html>
