<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container mb-50">

    <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คำขอต่ออายุ-ใบแทนใบรับรองวิทยากร </u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">ธพ.พ.3ว</h2>
	</div>
	</div>

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="date" id="theDate"  name="" class="form-control edit form-control edit-edit"  disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1" style="width: 30%;">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ขอใบรับรองและผู้ได้รับมอบอำนาจ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2" style="width: 30%;">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 ประเภทวิทยากรที่ขอใบรับรอง</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3" style="width: 30%;">
          <a href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 เอกสารหลักฐานที่ใช้ประกอบคำขอรับใบรับรอง</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
          	<div class="form-horizontal">
			 <input type="hidden" class="form-control edit" id="aData" placeholder="" name="aData" th:value="${entryMap}">
			 <!--  <p id="showData">Data Loading...</p> -->
			</div>
            <h3 class="title">ส่วนที่ 1 : ผู้ขอใบรับรอง</h3>
            <div class="form-horizontal">
                  <div class="form-group">

	              	 <div class="col-sm-3 ">
	                    <label for="" class="control-label center">คำขอ</label>
	                     </div>

	              	<div class="col-sm-offset-1 col-sm-9">
	                      <input type="checkbox" class="" id="type_Request1" placeholder=""  value="1"  name="type_Request1" style="margin-right: 10px;" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_Request1']} : ''" th:checked="${'1'==checkedValue}">ต่ออายุ ใบรับรองวิทยากร
	                  </div>
	              	<div class="col-sm-offset-1 col-sm-9">
	                      <input type="checkbox" class="" id="type_Request2" placeholder=""  value="2"  name="type_Request2" style="margin-right: 10px;" th:with="checkedValue=${entryMap != null} ? ${entryMap['type_Request2']} : ''" th:checked="${'2'==checkedValue}">ใบแทน ใบรับรองวิทยากร
	                  </div>



                  </div>
              </div>
            	<div class="form-horizontal">
                  <div class="form-group">
                  <div class="col-sm-3">
                     <label for="" class="control-label center">คำนำหน้า</label>
											<select name="bla" id="bla" class="form-control edit">
																			<option value="0">- เลือก -</option>
																			<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
																			th:value="${TitleName.code}"
																			th:utext="${TitleName.abbreviation}"
																			th:selected="${TitleName.code==selectedValue}"
																			/>
											</select>
                   </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">เลขประจําตัวประชาชน </label>
                    <input type="text" class="form-control edit textIdcard" id="idcard" name="idcard" maxlength="17" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['idcard']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
	                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
	                  </div>
	                </div>

	              	<div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
	                         	<option value="">- เลือก -</option>
	                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${province.provinceId==selectedValue}"
	                            	/>
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label>
										<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
	                         				<option value="" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId']} : ''">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label>
										<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
	                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">เว็บไซต์</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="web" th:value="${entryMap != null} ? ${entryMap['web']} : ''">
	                  </div>
	              </div>
	          </div>





              <br>
              <h3 class="title">ส่วนที่ 2 : ผู้รับมอบอํานาจ (ถ้ามี) </h3>
                <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla_attorney" id="bla_attorney" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_attorney']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname_attorney" name="firstname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_attorney']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname_attorney" name="lastname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_attorney']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
	                    <input type="text" class="form-control edit" id="numberhome_attorney" placeholder=""  value="" name="numberhome_attorney" th:value="${entryMap != null} ? ${entryMap['numberhome_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input type="text" class="form-control edit" id="moo_attorney" placeholder="" value="" name="moo_attorney" th:value="${entryMap != null} ? ${entryMap['moo_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input type="text" class="form-control edit" id="soi_attorney" placeholder=""  value="" name="soi_attorney" th:value="${entryMap != null} ? ${entryMap['soi_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input type="text" class="form-control edit" id="road_attorney" placeholder=""  value="" name="road_attorney" th:value="${entryMap != null} ? ${entryMap['road_attorney']} : ''">
	                  </div>
	                </div>

	              	<div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							<select name="provinceId_attorney" id="provinceId_attorney" class="form-control edit" onChange="getAmphurAttorney(this.value);">
	                         	<option value="">- เลือก -</option>
	                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId_attorney']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${province.provinceId==selectedValue}"
	                            	/>
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label>
										<select name="amphurId_attorney" id="amphurId_attorney" class="form-control edit" onChange="getAmphurAttorney(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label>
										<select name="districtId_attorney" id="districtId_attorney" class="form-control edit" onChange="getZipcodeAttorney(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
	                    <input type="text" class="form-control edit" id="zipcodeId_attorney" name="zipcodeId_attorney" readonly>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder=""  value="" name="tel_attorney" th:value="${entryMap != null} ? ${entryMap['tel_attorney']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax_attorney" placeholder=""  value="" name="fax_attorney" th:value="${entryMap != null} ? ${entryMap['fax_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email_attorney" placeholder=""  value="" name="email_attorney" th:value="${entryMap != null} ? ${entryMap['email_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">เว็บไซต์</label>
	                    <input type="text" class="form-control edit" id="web_attorney" placeholder=""  value="" name="web_attorney" th:value="${entryMap != null} ? ${entryMap['web_attorney']} : ''">
	                  </div>
	              </div>
	          </div>

	          <h3 class="title">ส่วนที่ 3 : ผู้ติดต่อประสานงาน</h3>
                <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla_contact" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_contact']} : ''"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==selectedValue}"
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_contact']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_contact']} : ''">
                  </div>
                  </div>
              </div>

              <div class="form-horizontal">

	              <div class="form-group">
	                  <div class="col-sm-4">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel_contact" placeholder=""  value="" name="tel_contact" th:value="${entryMap != null} ? ${entryMap['tel_contact']} : ''">
	                  </div>

	                  <div class="col-sm-4">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax_contact" placeholder=""  value="" name="fax_contact" th:value="${entryMap != null} ? ${entryMap['fax_contact']} : ''">
	                  </div>
	                   <div class="col-sm-4">
	                    <label for="" class="control-label right">มือถือ</label>
	                    <input type="text" class="form-control edit textPhone" id="mobile" placeholder=""  value="" name="mobile_contact" th:value="${entryMap != null} ? ${entryMap['mobile_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email_contact" th:value="${entryMap != null} ? ${entryMap['email_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">เว็บไซต์</label>
	                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="web_contact" th:value="${entryMap != null} ? ${entryMap['web_contact']} : ''">
	                  </div>
	              </div>
	          </div>



            <br>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ประเภทวิทยากรที่ขอใบรับรอง</h3>
              <div class="form-horizontal">
                 <div class="form-group">
	              	 <div class="col-sm-4">
	              	 	  	<label for="" class="control-label center">ประเภทผู้ฝึกอบรม</label><span id="type_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span><br/>
                    		<select id="type_EngineerTraining">
                    		<option value="">--เลือกประเภทผู้ฝึกอบรม--</option>
                    			<option value="1">ผู้ฝึกอบรมน้ํามัน</option>
                    			<option value="2">ผู้ฝึกอบรมก๊าซปิโตรเลียมเหลว</option>
                    			<option value="3">ผู้ฝึกอบรมก๊าซธรรมชาติ </option>
                    		</select>
					 </div>
					 <div class="col-sm-8">
	              	 	  	<label for="" class="control-label center">หลักสูตรการฝึกอบรมและวิทยากร</label><span id="course_EngineerTraining_valid" style="
    font-size: 0.8em;
    color: red;
"></span><br/>
                    		<select id="course_EngineerTraining" style="width: 100%;">
                    		<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>
                    		</select>
					 </div>
              	 </div>
              </div>
      <script>
      	$( document ).ready(function() {
		   $( "#type_EngineerTraining" ).change(function() {
			  //alert( $(this).val());
				  if($(this).val() == 1){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="1">หลักสูตรผู้ปฏิบัติงานถังขนส่งน้ํามันประเภทรถขนส่งน้ํามัน </option>');
				  	$('#course_EngineerTraining').append('<option value="2">หลักสูตรผู้ปฏิบัติงานคลังน้ํามันและระบบการขนส่งน้ํามันทางท่อ</option>');
				  	$('#course_EngineerTraining').append('<option value="3">หลักสูตรผู้ปฏิบัติงานสถานีบริการน้ํามัน </option>');
				  	$('#course_EngineerTraining').append('<option value="4">หลักสูตรผู้ปฏิบัติงานสถานที่เก็บรักษาน้ํามัน  </option>');
				  }else if($(this).val() == 2){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="5">หลักสูตรผู้ปฏิบัติงานสถานีบรรจุก๊าซปิโตรเลียมเหลว</option>');
				  	$('#course_EngineerTraining').append('<option value="6">หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซปิโตรเลียมเหลว</option>');
				  	$('#course_EngineerTraining').append('<option value="7">หลักสูตรผู้ปฏิบัติงานร้านจําหน่ายและโรงเก็บก๊าซปิโตรเลียมเหลว</option>');
				  }else if($(this).val() == 3){
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  	$('#course_EngineerTraining').append('<option value="8">หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานรับหรือจ่ายก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="9">หลักสูตรผู้ปฏิบัติงานถังขนส่งก๊าซธรรมชาติเฉพาะพนักงานประจํารถ</option>');
				  	$('#course_EngineerTraining').append('<option value="10">หลักสูตรผู้ปฏิบัติงานคลังก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="11">หลักสูตรผู้ปฏิบัติงานสถานที่ใช้ก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="12">หลักสูตรผู้ปฏิบัติงานสถานีบริการก๊าซธรรมชาติ</option>');
				  	$('#course_EngineerTraining').append('<option value="13">หลักสูตรผู้ปฏิบัติงานระบบการขนส่งก๊าซธรรมชาติทางท่อ</option>');
				  }else{
				  	$('#course_EngineerTraining').html("");
				  	$('#course_EngineerTraining').append('<option value="">--เลือกหลักสูตรการฝึกอบรมและวิทยากร--</option>');
				  }
			});

		 });

      </script>


         <div class="row text-right mt-20">
          		     <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
         </div>
        </div>
         <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้ประกอบคําขอรับใบรับรอง  </h3>
          <div class="form-horizontal striped">
           <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-12">
              <input type="checkbox" name="ch4_1" id="c1" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_1']} : ''" th:checked="${file!=''}">
              <span>สำเนาบัตรประจำตัวประชาชน</span>
              <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <div id="s1" style="display: none;">
              <input type="file" name="file_ch4_1" class="well well-sm" id="fs1" >
              <script type="text/javascript">
                $(document).ready(function () {
                  $('#c1').change(function() {
                    if($(this).is(":checked")) {
                      $('#s1').css('display','block');
                      $("#fs1").prop('',true);
                    }else {
                      $('#s1').css('display','none');
                      $("#fs1").prop('',false);
                    }
                  });
                });
              </script>
              </div>
            </div>
          </div>
        </div>
          <div class="form-horizontal striped">
           <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-12">
              <input type="checkbox" name="ch4_2" id="c2" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_2']} : ''" th:checked="${file!=''}">
              <span>หนังสือมอบอํานาจ (ถ้ามี) พร้อมสําเนาบัตรประจําตัวประชาชนของผู้มอบอํานาจ และผู้รับมอบอํานาจ</span>
              <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <div id="s2" style="display: none;">
              <input type="file" name="file_ch4_2" class="well well-sm" id="fs2">
              <script type="text/javascript">
                $(document).ready(function () {
                  $('#c2').change(function() {
                    if($(this).is(":checked")) {
                      $('#s2').css('display','block');
                      $("#fs2").prop('',true);
                    }else {
                      $('#s2').css('display','none');
                      $("#fs2").prop('',false);
                    }
                  });
                });
              </script>
              </div>
            </div>
          </div>
        </div>
          <div class="form-horizontal striped">
           <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-12">
              <input type="checkbox" name="ch4_3" id="c3" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_3']} : ''" th:checked="${file!=''}">
              <span>รูปถ่ายสี หน้าตรง ไม่สวมหมวกและแว่นตาดํา ถ่ายไม่เกิน 6 เดือน ขนาด 2.5 คูณ 3 เซนติเมตร จํานวน 2 รูป</span>
              <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
			  </a>
              <div id="s3" style="display: none;">
              <input type="file" name="file_ch4_3" class="well well-sm" id="fs3">
              <script type="text/javascript">
                $(document).ready(function () {
                  $('#c3').change(function() {
                    if($(this).is(":checked")) {
                      $('#s3').css('display','block');
                      $("#fs3").prop('',true);
                    }else {
                      $('#s3').css('display','none');
                      $("#fs3").prop('',false);
                    }
                  });
                });
              </script>
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal striped">
         <div class="form-group" style="margin-bottom: 0px;">
          <div class="col-sm-12">
            <input type="checkbox" name="ch4_4" id="c4" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_4']} : ''" th:checked="${file!=''}">
            <span>สําเนาใบรับรองฉบับเดิม (กรณีต่ออายุ)</span>
            <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </a>
            <div id="s4" style="display: none;">
            <input type="file" name="file_ch4_4" class="well well-sm" id="fs4">
            <script type="text/javascript">
              $(document).ready(function () {
                $('#c4').change(function() {
                  if($(this).is(":checked")) {
                    $('#s4').css('display','block');
                    $("#fs4").prop('',true);
                  }else {
                    $('#s4').css('display','none');
                    $("#fs4").prop('',false);
                  }
                });
              });
            </script>
            </div>
          </div>
        </div>
      </div>
          <div class="form-horizontal striped">
           <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-12">
              <input type="checkbox" name="ch4_5" id="c5" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_5']} : ''" th:checked="${file!=''}">
              <span>ใบรับรองฉบับเดิม (กรณีถูกทําลาย หรือชํารุดเสียหายในสาระสําคัญ)</span>
              <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_5']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <div id="s5" style="display: none;">
              <input type="file" name="file_ch4_5" class="well well-sm" id="fs5">
              <script type="text/javascript">
                $(document).ready(function () {
                  $('#c5').change(function() {
                    if($(this).is(":checked")) {
                      $('#s5').css('display','block');
                      $("#fs5").prop('',true);
                    }else {
                      $('#s5').css('display','none');
                      $("#fs5").prop('',false);
                    }
                  });
                });
              </script>
              </div>
            </div>
          </div>
        </div>
          <div class="form-horizontal striped">
           <div class="form-group" style="margin-bottom: 0px;">
            <div class="col-sm-12">
              <input type="checkbox" name="ch4_6" id="c6" th:with="file=${entryMap != null} ? ${entryMap['file_ch4_6']} : ''" th:checked="${file!=''}">
              <span>หลักฐานใบแจ้งความ (กรณีสูญหาย)</span>
              <a th:with="file=${entryMap != null} ? ${entryMap['file_ch4_6']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
				<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
              </a>
              <div id="s6" style="display: none;">
              <input type="file" name="file_ch4_6" class="well well-sm" id="fs6">
              <script type="text/javascript">
                $(document).ready(function () {
                  $('#c6').change(function() {
                    if($(this).is(":checked")) {
                      $('#s6').css('display','block');
                      $("#fs6").prop('',true);
                    }else {
                      $('#s6').css('display','none');
                      $("#fs6").prop('',false);
                    }
                  });
                });
              </script>
              </div>
            </div>
          </div>
        </div>




          <hr>
          <div class="row text-right mt-20">
          		<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<button type="button" class="btn btn-custom-confirm" onclick="closeCurrentTab();">ปิด</button>
          </div>
        </div>

        </div>
 </div>




<div th:replace="common-officer/footer :: common-footer">


</body>
<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">

$.each( $("select,input:text,input:checkbox"), function( key, value ) {
   $(value).attr('disabled', true);
});
  
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = (year+543) + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script type="text/javascript">
	function closeCurrentTab() {
			var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
			if(conf==true){
			window.top.close();
			}
		}
	</script>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function () {
	
  $.each($("form").find($("input:file")), function( index, value ) {
    $(value).attr("accept","application/pdf, image/jpeg, image/png");
  });

    var selected_provinceId_person = "[[${entryMap['provinceId_attorney']} ? ${entryMap['provinceId_attorney']} : '0']]";
	$("#provinceId_attorney").val(selected_provinceId_person);
	getAmphurAttorney(selected_provinceId_person);
	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });

       $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
      });

       $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
      });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
/*]]>*/
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>

<script th:inline="javascript">


function getAmphurAttorney(val) {

	$('#amphurId_attorney').html('');
	$('#districtId_attorney').html('');
	$('#zipcodeId_attorney').val('');

	$('#amphurId_attorney').append('<option value="">- เลือก -</option>');
	$('#districtId_attorney').append('<option value="">- เลือก -</option>');
	var selected_amphurId_person = [[${entryMap} ? ${entryMap['amphurId_attorney']} : '0']];
	console.log(selected_amphurId_person);
	var s = "";
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
		if(value.amphurId == selected_amphurId_person){
			console.log(value.amphurId +"==="+ selected_amphurId_person);
			s =" selected ";
			getTambonAttorney(selected_amphurId_person);
		}else{
			s ="";
		}
            $('#amphurId_attorney').append('<option value="' + value.amphurId + '" '+s+'>' + value.amphurName + '</option>');
        });
	}
	});
}

function getTambonAttorney(val) {
var s = "";
var selected_districtId_person = [[${entryMap} ? ${entryMap['districtId_attorney']} : '0']];
console.log(selected_districtId_person);
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
		if(value.districtId == selected_districtId_person){
			s =" selected ";
			console.log(value.districtId +"==="+ selected_districtId_person);
			getZipcodeAttorney(value.districtId);
		}else{
			
			s ="";
		}
            $('#districtId_attorney').append('<option value="' + value.districtId + '" '+s+'>' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcodeAttorney(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId_attorney').val(value.zipcode);
        });
	}
	});
}
</script>
<script>
 $(document).ready(function(){
	 
  var aData = $('#aData').val();
  aData = aData.substring(1, (aData.length-1));
  var spData1 = aData.split(",");
  
  var strVar="";
  strVar += "<table style=\"width:100%\" class=\"table table-bordered table-hover\">";
  strVar += "  <tr>";
  strVar += "    <thead>";
  strVar += "      <th>Field<\/th>";
  strVar += "      <th>Value<\/th> ";
  strVar += "    </thead>";
  strVar += "  <\/tr>";
  strVar += "    <tbody>";
  $.each(spData1 , function(index, data1){
   var spData2 = data1.split("=");
   strVar += "  <tr>";
   strVar += "    <td>"+spData2[0]+"<\/td>";
   strVar += "    <td>"+spData2[1]+"<\/td> ";
   strVar += "  <\/tr>";
  });
  strVar += "    </tbody>";
  strVar += "<\/table>";
  
  if(aData == '' || aData == null){
	  $('#showData').html('No Data.');
  }else{
	  $('#showData').html(strVar);
  }
  
 })
</script>
</html>
