<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
  <div class="box-container mb-50">

    <div class="row">
    <div class="col-md-2 text-right"></div>
	<div class="col-md-8 text-center">
		<h3 class="text-center"><u>คําขอขึ้นทะเบียนเป็นวิศวกรออกแบบสถานที่ใช้ก๊าซธรรมชาติ</u></h3>
    </div>
	<div class="col-md-2 text-right">
		<h2 class="text-right">สธช./ข.๑/๑</h2>
	</div>
	</div>

    <form action="#" th:action="@{/onestop/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1" style="width: 30%;">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ยื่นคําขอ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2" style="width: 30%;">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 เอกสารหลักฐานเป็นวิศวกรออกแบบ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3" style="width: 30%;">
          <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ผู้ปฏิบัติงานทดสอบและตรวจสอบ</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลของผู้ยื่นคําขอ</h3>
            <div class="form-horizontal">

              <div class="form-group">
              	<div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>

									<select name="bla" id="bla" class="form-control edit"  >
                    <option value="0">- เลือก -</option>
                    <option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla']} : ''"
                      th:value="${TitleName.code}"
                      th:utext="${TitleName.abbreviation}"
                      th:selected="${TitleName.code==selectedValue}"
                      />
                  </select>

                  </div>
                <div class="col-sm-3">
                  <label for="" class="control-label center">ชื่อ</label>
                  <input type="text" class="form-control edit" id="firstname_attorney" name="firstname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_attorney']} : ''">
                </div>
                <div class="col-sm-4">
                  <label for="" class="control-label center">นามสกุล</label>
                  <input type="text" class="form-control edit" id="lastname_attorney" name="lastname_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_attorney']} : ''">
                </div>
                <div class="col-sm-2">
                  <label for="" class="control-label center">อายุ</label>
                  <input type="text" class="form-control edit allownumericwithdecimal" id="age_attorney" name="age_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['age_attorney']} : ''">
                </div>
              </div>
            </div>

            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="" class="control-label center">มีความประสงค์ขอขึ้นทะเบียนเป็นวิศวกรออกแบบ ชื่อ</label>
                  <input type="text" class="form-control edit" id="detail_attorney" name="detail_attorney" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['detail_attorney']} : ''">
                </div>
              </div>
            </div>

              <h4 class="title">สถานที่ตั้งสำนักงาน</h4>
              <div class="form-horizontal">
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
	                    <input type="text" class="form-control edit allownumericwithdecimal" id="numberhome_attorney" placeholder=""  value="" name="numberhome_attorney" th:value="${entryMap != null} ? ${entryMap['numberhome_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                  <label for="" class="control-label center">หมู่ที่</label>
	                      <input type="text" class="form-control edit allownumericwithdecimal" id="moo_attorney" placeholder="" value="" name="moo_attorney" th:value="${entryMap != null} ? ${entryMap['moo_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ตรอก/ซอย</label>
	                      <input type="text" class="form-control edit" id="soi_attorney" placeholder=""  value="" name="soi_attorney" th:value="${entryMap != null} ? ${entryMap['soi_attorney']} : ''">
	                  </div>
	                  <div class="col-sm-3">
	                  <label for="" class="control-label center">ถนน</label>
	                      <input type="text" class="form-control edit" id="road_attorney" placeholder=""  value="" name="road_attorney" th:value="${entryMap != null} ? ${entryMap['road_attorney']} : ''">
	                  </div>
	                </div>

	              	<div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">จังหวัด</label>
							        <select name="province_service2" id="province_service2" class="form-control edit" onChange="getAmphur2(this.value);">
	                         	<option value="">- เลือก -</option>
                             <option th:each="province : ${lProvinceBean}" 
                                th:with="selectedValue=${entryMap != null} ? ${entryMap['province_service2']} : ''"
	                            	th:value="${province.provinceId}"
	                            	th:utext="${province.provinceName}"
	                            	th:selected="${#strings.equals(province.provinceId, #strings.toString(selectedValue))}"
	                            	/>
	                  		</select>
	                  </div>
	             	 <div class="col-sm-3">
	                    <label for="" class="control-label center">อำเภอ/เขต</label>
										<select name="amphur_service2" id="amphur_service2" class="form-control edit" onChange="getTambon2(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">ตำบล/แขวง</label>
										<select name="tumbon_service2" id="tumbon_service2" class="form-control edit" onChange="getZipcode2(this.value);">
	                         				<option value="">- เลือก -</option>
	                         			</select>
	                  </div>
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
	                    <input type="text" class="form-control edit" id="zipcode_service2" name="zipcode_service2" readonly>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-3">
	                    <label for="" class="control-label right">โทรศัพท์</label>
	                    <input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder=""  value="" name="tel_attorney" th:value="${entryMap != null} ? ${entryMap['tel_attorney']} : ''">
	                  </div>

	                  <div class="col-sm-3">
	                    <label for="" class="control-label center">โทรสาร</label>
	                    <input type="text" class="form-control edit textFax" id="fax_attorney" placeholder=""  value="" name="fax_attorney" th:value="${entryMap != null} ? ${entryMap['fax_attorney']} : ''">
	                  </div>
	                   <div class="col-sm-3">
	                    <label for="" class="control-label right">E-mail</label>
	                    <input type="text" class="form-control edit" id="email_attorney" placeholder=""  value="" name="email_attorney" th:value="${entryMap != null} ? ${entryMap['email_attorney']} : ''">
	                  </div>
	              </div>
	          </div>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev"  class="btn btn-custom-prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานเป็นวิศวกรออกแบบ</h3>
              <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_1" id="c1">
                      <label for="" class="control-label center">เอกสารแสดงการก่อตั้งนิติบุคคล หรือหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s1" style="display: none;">
                        <input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label for="" class="control-label left"><input type="checkbox" name="ch3_2" id="c2">
                        ภาพถ่ายบัตรประชาชนและทะเบียนบ้านของผู้มีอํานาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอํานาจจากนิติบุคคล พร้อมหนังสือแสดงว่าเป็นผู้ได้รับมอบอํานาจจากนิติบุคคล
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      </label>
                      <div id="s2" style="display: none;">
                        <input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_3" id="c3">
                      <label for="" class="control-label center">หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s3" style="display: none;">
                        <input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="checkbox" name="ch3_4" id="c4">
                      <label for="" class="control-label center">เอกสารแสดงผลงานด้านวิศวกรรมที่ผ่านมาหรือที่กําลังดำเนินงาน(ถ้ามี)</label>
                        <a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
                          <span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </a>
                      <div id="s4" style="display: none;">
                        <input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
                      </div>
                    </div>
                  </div>
              </div>


              <div class="row text-right mt-20">
                <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab"
                  data-toggle="tab">ย้อนกลับ</a>
                <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab"
                  data-toggle="tab">ถัดไป</a>
              </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
          <div class="form-horizontal">
              <input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
              <input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
                  
             
                    
                      
                        
                        
                    
                    <script type="text/javascript">
                    function loadTableEngineer(){
                      var cn = $('#e-company-name').val();
                      //alert($('#e-dbdId').val());
                  $.ajax({
                      type: "POST",
                      url: "/api-engineer/list",
                      data:'dbdId='+$('#e-dbdId').val(),
                      success: function(data){
                        var content = "";
                        $.each(data, function (index, value) {
                          content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
                                content += '<td>'+value.engineerId+'</td>';
                                content += '<td>'+value.titleName.abbreviation+'</td>';
                                content += '<td>'+value.firstname+'</td>';
                                content += '<td>'+value.lastname+'</td>';
                                content += '<td>'+value.type+'</td>';
                                content += '<td>'+cn+'</td>';
                                content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.id+'" data-id-engineer="'+value.engineerId+'" data-title="'+value.title+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" onclick="appendDatatoModal(this)">แก้ไข</a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)">ลบ</a></td>';
                                content += '</tr>';
                            
                               // $('#zipcodeId').val(value.zipcode);
                               console.log(value);
                            });
                         $('#table-engineer tbody').html(content);
                        //var para = document.createRange().createContextualFragment(content);
                        // $('#table-engineer tbody').appendChild(para);
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                               // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');
    
                                //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                                console.log('jqXHR:');
                                console.log(jqXHR);
                                console.log('textStatus:');
                                console.log(textStatus);
                                console.log('errorThrown:');
                                console.log(errorThrown);
                            },
                  });
                }
                    </script>
                    <script type="text/javascript">
                      $(document).ready(function(){
                        loadTableEngineer();
                        $('#add-engineer').click(function (){
                          //alert('asdopaisdpo');
                          $.post("/api-engineer/save",
                                {
                                dbdId:$('#e-dbdId').val(),
                                engineerId:$('#e-engineerId').val(),
                                title:$('#e-title').val(),
                                firstname:$('#e-firstname').val(),
                                lastname:$('#e-lastname').val(),
                                type:$('#e-type').val(),
                                   // city: "Duckburg"
                                },
                                function(data, status){
                                  //$('#e-dbdId').val("");
                                $('#e-engineerId').val("");
                                $('#e-title').val("");
                                $('#e-firstname').val("");
                                $('#e-lastname').val("");
                                $('#e-type').val("");
                                loadTableEngineer();
                                   //alert("Data: " + data + "\nStatus: " + status);
                                    
                               
                                });
                           
                        });
                        
                      });
                      
                    </script>
                    
                      <script type="text/javascript">
                      function appendDatatoModal(e){
                        var engineerId = $(e).attr('data-id-engineer');
                        //$('#e-company-name').val()
                        
                        //alert(engineerId);
                        
                        $("#engineerIdOriginal").val($(e).attr('data-id'));
                        $("#edit-engineerId").val(engineerId);
                        $("#edit-title").val($(e).attr('data-title'));
                        $("#edit-firstname").val($(e).attr('data-firstname'));
                        $("#edit-lastname").val($(e).attr('data-lastname'));
                        $("#edit-type").val($(e).attr('data-lastname'));
                        $("#edit-company").val($('#e-company-name').val());
                      }
                      function deleteEngineer(e){
                         if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
                             // txt = "You pressed OK!";
                          $.post("/api-engineer/delete",
                                {
                                id:$(e).attr('data-id'),
                                   // city: "Duckburg"
                                },
                                function(data, status){
                                    //alert("Data: " + data + "\nStatus: " + status);
                                  if(data != 0){
                                    alert('ลบข้อมูลเรียบร้อย');
                                  }else{
                                    alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
                                  }
                                  loadTableEngineer();
                                });
                          } else {
                             // txt = "You pressed Cancel!";
                          }
                        
                      }
                      </script>
                    <hr/>
                    
            <table id="table-engineer" class="display" style="width: 100%;">
              <thead>
                <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
                  <th>เลขทะเบียน</th>
                  <th>คำนำหน้า</th>
                  <th>ชื่อ</th>
                  <th>นามสกุล</th>
                  <th>ตำแหน่ง</th>
                  <th>บริษัท</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="f : ${lEngineer}" style=" height: 60px; border-bottom: 1px solid #adadad;">
                  <td th:text="${f.engineerId}"></td>
                  <td th:text="${f.titleName}"></td>
                  <td th:text="${f.firstname}"></td>
                  <td th:text="${f.lastname}"></td>
                  <td th:text="${f.type}"></td> 
                  <td th:text="${f.company.companyName}"></td> 
                  <td>[<a href="#" th:href="@{|/engineer/view/${f.engineerId}|}">Edit</a>]  [<a href="#" th:href="@{|/engineer/meta/${f.engineerId}|}">Meta</a>] </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a  type="button" class="btn btn-custom-next" onclick="close_window();return false;" >ปิด</a>
          </div>
        </div>

        </div>
 </div>

</form>


<div th:replace="common-officer/footer :: common-footer">


</body>
<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
    function close_window() {
  // if (confirm("Close Window?")) {
      close();
    //}
  }
  function closeCurrentTab() {
    var conf=confirm("คุณต้องการปิดหน้าต่างนี้ใช่หรือไม่ ?");
    if(conf==true){
    window.top.close();
    }
  }
	function updateShowFile(idUpdate){
		  // console.log(idUpdate);
		  // console.log($("input#"+idUpdate+"").prop('checked'));
		  // return false;
		  if($("input#"+idUpdate+"").prop('checked')){
		    $("div#"+idUpdate+"").show();
		  }else{
		    $("div#"+idUpdate+"").hide();
		  }
		}
/*<![CDATA[*/
$(document).ready(function () {
  $.each( $("select,input:text,input:checkbox,input[type=date]"), function( key, value ) {
    $(value).attr('disabled', true);
  });
	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });

       $('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        }else {
        	$('#s13').css('display','none');
        }
      });

       $('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        }else {
        	$('#s14').css('display','none');
        }
      });



  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
/*]]>*/
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>

<script th:inline="javascript">

</script>
<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	  $(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>
</html>
