<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <!-- start content -->
 <div class="box-container">
  <form action="#" th:action="@{/onestop/form/submission}" method="POST" enctype="multipart/form-data">

    
 	<div class="row">
    <div class="col-md-3 text-right"></div>
	<div class="col-md-6 text-center"><h3 class="text-center"><u>คำขอเป็นผู้ทดสอบและตรวจสอบน้ำมัน</u></h3></div>
	<div class="col-md-3 text-right"> <h2 class="text-right">ทส.น.1</h2></div>
	</div>
	
      <div class="form-inline mt-20">
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" class="form-control edit form-control edit-edit" name="write_at" value="" id="theDate" disabled>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ลักษณะการขอ <br /> รับหนังสือรับรอง </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 ข้อมูลเกี่ยวกับ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>
				<li role="presentation" class="tab-edit" id="nav-3">
				  <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ผู้ปฏิบัติงาน <br /> ทดสอบและตรวจสอบ</a>
				</li>
				<li role="presentation" class="tab-edit" id="nav-4">
				  <a href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 17px 0px;">4 บัญชีเครื่องมือ</a>
				</li>
        <li role="presentation" class="tab-edit" id="nav-5">
          <a href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab" style="margin: 17px 0px;">5 เอกสารหลักฐานที่ใช้ประกอบคำ <br /> ขอรับหนังสือรับรอง (สำหรับนิติบุคคล) </a>
        </li>
       
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ลักษณะการขอรับหนังสือรับรอง</h3>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-2"><strong>1. ประเภทการขอ</strong></span>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="type_service" id="type_service" value="0" th:value="${requestTypeId}" checked> <span th:text="${requestTypeName}"></span>
                    </label>
                </div>
            </div>
            <br>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-12"><strong th:text="${requestName}"></strong></span>
<!-- 
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service1" value="ระดับที่ ๑" checked> <span>ระดับที่ 1</span>
                    </label>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service2" value="ระดับที่ ๒"> <span>ระดับที่ 2</span>
                    </label>
                    <label class="radio-inline col-md-3">
                        <input type="radio" name="level_service" id="level_service3" value="ระดับที่ ๓"> <span>ระดับที่ 3</span>
                    </label>
                    -->
                </div>
            </div>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ข้อมูลเกี่ยวกับผู้ขอรับหนังสือรับรอง</h3>
              <h4 class="title">1. ผู้ขอรับหนังสือรับรอง</h4>
              <div class="row">
								<div class="col-sm-6">
										<label>1.1 ชื่อผู้ขอรับหนังสือรับรอง</label>
										<input type="text" class="form-control edit" name="name_applicant" id="name_applicant" th:value="${company.companyName}" style="width: 100%">
								</div>
								<div class="col-sm-6">
										<label>ชื่อเป็นภาษาอังกฤษ</label>
										<input type="text" class="form-control edit" name="name_applicant_eng" id="name_applicant_eng" th:value="${company.companyNameEn}" style="width: 100%">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<label>หมายเลขทะเบียนนิติบุคคล</label>
									<input type="text" class="form-control edit" name="corporate_number" id="corporate_number" th:value="${company.dbdId}" style="width: 100%">
								</div>
								<div class="col-sm-6">
									<label>ทุนจดทะเบียน (บาท)</label>
									<input type="text" class="form-control edit" name="registered_capital" id="registered_capital" th:value="${company.capital}" style="width: 100%">
								</div>
							</div>
              <br>
              <h4 class="title">2. ที่ตั้งสำนักงานใหญ่</h4>

          <div class="form-horizontal">
              <div class="row">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value="" name="numberhome" th:value="${company.addressNo}" style="width: 100%;">
                  </div>
                   <div class="col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="" placeholder="" value="" name="moo" th:value="${company.moo}" style="width: 100%;">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="soi" th:value="${company.soi}" style="width: 100%;">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="road" th:value="${company.street}" style="width: 100%;">
                  </div>
                </div>

              <div class="row" style="width: 100%">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label><br>
						<select style="width: 100%;" th:field="*{company.provinceId}" name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}" th:with="selectedValue=${company != null} ? ${company.provinceId} : ''"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==selectedValue}" />
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label><br>
						<select style="width: 100%;" name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label><br>
						<select style="width: 100%;" name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         	<option value="">- เลือก -</option>
                         </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">รหัสไปรษณีย์</label><br>
                    <input style="width: 100%;" type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-3">
                    <label for="" class="control-label left">โทรศัพท์</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="tel" th:value="${company.telephone}">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="fax" th:value="${company.fax}">
									</div>
									<div class="col-sm-3">
											<label for="" class="control-label left">มือถือ</label><br>
											<input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="mobile" th:value="${company.mobile}">
										</div>
                   <div class="col-sm-3">
                    <label for="" class="control-label right">E-mail</label><br>
                    <input type="text" style="width: 100%;" class="form-control edit" id="" placeholder=""  value="" name="email" th:value="${company.email}">
                  </div>
              </div>
              <br>
              <h4 class="title">3. ผู้รับมอบอำนาจ (ถ้ามี)</h4>
							<div class="form-horizontal">
									<div class="row">
										<div class="col-sm-3">
											<label for="" class="control-label center">คำนำหน้า</label><br />
											<select name="bla_service2" id="bla_service2" class="form-control edit" style="width:100%;">
												<option value="0">- เลือก -</option>
												<option th:each="TitleName : ${lTitleName}" 
													th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_service2']} : ''"
													th:value="${TitleName.code}" 
													th:utext="${TitleName.abbreviation}" 
													th:selected="${TitleName.code==selectedValue}" />
											</select>
										</div>
										<div class="col-sm-3" id="section-title" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_service2']} : ''" th:style="${selectedValue == '226'} ?'display:block':'display:none'">
											<label for="formDescription" class="control-label center">โปรดระบุ</label>
											<input type="text" class="form-control edit" name="sTitleNameEtc" id="sTitleNameEtc" maxlength="17" th:value="${entryMap != null} ? ${entryMap['sTitleNameEtc']} : ''">
										</div>
										<div class="col-sm-3">
											<label for="" class="control-label center">ชื่อ</label><br />
											<input style="width:100%;" type="text" class="form-control edit" id="firstname_service2" name="firstname_service2"
											 placeholder="" value="" th:value="${entryMap != null} ? ${entryMap['firstname_service2']} : ''">
										</div>
										<div class="col-sm-3">
											<label for="" class="control-label center">นามสกุล</label><br />
											<input style="width:100%;" type="text" class="form-control edit" id="lastname_service2" name="lastname_service2"
											 placeholder="" value="" th:value="${entryMap != null} ? ${entryMap['lastname_service2']} : ''">
										</div>
									</div>
								</div>
								<script>
										$('body').on('change','#bla_service2',function(){
											var bla_value = $(this).val();
											if(bla_value == 226){
												$('div#section-title').show();
											}else{
												$('div#section-title').hide();
											}
										});
								</script>
								<div class="form-horizontal">
										<div class="form-group">
											<div class="col-sm-3">
												<label for="" class="control-label center">ที่อยู่เลขที่</label><br />
												<input style="width:100%;" type="text" class="form-control edit" id="numberhome_service2" placeholder=""
												 value="" name="numberhome_service2" th:value="${entryMap != null} ? ${entryMap['numberhome_service2']} : ''">
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label center">หมู่ที่</label>
												<input style="width:100%;" type="text" class="form-control edit" id="moo_sevice2" placeholder="" value=""
												 name="moo_sevice2" th:value="${entryMap != null} ? ${entryMap['moo_sevice2']} : ''">
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label center">ตรอก/ซอย</label>
												<input style="width:100%;" type="text" class="form-control edit" id="soi_service2" placeholder="" value=""
												 name="soi_service2" th:value="${entryMap != null} ? ${entryMap['soi_service2']} : ''">
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label center">ถนน</label>
												<input style="width:100%;" type="text" class="form-control edit" id="road_service2" placeholder="" value=""
												 name="road_service2" th:value="${entryMap != null} ? ${entryMap['road_service2']} : ''">
											</div>
										</div>
			
										<div class="row">
											<div class="col-sm-3">
												<label for="" class="control-label center">จังหวัด</label><br />
												<select name="province_service2" id="province_service2" class="form-control edit" onChange="getAmphur2(this.value);">
														<option value="">- เลือก -</option>
														<option th:each="province : ${lProvinceBean}" 
																th:with="selectedValue = ${entryMap != null} ? ${entryMap['province_service2']} : ''"
																th:value="${province.provinceId}"
																th:utext="${province.provinceName}"
																th:selected="${#strings.equals(province.provinceId, #strings.toString(selectedValue))}"
																/>
													</select>
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label center">อำเภอ/เขต</label><br />
												<select name="amphur_service2" id="amphur_service2" class="form-control edit" onChange="getTambon2(this.value);">
													<option value="">- เลือก -</option>
												</select>
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label right">ตำบล/แขวง</label><br />
												<select name="tumbon_service2" id="tumbon_service2" class="form-control edit" onChange="getZipcode2(this.value);">
													<option value="">- เลือก -</option>
												</select>
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label right">รหัสไปรษณีย์</label><br />
												<input type="text" class="form-control edit" id="zipcode_service2" name="zipcode_service2" readonly>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3">
												<label for="" class="control-label right">โทรศัพท์</label><br />
												<input type="text" class="form-control edit textTelephone" id="tel_service2" placeholder="" value="" name="tel_service2"
												 th:value="${entryMap != null} ? ${entryMap['tel_service2']} : ''">
											</div>
			
											<div class="col-sm-3">
												<label for="" class="control-label center">โทรสาร</label><br />
												<input type="text" class="form-control edit textFax" id="fax_service2" placeholder="" value="" name="fax_attorney2"
												 th:value="${entryMap != null} ? ${entryMap['fax_attorney2']} : ''">
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label right">E-mail</label><br />
												<input type="text" class="form-control edit" id="email_service2" placeholder="" value="" name="email_service2"
												 th:value="${entryMap != null} ? ${entryMap['email_service2']} : ''">
											</div>
											<div class="col-sm-3">
												<label for="" class="control-label right">เว็บไซต์</label><br />
												<input type="text" class="form-control edit" id="web_service2" placeholder="" value="" name="web_service2"
												 th:value="${entryMap != null} ? ${entryMap['web_service2']} : ''">
											</div>
										</div>
									</div>
              
          <br>
          <h4 class="title">4. ผู้ติดต่อประสานงาน</h4>
          <div class="form-horizontal">
                  <div class="row">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="bla_contact" id="bla" class="form-control edit"  style="width:100%;">
		                             <option value="0">- เลือก -</option>
		                             <option th:each="TitleName : ${lTitleName}" th:with="selectedValue=${entryMap != null} ? ${entryMap['bla_contact']} : ''"
		                               th:value="${TitleName.code}"
		                               th:utext="${TitleName.abbreviation}"
		                               th:selected="${TitleName.code==selectedValue}" 
		                               />
		                            </select>
                  </div>
              	 <div class="col-sm-4">
                    <label for="" class="control-label center">ชื่อ</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="firstname" name="firstname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname_contact']} : ''">
                  </div>
              	 <div class="col-sm-5">
                    <label for="" class="control-label center">นามสกุล</label><br/>
                    <input style="width:100%;" type="text" class="form-control edit" id="lastname" name="lastname_contact" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname_contact']} : ''">
                  </div>
                  </div>											
              </div>
              
              <div class="form-horizontal">
	
	              <div class="row">
	                  <div class="col-sm-4">
	                    <label for="" class="control-label right">โทรศัพท์</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textTelephone" id="tel_contact" placeholder=""  value="" name="tel_contact" th:value="${entryMap != null} ? ${entryMap['tel_contact']} : ''">
	                  </div>
	                  
	                  <div class="col-sm-4">
	                    <label for="" class="control-label center">โทรสาร</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textFax" id="fax_contact" placeholder=""  value="" name="fax_contact" th:value="${entryMap != null} ? ${entryMap['fax_contact']} : ''">
	                  </div>
	                   <div class="col-sm-4">
	                    <label for="" class="control-label right">มือถือ</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit textPhone" id="mobile" placeholder=""  value="" name="mobile_contact" th:value="${entryMap != null} ? ${entryMap['mobile_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">E-mail</label><br/>
	                    <input style="width:100%;" type="text" class="form-control edit" id="email" placeholder=""  value="" name="email_contact" th:value="${entryMap != null} ? ${entryMap['email_contact']} : ''">
	                  </div>
	                  <div class="col-sm-6">
	                    <label for="" class="control-label right">เว็บไซต์</label><br/>
	                    <input  style="width:100%;" type="text" class="form-control edit" id="email" placeholder=""  value="" name="web_contact" th:value="${entryMap != null} ? ${entryMap['web_contact']} : ''">
	                  </div>
	              </div>
	          </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

		</div>

			<!-- //#############################################################################- -->
				<div role="tabpanel" class="tab-pane fade" id="tap3">
				  <h3 class="title">ส่วนที่ 3 : ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
					<div th:replace="inc_module/tab_module/engineer_quality_director :: engineer-quality-director" />
				  <hr>
					<div class="row text-right mt-20">
						<a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" >ย้อนกลับ</a>
						<a id="next-3" type="button" class="btn btn-custom-next" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>
			<!-- //#############################################################################- -->
				<div role="tabpanel" class="tab-pane fade" id="tap4">
				  <h3 class="title">ส่วนที่ 4 : บัญชีชื่อเครื่องมือ</h3>
				  <div th:replace="inc_module/tab_module/tool_form006_director :: tool" />
					<div class="row text-right mt-20">
						<a id="prev-3" type="button" class="btn btn-custom-prev" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
						<a id="next-4" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>

				<!-- //#############################################################################- -->


        <div role="tabpanel" class="tab-pane fade" id="tap5">
          <h3 class="title">ส่วนที่ 5 : เอกสารหลักฐานที่ใช้ประกอบคำขอรับหนังสือรับรอง (สำหรับนิติบุคคล)</h3>
					<div class="form-horizontal striped">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_1" id="c1">
								<label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_1']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s1" style="display: none;">
									<input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_2" id="c2">
								<label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน
									และสำเนาทะเบียนบ้านของผู้ลงนามในคำขอรับหนังสือรับรอง</label>
									<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_2']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
										<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								<div id="s2" style="display: none;">
									<input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_3" id="c3">
								<label for="" class="control-label center">หนังสือมอบอำนาจ (ถ้ามี) พร้อมสำเนาบัตรประจำตัวประชาชนของผู้มอบอำนาจ
									และผู้รับอำนาจ</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_3']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s3" style="display: none;">
									<input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_4" id="c4">
								<label for="" class="control-label center">สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมตามกฎหมายว่าด้วยวิศวกรของนิติบุคคลผู้ขอรับหนังสือรับรอง</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_4']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s4" style="display: none;">
									<input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_5" id="c5">
								<label for="" class="control-label center">สำเนาสัญญาประกันภัยหรือกรมธรรม์ประกันภัย ความรับผิดชอบตามกฎหมาย
									เพื่อคุ้มครองต่อชีวิต ร่างกายและทรัพย์สินของบุคคลอื่น</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_5']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s5" style="display: none;">
									<input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">

								<label for="" class="control-label left"><input type="checkbox" name="ch3_6" id="c6">
									บัญชีรายการเครื่องมือที่ใช้ในการทดสอบและตรวจสอบ
									พร้อมรูปถ่ายและเอกสารแสดงการได้มาซึ่งกรรมสิทธิ์หรือสิทธิครอบครอง ซึ่งเป็นไปตามข้อ 5
									ของกฎกระทรวงกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน
									และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมันพ.ศ. 2556</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_6']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s6" style="display: none;">
									<input type="file" name="file_ch3_6" class="well well-sm" id="fs6">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">

								<label for="" class="control-label left"><input type="checkbox" name="ch3_7" id="c7">
									บัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ
									พร้อมระบุคุณสมบัติและประสบการณ์ในการปฏิบัติงานของหัวหน้าวิศวกรทดสอบ วิศวกรทดสอบ
									ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม
									และผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมันตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมันและผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน
									และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_7']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s7" style="display: none;">
									<input type="file" name="file_ch3_7" class="well well-sm" id="fs7">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_8" id="c8">
								<label for="" class="control-label center">สำเนาหนังสือรับรองเป็นผู้ทดสอบและตรวจสอบ (กรณีต่ออายุ)</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_8']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s8" style="display: none;">
									<input type="file" name="file_ch3_8" class="well well-sm" id="fs8">
								</div>
							</div>
						</div><br />
						<div class="form-group">
							<div class="col-sm-12">
								<input type="checkbox" name="ch3_9" id="c9">
								<label for="" class="control-label center">อื่นๆ (ถ้ามี)</label>
								<a th:with="file=${entryMap != null} ? ${entryMap['file_ch3_9']} : ''" class="mt-10" target="_blank" href="#" th:href="@{|/filemanager/${file}|}">
									<span th:if="${file!=''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
								</a>
								<div id="s9" style="display: none;">
									<input type="text" class="form-control edit" name="text_ch3_9" value="" id="vs9" th:value="${entryMap != null} ? ${entryMap['text_ch3_9']} : ''"><br>
									<input type="file" name="file_ch3_9" class="well well-sm" id="fs9">
								</div>
							</div>
						</div>
					</div>
          
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-4" type="button" class="btn btn-custom-prev" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a  type="button" class="btn btn-custom-next" onclick="close_window();return false;" >ปิด</a>
          </div>
        </div>

      </div>
	</form>
  </div>

<div th:replace="common-officer/footer :: common-footer">
     
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิศวกร</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form onSubmit="return false;">
		      <div class="modal-body">
		      <div class="form-group">
		      		<label>เลขวิศวกร</label><br/>
			      	<input type="hidden" name="engineerIdOriginal" id="engineerIdOriginal" value="">
			      	<input type="text" class="form-control" name="edit-engineerId" id="edit-engineerId" value="" >
		      </div>
		      <div class="form-group">
		      		<label>คำนำหน้า</label><br/>
			      	<input type="text" class="form-control" name="edit-title" id="edit-title" value="" >
		      </div>
		      <div class="form-group">
		      		<label>ชื่อ</label><br/>
			      	<input type="text" class="form-control" name="edit-firstname" id="edit-firstname" value="" >
		      </div>
		      <div class="form-group">
		      		<label>นามสกุล</label><br/>
			      	<input type="text" class="form-control" name="edit-lastname" id="edit-lastname" value="" >
		      </div>
		      <div class="form-group">
		      		<label>ตำแหน่ง</label><br/>
			      	<input type="text" class="form-control" name="edit-type" id="edit-type" value="">
		      </div>
		       <div class="form-group">
		      		<label>บริษัท</label><br/>
			      	<input type="text" class="form-control" name="edit-company" id="edit-company" value="">
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="submit" class="btn btn-primary" id="updateEngineerBtn">บันทึก</button>
		      </div>
		      <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaIdXSA" name="formMetaIdASA" value="0" th:value="${formMetaId}">
		      </form>
		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateEngineerBtn').click(function (){
        				//alert('asdopaisdpo');
        				$.post("/api-engineer/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล, หรือติดต่อเจ้าหน้าที่");
        					        }
        					    });
        			});
        			
        		});
		      </script>
		    </div>
		  </div>
		</div>
		
		<!-- modal2 -->
		<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อเครื่องมือ</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form onSubmit="return false;">
		      <div class="modal-body">
		      <div class="form-group">
		      		<label>ชื่อเครื่องมือ</label><br/>
			      	<input type="hidden" name="edit-toolId" id="edit-toolId" value="">
			      	<input type="text" class="form-control" name="edit-toolName" id="edit-toolName" value="">
		      </div>
		      <div class="form-group">
		      		<label>ซีเรียล</label><br/>
			      	<input type="text" class="form-control" name="edit-toolSerial" id="edit-toolSerial" value="" >
		      </div>
		      <div class="form-group">
		      		<label>ยี่ห้อ</label><br/>
			      	<input type="text" class="form-control" name="edit-toolBrand" id="edit-toolBrand" value="" >
		      </div>
		      <div class="form-group">
		      		<label>รุ่น</label><br/>
			      	<input type="text" class="form-control" name="edit-toolModel" id="edit-toolModel" value="" >
		      </div>
		      <div class="form-group">
		      		<label>รูป</label><br/>
			      	<input type="file" class="form-control" name="edit-toolPhotoImg" id="edit-toolPhotoImg" value="">
		      </div>
		       <div class="form-group">
		      		<label>บริษัท</label><br/>
			      	<input type="text" class="form-control" name="edit-company2" id="edit-company2" value=""  readonly="readonly">
		      </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
		        <button type="submit" class="btn btn-primary" id="updateToolBtn">บันทึก</button>
		      </div>
		      </form>
		      <script type="text/javascript">
		      $(document).ready(function(){
        			$('#updateToolBtn').click(function (){
        				//alert('asdopaisdpo');
        				/*$.post("/api-tool/update",
        					    {
        							dbdId:$('#e-dbdId').val(),
        							engineerIdOriginal:$('#engineerIdOriginal').val(),
        							engineerId:$('#edit-engineerId').val(),
        							title:$('#edit-title').val(),
        							firstname:$('#edit-firstname').val(),
        							lastname:$('#edit-lastname').val(),
        							type:$('#edit-type').val(),
        					       // city: "Duckburg"
        					    },
        					    function(data, status){
        					       // alert("Data: " + data + "\nStatus: " + status);
        					        if(data != 0){
        					        	alert("บันทึกข้อมูลสำเร็จ");
        					        	loadTableEngineer();
        					        }else{
        					        	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่")
        					        }
        					    });*/
        				oData = new FormData();
	      					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
	      					oData.append("toolId", $('#edit-toolId').val());
	              		    oData.append("toolName", $('#edit-toolName').val());
	              		    oData.append("toolSerial", $('#edit-toolSerial').val());
	              		  	oData.append("toolBrand", $('#edit-toolBrand').val());
	              		    oData.append("toolModel", $('#edit-toolModel').val());
	              		// HTML file input, chosen by user
	              		oData.append("toolPhotoImg", $('#edit-toolPhotoImg').prop('files')[0]);
	              		  var oReq = new XMLHttpRequest();
	              		  oReq.open("POST", "/api-tool/update", true);
	              		  oReq.onload = function(oEvent) {
	              		    if (oReq.status == 200) {
	              		      //oOutput.innerHTML = "Uploaded!";
	              		      alert("บันทึกข้อมูลสำเร็จ");
	              		      loadTableTool();
	              		    } else {
	              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
	              		    //alert("Error " + oReq.status + " occurred when trying to upload your file.<br \/>");
	              		    	alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมู, หรือติต่อเจ้าหน้าที่");
	              		    }
	              		  };
	
	              		  oReq.send(oData);
        			});
        			
        		});
		      </script>
		    </div>
		  </div>
		</div>
</body>


<script type="text/javascript">
$(document).ready(function () {
		$.each($("form").find($("input:text")), function( index, value ) {
	      $(value).attr("disabled","disabled");
	    });
	    $.each($("form").find($("select")), function( index, value ) {
	      $(value).attr("disabled","disabled");
	    });
	    $.each($("form").find($("input:checkbox")), function( index, value ) {
	      $(value).attr("disabled","disabled");
	    });
	    $.each($("form").find($("input:radio")), function( index, value ) {
	      $(value).attr("disabled","disabled");
	    });
	//---------------------------------------------------------------
  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#next-4").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-5").addClass('active');
  });
  $("#next-5").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-6").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
   $("#prev-4").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-4").addClass('active');
  });
   $("#prev-5").click(function() {
    $("#nav-6").removeClass('active');
    $("#nav-5").addClass('active');
  });

});


//------------------------------------------------
	$('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$("#fs1").prop('',true);
        }else {
        	$('#s1').css('display','none');
        	$("#fs1").prop('',false);
        }
	});
	$('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$("#fs2").prop('',true);
        }else {
        	$('#s2').css('display','none');
        	$("#fs2").prop('',false);
        }
	});
	$('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$("#fs3").prop('',true);
        }else {
        	$('#s3').css('display','none');
        	$("#fs3").prop('',false);
        }
	});
	$('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$("#fs4").prop('',true);
        }else {
        	$('#s4').css('display','none');
        	$("#fs4").prop('',false);
        }
	});
	$('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$("#fs5").prop('',true);
        }else {
        	$('#s5').css('display','none');
        	$("#fs5").prop('',false);
        }
	});
	$('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$("#fs6").prop('',true);
        }else {
        	$('#s6').css('display','none');
        	$("#fs6").prop('',false);
        }
	});
	$('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$("#fs7").prop('',true);
        }else {
        	$('#s7').css('display','none');
        	$("#fs7").prop('',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('',false);
        }
	});
	$('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('',false);
        }
      });


	$('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$("#fs10").prop('',true);
        }else {
        	$('#s10').css('display','none');
        	$("#fs10").prop('',false);
        }
	});
	$('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$("#fs11").prop('',true);
        }else {
        	$('#s11').css('display','none');
        	$("#fs11").prop('',false);
        }
	});
	$('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        	$("#fs12").prop('',true);
        }else {
        	$('#s12').css('display','none');
        	$("#fs12").prop('',false);
        }
	});
	$('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        	$("#fs13").prop('',true);
        }else {
        	$('#s13').css('display','none');
        	$("#fs13").prop('',false);
        }
	});
	$('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        	$("#fs14").prop('',true);
        }else {
        	$('#s14').css('display','none');
        	$("#fs14").prop('',false);
        }
	});
	$('#c15').change(function() {
        if($(this).is(":checked")) {
        	$('#s15').css('display','block');
        	$("#fs15").prop('',true);
        }else {
        	$('#s15').css('display','none');
        	$("#fs15").prop('',false);
        }
	});
	$('#c16').change(function() {
        if($(this).is(":checked")) {
        	$('#s16').css('display','block');
        	$("#fs16").prop('',true);
        }else {
        	$('#s16').css('display','none');
        	$("#fs16").prop('',false);
        }
	});

</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +(year+543) ;


document.getElementById('theDate').value = today;
</script>
<script>
// function getAmphur(val) {
// 	console.log("asdf")

// 	$('#amphurId').html('');
// 	$('#districtId').html('');
// 	$('#zipcodeId').val('');

// 	$('#amphurId').append('<option value="">- เลือก -</option>');
// 	$('#districtId').append('<option value="">- เลือก -</option>');

// 	$.ajax({
// 	type: "POST",
// 	url: "/api/amphur",
// 	data:'provinceId='+val,
// 	success: function(data){
// 		$.each(data, function (index, value) {
//             $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
//         });
// 	}
// 	});
// }


/*function getTambon(val) {

	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}
*/
function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>

<script>
$(document).ready(function() {
		if($('#provinceId_attorney option:selected').val() != "" ){
			getAmphurAttorney($('#provinceId_attorney').val());
			console.log("provinceId_attorney X : "+$('#provinceId_attorney').val());
		 }
	});
function getAmphurAttorney(val) {

  $('#amphurId_attorney').html('');
  $('#districtId_attorney').html('');
  $('#zipcodeId_attorney').val('');

  $('#amphurId_attorney').append('<option value="">- เลือก -</option>');
  $('#districtId_attorney').append('<option value="">- เลือก -</option>');
	
  $.ajax({
  type: "POST",
  url: "/api/amphur",
  data:'provinceId='+val,
  success: function(data){
		var amphurId_selected = "[[${entryMap != null} ? ${entryMap['amphurId_attorney']} : '']]";
		var s="";
    $.each(data, function (index, value) {
			s="";
				if(amphurId_selected == value.amphurId ) {
					console.log(value.amphurId)
					s=" selected ";
					if($('#dataedit').val('')){
						getTambonAttorney(value.amphurId);
					}
				}
            $('#amphurId_attorney').append('<option value="' + value.amphurId + '"'+ s +'>' + value.amphurName + '</option>');
        });
  }
  });
}


function getTambonAttorney(val) {
	$('#districtId_attorney').html('');
  $('#zipcodeId_attorney').val('');
  $('#districtId_attorney').append('<option value="">- เลือก -</option>');
  $.ajax({
  type: "POST",
  url: "/api/tambon",
  data:'amphurId='+val,
  success: function(data){
		var districtId_selected = "[[${entryMap != null} ? ${entryMap['districtId_attorney']} : '']]";
		var s="";
    $.each(data, function (index, value) {
			s="";
			if(districtId_selected == value.districtId ) {
				s=" selected ";
				if($('#dataedit').val('')) {
					getZipcodeAttorney(value.districtId);
				}
			}
            $('#districtId_attorney').append('<option value="' + value.districtId + '"'+ s +'>' + value.districtName + '</option>');
        });
  }
  });
}

function getZipcodeAttorney(val) {
  $.ajax({
  type: "POST",
  url: "/api/zipcode",
  data:'districtId='+val,
  success: function(data){
    $.each(data, function (index, value) {
            $('#zipcodeId_attorney').val(value.zipcode);
        });
  }
  });
}
function close_window() {
 // if (confirm("Close Window?")) {
    close();
  //}
}
</script>

<script type="text/javascript">
   $(document).ready(function(){
   	$.each($("form").find($("input:file")), function( index, value ) {
   	$(value).attr("accept","application/pdf, image/jpeg, image/png");
   	});
   });
</script>
              		
</html>
