<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link rel="stylesheet" href="css/3.3.0/bootstrap.css" th:href="@{/user/css/3.3.0/bootstrap.css}">
	<link rel="stylesheet" href="css/style.css" th:href="@{/user/css/style.css}">
	<link rel="stylesheet" href="css/wizard.css.html" th:href="@{/user/css/wizard.css.html}">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#" th:href="@{/dashboard}">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="process.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/user/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="process.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/user/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
<!-- start content -->
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
          <div id="wid-id-0">
              <!-- widget div-->
              <div role="content">
                  <!-- widget content -->
                  <div class="widget-body">

                      <div class="row">
                          <form id="wizard-1" novalidate="novalidate">
                              <div id="bootstrap-wizard-1" class="col-sm-12">
                                  <div class="form-bootstrapWizard">
                                      <ul class="bootstrapWizard form-wizard">
                                          <li class="active" data-target="#step1">
                                              <a href="#tab1" data-toggle="tab">
                                              <span class="step">ขั้นตอน 1</span>
                                              <span class="title">ยื่นขออนุญาต</span>
                                              </a>
                                          </li>
                                          <li data-target="#step2">
                                              <a href="#tab2" data-toggle="tab">
                                              <span class="step">ขั้นตอน 2</span>
                                              <span class="title">ดำเนินการ</span>
                                              </a>
                                          </li>
                                          <li data-target="#step3">
                                              <a href="#tab3" data-toggle="tab">
                                              <span class="step">ขั้นตอน 3</span>
                                              <span class="title">พิจารณา</span>
                                              </a>
                                          </li>
                                          <li data-target="#step4">
                                              <a href="#tab4" data-toggle="tab"> 
                                              <span class="step">ขั้นตอน 4</span>
                                              <span class="title">ประกาศผล <br>
                                              </span> 
                                              </a>
                                          </li>
                                      </ul>
                                      <div class="clearfix"></div>
                                  </div>
                                  <div class="tab-content">
                                      <div class="tab-pane active" id="tab1">
                                        <div class="mt-20">
                                          <strong>สถานประกอบกิจการ/สถานที่ทำงาน : </strong> <br>
                                          <strong>การยื่นขออนุญาต : </strong> <br>
                                          <strong>ผลการพิจารณา </strong>
                                        </div>
                                        <div class="process-detail mt-10">
                                          <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> ยื่นคำขอแล้ว</strong></h1>
                                          <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> อยู่ระหว่างรอดำเนินการ</strong></h1>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>

                  </div>
                  <!-- end widget content -->

              </div>
              <!-- end widget div -->

          </div>
          <!-- end widget -->

      </article>
    </div>
      
  </div>
  
  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="process.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="process.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="process.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/user/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/user/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>
</html>