<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<head th:replace="common-officer/header :: common-header" />
	<style>
			.tab_hover {
				opacity: 0.4;
				transition: 0.5s ease;
			}
			.tab_hover:hover {
				opacity: 1;
			}
		</style>
<body>
  <head th:replace="common-director/navbar :: common-navbar" />
  <!-- end navbar -->
  <div class="box-container mb-50">
   
    <hr class="mt-10">
    <h3 class="text-info text-center mb-40"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></h3>
<!-- start content -->

   
   <div class="row mt-20">
			<div class="btn-group btn-group-justified">
				<a href="#" class="btn btn-success btn-edit" style="font-size: 24px; border-radius: 0;">เอกสารรอรับเข้าระบบ<span class="badge badge-light" th:text="${Sum1}">4</span></a>
				<a href="/director/sign" class="btn btn-info btn-edit tab_hover" style="font-size: 24px; border-radius: 0;">พิจารณาลงนาม<span class="badge badge-light" th:text="${Sum2}">4</span></a>
			</div>
		</div>
		
		<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs pd-0 mb-10" role="tablist">
      <li role="presentation" class="active"><a href="#new" id="new-tab" role="tab" data-toggle="tab"> ขอใหม่ <span class="badge badge-light" th:text="${CountlRequestTransaction}">4</span> </a></li>
      <li role="presentation"><a href="#edit" id="edit-tab" role="tab" data-toggle="tab"> ต่ออายุ <span class="badge badge-light" th:text="${CountlRequestTransaction2}">4</span></a></li>
      <li role="presentation"><a href="#delete" id="delete-tab" role="tab" data-toggle="tab"> ขอแก้ไขเปลี่ยนแปลง <span class="badge badge-light" th:text="${CountlRequestTransaction3}">4</span> </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content pd-0">
      <div role="tabpanel" class="tab-pane fade in active" id="new">
        <table class="table table-bordered dataTable info" width="100%">
					<thead>
						<tr>
							<th rowspan="2" class="col-md-1 text-center">ลำดับ</th>
							<th rowspan="2" class="col-md-4 text-center"> รายละเอียด </th>
							<th rowspan="2" class="col-md-3 text-center"> สถานที่ประกอบการ </th>
							<th rowspan="2" class="col-md-3 text-center"> เลขสารบรรณ </th>
							<th colspan="2" class="col-md-2 text-center"> ดูรายละเอียด </th>
							<th rowspan="2" class="col-md-2 text-center"> สถานะ </th>
						</tr>
						<tr>
							<!-- <th></th> -->
							<!-- <th></th> -->
							<!-- <th></th> -->
							<!-- <th colspan="2" style="border-top:0px;"></th>  -->
							<th style="display:none;"></th>
							<th style="display:none;"></th>
							<!-- <th></th> -->
							<!-- <th></th> -->
						</tr>
					</thead>
          <tbody>
						<tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
							<td class="text-center" th:text="${iStatus.index + 1}"></td>
							<td>
								<div  th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
							</td>
							<td>
								<div class="company-name" id="" th:id="|${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.companyName}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
							</td>
							<td>
								<div  th:text="${requestTransaction.documentReceiptNo}"></div>
							</td>
							<td class="text-center">
								<!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
								<div class="date-amount" id="" th:id="|date-amount${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
							</td>
							<td class="text-center">
								<a href="../oil/detail.html" th:href="@{|/director/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
							</td>
							<td class="text-center">
								<span th:text="|${requestTransaction.requestStatus.text}|"></span>
							</td>
						</tr>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="edit">
        <table class="table table-bordered info">
					<thead>
						<tr>
							<th class="col-md-1 text-center">ลำดับ</th>
							<th class="col-md-4 text-center"> รายละเอียด </th>
							<th class="col-md-3 text-center"> สถานที่ประกอบการ </th>
							<th class="col-md-2 text-center" colspan="2"> ดูรายละเอียด </th>
							<th class="col-md-2 text-center" > สถานะ </th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="requestTransaction, iStatus : ${lRequestTransaction2}">
						<td class="text-center" th:text="${iStatus.index + 1}"></td>
						<td>
							<div  th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
						</td>
						<td>
							<div class="company-nameT2" id="" th:id="|T2${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
						</td>
						<td class="text-center">
							<!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
							<div class="date-amountT2" id="" th:id="|date-amountT2${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
						</td>
						<td class="text-center">
							<a href="../oil/detail.html" th:href="@{|/director/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
						</td>
						<td class="text-center">
							<span th:text="|${requestTransaction.requestStatus.text}|"></span>
						</td>
					</tr>
					</tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="delete">
        <table class="table table-bordered info">
          <thead>
						<tr><th class="col-md-1 text-center">ลำดับ</th>
            <th class="col-md-4 text-center"> รายละเอียด </th>
            <th class="col-md-3 text-center"> สถานที่ประกอบการ </th>
            <th class="col-md-2 text-center" colspan="2"> ดูรายละเอียด </th>
            <th class="col-md-2 text-center" > สถานะ </th>
          </tr></thead>
          <tbody>
           <tr th:each="requestTransaction, iStatus : ${lRequestTransaction3}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	
                              	<td>
									<div  th:text="${' [ '+#numbers.formatDecimal(requestTransaction.rtId, 5, 0)+' ]  '+requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td>
									<div class="company-nameT3" id="" th:id="|T3${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT3" id="" th:id="|date-amountT3${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" th:href="@{|/director/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              </td>
				              <td class="text-center">
				                  <span th:text="|${requestTransaction.requestStatus.text}|"></span>
				              </td>
				           
                              </tr>
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="transfer">
        <table class="table table-bordered transfer">
          <thead>
						<tr><th class="col-md-1 text-center">ลำดับ</th>
            <th class="col-md-3 text-center"> รายละเอียด </th>
            <th class="col-md-2 text-center"> สถานที่ประกอบการ </th>
            <th class="col-md-2 text-center" colspan="2"> ดูรายละเอียด </th>
          </tr></thead>
          <tbody>
            <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	
                              	<td>
									<div  th:text="${requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td>
									<div class="company-nameT2" id="" th:id="|T2${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT2" id="" th:id="|date-amountT2${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" th:href="@{|/director/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              </td>
				           
                              </tr>
          </tbody>
        </table>
      </div>

       <div role="tabpanel" class="tab-pane fade" id="accident">
        <table class="table table-bordered accident">
          <thead>
						<tr><th class="col-md-1 text-center">ลำดับ</th>
            <th class="col-md-3 text-center"> รายละเอียด </th>
            <th class="col-md-2 text-center"> สถานที่ประกอบการ </th>
            <th class="col-md-2 text-center" colspan="2"> ดูรายละเอียด </th>
          </tr></thead>
          <tbody>
          <tr th:each="requestTransaction, iStatus : ${lRequestTransaction}">
                              	<td class="text-center" th:text="${iStatus.index + 1}"></td>
                              	
                              	<td>
									<div  th:text="${requestTransaction.request.requestCategory.rqCategoryName + ' : ' + requestTransaction.request.requestName}"></div>
                              	</td>
                              	<td>
									<div class="company-nameT2" id="" th:id="|T2${requestTransaction.rtId}|"  th:text="${requestTransaction.Company.dbdId}" data-id="" th:data-id="${requestTransaction.rtId}"  data-idcompany="" th:data-idcompany="${requestTransaction.Company.dbdId}"></div>
									
                              	</td>
                              	<td class="text-center">
                              	  <!-- <label class="warning" th:text="${requestTransaction.requestStatus.text}"></label> -->
                              	  <div class="date-amountT2" id="" th:id="|date-amountT2${requestTransaction.rtId}|"  th:text="${requestTransaction.created}" data-id="" th:data-id="${requestTransaction.rtId}"  data-date="" th:data-date="${requestTransaction.created}" data-data-actual-garantee-day="" th:data-data-actual-garantee-day="${requestTransaction.actualGaranteeDay}"></div>
									
                              	</td>
                              	<td class="text-center">
				                  <a href="../oil/detail.html" th:href="@{|/director/company/${requestTransaction.Company.dbdId}/formgroup/view/${requestTransaction.request.requestId}/${requestTransaction.rtId}|}" type="button" class="btn btn-success btn-custom" title="ดูรายละเอียด"><i class="glyphicon glyphicon-list"></i></a>
				              </td>
				           
                              </tr>
          </tbody>
        </table>
      </div>
    </div>

    </div>
    </div>
      
  
  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<!-- <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->

<script type="text/javascript">
$(document).ready(function () {

	
	$('.dataTable').DataTable({
		// paging: false,
		// bInfo: false
		"paging": false,
		"bInfo": false,
		"language": {
                  "search": "ค้นหา :",
					            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
					            "zeroRecords": "ไม่มีข้อมูล",
					            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
					            "infoEmpty": "ไม่มีข้อมูล",
					            "paginate": {
								      "previous": "ก่อนหน้า",
								      "next": "ถัดไป"
								    }
					           // "infoFiltered": "(filtered from _MAX_ total records)"
					        }
	});

	
	$(".acceptbtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/accept-transaction/"+$(this).attr('data-id'));
		});
	$(".denybtn").click(function() {
		
		//  alert($(this).attr('data-id') );
		  window.location.replace("/officer/deny-transaction/"+$(this).attr('data-id'));
		});
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  		var divs = document.getElementsByClassName('company-name');
  //alert(divs.length);
		for (var i = 0; i < divs.length; i++) {
			//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
			getCompanyName(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
		}
		
		var divs = document.getElementsByClassName('company-nameT2');
			for (var i = 0; i < divs.length; i++) {
				//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
				getCompanyNameT2(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
			}
		var divs = document.getElementsByClassName('company-nameT3');
		  //alert(divs.length);
				for (var i = 0; i < divs.length; i++) {
					//$('#'+divs[i].getAttribute('data-id')).html(getCompanyName(divs[i].getAttribute('data-idcompany')));
					getCompanyNameT3(divs[i].getAttribute('data-idcompany'),divs[i].getAttribute('data-id'));
				}
		
		 var divs2 = document.getElementsByClassName('date-amount');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amount'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT2');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT2'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-actual-garantee-day')));

			}	
			var divs2 = document.getElementsByClassName('date-amountT3');
			for (var j = 0; j < divs2.length; j++) {
				$('#date-amountT3'+divs2[j].getAttribute('data-id')).html(diffDays(divs2[j].getAttribute('data-date'),divs2[j].getAttribute('data-actual-garantee-day')));

			}	
});

function getCompanyName(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT2(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T2'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function getCompanyNameT3(dbdId,rtId) {
	var cn = "0";
	$.ajax({
	type: "POST",
	url: "/api/getCompanyName",
	data:'dbdId='+dbdId,
	success: function(data){
				$('#T3'+rtId).html(data);
	},
	error: function(error) {
		console.log("error"+dbdId);
        console.log(error);
	}
	});
	
}
function diffDays(dateCreate,ACTUAL_GAURANTEE_DAY) {
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	//console.log(dateCreate);
	var res = dateCreate.split(" ");
	var res2 = res[0].split("-");
	var firstDate = new Date(res2[0],res2[1],res2[2]);
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd = '0'+dd
	} 

	if(mm<10) {
	    mm = '0'+mm
	} 

	today = mm + '/' + dd + '/' + yyyy;
	//console.log(today);
	var secondDate = new Date(yyyy,mm,dd);

	var diffDays =  Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay))) - ACTUAL_GAURANTEE_DAY;
	//console.log(diffDays);
	if(diffDays < 14){
	diffDays= '<span class="glyphicon glyphicon-bell text-danger" aria-hidden="true"></span>';
	}else{
	diffDays="";
	}
	return diffDays;
}

</script>
</html>


