<!DOCTYPE html>
<meta charset="UTF-8">
<head th:replace="common-officer/header :: common-header" />
<body>
<script type="text/javascript">
  function setStatus(val,val2,i) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/getStatus}]]",
	data:'rtId='+val+'&&fId='+val2,
	success: function(data){
		console.log('Success: '+data);
		if(data !== ""){
			$( "#span"+i ).addClass( "success" );
			$( "#span"+i ).attr( "title", "มีการกรอกข้อมูลแล้ว" );
		}else{
			$( "#span"+i ).addClass( "danger" );
			$( "#span"+i ).attr( "title", "ยังไม่มีการกรอกข้อมูล" );
		}
	},
	error: function(xhr, status, error) {
	  //alert(err.Message);
	  console.log("Error: "+xhr.responseText);
    $( "#span"+i ).addClass( "success" );
		$( "#span"+i ).attr( "title", "มีการกรอกข้อมูลแล้ว" );
	}

	});
}
</script>
  <div th:replace="common-officer/navbar :: common-navbar" />
  <div class="box-container mb-50">
  <div th:replace="common-officer/title :: common-title" />
  <!-- end navbar -->

   <div class="row">
            <div class="col-md-12">
                            <!-- <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label> -->
                          


              </div>
            </div>


	      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <p class="category"></p>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <table class="table">
                          <thead>
                            <th class="col-md-2 text-center"> ลำดับที่ </th>
                            <th class="col-md-2 text-center"> ชื่อ </th>
                            <th class="col-md-2 text-center"> นามสกุล </th>
                            <th class="col-md-1 text-center"></th>
                          </thead>
                          <tbody >
														<tr th:each="user, a : ${lEngineer}">
                                <td class="text-center" th:text="${a.index + 1}">
                                <td class="text-center" th:text="${user.firstname}">
                                <td class="text-center" th:text="${user.lastname}">
															<td class="text-center">
																<a th:href="@{|/director/company/${dbdId}/${requestTransactionId}/form/review/${formId}/${requestTypeId}/${user.id}|}" type="button" class="btn btn-warning" title="ตรวจสอบคำขอ">
																	<i class="glyphicon glyphicon-info-sign"></i>
																</a>	
															</td>
                            </tr>
                          </tbody>
											</table>
                  </div>
                  <!-- <div th:replace="common-officer/back_1 :: common-back_1" /> -->
              </div>
          </div>
          </div>


    </div>

       <div th:replace="common-officer/footer :: common-footer">


</body>


</html>
