<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<head th:replace="common-director/header :: common-header" />
<body>
   <div th:replace="common-director/navbar :: common-navbar" />
  <!-- end navbar -->
  <div class="box-container mb-50">
   
    <hr class="mt-10">
    <h3 class="text-info text-center mb-40"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></h3>
<!-- start content -->
    
<script type="text/javascript">  
  function setStatus(val,val2,i) {
	$.ajax({
	type: "POST",
	url: "[[@{/api/getStatus}]]",
	data:'rtId='+val+'&&fId='+val2,
	success: function(data){
		console.log('Success: '+data);
		if(data !== ""){
			$( "#span"+i ).addClass( "success" );
			$( "#span"+i ).attr( "title", "มีการกรอกข้อมูลแล้ว" );
		}else{
			$( "#span"+i ).addClass( "danger" );
			$( "#span"+i ).attr( "title", "ยังไม่มีการกรอกข้อมูล" );
		}
	},
	error: function(xhr, status, error) {
	  //alert(err.Message);
	  console.log("Error: "+xhr.responseText);
	}
	
	});
}
</script>
   <div class="row">
            <div class="col-md-12">
                            <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                            <span class="mr-10" th:text="${company.companyName}"></span>
                      
                              
              </div>
            </div>
            
            
	      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title" th:text="${request.requestCategory.rqCategoryName + ' : ' + request.requestName}"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i></h4>
                      <p class="category"></p>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <table class="table">
                          <thead>
                            <th class="col-md-2 text-center"> คำขอ </th>
                            <th class="col-md-6 text-center"> รายละเอียด </th>
                            <th class="col-md-2 text-center"> สถานะ </th>
                            <th class="col-md-2"></th>
                          </thead>
                          <tbody>
                              <tr th:each="requestForm, iStatus : ${lRequestForm}">
                              	<td th:text="${requestForm.form.formTitle}">
                              	</td>
                              	<td th:text="${requestForm.form.formDescription}">
                              	</td>
                              	<td class="text-center">
                              	  <script type="text/javascript">
                              	/*<![CDATA[*/
									setStatus("[[${rtId}]]","[[${requestForm.form.formId}]]","[[${iStatus.index + 1}]]");
								/*]]>*/	
								</script>
                              	  <label class="" id="" th:id="${'span'+(iStatus.index + 1)}"></label>
                              	</td>
                              	<td>
                                    <div th:switch="${requestForm.form.formId}">
                                            <a href="#" th:case="19" th:href="@{|/director/Detail/${dbdId}/${rtId}/${requestForm.form.formId}/${requestTypeId}|}"  type="button" class="btn btn-warning" title="ตรวจสอบคำขอ">ตรวจสอบคำขอ</a>
                                            <!-- <a href="#" th:case="*" th:data-form-id="${requestForm.form.formId}" th:href="@{|/officer/company/${dbdId}/${rtId}/form/review/${requestForm.form.formId}/${requestTypeId}|}"  type="button" class="btn btn-warning" title="ตรวจสอบคำขอ"><i class="glyphicon glyphicon-info-sign"></i></a> -->
                                            <a style="font-size: 0.8em !important;" th:case="*" href="#" th:href="@{|/director/company/${dbdId}/${requestTransactionId}/form/review/${requestForm.form.formId}/${requestTypeId}|}" target="_blank" type="button" class="btn btn-warning">ตรวจสอบคำขอ</a>
                                        </div>
                              	  
                              	</td>
                              </tr>
                          </tbody>
                      </table>
                        <div th:replace="common-director/back_1 :: common-back_1" />

                  </div>
              </div>
          </div>
          </div>
	    
    </div>
    </div>
      
  
  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>


</html>
