<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/employee/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>personalId</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>department</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="f : ${lEmployee}">
      <td th:text="${f.personalId}"></td>
      <td th:text="${f.firstname}"></td>
      <td th:text="${f.lastname}"></td>
      <td th:text="${f.department.departmentName}"></td>
      <td>[<a href="#" th:href="@{|/employee/view/${f.personalId}|}">Edit</a>]  [<a href="#" th:href="@{|/employee/meta/${f.personalId}|}">Meta</a>] </td>
    </tr>
  </tbody>
</table>
</div>