<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/employee/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/employee/update}">
		<div class="form-group ">
		    <label for="formTitle">personalId</label>
		    <input type="text" th:value="${employee.personalId}"  class="form-control" id="personalId" name="personalId" required readonly>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">firstname</label>
		    <input type="text" th:value="${employee.firstname}" class="form-control" id="firstname" name="firstname" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">lastname</label>
		    <input type="text" th:value="${employee.lastname}" class="form-control" id="lastname" name="lastname" required>
		  </div>
		  <div class="form-group">
		    <label for="formTemplate">departmentName</label>
		   <!-- <input type="text" th:value="${employee.department.departmentId}" class="form-control" id="lastname" name="lastname" required>
		 
		    <!-- <select name="departmentId" id="departmentId" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="department : ${lDepartment}"
                            	th:value="${department.departmentId}"
                            	th:utext="${department.departmentName}"/>
                  		</select> -->
                  		
            <select name="departmentId" id="departmentId" class="form-control edit" required>
			  <option th:each="department : ${lDepartment}" 
			          th:value="${department.departmentId}" 
			          th:utext="${department.departmentName}"
			           th:selected="${employee.department.departmentId == department.departmentId}">Wireframe</option>
			</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>