<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/document/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/engineer/save}" enctype="multipart/form-data">
		<!-- <div class="form-group ">
		    <label for="formTitle">ID</label>
		    <input type="text" class="form-control" id="docId" name="docId" required>
		  </div> -->
		<div class="form-group ">
		    <label for="formTitle">ENGINEER_ID</label>
		    <input type="text" class="form-control" id="engineerId" name="engineerId" required>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">TITLE</label>
		    <input type="text" class="form-control" id="title" name="title" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">FIRSTNAME</label>
		    <input type="text" class="form-control" id="firstname" name="firstname" required>
		  </div>
		   <div class="form-group">
		    <label for="formDescription">LASTNAME</label>
		    <input type="text" class="form-control" id="lastname" name="lastname">
		  </div>
		  <div class="form-group">
		    <label for="formDescription">TYPE</label>
		   <input type="text" class="form-control" id="type" name="type">
		   </div>
		  <div class="form-group">
		    <label for="formTemplate">DBD_ID</label>
		    <select name="dbdId" id="dbdId" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="lCompany : ${lCompany}"
                            	th:value="${lCompany.dbdId}"
                            	th:utext="${lCompany.companyName}"/>
                  		</select>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>