<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/engineer/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>ENGINEER_ID</th>
      <th>TITLE</th>
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>TYPE</th>
      <th>DBD_ID</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="f : ${lEngineer}">
      <td th:text="${f.engineerId}"></td>
      <td th:text="${f.title}"></td>
      <td th:text="${f.firstname}"></td>
      <td th:text="${f.lastname}"></td>
      <td th:text="${f.type}"></td> 
      <td th:text="${f.company.companyName}"></td> 
      <td>[<a href="#" th:href="@{|/engineer/view/${f.engineerId}|}">Edit</a>]  [<a href="#" th:href="@{|/engineer/meta/${f.engineerId}|}">Meta</a>] </td>
    </tr>
  </tbody>
</table>
</div>