<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/engineer/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/engineer/update}">
		<div class="form-group ">
		    <label for="formTitle">ENGINEER_ID</label>
		    <input type="text" th:value="${Engineer.engineerId}"  class="form-control" id="engineerId" name="engineerId" required readonly>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">TITLE</label>
		    <input type="text" th:value="${Engineer.title}" class="form-control" id="title" name="title" >
		  </div>
		  <div class="form-group">
		    <label for="formDescription">FIRSTNAME</label>
		    <input type="text" th:value="${Engineer.firstname}" class="form-control" id="firstname" name="firstname" >
		  </div>
		  <div class="form-group">
		    <label for="formDescription">LASTNAME</label>
		    <input type="text" th:value="${Engineer.lastname}" class="form-control" id="lastname" name="lastname" ><br>
		    
		  </div>
		   <div class="form-group">
		    <label for="formDescription">TYPE</label>
		    <input type="text" th:value="${Engineer.type}" class="form-control" id="type" name="type">
		   </div> 
		<div class="form-group">
		    <label for="formTemplate">DBD_ID</label>
		                    		
            <select name="dbdId" id="dbdId" class="form-control edit" required>
			  <option th:each="company : ${lCompany}" 
			          th:value="${company.dbdId}" 
			          th:utext="${company.companyName}"
			          th:selected="${Engineer.company.dbdId == company.dbdId}">Wireframe</option>
			</select>
		  </div>
		   
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>