<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="../font-awesome-4.7.0/css/font-awesome.min.css.html" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
      <img src="doeb_thai.png" alt="" width="200">
      </a>
    </div>

    <ul class="nav">
      <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="index.php.html">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
      <li>
        <a href="request_form.php.html">
          <i class="ti-agenda"></i>
          <p> แบบคำขอรับบริการ </p>
        </a>
      </li>
      <li>
        <a href="status.php.html">
          <i class="ti-agenda"></i>
          <p> ดูสถานะแบบคำขอ </p>
        </a>
      </li>
      <li>
        <a href="profile.php.html">
          <i class="ti-write"></i>
          <p> แก้ไขข้อมูลส่วนตัว </p>
        </a>
      </li>
    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="select.php.html#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="select.php.html#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="select.php.html#"><lable> ใบรับรองพักใช้ <span>1</span> รายการ </lable></a></li>
                  <li><a href="select.php.html#"><lable> ใบรับรองหมดอายุ <span>1</span> รายการ </lable></a></li>
                </ul>
              </li>
              <li>
                <a href="select.php.html#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </nav>

      <div class="content">
        <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                            <input type="name" class="form-control edit mr-10" placeholder="ศุภวัฒก์ ฉิมทับ" value="ศุภวัฒก์ ฉิมทับ" disabled style="background-color: #fdfdfd !important;">
                          </div>
                          <a href="user_detail.php.html" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                            <button class="btn btn-info"><i class="ti-search"></i></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                            <label for="name" class="success"> ปกติ </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
          </div>
          <ol class="breadcrumb edit">
            <li><a href="index.php.html" style="color: #e74124;">แบบคำขอรับบริการ</a></li>
            <li class="active">เลือกประเภทขอรับบริการ</li>
          </ol>
          <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i> เลือกประเภทขอรับบริการ </h4>
                      <p class="category"></p>
                  </div>
                  <div class="content">
                    <form>
                      <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <select name="sSelectType" id="sSelectType" class="form-control edit mr-10">
                          <option value="">เลือก</option>
                          <option value="one">NG</option>
                          <option value="two">สถานที่ใช้ NG</option>
                          <option value="three">สถานีบริการ NG</option>
                          <option value="four">สถานที่บรรจุ LPG</option>
                          <option value="five">สถานประกอบการน้ำมัน</option>
                          <option value="six">บัตรผู้ปฎิบัติงาน</option>
                        </select>
                      </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                      <div class="form-group">
                        <select name="sListSelect" id="sListSelect" class="form-control edit mr-10">
                          <option value="">เลือก</option>
                        </select>
                      </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                          <a id="next-1" type="button" class="btn" href="index.php.html">ย้อนกลับ</a>
                          <a id="next-1" type="button" class="btn" href="../user/form.html">สร้างแบบฟอร์ม</a>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>


      <footer class="footer">

      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js" th:src="@{/dashboard/assets/js/demo.js}"></script>

<script type="text/javascript">
$( document ).ready(function() {
      $("#sSelectType").change(function() {
          // console.log($(this).val())
          var select = $(this).val();

          // console.log(selectData(select))
          aSelectData = selectData(select)

          $("#sListSelect").children('option:not(:first)').remove();

          for (i = 0; i < aSelectData.length; i++) {
              // text += cars[i] + "<br>";
              $("#sListSelect").append("<option value="+aSelectData[i]+">"+aSelectData[i]+"</option>")
          }

      });

      function selectData(select) {
          switch (select) {
              case "one":
                 return ['วิศวกรออกแบบ']
                 break;
              case "two":
                  return ['วิศวกรทดสอบและตรวจสอบ ประเภทที่ 1','วิศวกรทดสอบและตรวจสอบ ประเภทที่ 2','ผู้ตรวจสอบระบบไฟฟ้า นิติบุคคล','ผู้ตรวจสอบระบบไฟฟ้า บุคคล']
                  break;
               case "three":
                 return ['วิศวกรทดสอบและตรวจสอบ','ผู้ตรวจสอบระบบไฟฟ้า นิติบุคคล','ผู้ตรวจสอบระบบไฟฟ้า บุคคล']
                  break;
               case "four":
                  return ['ผู้ทดสอบและตรวจสอบ ประเภทที่ 1','ผู้ทดสอบและตรวจสอบ ประเภทที่ 2','ผู้ทดสอบและตรวจสอบ ประเภทที่ 3']
                  break;
               case "five":
                  return ['ผู้ทดสอบและตรวจสอบ ระดับ 1','ผู้ทดสอบและตรวจสอบ ระดับ 2','ผู้ทดสอบและตรวจสอบ ระดับ 3']
                  break;
              case "six":
                  return ['บัตรประจำตัวผู้ปฎิบัติงาน']
                  break;
          }

      }

  });

</script>

</html>
