<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" sizes="96x96" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>กรมธุรกิจกระทรวงพลังงาน | MINISTRY OF ENERGY</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" th:href="@{/dashboard/assets/css/animate.min.css}" rel="stylesheet" />

  <!--  Paper Dashboard core CSS    -->
  <link href="assets/css/paper-dashboard.css" th:href="@{/dashboard/assets/css/paper-dashboard.css}" rel="stylesheet" />


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" th:href="@{/dashboard/assets/css/demo.css}" rel="stylesheet" />
  <link href="assets/css/style.css" th:href="@{/dashboard/assets/css/style.css}" rel="stylesheet" />


  <!--  Fonts and icons     -->
  <link href="../font-awesome-4.7.0/css/font-awesome.min.css.html" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/themify-icons.css" th:href="@{/dashboard/assets/css/themify-icons.css}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
  Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
  Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text">
      <img src="doeb_thai.png" alt="" width="200">
      </a>
    </div>

    <ul class="nav">
      <!-- <li class="active">
        <a href="#">
          <i class="ti-panel"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li>
        <a href="#" th:href="@{/user/dashboard}">
          <i class="ti-home"></i>
          <p> หน้าหลัก </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/requestForm}">
          <i class="ti-agenda"></i>
          <p> แบบคำขอรับบริการ </p>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/user/result}">
          <i class="ti-agenda"></i>
          <p> ดูสถานะแบบคำขอ </p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-write"></i>
          <p> แก้ไขข้อมูลส่วนตัว </p>
        </a>
      </li>
    </ul>
  </div>
</div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-bell" style="color: #EB5E28 !important"></i>
                  <p class="notification">2</p>
                  <p>รายการแจ้งเตือน</p>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><lable> ใบรับรองพักใช้ <span>1</span> รายการ </lable></a></li>
                  <li><a href="#"><lable> ใบรับรองหมดอายุ <span>1</span> รายการ </lable></a></li>
                </ul>
              </li>
              <li>
                <a href="#">
                    <i class="ti-settings"></i>
                    <p>Settings</p>
                </a>
              </li>

              <li>
                <a href="#" th:href="@{/user/logout}">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </nav>

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10">ชื่อผู้ขอบริการ</label>
                            <input type="name" class="form-control edit mr-10" placeholder="" value="" disabled style="background-color: #fdfdfd !important;">
                          </div>
                          <a href="#" type="submit" class="btn btn-info">แสดงรายละเอียด</a>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content edit">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="name" class="form-control form-search edit mr-10" placeholder="ค้นหาแบบคำขอ">
                            <button class="btn btn-info"><i class="ti-search"></i></button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="name" class="mr-10"> สถานะผู้ขอรับบริการ </label>
                            <label for="name" class="success"> ปกติ </label>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>                  
              </div>
            </div>
          </div>
                    
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                     <div class="header">
                        <h4 class="title"><i class="text-info fa fa-arrow-circle-right" aria-hidden="true"></i> รายละเอียดผู้ขอรับบริการ </h4>
                        <p class="category"></p>
                    </div>
                    <form method="POST" name="COMPANY_FORM" action="#" th:action="@{/user/saveCompany}">
                    <div class="header col-md-offset-2 ">
                        <div class="row mt-20">
                          <div class="col-md-7"> 
                            <label for="name" class="mr-10"> ชื่อผู้ขอรับบริการ </label>
                            <!-- <form class="form-inline"> -->
                              <div class="form-group" style="width:100%;">
                                <input type="text" class="form-control edit mr-10" id="companyName" name="companyName" placeholder="" value="" style="background-color: #fdfdfd !important; width:100%;">
                              </div>
                            <!-- </form> -->
                          </div>
                          <div class="col-md-2"> 
                            <label for="name" class="mr-10"> ประเภท </label>
                              <div class="form-group">
                              <label for="name" class="text-right primary" style="padding: 9px 15px;"> นิติบุคคล </label>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9"> 
                              <div class="form-group">
                                  <div class="col-sm-6">
                                    <label for="inputEmail3" class="control-label center">เลขนิติบุคคล</label>
                                    <input type="text" class="form-control edit" id="dbdId" name="dbdId" placeholder="" value="" required pattern=".{13,13}">
                                  </div>
                                  <div class="col-sm-6">
                                    <label for="inputEmail3" class="control-label center">แนบเอกสาร</label>
                                    <input type="file" class="form-control edit" style="width:100%;" placeholder="" value="">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-2">
                                    <label for="inputEmail3" class="control-label center">เลขที่</label>
                                    <input type="text" class="form-control edit" id="addressNo" name="addressNo" placeholder="" value="">
                                  </div>
                                  <div class="col-sm-2">
                                  <label for="inputEmail3" class="control-label center">ห้อง</label>
                                      <input type="text" class="form-control edit" id="room" name="room" placeholder="" value="">
                                  </div>
                                  <div class="col-sm-2">
                                  <label for="inputEmail3" class="control-label center">ชั้น</label>
                                      <input type="text" class="form-control edit" id="floor" name="floor" placeholder="" value="">
                                  </div>
                                  <div class="col-sm-6">
                                  <label for="inputEmail3" class="control-label center">อาคาร</label>
                                      <input type="text" class="form-control edit" id="building" name="building" placeholder="" value="">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-3">
                                  <label for="inputEmail3" class="control-label center">หมู่ที่</label>
                                      <input type="text" class="form-control edit" id="moo" name="moo" placeholder="" value="">
                                  </div>
                                  <div class="col-sm-4">
                                  <label for="inputEmail3" class="control-label center">ตรอก/ซอย</label>
                                      <input type="text" class="form-control edit" id="soi" name="soi" placeholder="" value="">
                                  </div>
                                  <div class="col-sm-5">
                                  <label for="inputEmail3" class="control-label center">ถนน</label>
                                      <input type="text" class="form-control edit" id="street" name="street" placeholder="" value="">
                                  </div>
                              </div>
				              	<div class="form-group">
				                  <div class="col-sm-3">
				                    <label for="" class="control-label center">จังหวัด</label>
										<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
				                         	<option value="">- เลือก -</option>
				                         	<option th:each="province : ${lProvinceBean}"
				                            	th:value="${province.provinceId}"
				                            	th:utext="${province.provinceName}"/>
				                  		</select>
				                  </div>
				             	 <div class="col-sm-3">
				                    <label for="" class="control-label center">อำเภอ/เขต</label>
													<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
				                         				<option value="">- เลือก -</option>
				                         			</select>
				                  </div>
				                  <div class="col-sm-3">
				                    <label for="" class="control-label right">ตำบล/แขวง</label>
													<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
				                         				<option value="">- เลือก -</option>
				                         			</select>
				                  </div>
				                  <div class="col-sm-3">
				                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
				                    <input type="text" class="form-control edit" id="zipcode" name="zipcode" readonly>
				                  </div>
				              </div>
                              <div class="form-group">
                              	<div class="col-sm-12">
                              		<input type="hidden" id="memberId" name="memberId" value="0" th:value="${memberId}"/>
                              		<input type="submit" class="btn btn-primary" value="บันทึก"/>
                              	</div>
                              </div>
                          </div>
                        </div>
                    </div>
                    </form>
                    <hr>
                    <div class="content table-responsive">
                      <div class="row">
                        <div class="col-md-7">
                          <h4 class="title text-center">บัญชีรายชื่อวิศวกร </h4>
                          <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th class="col-md-1 text-center">ลำดับ</th>
                                    <th class="col-md-4 text-center"> ชื่อ </th>
                                    <th class="col-md-1 text-center"> เลขที่ </th>
                                    <th class="col-md-3 text-center"> วันหมดอายุ </th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="text-center">1</td>
                                      <td>
                                       -
                                      </td>
                                      <td class="text-center">
                                        -
                                      </td>
                                      <td class="">
                                        -
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <h4 class="title text-center">บัญชีเครื่องมือ</h4>
                          <div class="content table-responsive table-full-width">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th class="col-md-1 text-center"> ยี่ห้อ </th>
                                    <th class="col-md-5 text-center"> รุ่น </th>
                                    <th class="col-md-5 text-center"> รหัสสินค้า </th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="text-center">-</td>
                                      <td class="text-center">-</td>
                                      <td>
                                       -
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">

      </footer>

    </div>
  </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" th:src="@{/dashboard/assets/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" th:src="@{/dashboard/assets/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio.js" th:src="@{/dashboard/assets/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js" th:src="@{/dashboard/assets/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js" th:src="@{/dashboard/assets/js/bootstrap-notify.js}"></script>


<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="assets/js/paper-dashboard.js" th:src="@{/dashboard/assets/js/paper-dashboard.js}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcode').val(value.zipcode);
        });
	}
	});
}

</script>
</html>



