@font-face {
    font-family: THSarabunNew;
    src: url("../fonts/THSarabunNew.ttf") format("truetype");
}
@font-face {
    font-family: THSarabunNew_Bold;
    src: url("../fonts/THSarabunNew%20Bold.ttf") format("truetype");
}

body {
  font-family: THSarabunNew;
  font-size: 21px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2,h3,h4,strong,label {
  font-family: THSarabunNew_Bold;
}

.datepicker {
  font-size: 20px;
}

.left {
  text-align: left !important;
}
.right {
  text-align: right !important
}
/*margin and padding*/
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.fs-XL {
  font-size: 20px !important;
}
.w-100 {
  width: 100% !important;
}

/* start edit */
h3.title {
  background-color: #f44336;
  line-height: 40px;
  padding-left: 10px;
  color: #ffffff;
}
h4.title {
  font-size: 21px;
  background-color: #eeeeee;
  line-height: 40px;
  padding-left: 10px;
  color: #555555;
  border-left: 5px solid #ccc
}
.form-control-edit {
  border: none;
  outline: none;
  font-size: 21px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  border-radius: 0;
  box-shadow: none;
}
.form-control.edit {
  font-size: 18px;
  border-radius: 0px;
  border-top: 0px solid;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}
.navbar {
  border-radius: 0px;
  font-size: 21px;
}
.navbar-custom {
  background-color: #ffffff;
}
.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.custom-link > li > a {
  width: 80px;
  text-align: center;
  font-size: 24px;
  border-bottom: 0px;
  color: #ffffff;
  line-height: 50px;
  transition: 0.25s;
}
.custom-link > li.active > a,
.custom-link > li:hover,
.custom-link > li:focus {
  color: #ffffff !important;
  background-color: #e74124 !important;
  transition: 0.25s;
}
.form-group label {
  margin-right: 10px;
}
.box-header {
  padding: 80px 50px 100px 50px;
}
.text-header {
  margin-top: 5px;
  font-size: 38px;
  color: #333333;
}
.box-container {
  width: 950px;
  padding: 35px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color: #777777;
  background-color: #fff;
  border-radius: .25em;
 
  border-top: 4px solid #e74124;
  box-shadow: 0 1px 1px 1px #00000020;
}
#footer_nav {
  font-weight: bold;
}
a {
  color: #e04e39;
}
.btn-custom-prev, .btn-custom-prev:hover, .btn-custom-prev:focus {
  color: #333;
  background-color: #ccc !important;
  border-color: #ccc;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.btn-custom-next, .btn-custom-next:hover, .btn-custom-next:focus {
  color: #ffffff !important;
  background-color: #f44336 !important;
  border-color: #f44336;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.btn-export, .btn-export:hover, .btn-export:focus {
  color: #ffffff !important;
  background-color: #0088cc !important;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.btn-custom-confirm, .btn-custom-confirm:hover, .btn-custom-confirm:focus {
  color: #fff;
  background-color: #f44336 !important;
  border-color: #f44336;
  border-radius: 0px;
  width: 100px;
  font-size: 20px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #e04e39;
}
.tab-edit {
  background-color: #eeeeee;
}
.nav-tabs {
  padding-left: 15px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  
}
.nav-tabs>li>a{
  font-family: THSarabunNew_Bold;
  color: #333333;
  border: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  font-family: THSarabunNew_Bold;
  background-color: #f44336 !important;
  left: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  border-color: #f44336;
  transition: 0.25s
}
.tab-content {
  padding: 0px 15px;
}
.user-footer {
  padding: 10px;
}
.custom-tab li {
  height: 115px;
}
.custom-tab li.active {
  border-color: #f44336;
  background-color: #f44336 !important;
}
.well {
  font-size: 16px;
}
.process-detail {
  padding: 20px;
  background-color: #efefef;
  border: 1px solid #ccc;
}

/*Start Wizard*/

.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.bootstrapWizard a:hover,.bootstrapWizard a:active,.bootstrapWizard a:focus {
    text-decoration: none
}

.bootstrapWizard li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard li:before {
    border-top: 3px solid #cccccc;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 40px;
    right: 1px;
    width: 100%;
    z-index: 1
}

.bootstrapWizard li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard li .step {
    font-family: THSarabunNew_Bold;
    width: 75px;
    height: 75px;
    line-height: 21px;
    display: inline-block;
    border-radius: 100px;
    background: #ffffff;
    color: #333;
    padding: 22px 8px;
    font-size: 21px;
    border: 3px solid #cccccc;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard li.active .step,.bootstrapWizard li.active.complete .step {
    font-family: THSarabunNew_Bold;
    background: #28bd2b;
    color: #fff;
    padding: 22px 8px;
    font-size: 21px;
    border-radius: 50%;
    border: 3px solid #cccccc;
}

.bootstrapWizard li.complete .title,.bootstrapWizard li.active .title {
    color: #2B3D53
}

.bootstrapWizard li .title {
    color: #bfbfbf;
    display: block;
    font-size: 23px;
    line-height: 20px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 25px;
    word-wrap: break-word;
    z-index: 104;
}

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions li {
    display: inline
}

.tab-content.transparent {
    background-color: transparent
}

/*End Wizard*/


/*Start Wizard6*/

.bootstrapWizard6 {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.bootstrapWizard6 a:hover,.bootstrapWizard6 a:active,.bootstrapWizard6 a:focus {
    text-decoration: none
}

.bootstrapWizard6 li {
    display: block;
    float: left;
    width: 16.6%;
    text-align: center;
    padding-left: 0
}

.bootstrapWizard6 li:before {
    border-top: 3px solid #cccccc;
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    position: relative;
    top: 40px;
    right: 1px;
    width: 100%;
    z-index: 1
}

.bootstrapWizard6 li:first-child:before {
    left: 50%;
    max-width: 50%
}

.bootstrapWizard6 li:last-child:before {
    max-width: 50%;
    width: 50%
}

.bootstrapWizard6 li.complete .step {
    background: #0aa66e;
    padding: 1px 6px;
    border: 3px solid #55606E
}

.bootstrapWizard6 li .step i {
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -1.5px
}

.bootstrapWizard6 li .step {
    font-family: THSarabunNew_Bold;
    width: 75px;
    height: 75px;
    line-height: 21px;
    display: inline-block;
    border-radius: 100px;
    background: #ffffff;
    color: #333;
    padding: 22px 8px;
    font-size: 21px;
    border: 3px solid #cccccc;
    position: relative;
    text-align: center;
    z-index: 2;
    transition: all .1s linear 0s
}

.bootstrapWizard6 li.active .step,.bootstrapWizard6 li.active.complete .step {
    font-family: THSarabunNew_Bold;
    background: #28bd2b;
    color: #fff;
    padding: 22px 8px;
    font-size: 21px;
    border-radius: 50%;
    border: 3px solid #cccccc;
}

.bootstrapWizard6 li.complete .title,.bootstrapWizard6 li.active .title {
    color: #2B3D53
}

.bootstrapWizard6 li .title {
    color: #bfbfbf;
    display: block;
    font-size: 23px;
    line-height: 20px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: 25px;
    word-wrap: break-word;
    z-index: 104;
}

.wizard-actions6 {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%
}

.wizard-actions6 li {
    display: inline
}

.tab-content.transparent {
    background-color: transparent
}

/*End Wizard6*/





.row.edit {
    margin-right: 120px;
    margin-left: 120px;
}
#radioBtn-1 a, #radioBtn-2 a, #radioBtn-3 a, #radioBtn-4 a, #radioBtn-5 a, #radioBtn-6 a, #radioBtn-7 a, #radioBtn-8 a, #radioBtn-9 a, #radioBtn-10 a, #radioBtn-result a {
    width: 130px;
    font-size: 21px;
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
}
#radioBtn-1 .notActive, #radioBtn-2 .notActive, #radioBtn-3 .notActive, #radioBtn-4 .notActive,#radioBtn-5 .notActive, #radioBtn-6 .notActive, #radioBtn-7 .notActive, #radioBtn-8 .notActive, #radioBtn-9 .notActive, #radioBtn-10 .notActive, #radioBtn-result .notActive       {
    color: #777777;
    background-color: #fff;
}
.info>thead>tr>th {
    background-color: #428bca;
    color: #ffffff;
}

.scroll-x{
	overflow-x: scroll;
}

.input-group-inline span {
    padding: 6px 0px;
    font-size: 21px;
    font-weight: bold;
    color:#777777;
    /* line-height: 1; */
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
}
.input-group-inline input {
	font-weight : normal;
	text-align: center;
}

.disable-box-attach {
  display: none;
}
.enable-box-attach {
  display: block;
}

label.success {
  margin: 0;
  padding: 3px 8px;
  background-color: #4cae4c;
  border-radius: 3px;
  color: #fff;
}
label.danger {
  margin: 0;
  padding: 3px 8px;
  background-color: #F44336;
  border-radius: 3px;
  color: #fff;
}

.editBtnUpload{
  /* background-color: lightgoldenrodyellow; */
  width: 215px;
  height: 45px;
  font-size: 20px;
}