<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/form/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/form/save}">
		  <div class="form-group ">
		    <label for="formTitle">FORM TITLE</label>
		    <input type="text" class="form-control" id="formTitle" name="formTitle" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">FORM DESCRIPTION</label>
		    <input type="text" class="form-control" id="formDescription" name="formDescription" required>
		  </div>
		  <div class="form-group">
		    <label for="formTemplate">FORM TEMPLATE</label>
		    <input type="text" class="form-control" id="formTemplate" name="formTemplate" required>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>