<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<form action="#" th:action="@{/form/submission}" method="post" enctype="multipart/form-data">  
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#" th:href="@{/user/dashboard}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">แบบ ธพ.พ.3ผ</h2>
    <h3 class="text-center">คำขอ &nbsp; <input type="radio" name="request1" required value="ต่ออายุ" checked> ต่ออายุ &nbsp;<input type="radio" name="request1" value="ใบแทนบัตรประจําตัวผู้ปฏิบัติงาน"> ใบแทน </h3>
    <h3 class="text-center"><u>บัตรประจําตัวผู้ปฏิบัติงาน</u></h3>
    <div class="form-inline mt-20">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 text-right">
          <div class="form-inline">
            <div class="form-group">
              <label>เขียนที่</label>
              <input type="text" class="form-control edit form-control edit-edit" name="Wa" value="กรมธุรกิจพลังงาน" required="" placeholder="กรมธุรกิจพลังงาน">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-6 col-sm-offset-6 text-right">
          <div class="form-inline">
            <div class="form-group">
              <label>วันที่</label>
              <input type="text" class="form-control edit form-control edit-edit" name="write_at" value="" id="theDate" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end date form -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
      <li role="presentation" class="tab-edit active" id="nav-1">
        <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลของผู้ได้รับบัตรประจำตัว <br> ผู้ปฏิบัติงานและได้มอบหมายอำนาจ </a>
      </li>
      <li role="presentation" class="tab-edit" id="nav-2">
        <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 : เอกสารหลักฐานที่ใช้ประกอบคําขอต่ออายุ/ขอใบแทนบัตรประจําตัวผู้ปฏิบัติงาน </a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tap1">
        <div class="tab-pane active" role="tabpanel" id="step1">
          <h3 class="title">ส่วนที่ 1 : ข้อมูลของผู้ได้รับบัตรประจำตัวผู้ปฏิบัติงานและได้มอบหมายอำนาจ</h3>
          <h4 class="title">1 ผู้ได้รับบัตรประจําตัวผู้ปฏิบัติงาน</h4>

          <div class="form-horizontal">
            <div class="row">
              <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
              </div>
              
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>

              <div class="col-sm-3">
                <label class="control-label center">บัตรประชาชนเลขที่</label>
                <input type="text" class="form-control edit" name="uid" id="" placeholder="" required="required"  value="">
              </div>

              <div class="col-sm-9">
                <label class="control-label center">บัตรประจําตัวผู้ปฏิบัติงาน.เลขที่</label>
                <input type="text" class="form-control edit" id="" name="uid_career" placeholder="" required="required"  value="">
              </div>
              <div class="col-sm-3">
                <label class="control-label center">หมดอายุวันที่ </label>
                <input type="date" class="form-control edit" id="" name="end_date_career" placeholder="" required="required" value="">
              </div>
            </div>
          </div>

          <h4 class="title">2 สถานประกอบกิจการน้ํามันเชื้อเพลิงของผู้ได้รับบัตรประจําตัวผู้ปฏิบัติงาน </h4>

          <div class="form-horizontal striped">      
            <div class="row">

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="comname" value="" required="required">
              </div>

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">เลขที่ใบอนุญาต(ประกอบกิจการควบคุมประเภทที่ 3 ตามกฎหมายว่าด้วยการควบคุมน้ํามันเชื้อเพลิง)</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="license_id" value="" required="required">
              </div>

              <div class="col-12 col-sm-12">
                <label for="" class="control-label center">ประเภทกิจการตามที่ระบุในใบอนุญาต</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="license_type" required="required" value="">
              </div>



            </div>  <!-- form -->

          <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">e-mail</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="email1" required="required" value="">
              </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">website</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="web1" required="required" value="">
              </div>
              </div>
          </div>

            <h4 class="title">3 ผู้รับมอบอํานาจ (ถ้ามี) </h4>

            <div class="form-horizontal">
              <div class="row">
                <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
                 
                </div>
               
                
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>
                
                <div class="col-6 col-sm-3">
                <label for="" class="control-label center">อายุ</label>
                 <input type="text" class="form-control edit" id="" placeholder="" >
               </div>

            </div>                     
          </div>

<div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId2" id="provinceId2" class="form-control edit" onChange="getAmphur2(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId2" id="amphurId2" class="form-control edit" onChange="getTambon2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId2" id="districtId2" class="form-control edit" onChange="getZipcode2(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId2" name="zipcodeId2" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">e-mail</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="email1" required="required" value="">
              </div>
              <div class="col-6 col-sm-3">
                <label for="" class="control-label right">website</label>
                <input type="text" class="form-control edit" id="" placeholder="" name="web1" required="required" value="">
              </div>
              </div>
          </div>

          <h4 class="title">4 ผู้ติดต่อประสานงาน </h4>

          <div class="form-horizontal">
            <div class="row">
              <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
              </div>
              
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="">
                  </div>
             
              <div class="col-6 col-sm-3">
               <label for="" class="control-label center">อายุ</label>
               <input type="text" class="form-control edit" id="" placeholder="" >
             </div>

            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">โทรศัพท์</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="phone3" required="required" value="">
            </div>
          
            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">โทรสาร</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="fax3" required="required"  value="">
            </div>
          
            <div class="col-6 col-sm-3">
              <label for="" class="control-label center">มือถือ</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="phones3" required="required" value="">
            </div>

            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">e-mail</label>
              <input type="text" class="form-control edit" id="" placeholder="" name="email3" required="required"  value="">
            </div>
            <div class="col-6 col-sm-3">
              <label for="" class="control-label right">website</label>
              <input type="text" class="form-control edit" id="" placeholder=""  value="" name="web3" required="required">
            </div>

          </div>                     
        </div>
        <hr>
        <div class="row text-right mt-20">
          <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
          <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
        </div>
      </div>
    </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="tap2">
      <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานที่ใช้ประกอบคําขอต่ออายุ/ขอใบแทนบัตรประจําตัวผู้ปฏิบัติงาน </h3>

      <div class="form-horizontal">
        <div class="form-group">

          <div class="col-sm-12">
            <input type="checkbox" name="Fa1" id="Fa1">
            <label for="" class="control-label center">สําเนาบัตรประจําตัวประชาชน</label>
            <div id="s1" style="display: none;">
              <input type="file" name="pic_name1" class="well well-sm" id="fs1">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa2" id="Fa2">
            <label for="" class="control-label center">หนังสือมอบอํานาจ (ถ้ามี) พร้อมสําเนาบัตรประจําตัวประชาชนของผู้มอบอํานาจ และผู้รับมอบอํานาจ</label>
            <div id="s2" style="display: none;">
              <input type="file" name="pic_name2" class="well well-sm" id="fs2">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa3" id="Fa3">
            <label for="" class="control-label center">รูปถ่ายสี หน้าตรง ไม่สวมหมวกและแว่นตาดํา ถ่ายไม่เกิน ๖ เดือน ขนาด 2.5 คูณ 3 เซนติเมตร จํานวน ๒ รูป</label>
            <div id="s3" style="display: none;">
              <input type="file" name="pic_name3" class="well well-sm" id="fs3">
            </div>
          </div>

          <div class="col-sm-12">

            <label for="" class="control-label left"><input type="checkbox" name="Fa4" id="Fa4"> สําเนาใบอนุญาตประกอบกิจการควบคุมประเภทที่ ๓ ตามกฎหมายว่าด้วยการควบคุมน้ํามันเชื้อเพลิงของสถานประกอบ <br> &nbsp;&nbsp;&nbsp;&nbsp;กิจการที่ผู้ขอรับบัตรจะปฏิบัติงาน</label>
            <div id="s4" style="display: none;">
              <input type="file" name="pic_name4" class="well well-sm" id="fs4">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa5" id="Fa5">
            <label for="" class="control-label center">หนังสือรับรองการทํางานเป็นผู้ปฏิบัติงานในกิจการด้านที่ตนจะขอต่ออายุติดต่อกันเป็นเวลาไม่น้อยกว่า ๒ ปี(กรณีต่ออายุ)</label>
            <div id="s5" style="display: none;">
              <input type="file" name="pic_name5" class="well well-sm" id="fs5">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa6" id="Fa6">
            <label for="" class="control-label center">สําเนาบัตรประจําตัวผู้ปฏิบัติงานน้ํามันเชื้อเพลิงเดิม (กรณีต่ออายุ)</label>
            <div id="s6" style="display: none;">
              <input type="file" name="pic_name6" class="well well-sm" id="fs6">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa7" id="Fa7">
            <label for="" class="control-label center">บัตรประจําตัวผู้ปฏิบัติงานน้ํามันเชื้อเพลิงเดิม (กรณีถูกทําลาย หรือชํารุดเสียหายในสาระสําคัญ) </label>
            <div id="s7" style="display: none;">
              <input type="file" name="pic_name7" class="well well-sm" id="fs7">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="Fa8" id="Fa8">
            <label for="" class="control-label center">หลักฐานใบแจ้งความ (กรณีสูญหาย) </label>
            <div id="s8" style="display: none;">
              <input type="file" name="pic_name8" class="well well-sm" id="fs8">
            </div>
          </div>

        </div>
      </div>
      <div class="row text-right mt-20">
        <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" >ย้อนกลับ</a>
        <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
        <input type="submit"class="btn btn-custom-confirm" value="ส่ง" />
      </div>
 
    </div>
  </div>
</div>
</form> 


<div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
  <div id="footerL" class="container " style="margin-top: 5px; ">
    <div style="margin-top: 10px; ">
      <div class="col-md-6 ">
        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
          <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
          <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
        </p><p>
        </p></div>
        <div id="footerR" class="col-md-6" style="text-align: right;">
          <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
          <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
          <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
          <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
          <p style="text-align: right; margin-top: 15px; ">

          </p><div>
            <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
              <span class="fa fa-facebook-official fa-2x fa-lg"></span>
            </a>&nbsp;&nbsp;
            <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
              <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
            </a>&nbsp;&nbsp;
            <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
              <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
            </a>
          </div>
          <div style="padding-top:10px; text-align:right;">
            <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
            <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
  $(document).ready(function () {
   $('#Fa1').change(function() {
    if($(this).is(":checked")) {
      $('#s1').css('display','block');  
      $("#fs1").prop('required',true);
    }else { 
      $('#s1').css('display','none'); 
      $("#fs1").prop('required',false); 
    }     
  });
   $('#Fa2').change(function() {
    if($(this).is(":checked")) {
      $('#s2').css('display','block');  
      $("#fs2").prop('required',true);
    }else { 
      $('#s2').css('display','none'); 
      $("#fs2").prop('required',false); 
    }     
  });
   $('#Fa3').change(function() {
    if($(this).is(":checked")) {
      $('#s3').css('display','block');  
      $("#fs3").prop('required',true);
    }else { 
      $('#s3').css('display','none'); 
      $("#fs3").prop('required',false); 
    }     
  });
   $('#Fa4').change(function() {
    if($(this).is(":checked")) {
      $('#s4').css('display','block');  
      $("#fs4").prop('required',true);
    }else { 
      $('#s4').css('display','none'); 
      $("#fs4").prop('required',false); 
    }     
  });
   $('#Fa5').change(function() {
    if($(this).is(":checked")) {
      $('#s5').css('display','block');  
      $("#fs5").prop('required',true);
    }else { 
      $('#s5').css('display','none'); 
      $("#fs5").prop('required',false); 
    }     
  });
   $('#Fa6').change(function() {
    if($(this).is(":checked")) {
      $('#s6').css('display','block');  
      $("#fs6").prop('required',true);
    }else { 
      $('#s6').css('display','none'); 
      $("#fs6").prop('required',false); 
    }     
  });
   $('#Fa7').change(function() {
    if($(this).is(":checked")) {
      $('#s7').css('display','block');  
      $("#fs7").prop('required',true);
    }else { 
      $('#s7').css('display','none'); 
      $("#fs7").prop('required',false); 
    }     
  });
   $('#Fa8').change(function() {
    if($(this).is(":checked")) {
      $('#s8').css('display','block');  
      $("#fs8").prop('required',true);
    }else { 
      $('#s8').css('display','none'); 
      $("#fs8").prop('required',false); 
    }     
  });
  

   $('#someTab').tab('show');

   $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
   $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
   $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
   $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
   $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
   $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

 });
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

//

function getAmphur2(val) {
	
	$('#amphurId2').html('');
	$('#districtId2').html('');
	$('#zipcodeId2').val('');
	
	$('#amphurId2').append('<option value="">- เลือก -</option>');
	$('#districtId2').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId2').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon2(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId2').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode2(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId2').val(value.zipcode);
        });
	}
	});
}
</script>
</html>