<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">สธช./ข.๒/๑</h2>
    <h3 class="text-center"><u>คำขอใบรับรองหรือขอต่ออายุใบรับรอง</u></h3>
    <h3 class="text-center"><u>เป็นวิศวกรทดสอบและตรวจสอบ</u></h3>
    <h3 class="text-center"><u>ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ก๊าซธรรมชาติ</u></h3>
      
       <form action="#" th:action="@{/form/submission}" method="post"  class="form-inline mt-20"  enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_engineer" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
               
              	<input type="date" id="theDate"  name="" class="form-control edit form-control edit-edit"  disabled>
              </div>
            </div>
          </div>
        </div>
     
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 20px 140px;">1 ข้อมูลเกี่ยวกับ <br /> ผู้ยื่นคำขออนุมัติ</a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 20px 140px;">2 ข้อมูลเกี่ยวกับ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>
 
      </ul>
     
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
              <h3 class="title">ส่วนที่ 1 : ข้อมูลเกี่ยวกับผู้ยืนคำขอ</h3>
              <h4 class="title">1. ผู้ยื่นคำขอ</h4>
               <div class="form-horizontal">
                  <div class="row">
                     
                      <div class="col-12 col-sm-9">
                       <label for="inputEmail3" class="control-label text-left">ชื่อ-นามสกุล </label><br/>
                          <input type="text" class="form-control edit" id="inputEmail3" name="name_enginee" required="required" style="width: 100%;">
                      </div>
                      
                      
                      <div class="col-12 col-sm-3">
                      <label for="inputPassword3" class="control-label">อายุ</label>
                          <input type="text" class="form-control edit" id="inputPassword3" name="age_engineer" required="required">
                      </div>
                     
                  </div>
              </div>
              <br>
               <h4 class="title">2. ความประสงค์ขอใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ</h4>
              <div class="form-horizontal">
                  <div class="row">
                      
                      <div class="col-12 col-sm-12">
                      <label for="inputEmail3" class="control-label text-left">ชื่อ-สกุล</label><br/>
                          <input type="text" class="form-control edit" id="inputEmail3"  name="namecheck_engineer" required="required" style="width: 100%;">
                      </div>
                 
                  
                 
              </div>
              </div>
              <br>
              <h4 class="title">2. ที่ตั้งสานักงาน</h4>
             <div class="form-horizontal">
              	  <div class="row">
                      
                      
                      <div class="col-12 col-sm-12">
                      <label for="inputEmail3" class="control-label">สถานที่ตั้งสำนักงาน</label><br/>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="place_engineer" required="required" style="width: 100%;">
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label center">เลขที่</label>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder="" name="homenum_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">หมู่ที่</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="moo_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">ตรอก / ซอย</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="soi_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">ถนน</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder="" name="road_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">ตำบล / แขวง</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder="" name="tumbon_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">อำเภอ / เขต</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder="" name="aumphur_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">จังหวัด</label>
                          <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="province_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label right">รหัสไปรษณ๊ย์</label>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder="" name="zipcode__engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label center">โทรศัพท์</label>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="tel_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label center">โทรสาร</label>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="fax_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label right">e-mail</label>
                        <input type="text" class="form-control edit" id="inputEmail3" placeholder=""  name="email_engineer" required="required">
                      </div>
                      <div class="col-6 col-sm-3">
                        
                      </div>

                
              </div>
              </div>
              <br>
              
              <div class="form-horizontal">
                  <div class="form-group">
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ขอรับรองว่าข้าพเจ้ามีคุณสมบัติครบถ้วน ตามประกาศกรมธุรกิจพลังงาน เรื่อง การขึ้น
						ทะเบียนวิศวกรออกแบบและการออกใบรับรองวิศวกรทดสอบและตรวจสอบ พ.ศ. ๒๕๕๐ ประกาศ ณ
						วันที่ ๗ พฤศจิกายน พ.ศ. ๒๕๕๐ </p>
                  </div>													
              </div>
       
          <br>
         
                    
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานแนบท้ายแบบ สธช./ข.๒/๑</h3>
                          <div class="form-horizontal">
        <div class="form-group">

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer1" id="Fa1" value="0"> ๑. ภาพถ่ายบัตรประจาตัวประชาชนและสาเนาทะเบียนบ้านของผู้มีอานาจลงชื่อแทนนิติบุคคลและผู้ได้รับมอบอานาจจากนิติบุคคล พร้อมหนังสือแสดงว่าเป็น
            	ผู้ได้รับมอบอานาจจากนิติบุคคลน
            <div id="s1" style="display: none;">
              <input type="file" name="file_engineer1" class="well well-sm" id="fs1">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer1" id="Fa2" value="0">
            ๒. ภาพถ่ายหลักฐานการจดทะเบียนและรายชื่อผู้รับผิดชอบในตาแหน่งหน้าที่และกรรมการหรือหุ้นส่วน
            <div id="s2" style="display: none;">
              <input type="file" name="file_engineer2" class="well well-sm" id="fs2">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer3" id="Fa3" value="0">
            ๓. ภาพถ่ายหลักฐานการจดทะเบียน การมีเงินทุน และรายชื่อผู้รับผิดชอบในตาแหน่งหน้าที่และกรรมการ หรือหุ้นส่วน
            <div id="s3" style="display: none;">
              <input type="file" name="file_engineer3" class="well well-sm" id="fs3">
            </div>
          </div>

          <div class="col-sm-12">

            <input type="checkbox" name="check_engineer4" id="Fa4" value="0"> ๔. หลักฐานการถูกสั่งพักใช้ใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกสั่งพักใบรับรอง)
            <div id="s4" style="display: none;">
              <input type="file" name="file_engineer4" class="well well-sm" id="fs4">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer5" id="Fa5" value="0">
            ๕. หลักฐานการถูกสั่งเพิกถอนใบรับรองให้เป็นวิศวกรทดสอบและตรวจสอบ ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์ (กรณีเคยถูกเพิกถอนใบรับรอง)
            <div id="s5" style="display: none;">
              <input type="file" name="file_engineer5" class="well well-sm" id="fs5">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer6" id="Fa6" value="0">
            ๖. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สานักงาน
            <div id="s6" style="display: none;">
              <input type="file" name="file_engineer6" class="well well-sm" id="fs6">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer7" id="Fa7" value="0">
            ๗. ภาพถ่ายตราสาคัญสาหรับใช้ประทับเอกสารประกอบยื่นคาขอฯ
            <div id="s7" style="display: none;">
              <input type="file" name="file_engineer7" class="well well-sm" id="fs7">
            </div>
          </div>

          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer8" id="Fa8" value="0">
            ๘. ภาพถ่ายเครื่องหมายทดสอบและตรวจสอบประกอบยื่นคาขอฯ จานวน ๓ ชุด
            <div id="s8" style="display: none;">
              <input type="file" name="file_engineer8_1" class="well well-sm" id="fs8"><br>
              <input type="file" name="file_engineer8_2" class="well well-sm" id="fs8"><br>
              <input type="file" name="file_engineer8_3" class="well well-sm" id="fs8">
            </div>
          </div>
          
          <div class="col-sm-12">
            <input type="checkbox" name="check_engineer9" id="Fa9" value="0">
             ๙. ภาพถ่ายหลักฐานการทาประกันภัยประเภทอุบัติภัยในช่วงที่ทาการทดสอบและตรวจสอบ เพื่อคุ้มครองต่อชีวิตและร่างกายของบุคคลอื่น รวมทั้งคุ้มครองความเสียหายในทรัพย์สินของบุคคลอื่น
            <div id="s9" style="display: none;">
              <input type="file" name="file_engineer9" class="well well-sm" id="fs9">
            </div>
          </div>
          
            <div class="col-sm-12">
            <input type="checkbox" name="check_engineer10" id="Fa10" value="0">
            ๑๐. หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือทดสอบและตรวจสอบ พร้อมใบรับรองการตรวจสอบความเที่ยงตรงตามมาตรฐานสากลและตามระยะเวลาที่กาหนด
            <div id="s10" style="display: none;">
              <input type="file" name="file_engineer10" class="well well-sm" id="fs10">
            </div>
          </div>
          
          <div class="col-sm-12">
            <input type="checkbox" name="" id="Fa11">
            ๑๑. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของพนักงานที่ทางานทดสอบและตรวจสอบ ประเภทรับเงินเดือนประจาและประเภทจ้างเป็นครั้งคราว ดังนี้
            <div id="s11" style="display: none;">
            <input type="checkbox" name="check_engineer11_1" id="Fa11" value="0">
              <label for="" class="control-label center">(๑) ผู้ควบคุมการทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer11_1" class="well well-sm" id="fs11"><br>
              <input type="checkbox" name="check_engineer11_2" id="Fa11" value="0">
              <label for="" class="control-label center">(๒) ผู้ทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer11_2" class="well well-sm" id="fs11"><br>
              <input type="checkbox" name="check_engineer11_3" id="Fa11" value="0">
              <label for="" class="control-label center">(๓) ผู้ชานาญการทดสอบกรรมวิธีไม่ทาลายสภาพเดิม</label>
              <input type="file" name="file_engineer11_3" class="well well-sm" id="fs11"><br>
            </div>
          </div>
          
          <div class="col-sm-12">
            <input type="checkbox" name="" id="Fa12">
             ๑๒. บัญชีรายชื่อพร้อมทั้งหลักฐานและคุณวุฒิของผู้ควบคุมในการทดสอบและตรวจสอบ ซึ่งปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบที่เป็นลูกจ้างประจำและปฏิบัติงานเพียงแห่งเดียว ดังนี้
            <div id="s12" style="display: none;">
            <input type="checkbox" name="check_engineer12_1" id="Fa11" value="0">
              <label for="" class="control-label center">(๑) ผู้ควบคุมการทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer12_1" class="well well-sm" id="fs12"><br>
              <input type="checkbox" name="check_engineer12_2" id="Fa11" value="0">
              <label for="" class="control-label center">(๒) ผู้ทดสอบและตรวจสอบ</label>
              <input type="file" name="file_engineer12_2" class="well well-sm" id="fs12"><br>
              <input type="checkbox" name="check_engineer12_3" id="Fa11" value="0">
              <label for="" class="control-label center">(๓) ผู้ชานาญการทดสอบกรรมวิธีไม่ทาลายสภาพเดิม</label>
              <input type="file" name="file_engineer12_3" class="well well-sm" id="fs12"><br>
            </div>
          </div>
          
          

        </div>
      </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="submit"class="btn btn-custom-confirm" value="ส่ง" />
          </div>
        </div>
        
       
      </div>
      
      </form>
  </div>
  
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
	
	 $('#Fa1').change(function() {
		    if($(this).is(":checked")) {
		      $('#s1').css('display','block');  
		      $("#fs1").prop('required',true);
		    }else { 
		      $('#s1').css('display','none'); 
		      $("#fs1").prop('required',false); 
		    }     
		  });
		   $('#Fa2').change(function() {
		    if($(this).is(":checked")) {
		      $('#s2').css('display','block');  
		      $("#fs2").prop('required',true);
		    }else { 
		      $('#s2').css('display','none'); 
		      $("#fs2").prop('required',false); 
		    }     
		  });
		   $('#Fa3').change(function() {
		    if($(this).is(":checked")) {
		      $('#s3').css('display','block');  
		      $("#fs3").prop('required',true);
		    }else { 
		      $('#s3').css('display','none'); 
		      $("#fs3").prop('required',false); 
		    }     
		  });
		   $('#Fa4').change(function() {
		    if($(this).is(":checked")) {
		      $('#s4').css('display','block');  
		      $("#fs4").prop('required',true);
		    }else { 
		      $('#s4').css('display','none'); 
		      $("#fs4").prop('required',false); 
		    }     
		  });
		   $('#Fa5').change(function() {
		    if($(this).is(":checked")) {
		      $('#s5').css('display','block');  
		      $("#fs5").prop('required',true);
		    }else { 
		      $('#s5').css('display','none'); 
		      $("#fs5").prop('required',false); 
		    }     
		  });
		   $('#Fa6').change(function() {
		    if($(this).is(":checked")) {
		      $('#s6').css('display','block');  
		      $("#fs6").prop('required',true);
		    }else { 
		      $('#s6').css('display','none'); 
		      $("#fs6").prop('required',false); 
		    }     
		  });
		   $('#Fa7').change(function() {
		    if($(this).is(":checked")) {
		      $('#s7').css('display','block');  
		      $("#fs7").prop('required',true);
		    }else { 
		      $('#s7').css('display','none'); 
		      $("#fs7").prop('required',false); 
		    }     
		  });
		   $('#Fa8').change(function() {
		    if($(this).is(":checked")) {
		      $('#s8').css('display','block');  
		      $("#fs8").prop('required',true);
		    }else { 
		      $('#s8').css('display','none'); 
		      $("#fs8").prop('required',false); 
		    }     
		  });
		   
		   $('#Fa9').change(function() {
			    if($(this).is(":checked")) {
			      $('#s9').css('display','block');  
			      $("#fs9").prop('required',true);
			    }else { 
			      $('#s9').css('display','none'); 
			      $("#fs9").prop('required',false); 
			    }     
			  });
		   
		   $('#Fa10').change(function() {
			    if($(this).is(":checked")) {
			      $('#s10').css('display','block');  
			      $("#fs10").prop('required',true);
			    }else { 
			      $('#s10').css('display','none'); 
			      $("#fs10").prop('required',false); 
			    }     
			  });
		   
		   $('#Fa11').change(function() {
			    if($(this).is(":checked")) {
			      $('#s11').css('display','block');  
			      $("#fs11").prop('required',true);
			    }else { 
			      $('#s11').css('display','none'); 
			      $("#fs11").prop('required',false); 
			    }     
			  });
		   
		   
		   $('#Fa12').change(function() {
			    if($(this).is(":checked")) {
			      $('#s12').css('display','block');  
			      $("#fs12").prop('required',true);
			    }else { 
			      $('#s12').css('display','none'); 
			      $("#fs12").prop('required',false); 
			    }     
			  });
		  
	
	
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>

<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>