<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../dashboard/index.php">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">ข. 2</h2>
    <h3 class="text-center"><u>คำขอเป็นผู้ปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบ</u></h3>
      <form method="post" action="#" th:action="@{/form/submission}" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control form-control-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" id="theDate" class="form-control form-control-edit" value="" disabled>
              </div>
            </div>
          </div>
        </div>
    
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
        <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">1 ข้อมูลคำขอ</a>
        </li>

        <li role="presentation" class="tab-edit" id="nav-2">
        <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">2 ข้อมูลจดทะเบียน</a>
        </li>

        <li role="presentation" class="tab-edit" id="nav-3">
        <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">3 เอกสารหลักฐานที่ใช้ประกอบคำขอ</a>
        </li>

      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="form-inline mt-40">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลคำขอ</h3>
            <div class="form-group mt-20">
              <label>ข้าพเจ้า</label><input type="text" name="docs_name" class="form-control form-control-edit" >
              <label>ผู้ลงชื่อข้างท้ายนี้</label>
            </div>
            
            <div class="form-group mt-20">
              <label> ขอยื่น คาขอเพื่อขอรับหนังสือรับรองเป็น ผู้ปฏิบัติงานวิชาการด้านการทดสอบและตรวจสอบ ตามประกาศกรมธุรกิจพลังงาน เรื่อง คุณสมบัติ และลักษณะต้องห้ามของผู้ทดสอบและตรวจสอบ พ.ศ. ๒๕๕๔ และขอแจ้งรายละเอียด เพื่อประกอบการพิจารณา ดังต่อไปนี้</label>
            </div>
      
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
            <hr>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          
             <h3 class="title">ส่วนที่ 1 : ข้อมูลจดทะเบียน</h3>
             <div class="form-horizontal">
             <div class="row">
            <div class="col-12 col-sm-4">
              <label>ชื่อ </label><br/>
              <input type="text" name="name" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">สกุล</label><br/>
              <input type="text" name="lastname" class="form-control-edit" style="width: 100%;" >
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">เขียนเป็นภาษาอังกฤษว่า</label>
              <input type="text" name="name_en" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>เกิดวันที่</label><br>
              <input type="date" name="birthday" class="form-control-edit" style="width: 100%;" >
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">อายุ</label><br/>
              <input type="text" name="age_tesch" class="form-control-edit" style="width: 100%;" >
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">สัญชาติ</label><br>
              <input type="text" name="nationality" class="form-control-edit" style="width: 100%;">
             </div>
             </div>
             <div class="row">
            <div class="col-12 col-sm-4">
              <label class="text-left">อำเภอ</label>
              <input type="text" name="amphur_birthday" class="form-control-edit" style="width: 100%;" >
            </div>
            <div class="col-12 col-sm-4">
              <label>จังหวัด</label><br>
              <input type="text" name="province_birthday" class="form-control-edit"  style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">ประกอบอาชีพในประเทศไทยตั้งแต่ พ.ศ.</label>
              <input type="text"  name="year_start_in_thai" class="form-control-edit" style="width: 100%;">
              </div>
            </div>
            <div class="row">
            <div class="col-12 col-sm-3">
              <label class="text-left">ปัจจุบันอยู่บ้านเลขที่</label>
              <input type="text" name="no_address" class="form-control-edit" >
            </div>
            <div class="col-12 col-sm-3">
              <label>หมู่ที่</label>
              <input type="text" name="moo_address" class="form-control-edit">
              </div>
            <div class="col-12 col-sm-3">
            <label>ถนน</label>
              <input type="text" name="soi_address"  class="form-control-edit" >
             </div>
            <div class="col-12 col-sm-3">
             <label>ตำบล/แขวง</label>
              <input type="text" name="road_address" class="form-control-edit">
            </div>
            <div class="col-12 col-sm-3">
              <label>อำเภอ/แขวง</label>
               <input type="text" name="amphur" class="form-control-edit">
            </div>
            <div class="col-12 col-sm-3">
              <label>จังหวัด</label>
              <input type="text" name="province" class="form-control-edit">
       		</div>
            <div class="col-12 col-sm-3">
              <label>โทรศัพท์</label>
              <input type="text" name="phone" class="form-control-edit" >
            </div>
            </div>
            <div class="row">
            <div class="col-12 col-sm-6">
              <label>ระดับการศึกษาขั้นสูงสุด</label><br/>
              <input type="text" name="highest_study" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-6">
              <label>ณ ประเทศ</label><br/>
              <input type="text" name="city_study" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-6">
              <label>1.โรงเรียน</label>
              <input type="text" name="school_name" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-6">
              <label>ได้ประกาศนียบัตรวิชา</label>
              <input type="text" name="certificate_name" class="form-control-edit" style="width: 100%;">
              </div>
            <div class="col-12 col-sm-3">
              <label>2.มหาวิทยาลัย</label>
              <input type="text"  name="university_name"  class="form-control-edit"  >
            </div>
            <div class="col-12 col-sm-3">
              <label>ได้รับปริญญา</label>
              <input type="text" name="deegree_name" class="form-control-edit"  >
              </div>
            <div class="col-12 col-sm-3">
              <label>สาขา</label>
              <input type="text" name="major_name"  class="form-control-edit" >
          </div>
            <div class="col-12 col-sm-3">
              <label>ปีการศึกษา</label>
               <input type="text" name="year_graduation"  class="form-control-edit" >
            </div>
            <div class="col-12 col-sm-12">
              <label>ได้รับใบอนุญาตเป็นผู้ประกอบอาชีพวิศวกรรมควบคุม สาขาวิศวกรรมเครื่องกล </label>
             </div>
            <div class="col-12 col-sm-3">
              <label>ประเภท</label>
              <input type="text"  name="type_professional_certificate" class="form-control-edit" >
          </div>
            <div class="col-12 col-sm-3">
              <label>วิศวกร เลขทะเบียนที่</label>
              <input type="text" name="no_professional_certificate" class="form-control-edit" >
            </div>
            <div class="col-12 col-sm-3">
              <label>ตั้งแต่วันที่</label>
              <input type="date" name="type_professional_certificate_date_start" class="form-control-edit" >
          </div>
            <div class="col-12 col-sm-3">
              <label>ถึงวันที่</label>
              <input type="date" name ="type_professional_certificate_date_end" class="form-control-edit"  >
          
            </div>
            <div class="col-12 col-sm-12">
              <label>งานที่ทามาแล้วและเหตุที่ออกจากงาน มีดังนี้ </label><br/>
              <textarea rows="" cols="" name="cause_leave" style="width:100%;"></textarea>
            
            </div>
            <div class="col-12 col-sm-12">
              <label>ได้รับใบรับรองให้เป็นผู้ผ่านการทดสอบโดยไม่ทาลายสภาพเดิม </label>
           </div>
            <div class="col-12 col-sm-4">
              <label>1. สาขา</label><br/>
              <input type="text" name="certificate1_name" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ระดับ</label><br/>
              <input type="text" name="certificate1_level" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>เลขที่</label><br/>
              <input type="text" name="certificate1_no" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ออกโดย</label>
              <input type="text" name="certificate1_issue_by" class="form-control-edit" style="width: 100%;"><br>
            </div>
            <div class="col-12 col-sm-4">
              <label>ออกเมื่อวันที่ </label>
              <input type="date" name="certificate1_issue_date" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ให้ใช้ได้ถึงวันที่</label>
              <input type="date" name="certificate1_issue_expire" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>2. สาขา</label>
              <input type="text" name="certificate2_name" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ระดับ</label>
              <input type="text" name="certificate2_level" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>เลขที่</label>
              <input type="text" name="file_tester14" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ออกโดย</label>
              <input type="text" name="certificate2_no" class="form-control-edit" style="width: 100%;"><br>
            </div>
            <div class="col-12 col-sm-4" >
              <label>ออกเมื่อวันที่ </label>
              <input type="date" name="certificate2_issue_by" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ให้ใช้ได้ถึงวันที่</label>
              <input type="date" name="certificate2_issue_date" class="form-control-edit" style="width: 100%;">
             </div>
            <div class="col-12 col-sm-4">
              <label>3.สาขา</label>
              <input type="text" name="certificate3_name" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ระดับ</label>
              <input type="text" name="certificate3_level" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">  
              <label>เลขที่</label>
              <input type="text" name="certificate3_no" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4"> 
              <label>ออกโดย</label><br/>
              <input type="text" name="certificate3_issue_by" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ออกเมื่อวันที่ </label><br/>
              <input type="date" name="certificate3_issue_date" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label>ให้ใช้ได้ถึงวันที่</label>
              <input type="date" name="certificate3_issue_expire" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12">
              <label>ปัจจุบันทางานอยู่ที่ ณ</label><br>
              <input type="text" name="file_tester15" class="form-control-edit" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-10">
              <label>เคยปฏิบัติงานทดสอบและตรวจสอบภาชนะรับความดัน ซึ่งเป็นอาชีพปกติมาแล้วเป็นเวลารวมทั้งสิ้น</label>
              <input type="text" name="current_work" class="form-control-edit" style="width: 100%;">
              </div>
            <div class="col-12 col-sm-2">
              <label>ปี  ดังนี้ </label><br>
            <input type="text" class="form-control-edit" name="form-control-edit" style="width: 100%;">
            </div>
            </div>
            </div>
            <hr>
            <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
          
          </div>
        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้แนบ</h3>
                        <div class="form-horizontal">
							
							<div class="row">
								<div class="col-12 col-sm-12">
								<label for="copy_registion" class="control-label left">สาเนาทะเบียนบ้าน</label>
									<input type="file" class=" well well-sm" name="copy_registion">
								</div>
								<div class="col-12 col-sm-12">
								<label for="study_history" class="control-label left">ภาพถ่ายรายละเอียดการศึกษา</label>
									<input type="file" class=" well well-sm" name="study_history">
								</div>
								<div class="col-12 col-sm-12">
								<label for="professional_license" class="control-label left">ภาพถ่ายใบอนุญาตให้เป็นผู้ประกอบวิชาชีพวิศวกรควบคุม</label>
									<input type="file" class=" well well-sm" name="professional_license">
								</div>
								<div class="col-12 col-sm-12">
								<label for="work_history" class="control-label left">รายละเอียดประวัติการทางาน</label>
									<input type="file" class=" well well-sm" name="work_history">
								</div>
								
							</div>
							
                        </div>
                        
                       
                        
                          
                       
                        
                        
                      
      
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="submit" class="btn btn-custom-confirm" value="ส่ง" />
          </div>
        </div>
      </div>
        </form>
  </div>
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="/policy/disclaimer.pdf" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="/policy/WebPolicy.pdf" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>

<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>