<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <div class="box-container">
    <h2 class="text-right">สพพ.1</h2>
    <h3 class="text-center"><u>แบบนำเรียนอธิบดีกรมธุกิจพลังงาน สำหรับคู่มือที่สถาบันพัฒนาเทคนิคพลังงานรับผิดชอบ</u></h3>

    <form action="#" th:action="@{/onestop/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน" th:value="${entryMap != null} ? ${entryMap['write_at']} : 'กรมธุรกิจพลังงาน'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 เรียน อธิบดีกรมธุรกิจพลังงาน </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 มีความประสงค์ยื่นขออนุญาต <br /> พร้อมเอกสาร </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3">
          <a href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ชื่อสถานประกอบกิจการ <br /> สถานที่ทำงาน </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-4">
          <a href="form.html#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 16px 0px;">4 ช่องทางที่ต้องการให้แจ้ง <br /> ผลการพิจารณา</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : เรียน อธิบดีกรมธุรกิจพลังงาน</h3>
            <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	th:selected="${TitleName.code==entryMap['bla']}" 
		                            	/>
                         			</select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="firstname" name="firstname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['firstname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="lastname" name="lastname" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['lastname']} : ''">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">บัตรประชาชนเลขที่</label>
                    <input type="text" class="form-control edit textIdcard" maxlength="17" id="idcard" name="idcard" placeholder=""  value="" th:value="${entryMap != null} ? ${entryMap['idcard']} : ''">
                  </div>
                  </div>											
              </div>
          <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numberhome" placeholder=""  value="" name="numberhome" th:value="${entryMap != null} ? ${entryMap['numberhome']} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo" placeholder="" value="" name="moo" th:value="${entryMap != null} ? ${entryMap['moo']} : ''">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi" placeholder=""  value="" name="soi" th:value="${entryMap != null} ? ${entryMap['soi']} : ''">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road" placeholder=""  value="" name="road" th:value="${entryMap != null} ? ${entryMap['road']} : ''">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==entryMap['provinceId']}"
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel" placeholder=""  value="" name="tel" th:value="${entryMap != null} ? ${entryMap['tel']} : ''">
                  </div>
                  
                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax" placeholder=""  value="" name="fax" th:value="${entryMap != null} ? ${entryMap['fax']} : ''">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">e-mail</label>
                    <input type="text" class="form-control edit" id="email" placeholder=""  value="" name="email" th:value="${entryMap != null} ? ${entryMap['email']} : ''">
                  </div>
              </div>
          </div>
            <br>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : มีความประสงค์ยื่นขออนุญาตพร้อมเอกสาร </h3>
<!--               <h4 class="title">ให้ทำเครื่องหมาย <input type="checkbox" checked=""> หน้าข้อที่ต้องการและระบุลักษณะของกิจการที่ขออนุญาต</h4>    -->  
              <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="requestTypeId" id="requestTypeId" value="" th:value="${requestTypeId}" checked>
                      	<input type="hidden" name="requestName" id="requestName" value="" th:value="${requestName}"/>
                        <label for="" class="control-label center" th:text="${requestTypeName + ' ' + requestName}"></label>
                        <div id="s1" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose1" value="" id="vs1"><br>
                        <input type="file" name="file_purpose1" class="well well-sm" id="fs1">
                       </div>
                      </div>
                  </div>
                 
              </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</h3>
            <div class="form-horizontal striped">			
              <div class="form-group">
              	 <div class="col-sm-6">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                    <input type="text" class="form-control edit" id="place_service" placeholder=""  name="place_service" th:value="${company != null} ? ${company.companyName} : ''">
                  </div>
                  <div class="col-sm-2">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="numhome_service" placeholder="" name="numhome_service" th:value="${company != null} ? ${company.addressNo} : ''">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="moo_service" placeholder="" name="moo_service" th:value="${company != null} ? ${company.moo} : ''">
                  </div>
                  <div class="col-sm-2">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="soi_service" placeholder="" name="soi_service" th:value="${company != null} ? ${company.soi} : ''">
                  </div>
                  
                  </div>

              	<div class="form-group">
              	<div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="road_service" placeholder="" name="road_service" th:value="${company != null} ? ${company.street} : ''">
                  </div>
                  <div class="col-sm-3">
                  <input type="hidden" name='dataedit' id='dataedit' value='dataedit' >
                    <label for="" class="control-label right">จังหวัด</label>
                    	<select name="province_service" th:field="*{company.provinceId}"  id="province_service" class="form-control edit" onChange="getAmphur1(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"
                            	th:selected="${province.provinceId==company.provinceId}" 
                            	/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
                    	<select name="aumphur_service" id="aumphur_service" class="form-control edit" onChange="getTambon1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ตำบล/แขวง</label>
                    	<select name="tumbon_service" id="tumbon_service" class="form-control edit" onChange="getZipcode1(this.value);">
                         	<option value="">- เลือก -</option>
                        </select>
                  </div>
              </div>
              <div class="form-group">
              	   <div class="col-sm-2">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                     <input type="text" class="form-control edit" id="zipcode_service" placeholder="" name="zipcode_service" th:value="${company != null} ? ${company.zipcode} : ''" readonly>
                  </div>
                  <div class="col-sm-5">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit textTelephone" id="tel__service" placeholder=""  name="tel__service" th:value="${company != null} ? ${company.telephone} : ''">
                  </div>
                  
                  <div class="col-sm-5">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit textFax" id="fax_service" placeholder=""  name="fax_service" th:value="${company != null} ? ${company.fax} : ''">
                  </div>
              </div>
              <div class="form-group">
                   <div class="col-sm-6">
                    <label for="" class="control-label right">ไปรษณีย์อิเลคทรอนิคส์(อีเมล์)</label>
                    <input type="text" class="form-control edit" id="email_service" placeholder=""  name="email_service" th:value="${company != null} ? ${company.email} : ''">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">ประเภทธุรกิจ</label>
                    <input type="text" class="form-control edit" id="type_service" placeholder=""  name="type_service" th:value="${entryMap != null} ? ${entryMap['type_service']} : ''">
                  </div>
              </div>

          </div>
                       
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-3" type="button" class="btn btn-custom-next" href="form.html#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade " id="tap4">
          <h3 class="title">ส่วนที่ 4 : ช่องทางที่ต้องการให้แจ้งผลการพิจารณา</h3>
              <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c11">
                        <label for="" class="control-label center">ทางอีเมล์ </label>
                        <input type="text" class="form-control edit" placeholder="โปรดระบุอีเมล์" name="result_channel1" value="" id="result_channel1" th:value="${entryMap != null} ? ${entryMap['result_channel1']} : ''" style="display: none;">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c12">
                        <label for="" class="control-label " value="ทางไปรษณีย์ลงทะเบียนตอบรับ" name="result_channel2"> ทางไปรษณีย์ลงทะเบียนตอบรับ </label><br>
                        <div class="alert alert-warning" role="alert" id="s12" style="display: none;">
                        	 โปรดแนบซองจดหมายและใบตอบรับในประเทศของไปรษณีย์ (ใบเหลือง) <br> พร้อมกรอกชื่อที่อยู่ของผู้ขออนุญาตบนหน้าซองและในชองผู้รับในใบตอบรับ และสอดแสตมป E 21 บาท) 
						</div>
                      </div>
                  </div>
              </div> 
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-3" type="button" class="btn btn-custom-prev" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
			<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
			<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
			<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
			<input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
            <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
          </div>
        </div>
      </div>
  </div>
  
</form>
  
 <div th:replace="common-officer/footer :: common-footer">
</body>


<script type="text/javascript">
$(document).ready(function () {

	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');  
        	$('#vs1').focus();  
        	$("#fs1").prop('',true);
        }else { 
        	$('#s1').css('display','none'); 
        	$('#vs1').val('');
        	$("#fs1").prop('',false); 
        }     
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');  
        	$('#vs2').focus();  
        	$("#fs2").prop('',true);
        }else { 
        	$('#s2').css('display','none'); 
        	$('#vs2').val('');
        	$("#fs2").prop('',false); 
        }     
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');  
        	$('#vs3').focus();  
        	$("#fs3").prop('',true);
        }else { 
        	$('#s3').css('display','none'); 
        	$('#vs3').val('');
        	$("#fs3").prop('',false); 
        }     
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');  
        	$('#vs4').focus();  
        	$("#fs4").prop('',true);
        }else { 
        	$('#s4').css('display','none'); 
        	$('#vs4').val('');
        	$("#fs4").prop('',false); 
        }     
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');  
        	$('#vs5').focus();  
        	$("#fs5").prop('',true);
        }else { 
        	$('#s5').css('display','none'); 
        	$('#vs5').val('');
        	$("#fs5").prop('',false); 
        }     
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');  
        	$('#vs6').focus();  
        	$("#fs6").prop('',true);
        }else { 
        	$('#s6').css('display','none'); 
        	$('#vs6').val('');
        	$("#fs6").prop('',false); 
        }     
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');  
        	$('#vs7').focus();  
        	$("#fs7").prop('',true);
        }else { 
        	$('#s7').css('display','none'); 
        	$('#vs7').val('');
        	$("#fs7").prop('',false); 
        }     
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');  
        	$('#vs8').focus();  
        	$("#fs8").prop('',true);
        }else { 
        	$('#s8').css('display','none'); 
        	$('#vs8').val('');
        	$("#fs8").prop('',false); 
        }     
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');  
        	$('#vs9').focus();  
        	$("#fs9").prop('',true);
        }else { 
        	$('#s9').css('display','none'); 
        	$('#vs9').val('');
        	$("#fs9").prop('',false); 
        }     
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');  
        	$('#vs10').focus();  
        	$("#fs10").prop('',true);
        }else { 
        	$('#s10').css('display','none'); 
        	$('#vs10').val('');
        	$("#fs10").prop('',false); 
        }     
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');  
        	$('#s11').focus();
        	$("#s11").prop('',true);  
        }else { 
        	$('#s11').css('display','none'); 
        	$('#s11').val(''); 
        	$("#s11").prop('',false); 
        }     
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');  
        }else { 
        	$('#s12').css('display','none');
        }     
      });


  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
</script>

</html>