<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#" th:href="@{/user/dashboard}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">สพพ.1</h2>
    <h3 class="text-center"><u>แบบนำเรียนอธิบดีกรมธุกิจพลังงาน สำหรับคู่มือที่สถาบันพัฒนาเทคนิคพลังงานรับผิดชอบ</u></h3>

    <form action="#" th:action="@{/form/submission}" th:object="${greeting}" method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 เรียน อธิบดีกรมธุรกิจพลังงาน </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 16px 0px;">2 มีความประสงค์ยื่นขออนุญาต <br /> พร้อมเอกสาร </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3">
          <a href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 ชื่อสถานประกอบกิจการ <br /> สถานที่ทำงาน </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-4">
          <a href="form.html#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 16px 0px;">4 ช่องทางที่ต้องการให้แจ้ง <br /> ผลการพิจารณา</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : เรียน อธิบดีกรมธุรกิจพลังงาน</h3>
            <div class="form-horizontal">
                  <div class="form-group">
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">คำนำหน้า</label>
									<select name="bla" id="bla" class="form-control edit">
                         				<option value="0">- เลือก -</option>
                         				<option value="1">นาย</option>
                         				<option value="2">นาง</option>
                         				<option value="3">นางสาว</option>
                         				<option value="4">อื่นๆ</option>
                         			</select>
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">ชื่อ</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">นามสกุล</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
                  </div>
              	 <div class="col-sm-3">
                    <label for="" class="control-label center">บัตรประชาชนเลขที่</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value=""  name="idcard">
                  </div>
                  </div>
              </div>
          <div class="form-horizontal">
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value="" name="numberhome">
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="" placeholder="" value="" name="moo">
                  </div>
                  <div class="col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="soi">
                  </div>
                  <div class="col-sm-4">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="" placeholder=""  value="" name="road">
                  </div>
                </div>

              	<div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
						<select name="provinceId" id="provinceId" class="form-control edit" onChange="getAmphur(this.value);">
                         	<option value="">- เลือก -</option>
                         	<option th:each="province : ${lProvinceBean}"
                            	th:value="${province.provinceId}"
                            	th:utext="${province.provinceName}"/>
                  		</select>
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
									<select name="amphurId" id="amphurId" class="form-control edit" onChange="getTambon(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
									<select name="districtId" id="districtId" class="form-control edit" onChange="getZipcode(this.value);">
                         				<option value="">- เลือก -</option>
                         			</select>
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="zipcodeId" name="zipcodeId" readonly>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value="" name="tel">
                  </div>

                  <div class="col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value="" name="fax">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">e-mail</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  value="" name="email">
                  </div>
              </div>
          </div>
            <br>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : มีความประสงค์ยื่นขออนุญาตพร้อมเอกสาร </h3>
              <h4 class="title">ให้ทำเครื่องหมาย <input type="checkbox" checked=""> หน้าข้อที่ต้องการและระบุลักษณะของกิจการที่ขออนุญาต</h4>
              <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c1">
                        <label for="" class="control-label center">ขอใบรับรองเป็นวิศวกรทดสอบและตรวจสอบ </label>
                        <div id="s1" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose1" value="" id="vs1"><br>
                        <input type="file" name="file_purpose1" class="well well-sm" id="fs1">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c2">
                        <label for="" class="control-label center">ขอเพิ่มเติมรายชื่อบุคลากร ของผู้ทดสอบและตรวจสอบ </label>
                       <div id="s2" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose2" value="" id="vs2"><br>
                        <input type="file" name="file_purpose2" class="well well-sm" id="fs2">
                       </div>
                     </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c3">
                        <label for="" class="control-label center">ขอเป็นวิทยากรฝึกอบรม  </label>
                         <div id="s3" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose3" value="" id="vs3"><br>
                        <input type="file" name="file_purpose3" class="well well-sm" id="fs3">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c4">
                        <label for="" class="control-label center">ขอเป็นผู้ปฏิบัติงานก๊าซธรรมชาติ </label>
                        <div id="s4" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose4" value="" id="vs4"><br>
                        <input type="file" name="file_purpose4" class="well well-sm" id="fs4">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c5">
                        <label for="" class="control-label center">ขอเป็นผู้ปฏิบัติงานก๊าซปิโตรเลียมเหลว </label>
                         <div id="s5" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose5" value="" id="vs5"><br>
                        <input type="file" name="file_purpose5" class="well well-sm" id="fs5">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c6">
                        <label for="" class="control-label center">ขอเป็นผู้ปฏิบัติงานน้ำมัน  </label>
                        <div id="s6" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose6" value="" id="vs6"><br>
                        <input type="file" name="file_purpose6" class="well well-sm" id="fs6">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c7">
                        <label for="" class="control-label center">ขอเป็นวิศวกรออกแบบ  </label>
                         <div id="s7" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose7" value="" id="vs7"><br>
                        <input type="file" name="file_purpose7" class="well well-sm" id="fs7">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c8">
                        <label for="" class="control-label center">ขอเป็นผู้ตรวจสอบระบบไฟฟ้า  </label>
                         <div id="s8" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose8" value="" id="vs8"><br>
                        <input type="file" name="file_purpose8" class="well well-sm" id="fs8">
                       </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c9">
                        <label for="" class="control-label center">ขอยื่นเอกสารเพิ่มเติม เพื่อประกอบการพิจาณา </label>
                         <div id="s9" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose9" value="" id="vs9"><br>
                        <input type="file" name="file_purpose9" class="well well-sm" id="fs9">
                       </div>
                      </div>
                  </div>
                   <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c10">
                        <label for="" class="control-label center">อื่นๆ   </label>
                         <div id="s10" style="display: none;">
                        <input type="text" class="form-control edit"  name="purpose10" value="" id="vs10"><br>
                        <input type="file" name="file_purpose10" class="well well-sm" id="fs10">
                       </div>
                      </div>
                  </div>


              </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</h3>
            <div class="form-horizontal striped">
              <div class="form-group">
              	 <div class="col-sm-6">
                    <label for="" class="control-label center">ชื่อสถานประกอบกิจการ/สถานที่ทำงาน</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="place_service">
                  </div>
                  <div class="col-sm-2">
                    <label for="" class="control-label center">ตั้งอยู่เลขที่</label>
                    <input type="text" class="form-control edit" id="" placeholder="" name="numhome_service" >
                  </div>
                   <div class="col-sm-2">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" id="" placeholder="" name="moo_service">
                  </div>
                  <div class="col-sm-2">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" id="" placeholder="" name="soi_service">
                  </div>

                  </div>

              	<div class="form-group">
              	<div class="col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" id="" placeholder="" name="road_service">
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
                    <input type="text" class="form-control edit" id="" placeholder="" name="tumbon_service">
                  </div>
             	 <div class="col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="aumphur_service">
                  </div>
                  <div class="col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="province_service">
                  </div>
              </div>
              <div class="form-group">
              	   <div class="col-sm-2">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="zipcode_service">
                  </div>
                  <div class="col-sm-5">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="tel__service">
                  </div>

                  <div class="col-sm-5">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="fax_service">
                  </div>
              </div>
              <div class="form-group">
                   <div class="col-sm-6">
                    <label for="" class="control-label right">ไปรษณีย์อิเลคทรอนิคส์(อีเมล์)</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="email_service">
                  </div>
                   <div class="col-sm-6">
                    <label for="" class="control-label right">ประเภทธุรกิจ</label>
                    <input type="text" class="form-control edit" id="" placeholder=""  name="type_service">
                  </div>
              </div>

          </div>

          <hr>
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-3" type="button" class="btn btn-custom-next" href="form.html#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade " id="tap4">
          <h3 class="title">ส่วนที่ 4 : ช่องทางที่ต้องการให้แจ้งผลการพิจารณา</h3>
              <div class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c11">
                        <label for="" class="control-label center">ทางอีเมล์ </label>
                        <input type="text" class="form-control edit" placeholder="โปรดระบุอีเมล์" name="result_channel1" value="" id="s11" style="display: none;">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                      	<input type="checkbox" name="" id="c12">
                        <label for="" class="control-label " value="ทางไปรษณีย์ลงทะเบียนตอบรับ" name="result_channel2"> ทางไปรษณีย์ลงทะเบียนตอบรับ </label><br>
                        <div class="alert alert-warning" role="alert" id="s12" style="display: none;">
                        	 โปรดแนบซองจดหมายและใบตอบรับในประเทศของไปรษณีย์ (ใบเหลือง) <br> พร้อมกรอกชื่อที่อยู่ของผู้ขออนุญาตบนหน้าซองและในชองผู้รับในใบตอบรับ และสอดแสตมป E 21 บาท)
						</div>
                      </div>
                  </div>
              </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-3" type="button" class="btn btn-custom-prev" href="form.html#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
			<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input  id="submit" type="submit" class="btn btn-custom-confirm" value="ส่ง"/>
          </div>
        </div>
      </div>
  </div>

</form>

  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {

	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('required',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('required',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('required',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('required',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('required',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('required',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('required',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('required',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('required',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('required',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });


  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {

	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');

	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');

	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>
