<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <form method="POST" action="#" th:action="@{/form/submission}" enctype="multipart/form-data">
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">สธช. /ฟ.1/1</h2>
    <h3 class="text-center"><u>คำขอใบรับรอง หรือขอต่ออายุผู้ตรวจสอบระบบไฟฟ้าบุคคล/นิติบุคคล สถานที่ใช้ก๊าซธรรมชาติ</u></h3>
         <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit " value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="date" name="dateat" class="form-control edit" value="" id="theDate">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลเกี่ยวกับ<br /> รับหนังสือรับรอง </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 เอกสารหลักฐานที่ใช้ประกอบคำ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>
       
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลเกี่ยวกับ</h3>
             <div class="form-horizontal">
                  <div class="row">
              
                      
                      <div class="col-12 col-sm-9">
                      	<label  class="control-label center">ชื่อ</label>
                        <input type="text" name="fname" class="form-control edit" required="required">
                      </div>
                      
                      <div class="col-12 col-sm-3">
                      <label  class="col-sm-1 control-label center">อายุ</label>
                       <input type="text" name="age" class="form-control edit"  required="required">
                   	  </div>

                      
                      <div class="col-12 col-sm-6">
                      <label  class="control-label text-left">มีความประสงค์ขอ</label>
                          <input type="text" class="form-control edit" name="Purpose"  required="required" >
                      </div>
                         
                      <div class="col-12 col-sm-6">
                      <label  class="control-label text-left">เป็นผู้ตรวจสอบระบบไฟฟ้าประเภท</label>
                          <input type="text" class="form-control edit" name="Typee" required="required">
                      </div>
              	 <div class="col-12 col-sm-12">
                    <label for="" class="control-label center">บัตรประชาชนเลขที่</label>
                    <input type="text" name="peopleid" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">ที่อยู่เลขที่</label>
                    <input type="text" name="homeid" class="form-control edit" required="required">
                  </div>
                   <div class="col-6 col-sm-3">
                  <label for="" class="control-label center">หมู่ที่</label>
                      <input type="text" name="moo" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                  <label for="" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" name="trock" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                  <label for="" class="control-label center">ถนน</label>
                      <input type="text" name="road" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label right">ตำบล/แขวง</label>
                    <input type="text" name="tombon" class="form-control edit" required="required">
                  </div>
             	 <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">อำเภอ/เขต</label>
                    <input type="text" name="amper" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">จังหวัด</label>
                    <input type="text" name="province" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" name="postid" class="form-control edit" required="required">
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label right">โทรศัพท์</label>
                    <input type="text" name="phone" class="form-control edit" required="required">
                  </div>
                  
                  <div class="col-6 col-sm-3">
                    <label for="" class="control-label center">โทรสาร</label>
                    <input type="text" name="fax" class="form-control edit" required="required">
                  </div>
                   <div class="col-6 col-sm-3">
                    <label for="" class="control-label right">e-mail</label>
                    <input type="text" name="email" class="form-control edit" required="required">
                  </div>
              </div>
       
        <div class="form-group">
            <label  class="control-label" style="text-align: left;">ขอรับรองว่าข้าพเจ้ามีคุณสมบัติครบถ้วน ตามประกาศกรมธุรกิจพลังงาน เรื่อง การกำหนดบริเวณอันตราย อุปกรณ์ไฟฟ้า มาตรฐานขั้นต่ำระบบไฟฟ้า การตรวจสอบ และการออกหนังสือรับรองให้ผู้ตรวจสอบพ.ศ.2550 ประกาศ ณ วันที่ 7 พฤศจิกายน พ.ศ.2550</label>
       
              </div>
                
             
              
          </div>
         
            <br>
   
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="form.html#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : เอกสารหลักฐานที่ใช้ประกอบคำ</h3>
             <h4 class="title">1. เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้า</h4>
              <div class="form-horizontal">
              <div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_1" class=" well well-sm" value="" >
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ถาพถ่ายบัตรประจำตัวประชาชน</label>
					</div>
				</div>
  			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_2" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ภาพถ่ายสำเนาทะเบียนบ้าน</label>
					</div>
				</div>
			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_3" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ภาพถ่ายวุฒิบัตรการศึกษา</label>
					</div>
				</div>
   			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_4" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หนังสือรับรองการทำงาน หรือรับรองการมีประสบการณ์</label>
					</div>
				</div>
			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_5" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ภาะถ่ายใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม</label>
					</div>
				</div>
			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_6" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ใบรับรองแพทย์</label>
					</div>
				</div>
    		<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_7" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หลักฐานแสดงกรรมสิทธิ์ที่ตั้งของสำนักงาน และแผนผังที่ตั้ง</label>
					</div>
				</div>
			<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached1_8" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หลักฐานแสดงกรรมสิทธ์ หรือสิทธิ์ในการใช้เครื่องมือทดสอบ และตรวจสอบ พร้อมใบรับรองการตรวจสอบความเที่ยงตรง</label>
					</div>
				</div>
    <label > ตามมาตรฐานสากลตามระยะเวลาที่กำหนด </label><br>
     
    
              </div>
              <h4 class="title">2. เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้านิติบุคคล</h4>
              <div class="form-horizontal">
            
   				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_11" class=" well well-sm" value="">
					</div>
					<div class="col-sm-3">
						<label for="inputEmail3" class="control-label left"> หนังสือรับรองการจดทะเบียนเป็นนิติบุคคล ทะเบียนเลขที่</label>
					</div>
					<div class="col-sm-5">
						<input type="text" name="doc_attached2_11_txt" class="form-control edit" placeholder=""/>
       				</div>
				</div>
    
			    <div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_2" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> แผนที่ตั้งสํานักงาน   </label>
					</div>
				</div>
 				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_3" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ภาพถ่ายบัตรประจําตัวประชาชนผู้มีอํานาจลงนาม  </label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_4" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> ภาพถ่ายใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุมของวิศวกรปฏิบัติงานให้นิติบุคคล  </label>
					</div>
				</div>
   				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_5" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หนังสือมอบอํานาจพร้อมภาพถ่ายบัตรประจําตัวประชาชนของผู้มอบอํานาจและผู้รับมอบอํานาจ</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_6" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4">
						<input type="file" name="doc_attached2_7" class=" well well-sm" value="">
					</div>
					<div class="col-sm-8">
					<label for="inputEmail3" class="control-label left"> หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือตรวจสอบ พร้อมใบรับรองการตรวจสอบ  ความเที่ยงตรงตามมาตรฐานสากลตามระยะเวลาที่กําหนด </label>
					</div>
				</div>
    
   
             </div>
              <br>
           
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <button  type="submit" class="btn btn-custom-next">บันทึก</button>
          </div>
        </div>
  
      </div>
  </div>
  </form>
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});


</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>