<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../dashboard/index.php">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">ข. 1</h2>
    <h3 class="text-center"><u>คำขอเป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม<br>ถังเก็บก๊าซและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซ และอุปกรณ์</u></h3>
      <form onsubmit="return checkCheckBoxes(this);" method="post" action="#" th:action="@{/form/submission}" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" class="form-control form-control-edit" name="write_at_tester" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" id="theDate" class="form-control form-control-edit" value="" disabled>
              </div>
            </div>
          </div>
        </div>
    
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
        <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">1 ข้อมูลคำขอ</a>
        </li>

        <li role="presentation" class="tab-edit" id="nav-2">
        <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">2 ข้อมูลจดทะเบียน</a>
        </li>

        <li role="presentation" class="tab-edit" id="nav-3">
        <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">3 เอกสารหลักฐานที่ใช้ประกอบคำขอ</a>
        </li>

       
        
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div action="#" class="form-inline mt-40">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลคำขอ</h3>
            <div class="form-group mt-20">
              <label>ข้าพเจ้า</label><input type="text" class="form-control form-control-edit" name="name_tester" style="width:222px;">
              <label>ผู้ลงลายมือชื่อข้างท้ายนี้ ขอยื่นคำขอในนามของ</label><input type="text" class="form-control form-control-edit text-center" name="namesend_tester" style="width:222px;">
            </div>
            <div class="form-group mt-20">
              <label>เพื่อขอรับใบรับรองเป็นผู้ทดสอบและตรวจสอบประเภทที่</label><input type="text" class="form-control form-control-edit text-center" required name="type__tester"  style="width:250px;">
            <label>ตามประกาศกรมธุรกิจพลังงาน</label>
            </div>
            <div class="form-group mt-20">
              <label> เรื่อง คุณสมบัติและคุณวุฒิของผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายแก๊ซ ถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์ </label>
            </div>
            <div class="form-group mt-20">
              <label>และการออกใบรับรองให้เป็นผู้ทดสอบและตรวจสอบ ลงวันที่</label><input type="date" class="form-control form-control-edit" name="datetester" style="width:150px;">
             <label>และขอแจ้งรายละเอียดเพื่อประกอบการพิจารณา</label>
            </div>
            <div class="form-group mt-20">
              <label>ดังต่อไปนี้</label>
            </div>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
            <hr>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <div action="#" class="form-horizontal">
             <h3 class="title">ส่วนที่ 1 : ข้อมูลจดทะเบียน</h3>
             <div class="form-horizontal">
                  <div class="row">
            <div class="col-12 col-sm-4">
              <label>ชื่อผู้ทดสอบ</label><br/>
              <input type="text" class="form-control-edit" name="namecheck_tester" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">เขียนเป็นตัวอักษรโรมันว่า</label>
              <input type="text" class="form-control-edit" name="roman_tester" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-4">
              <label class="text-left">และเขียนเป็นภาษาจีนว่า</label>
              <input type="text" class="form-control-edit" name="china_tester" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12">
              <label>จดทะเบียนประกอบธุรกิจในประเทศไทยเป็น</label>
              <input type="text" class="form-control-edit" name="register_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
              <label class="text-left">ณ หอทะเบียน</label><br/>
              <input type="text" class="form-control-edit" name="placeregister_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
              <label class="text-left">เลขที่ทะเบียนที่</label><br/>
              <input type="text" class="form-control-edit" name="num_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
              <label class="text-left">ลงวันที่</label><br/>
              <input type="date" class="form-control-edit" name="datenum_tester" style="width: 100%;">
            </div>
             <div class="col-12 col-sm-12">
              <label>จดทะเบียนพาณิชย์ในประเทศไว้ ณ สำนักงานทะเบียนพาณิชย์</label><br/>
              <input type="text" class="form-control-edit" name="office_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
              <label class="text-left">เลขที่ทะเบียนที่</label><br/>
              <input type="text" class="form-control-edit" name="numofficer_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
              <label class="text-left">ลงวันที่</label><br/>
              <input type="date" class="form-control-edit" name="date_office_tester" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-4">
            </div>
            </div>
            <div class="row">
            <div class="col-12 col-sm-12">
              <label>วัตถุประสงค์ที่ระบุไว้ในทะเบียนมีดังนี้</label><br/>
              <input type="text" class="form-control-edit" name="wishing_tester" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12">
              <label>มีเงินทุนตามที่จดทะเบียนดังนี้</label>
            </div>
            <div class="col-6 col-sm-6">
              <label>จำนวนเงินทุนที่จดทะเบียน</label><br/>
              <input type="text" class="form-control-edit" name="amount_register" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-6">
              <label>จำนวนเงินทุนที่ชำระแล้ว</label><br/>
              <input type="text" class="form-control-edit" name="payment_regiter" style="width: 100%;">
            </div>
            <div class="col-12 col-sm-12">
              <label>ทำประกันภัยคุ้มครองต่อชีวิต ร่างกายและทรัพย์สินของบุคคลอื่น สันสืบเนื่องมาจากการดำเนินการของผู้ทดสอบและตรวจสอบดังนี้</label>
            </div>
            <div class="col-6 col-sm-6">
              <label> จำนวนเงินที่คุ้มครองต่อชีวิตและร่างกาย</label><br>
              <input type="text" class="form-control-edit" name="anount_person" placeholder="%(person)" >/<input type="text" class="form-control-edit" name="amount_accident" placeholder="Amount accident" >
            </div>
            <div class="col-6 col-sm-6">
              <label>จำนวนเงินที่คุ้มครองต่อทรัพย์สิน</label><br/>
              <input type="text" class="form-control-edit"  name="amount_asset" style="width: 100%;">
            </div>
            <div class="col-6 col-sm-3">
              <label>สำนักงานตั้งอยู่เลขที่</label><br/>
              <input type="text" class="form-control-edit"  name="office_numhome" >
            </div>
            <div class="col-6 col-sm-3">
              <label>ตรอก/ซอย</label>
              <input type="text" class="form-control-edit"  name="office_soi">
            </div>
            <div class="col-6 col-sm-3">
              <label>ถนน</label>
              <input type="text" class="form-control-edit"  name="office_road">
            </div>
            <div class="col-6 col-sm-3">
              <label>ตำบล/แขวง</label>
              <input type="text" class="form-control-edit" name="office_tumbon">
            </div>
            <div class="col-6 col-sm-3">
              <label>อำเภอ/เขต</label>
              <input type="text" class="form-control-edit" name="office_auphur">
            </div>
            <div class="col-6 col-sm-3">
              <label>จังหวัด</label>
              <input type="text" class="form-control-edit" name="office_province">
            </div>
            <div class="col-6 col-sm-3">
              <label>โทรศัพท์</label>
              <input type="text" class="form-control-edit" name="office_tel">
            </div>
             <div class="col-6 col-sm-3">
             </div>
            <div class="col-12 col-sm-12">
              <label>เคยถูกสั่งเพิกถอนใบรับรองให้เป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายก๊าซถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์ รวม(ครั้ง)</label>
            
           
            <input type="text" class="form-control-edit" name="systemsend_num">
            </div>
            <div class="col-12 col-sm-12">
              <label>เคยถูกสั่งเพิกถอนใบรับรองให้เป็นผู้ทดสอบและตรวจสอบถังก๊าซหุงต้ม ถังเก็บและจ่ายก๊าซ ถังขนส่งก๊าซ ระบบท่อก๊าซและอุปกรณ์มาก่อน รวม(ครั้ง)</label>
              <input type="text" class="form-control-edit" name="systemsum_num">
            </div>
            <div class="col-12 col-sm-6">
              <label>ไม่ได้เป็นผู้ผลิตถังก๊าซหุงต้มหรือถังเก็บและจ่ายก๊าซ หรือถังขนส่งก็าซ</label>
              <input type="text" class="form-control-edit" name="">
            </div>
            <div class="col-12 col-sm-6">
              <label>มีเครื่องมือทดสอบและตรวจสอบ ตามบัญชีแนบคำขอ</label>
               <input type="text" class="form-control-edit" name="">
            </div>
            <div class="col-12 col-sm-12">
              <label>มีพนักงานซึ่งรับเงินเดือนดังนี้</label>
            </div>
            <div class="col-12 col-sm-6">
              <label>ฝ่ายธุรการ จำนวน(คน)</label> <br/>
              <input type="text" class="form-control-edit" name="admin_num" >
            </div>
            <div class="col-12 col-sm-6">
              <label>ฝ่ายทดสอบและตรวจสอบ จำนวน(คน)</label> <br/>
              <input type="text" class="form-control-edit"  name="check_num" >
            </div>
            <div class="col-12 col-sm-12">
              <label>มีผู้ปฎิบัติงานวิชาการด้านการทดสอบและตรวจสอบที่เป็นลูกจ้างประจำและปฎิบัติงานเพียงแห่งเดียว ดังนี้</label>
            </div>
            <div class="col-12 col-sm-12">
              <label>หัวหน้าควบคุมการทดสอบ ซึ่งมีรายชื่อและรายละเอียดที่แนบคำขอ</label><br>
              <input type="file" name="file_tester14" class=" well well-sm">
            </div>
            <div class="col-612 col-sm-12">
              <label>วิศวกรทดสอบ ซึ่งมีรายชื่อและรายละเอียดที่แนบคำขอ</label><br>
              <input type="file" name="file_tester15" class=" well well-sm" >
            </div>
            <div class="col-12 col-sm-12">
              <label>ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ซึ่งมีรายชื่อและรายละเอียดที่แนบคำขอ</label>
              <input type="file" name="file_tester16" class=" well well-sm"><br>
            </div>
            <div class="col-12 col-sm-12">
              <label>มีตราสำคัญสำหรับใช้ประทับเอกสารดังนี้</label><br/>
              <input type="text" class="form-control-edit" style="width:100%;" name="detail_tester">
            </div>
            </div>
            </div>
            <hr>
            <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
          </div>
          </div>
        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้แนบ</h3>
                        <div class="form-horizontal striped">
							<div class="form-group">
								<div class="col-12 col-sm-12">
									<label for="file_tester1" class="control-label left">มีเครื่องหมายทดสอบและตรวจสอบที่แนบมา จำนวน ๓ ชุด </label><br>
									<input type="file" name="file_tester1" class=" well well-sm">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester2" class="control-label left">ได้แนบเอกสารต่อไปนี้มาเพื่อประกอบคำขอด้วยแล้ว จำนวน ๓ ชุด </label>
									<input type="file" name="file_tester2" class=" well well-sm">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester3" class="control-label left">หลักฐานการจดทะเบียนนิติบุคคล</label>
									<input type="file" name="file_tester3" class=" well well-sm">
									
								</div>
								
							
								<div class="col-12 col-sm-12">
									<label for="file_tester4" class="control-label left">รายชื่อกรรมการผู้มีอำนาจลงชื่อแทนบริษัท หรือซื้อหุ้นส่วนผู้จัดการ</label>
									<input type="file" class=" well well-sm" name="file_tester4">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester5" class="control-label left">หลักฐานแสดงที่ตั้งสำนักงาน</label>
									<input type="file" class=" well well-sm" name="file_tester5">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester6" class="control-label left">หนังสือบริคณห์สนธิและข้อบังคับของบริษัท</label>
									<input type="file" class=" well well-sm" name="file_tester6">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester7" class="control-label left">บัญชีรายชื่อพนักงานที่ทำหน้าที่ทดสอบและตรวจสอบ ประเภทรับเงินเดือนประจำและประเภทจ้างเป็นครั้งคราว</label>
									<input type="file" class=" well well-sm" name="file_tester7">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester8" class="control-label left">บัญชีรายชื่อผู้ปฎิบัตงานวิชาการด้านการทดสอบและตรวจสอบ</label>
									<input type="file" class=" well well-sm" name="file_tester8">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester9" class="control-label left">หลักฐานการครอบครองสำนักงาน</label>
									<input type="file" class=" well well-sm" name="file_tester9">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester10" class="control-label left">หลักฐานการมีเงินทุน</label>
									<input type="file" class=" well well-sm" name="file_tester10">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester11" class="control-label left">หลักฐานกาทำประกันชีวิต</label>
									<input type="file" class=" well well-sm" name="file_tester11">
								</div>
								<div class="col-12 col-sm-12">
									<label for="file_tester12" class="control-label left">รายชื่อผู้รับผิดชอบในตำแหน่องหน้าที่และกรรมการหรือหุ้นส่วน </label>
									<input type="file" class=" well well-sm" name="file_tester12">
								</div>
								<div class="col-12 col-sm-12">	
									
									<span class="text-danger">* This field is required.</span>
								</div>
								
							</div>
							
                        </div>
      
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab3" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="submit" class="btn btn-custom-confirm" value="ส่ง" />
          </div>
        </div>
      </div>
        </form>
  </div>
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="/policy/disclaimer.pdf" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="/policy/WebPolicy.pdf" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  
  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>

<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>