<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="form.html#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="form.html#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
  <form action="#" th:action="@{/form/submission}" id="frmSubmit" method="POST" enctype="multipart/form-data">
  <div class="box-container mb-50">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">ธช./ฟ.1</h2>
    <h3 class="text-center"><u>คำขอใบรับรอง/ขอต่ออายุเป็นบุคคลธรรมดาผู้ตรวจสอบระบบไฟฟ้า </u></h3>
      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" class="form-control edit form-control edit-edit" value="" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ข้อมูลส่วนตัว </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 ความประสงค์ในการขอ </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-3">
          <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 17px 0px;">3 คำรับรองคุณสมบัติตามแบบ ธช./ฟ.1 </a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ข้อมูลส่วนตัว</h3>
            <div class="form-horizontal">
                   <div class="row">
						<div class="col-6 col-sm-4">
							<label for="name_member" class="control-label">ชื่อ – สกุล</label>
							<input type="text" name="name_member" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-4">
							<label for="identity_no" class="control-label">เลขที่บัตรประชาชน</label>
							<input type="text" name="identity_no" class="form-control edit" required>
						</div>
					
						<div class="col-6 col-sm-4">
							<label for="no_certificate_engineer" class="control-label">ใบประกอบวิชาชีพวิศวกรรมควบคุม เลขที่</label> 
				
							<input type="text" name="no_certificate_engineer" class="form-control edit" required>
						</div>
					</div>	
					</div>
					<h4 class="title">1. ที่อยู่ที่ทำงาน</h4>
					<div class="row">
						<div class="col-6 col-sm-3">
							<label for="no_address_company" class="control-label">เลขที่</label> 
					
							<input type="text" name="no_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="soi_address_company" class="control-label">ตรอก/ซอย</label>
							<input type="text" name="soi_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="road_address_company" class="control-label">ถนน</label>
					
							<input type="text" name="road_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="moo_address_company" class="control-label">หมู่ที่</label>
							<input type="text" name="moo_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="district_address_company" class="control-label">ตำบล/แขวง</label>
						
							<input type="text" name="district_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="amphur_address_company" class="control-label">อำเภอ/เขต</label>
							<input type="text" name="amphur_address_company"  class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="province_address_company" class="control-label">จังหวัด</label> 
						
							<input type="text" name="province_address_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="zipcode_address_company" class="control-label">รหัสไปรษณีย์</label> 
							<input type="text" name="zipcode_address_company"  class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="phone_company" class="control-label">โทรศัพท์</label>  
						
							<input type="text" name="phone_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="fax_company" class="control-label">โทรสาร</label>   
						
							<input type="text" name="fax_company" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="email_company" class="control-label">ไปรษณีย์อิเล็กโทรนิกส์</label>   
						
							<input type="text" name="email_company" class="form-control edit" required>
						</div>
					</div>	
					<h4 class="title">2. ที่อยู่ปัจจุบัน</h4>
					<div class="form-horizontal">
					<div class="row">
						<div class="col-6 col-sm-3">
							<label for="no_address" class="control-label">เลขที่</label>  
					
							<input type="text" name="no_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="soi_address" class="control-label">ตรอก/ซอย</label>  
					
							<input type="text" name="soi_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="moo_address" class="control-label">หมู่ที่</label>  
							<input type="text" name="moo_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="district_address" class="control-label">ตำบล/แขวง</label> 
							<input type="text" name="district_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="amphur_address" class="control-label">อำเภอ/เขต</label> 
							<input type="text" name="amphur_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="province_address" class="control-label">จังหวัด</label>
							<input type="text" name="province_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="zipcode_address" class="control-label">รหัสไปรษณีย์</label>
						
							<input type="text" name="zipcode_address" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="phone" class="control-label">โทรศัพท์</label>
						
							<input type="text" name="phone" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="fax" class="control-label">รหัสโทรสาร</label> 
					
							<input type="text" name="fax" class="form-control edit" required>
						</div>
						<div class="col-6 col-sm-3">
							<label for="email" class="control-label">ไปรษณีย์อิเล็กโทรนิกส์</label> 
					
							<input type="text" name="email" class="form-control edit" required>
						</div>
					</div>	
            </div>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ความประสงค์ในการขอ </h3>
              <div class="form-horizontal">                  
                  <fieldset class = "test1" style="margin-top: 30px;">			
						<p style="margin-left: 30px;" >	
							มีความประสงค์
							<br>
						</p>	
						<div style="margin-left: 90px;">
							<label for="purpose1"> <input type="checkbox" name="purpose1" id="purpose1" value="ขอใบรับรอง"> <span>ขอใบรับรอง</span> </label> <br>
							<label for="purpose2"> <input type="checkbox" name="purpose2" id="purpose2" value="ขอต่ออายุใบอนุญาต"> <span>ขอต่ออายุใบอนุญาต</span> </label> <br>						
						</div>
					</fieldset>
					<fieldset class = "test1" style="margin-top: 30px;">	
						<p>
							โดยข้าพเจ้ามีคุณสมบัติครบถ้วน ตามประกาศกรมธุรกิจพลังงาน เรื่อง ผู้ที่มีคุณสมบัติตรวจสอบและออกหนังสือรับรองระบบไฟฟ้าของสถานีบริการก๊าซธรรมชาติ ประกาศ ณ วันที่ 2 กุมภาพันธ์ พ.ศ. 2550
						</p>
						<p>
							และขอรับรองว่าข้าพเจ้ามีคุณสมบัติครบถ้วนตามคำรับรองคุณสมบัติและได้แนบเอกสารเพื่อเป็นหลักฐานไว้ท้ายคำขอฉบับนี้เรียบร้อยแล้ว
						</p>	
              		</fieldset>
              	</div>
           
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="tap3">
          <h3 class="title">ส่วนที่ 3 : เอกสารหลักฐานที่ใช้ประกอบคาขอรับหนังสือรับรอง (สาหรับนิติบุคคล)</h3>
                        <div class="form-horizontal striped">
							<p style="margin-left: 20px">กรณีขอเป็นผู้ตรวจสอบระบบไฟฟ้า (บุคคลธรรมดา) ข้าพเจ้าขอรับรองว่า ข้าพเจ้ามีคุณสมบัติดังนี้</p>		
							<p style="margin-left: 30px">
								1. ไม่เป็นผู้ที่กระทำผิดจรรยาบรรณในวิชาชีพ<br>
								2. ไม่เป็นผู้ที่ถูกเพิกถอนใบรับรองผู้ตรวจสอบระบบไฟฟ้ารวมกันตั้งแต่ 3 ครั้งขึ้นไป<br>
								3. ไม่เป็นผู้ที่ถูกเพิกถอนใบรับรองผู้ตรวจสอบระบบไฟฟ้าในระหว่างเวลาไม่เกิน 1 ปีหลังจากถูกเพิกถอน<br>
								4. มีอายุไม่ต่ำกว่า 25 ปี<br>
								5. มีความรู้ความชำนาญและประสบการณ์ในการเป็นผู้ตรวจสอบระบบไฟฟ้า<br>
								6. มีใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมประเภทสามัญวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมไฟฟ้า แขนงไฟฟ้ากำลัง<br>
								7. เอกสารที่ยื่นประกอบการพิจารณา<br>
							</p>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_1" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายบัตรประชาชน เลขที่</label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_1_txt" required/> 
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_2" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายสำเนาทะเบียนบ้าน</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_3" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายของข้าพเจ้าขนาด 2.5 x 3 ซม. ที่ถ่ายไว้ไม่เกิน 6 เดือน</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_4" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายวุฒิบัตรการศึกษาและวุฒิบัตรการฝึกอบรม</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_5" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> หนังสือรับรองการทำงานหรือรับรองการมีประสบการณ์</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_6" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> ภาพถ่ายใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม เลขที่</label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_6_txt" required/> 
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_7" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-8">
								<label for="inputEmail3" class="control-label left"> ใบรับรองแพทย์</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<input type="file" name="doc_attached7_8" class=" well well-sm" required/>
									<span class="text-danger">* This field is required.</span>
								</div>
								<div class="col-sm-3">
								<label for="inputEmail3" class="control-label left"> อื่นๆ </label>
								</div>
								<div class="col-sm-5">
									<input class="form-control edit" type="text" name="doc_attached7_8_txt" required/> 
								</div>
							</div>
                        </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="submit" class="btn btn-custom-next" id="btnSubmit"  value="บันทึก">
          </div>
        </div>
      </div>
  </div>
  </form>
  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="form.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="form.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="form.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;background-color:rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" style="width: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">แจ้งเตือนระบบ</h4>
        </div>
        <div class="modal-body">
          <p id="error-modal">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnCloseModal" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
</body>
<style>
	.custom-tab li {
	    height: auto;
	}
</style>
<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#someTab').tab('show');
  $("#btnCloseModal").click(function() {
	  $("#myModal").css("display","none");
	  
  });
  $("#next-1").click(function() {
	  //tab-content
	//alert("AAAAAAA");
	var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab-pane");
	  y = x[0].getElementsByTagName("input");
	  //alert(y.length);
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }
	  }
	 // frmSubmit
	 if(valid == false){
		// alert("1/"+valid);
		 $( "#btnSubmit" ).click();
		 //error-modal
		 //$("#error-modal").html("<center><span style='color:red;'>ไม่สามารถบันทึกข้อมูลได้<br/>กรุณาตรวจสอบข้อมูลให้ครบถ้วน</span></center>");
		 //$("#myModal").css("display","block");
		 //alert("ไม่สามารถบันทึกข้อมูลได้ กรุณาตรวจสอบข้อมูลให้ครบถ้วน");
		 return false;
	 }else{
		 //alert("2/"+valid);
		  $("#nav-1").removeClass('active');
		  $("#nav-2").addClass('active');
	 }
  
  });
  $("#next-2").click(function() {
	  var count = 0;
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab-pane");
	  y = x[1].getElementsByTagName("input");
	  //alert(y.length);
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
	      valid = false;
	    }else{
	    	count++;
	    }
	  }
	 // frmSubmit
	 //alert(count);
	 if(count == 0){
		// alert("1/"+valid);
		// $( "#btnSubmit" ).click();
		 //error-modal
		 $("#error-modal").html("<center><span style='color:red;'>ไม่สามารถบันทึกข้อมูลได้<br/>กรุณาตรวจสอบข้อมูลให้ครบถ้วน</span></center>");
		 //$("#myModal").css("display","block");
		 //alert("ไม่สามารถบันทึกข้อมูลได้ กรุณาตรวจสอบข้อมูลให้ครบถ้วน");
		 return false;
	 }else{
		 //alert("2/"+valid);
		 $("#nav-2").removeClass('active');
		 $("#nav-3").addClass('active');
	 }
    
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });
  
});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {
	
	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');
	
	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');
	
	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>

