<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Energy Business Information System : EBIS</title>
	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="#" th:href="@{/user/dashboard}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="images/user.png" th:src="@{/images/user.png}" alt="User Image">
            <span class="ml-10 hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" class="btn btn-custom-next text-center w-100 fs-XL">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- start content -->
 <div class="box-container mb-50">
  <form action="#" th:action="@{/form/submission}" method="POST"  class="form-inline mt-20"  enctype="multipart/form-data">
    <div class="text-center">
      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center text-header">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
    <hr class="mt-40">
    <h2 class="text-right">ทส.น. 1</h2>
    <h3 class="text-center"><u>คำขอเป็นผู้ทดสอบและตรวจสอบน้ำมัน</u></h3>
      <div class="form-inline mt-20">
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" class="form-control edit form-control edit-edit" name="write_at" value="" id="theDate" disabled>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 ลักษณะการขอ <br /> รับหนังสือรับรอง </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-2">
          <a href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" style="margin: 17px 0px;">2 ข้อมูลเกี่ยวกับ <br /> ผู้ขอรับหนังสือรับรอง </a>
        </li>
				<li role="presentation" class="tab-edit" id="nav-3">
				  <a href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" style="margin: 16px 0px;">3 บัญชีวิศวกร <br /> &nbsp; </a>
				</li>
				<li role="presentation" class="tab-edit" id="nav-4">
				  <a href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab" style="margin: 17px 0px;">4 บัญชีเครื่องมือ <br /> &nbsp; </a>
				</li>
        <li role="presentation" class="tab-edit" id="nav-5">
          <a href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab" style="margin: 17px 0px;">5 เอกสารหลักฐานที่ใช้ประกอบคำ <br /> ขอรับหนังสือรับรอง (สาหรับนิติบุคคล) </a>
        </li>
        <li role="presentation" class="tab-edit" id="nav-6">
          <a href="#tap6" aria-controls="tab6" role="tab" data-toggle="tab" style="margin: 3px 0px;">6 เอกสารหลักฐานผู้ปฏิบัติงานตาม <br /> บัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบ <br /> และตรวจสอบ </a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ 1 : ลักษณะการขอรับหนังสือรับรอง</h3>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-2"><strong>1. ประเภทการขอ</strong></span>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="type_service" id="type_service1" value="ขอใหม่" checked> <span>ขอใหม่</span>
                    </label>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="type_service" id="type_service2" value="ขอต่ออายุ"> <span>ขอต่ออายุ</span>
                    </label>
                    <label class="radio-inline col-md-3">
                        <input type="radio" name="type_service" id="type_service3" value="ขอแก้ไขเปลี่ยนแปลง"> <span>ขอแก้ไขเปลี่ยนแปลง</span>
                    </label>
					<input type="text" style="width: 20%;" class="edit form-control" name="type_service3_a" id="type_service3_a" >
                </div>
            </div>
            <br>
            <div class="row">
                <div id="form-id">
                    <span class="col-md-2"><strong>2. ระดับที่ขอ</strong></span>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service1" value="ระดับที่ ๑" checked> <span>ระดับที่ 1</span>
                    </label>
                    <label class="radio-inline col-md-2">
                        <input type="radio" name="level_service" id="level_service2" value="ระดับที่ ๒"> <span>ระดับที่ 2</span>
                    </label>
                    <label class="radio-inline col-md-3">
                        <input type="radio" name="level_service" id="level_service3" value="ระดับที่ ๓"> <span>ระดับที่ 3</span>
                    </label>
                </div>
            </div>
            <hr>
            <div class="row text-right mt-20">
              <a id="prev" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
              <a id="next-1" type="button" class="btn btn-custom-next" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab">ถัดไป</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tap2">
          <h3 class="title">ส่วนที่ 2 : ข้อมูลเกี่ยวกับผู้ขอรับหนังสือรับรอง</h3>
              <h4 class="title">1. ผู้ขอรับหนังสือรับรอง</h4>
              <div class="form-horizontal">
              <div class="form-group">
              	 <div class="col-sm-3">
                      <label for="name_applicant" class="control-label center">1.1 ชื่อผู้ขอรับหนังสือรับรอง</label>
                      <input type="text" class="form-control edit" name="name_applicant" id="name_applicant" placeholder="นายกรม ธุรกิจพลังงาน">

                  </div>
              	 <div class="col-sm-3">
                    <label for="name_applicant_eng" class="control-label center">ชื่อเป็นภาษาอังกฤษ</label>
                      <input type="text" class="form-control edit" name="name_applicant_eng" id="name_applicant_eng" placeholder="Mr. Kom Tulakitpalangka">
                 </div>
              	 <div class="col-sm-3">
                     <label for="corporate_number" class="control-label text-left">หมายเลขทะเบียนนิติบุคคล</label>

                          <input type="text" class="form-control edit" name="corporate_number" id="corporate_number" placeholder="xxxxxxxxxxxxx">
                     </div>
              	 <div class="col-sm-3">
                    <label for="registered_capital" class="control-label text-left">ทุนจดทะเบียน(บาท)</label>

                          <input type="text" class="form-control edit" name="registered_capital" id="registered_capital" placeholder="3,500,000">
                      </div>
                  </div>
                 </div>
              <br>
              <h4 class="title">2. ที่ตั้งสานักงานใหญ่</h4>
              <div class="form-horizontal">
              <div class="form-group">
              	 <div class="col-sm-3">
                     <label for="inputEmail3" class="control-label center">เลขที่</label>
							<input type="text" class="form-control edit" name="no_address_applicant" id="no_address_applicant" >
                  </div>
              	 <div class="col-sm-3">
                    <label for="inputEmail3" class="control-label center">ห้อง</label>
							<input type="text" class="form-control edit" name="room_address_applicant" id="room_address_applicant" >
                     </div>
              	 <div class="col-sm-3">
                      <label for="inputEmail3" class="control-label center">ชั้น</label>
							<input type="text" class="form-control edit" name="level_address_applicant" id="level_address_applicant" >
                      </div>
              	 <div class="col-sm-3">
                   <label for="inputEmail3" class="control-label center">อาคาร</label>
							<input type="text" class="form-control edit" name="building_address_applicant" id="building_address_applicant" >
                 </div>
                  </div>

                  <div class="row">
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">หมู่ที่</label>
                          <input type="text" class="form-control edit" name="moo_address_applicant" id="moo_address_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">ตรอก/ซอย</label>
                          <input type="text" class="form-control edit" name="soi_address_applicant" id="soi_address_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">ถนน</label>
                          <input type="text" class="form-control edit" name="road_address_applicant" id="road_address_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">

                      </div>
                  </div>

                  <div class="row">
                  <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label right">ตำบล/แขวง</label>
                        <input type="text" class="form-control edit" name="district_applicant" id="id_district" >
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label center">อำเภอ/เขต</label>
                        <input type="text" class="form-control edit" name="area_applicant" id="area_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label center">จังหวัด</label>
                        <input type="text" class="form-control edit" name="province_applicant" id="province_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                        <label for="inputEmail3" class="control-label right">รหัสไปรษณีย์</label>
                        <input type="text" class="form-control edit" name="postcode_applicant" id="postcode_applicant" >
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">โทรศัพท์</label>
                          <input type="text" class="form-control edit" name="phone_applicant" id="phone_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                          <input type="text" class="form-control edit" name="phone_ext_applicant" id="phone_ext_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label center">โทรสาร</label>
                          <input type="text" class="form-control edit" name="fax_applicant" id="fax_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                          <input type="text" class="form-control edit" name="fax_ext_applicant" id="fax_ext_applicant" >
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">โทรศัพท์มือถือ</label>
                          <input type="text" class="form-control edit" name="mobile_applicant" id="mobile_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">e-mail</label>
                          <input type="text" class="form-control edit" name="email_applicant" id="email_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">
                      <label for="inputEmail3" class="control-label right">website</label>
                          <input type="text" class="form-control edit" name="web_applicant" id="web_applicant" >
                      </div>
                      <div class="col-6 col-sm-3">

                      </div>
                  </div>
              </div>
              <br>
              <h4 class="title">3. ผู้รับมอบอานาจ (ถ้ามี)</h4>
              <div class="form-horizontal">
                  <div class="row">
					  <div class="col-6 col-sm-3">
						  <label for="inputEmail3" class="control-label right">คำนำหน้า</label>
                          <input type="text" class="form-control edit" name="prefix_name_recipients" id="prefix_name_recipients" >
                      </div>
					  <div class="col-6 col-sm-3">
						  <label for="inputEmail3" class="control-label right">ชื่อ</label><br/>
                          <input type="text" class="form-control edit" name="name_recipients" id="name_recipients" >
                      </div>
					  <div class="col-6 col-sm-3">
						  <label for="inputEmail3" class="control-label right">นามสกุล</label>
                          <input type="text" class="form-control edit" name="lastname_recipients" id="lastname_recipients" >
                      </div>
                      <div class="col-6 col-sm-3"></div>
                  </div>
              <div class="row">
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">เลขที่</label>
                    <input type="text" class="form-control edit" name="no_address_recipients" id="no_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">ห้อง</label>
                    <input type="text" class="form-control edit" name="room_address_recipients" id="room_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">ชั้น</label><br/>
                    <input type="text" class="form-control edit" name="level_address_recipients" id="level_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">อาคาร</label>
                    <input type="text" class="form-control edit" name="building_address_recipients" id="building_address_recipients" >
                  </div>
              </div>

              <div class="row">
                  <div class="col-6 col-sm-3">
                  <label for="inputEmail3" class="control-label center">หมู่ที่</label>
                      <input type="text" class="form-control edit" name="moo_address_recipients" id="moo_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                  <label for="inputEmail3" class="control-label center">ตรอก/ซอย</label>
                      <input type="text" class="form-control edit" name="soi_address_recipients" id="soi_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                  <label for="inputEmail3" class="control-label center">ถนน</label>
                      <input type="text" class="form-control edit" name="road_address_recipients" id="road_address_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">ตำบล/แขวง</label>
                    <input type="text" class="form-control edit" name="district_recipients" id="district_recipients" >
                  </div>
              </div>

              <div class="row">

                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">อำเภอ/เขต</label>
                    <input type="text" class="form-control edit" name="area_recipients" id="area_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">จังหวัด</label>
                    <input type="text" class="form-control edit" name="province_recipients" id="province_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control edit" name="postcode_recipients" id="postcode_recipients" >
                  </div>
                  <div class="col-6 col-sm-3"></div>
              </div>

              <div class="row">
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit" name="phone_recipients" id="phone_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                    <input type="text" class="form-control edit" name="phone_ext_recipients" id="phone_ext_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit" name="fax_recipients" id="fax_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                    <input type="text" class="form-control edit" name="fax_ext_recipients" id="fax_ext_recipients" >
                  </div>
              </div>

              <div class="row">
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">โทรศัพท์มือถือ</label>
                    <input type="text" class="form-control edit" name="mobile_recipients" id="mobile_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">e-mail</label>
                    <input type="text" class="form-control edit" name="email_recipients" id="email_recipients" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">website</label>
                    <input type="text" class="form-control edit" name="web_recipients" id="web_recipients" >
                  </div>
              </div>
          </div>
          <br>
          <h4 class="title">4. ผู้ติดต่อประสานงาน</h4>
          <div class="form-horizontal">
              <div class="row">
					<div class="col-6 col-sm-3">
						<label for="inputEmail3" class="control-label right">คำนำหน้า</label>
						<input type="text" class="form-control edit" name="prefix_name_coordination" id="prefix_name_coordination" >
					</div>
					<div class="col-6 col-sm-3">
						<label for="inputEmail3" class="control-label right">ชื่อ</label><br/>
						<input type="text" class="form-control edit" name="name_coordination" id="name_coordination" >
					</div>
					<div class="col-6 col-sm-3">
						<label for="inputEmail3" class="control-label right">นามสกุล</label>
						<input type="text" class="form-control edit" name="lastname_coordination" id="lastname_coordination" >
					</div>
              </div>
              <div class="row">
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">โทรศัพท์</label>
                    <input type="text" class="form-control edit" name="phone_coordination" id="phone_coordination" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                    <input type="text" class="form-control edit" name="phone_ext_coordination" id="phone_ext_coordination" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label center">โทรสาร</label>
                    <input type="text" class="form-control edit" name="fax_coordination" id="fax_coordination" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">ต่อ</label><br/>
                    <input type="text" class="form-control edit" name="fax_ext_coordination" id="fax_ext_coordination" >
                  </div>
              </div>

              <div class="row">
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">โทรศัพท์มือถือ</label>
                    <input type="text" class="form-control edit" name="mobile_coordination" id="mobile_coordination" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">e-mail</label>
                    <input type="text" class="form-control edit" name="email_coordination" id="email_coordination" >
                  </div>
                  <div class="col-6 col-sm-3">
                    <label for="inputEmail3" class="control-label right">website</label>
                    <input type="text" class="form-control edit" name="web_coordination" id="web_coordination" >
                  </div>
              </div>
          </div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-1" type="button" class="btn btn-custom-prev" href="#tap1" aria-controls="tab1" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-2" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

			<!-- //#############################################################################- -->
				<div role="tabpanel" class="tab-pane fade" id="tap3">
				  <h3 class="title">ส่วนที่ 3 : บัญชีวิศวกร</h3>
					<div class="form-horizontal">
              <div class="form-group">
              	 <div class="col-sm-3">
                     <label for="formDescription" class="control-label center">เลขวิศวกร</label>
										 <input type="text" class="form-control edit" id="engineerId" name="engineerId" required>
                  </div>
              	 <div class="col-sm-3">
                    <label for="formDescription" class="control-label center">คำนำหน้า</label>
										<input type="text" class="form-control edit" id="title" name="title" required>
                     </div>
              	 <div class="col-sm-3">
                    <label for="formDescription" class="control-label center">ชื่อ&nbsp;&nbsp;</label>
										<input type="text" class="form-control edit" id="firstname" name="firstname" required>
                      </div>
              	 <div class="col-sm-3">
                   <label for="formDescription" class="control-label center">นามสกุล</label>
									 <input type="text" class="form-control edit" id="lastname" name="lastname" required>
                 </div>
							 </div>
	 						<div class="form-group">
								 <div class="col-sm-3">
                   <label for="formDescription" class="control-label center">ประเภท</label>
									 <input type="text" class="form-control edit" id="type" name="type">
                 </div>
							 </div>
							<div class="form-group">
								 <div class="col-sm-3">
                   <label for="formDescription" class="control-label center">DBD_ID</label>
									 <select name="dbdId" id="dbdId" class="form-control edit" required>
										 <option value=""></option>
									 </select>
                 </div>
              	</div>
              </div>
				  <hr>
					<div class="row text-right mt-20">
						<a id="prev" type="button" class="btn btn-custom-prev" href="#tap2" aria-controls="tab2" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
						<a id="next-1" type="button" class="btn btn-custom-next" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>
			<!-- //#############################################################################- -->
				<div role="tabpanel" class="tab-pane fade" id="tap4">
				  <h3 class="title">ส่วนที่ 4 : บัญชื่อเครื่องมือ</h3>
					<div class="form-horizontal">
              <div class="form-group">
              	 <div class="col-sm-4">
                     <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label>
										 <input type="text" class="form-control edit" id="toolName" name="toolName" required>
                  </div>
              	 <div class="col-sm-4">
                    <label for="inputEmail3" class="control-label center">ซีเรียล</label>
										<input type="text" class="form-control edit" id="toolSerial" name="toolSerial" required>
                     </div>
              	 <div class="col-sm-4">
                    <label for="inputEmail3" class="control-label center">ยี่ห้อ</label>
										<input type="text" class="form-control edit" id="toolBrand" name="toolBrand" required>
                      </div>
              	 <div class="col-sm-4">
                   <label for="inputEmail3" class="control-label center">รุ่น</label>
									 <input type="text" class="form-control edit" id="toolModel" name="toolModel">
                 </div>
								 <div class="col-sm-4">
                   <label for="inputEmail3" class="control-label center">รูป</label>
									 <input type="file" class="form-control edit" id="toolPhotoImg" name="toolPhotoImg">
                 </div>
								 <div class="col-sm-4">
                   <label for="inputEmail3" class="control-label center">บริษัท</label>
									 <select name="companyIdstr" id="companyIdstr" class="form-control edit" required>
										 <option value=""></option>
									 </select>
                 </div>
              	</div>
              </div>
				  <hr>
					<div class="row text-right mt-20">
						<a id="prev" type="button" class="btn btn-custom-prev" href="#tap3" aria-controls="tab3" role="tab" data-toggle="tab" disabled>ย้อนกลับ</a>
						<a id="next-1" type="button" class="btn btn-custom-next" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ถัดไป</a>
					</div>
				</div>

				<!-- //#############################################################################- -->


        <div role="tabpanel" class="tab-pane fade" id="tap5">
          <h3 class="title">ส่วนที่ 5 : เอกสารหลักฐานที่ใช้ประกอบคาขอรับหนังสือรับรอง (สาหรับนิติบุคคล)</h3>
					<div class="form-horizontal striped">
						<div class="form-group">
							<div class="col-sm-12">
		                      	<input type="checkbox" name="ch3_1" id="c1">
		                        <label for="" class="control-label center">สำเนาหนังสือรับรองการจดทะเบียนนิติบุคคลที่ออกให้ไม่เกิน 6 เดือน</label>
		                        <div id="s1" style="display: none;">
									<input type="file" name="file_ch3_1" class="well well-sm" id="fs1">
								</div>
							</div>
						</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_2" id="c2">
							<label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน และสำเนาทะเบียนบ้านของผู้ลงนามในคำขอรับหนังสือรับรอง</label>
							<div id="s2" style="display: none;">
								<input type="file" name="file_ch3_2" class="well well-sm" id="fs2">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_3" id="c3">
							<label for="" class="control-label center">หนังสือมอบอำนาจ (ถ้ามี) พร้อมสำเนาบัตรประจำตัวประชาชนของผู้มอบอำนาจ และผู้รับอำนาจ</label>
							<div id="s3" style="display: none;">
								<input type="file" name="file_ch3_3" class="well well-sm" id="fs3">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_4" id="c4">
							<label for="" class="control-label center">สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมตามกฎหมายว่าด้วยวิศวกรของนิติบุคคลผู้ขอรับหนังสือรับรอง</label>
							<div id="s4" style="display: none;">
								<input type="file" name="file_ch3_4" class="well well-sm" id="fs4">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_5" id="c5">
							<label for="" class="control-label center">สำเนาสัญญาประกันภัยหรือกรมธรรม์ประกันภัย  ความรับผิดชอบตามกฎหมาย  เพื่อคุ้มครองต่อชีวิต  ร่างกายและทรัพย์สินของบุคคลอื่น</label>
							<div id="s5" style="display: none;">
								<input type="file" name="file_ch3_5" class="well well-sm" id="fs5">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">

							<label for="" class="control-label left"><input type="checkbox" name="ch3_6" id="c6"> บัญชีรายการเครื่องมือที่ใช้ในการทดสอบและตรวจสอบ พร้อมรูปถ่ายและเอกสารแสดงการได้มาซึ่งกรรมสิทธิ์หรือสิทธิครอบครอง ซึ่งเป็นไปตามข้อ 5 ของกฎกระทรวงกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมันพ.ศ. 2556</label>
							<div id="s6" style="display: none;">
								<input type="file" name="file_ch3_6" class="well well-sm" id="fs6">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">

							<label for="" class="control-label left"><input type="checkbox" name="ch3_7" id="c7"> บัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ พร้อมระบุคุณสมบัติและประสบการณ์ในการปฏิบัติงานของหัวหน้าวิศวกรทดสอบ วิศวกรทดสอบ ผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม และผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมันตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมันและผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมัน และหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
							<div id="s7" style="display: none;">
								<input type="file" name="file_ch3_7" class="well well-sm" id="fs7">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="checkbox" name="ch3_8" id="c8">
							<label for="" class="control-label center">สำเนาหนังสือรับรองเป็นผู้ทดสอบและตรวจสอบ (กรณีต่ออายุ)</label>
							<div id="s8" style="display: none;">
								<input type="file" name="file_ch3_8" class="well well-sm" id="fs8">
							</div>
						</div>
					</div><br/>
					<div class="form-group">
						<div class="col-sm-12">
	                      	<input type="checkbox" name="ch3_9" id="c9">
	                        <label for="" class="control-label center">อื่นๆ   (ถ้ามี)</label>
							<div id="s9" style="display: none;">
								<input type="text" class="form-control edit"  name="text_ch3_9" value="" id="vs9"><br>
								<input type="file" name="file_ch3_9" class="well well-sm" id="fs9">
							</div>
						</div>
					</div>
				</div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-2" type="button" class="btn btn-custom-prev" href="#tap4" aria-controls="tab4" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <a id="next-3" type="button" class="btn btn-custom-next" href="#tap6" aria-controls="tab6" role="tab" data-toggle="tab">ถัดไป</a>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade " id="tap6">
          <h3 class="title">ส่วนที่ 6 : เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ</h3>
			<div class="form-horizontal striped">
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_1" id="c10">
                        <label for="" class="control-label center">สำเนาบัตรประจำตัวประชาชน</label>
                        <div id="s10" style="display: none;">
							<input type="file" name="file_ch4_1" class="well well-sm" id="fs10">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_2" id="c11">
                        <label for="" class="control-label center">สำเนาหนังสือเดินทาง (กรณีบุคคลต่างด้าว)</label>
                        <div id="s11" style="display: none;">
							<input type="file" name="file_ch4_2" class="well well-sm" id="fs11">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_3" id="c12">
                        <label for="" class="control-label center">สำเนาทะเบียนบ้าน</label>
                        <div id="s12" style="display: none;">
							<input type="file" name="file_ch4_3" class="well well-sm" id="fs12">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                      	<input type="checkbox" name="ch4_4" id="c13">
                        <label for="" class="control-label center">สำเนาใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม</label>
                        <div id="s13" style="display: none;">
							<input type="file" name="file_ch4_4" class="well well-sm" id="fs13">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
							<input type="checkbox" name="ch4_5" id="c14">
							หนังสือรับรองว่าเป็นผู้มีความรู้ ความชำนาญ และประสบการณ์ในการปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน (กรณีขอใหม่)</label>
                        <div id="s14" style="display: none;">
							<input type="file" name="file_ch4_5" class="well well-sm" id="fs14">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_6" id="c15">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s15" style="display: none;">
							<input type="file" name="file_ch4_6" class="well well-sm" id="fs15">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
                        <label for="" class="control-label left">
						<input type="checkbox" name="ch4_7" id="c16">
						สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมัน ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
                        <div id="s16" style="display: none;">
							<input type="file" name="file_ch4_7" class="well well-sm" id="fs16">
						</div>
					</div>
				</div>
			</div>
          <hr>
          <div class="row text-right mt-20">
            <a id="prev-3" type="button" class="btn btn-custom-prev" href="#tap5" aria-controls="tab5" role="tab" data-toggle="tab">ย้อนกลับ</a>
            <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
            <input type="submit"class="btn btn-custom-confirm" value="ส่ง" />
          </div>
        </div>
      </div>
	</form>
  </div>

  <div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="/policy/disclaimer.pdf" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="/policy/WebPolicy.pdf" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="js/3.3.0/bootstrap.min.js" th:src="@{/js/3.3.0/bootstrap.min.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
	//---------------------------------------------------------------
  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-5").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-6").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-5").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-6").removeClass('active');
    $("#nav-5").addClass('active');
  });

});


//------------------------------------------------
	$('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$("#fs1").prop('required',true);
        }else {
        	$('#s1').css('display','none');
        	$("#fs1").prop('required',false);
        }
	});
	$('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$("#fs2").prop('required',true);
        }else {
        	$('#s2').css('display','none');
        	$("#fs2").prop('required',false);
        }
	});
	$('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$("#fs3").prop('required',true);
        }else {
        	$('#s3').css('display','none');
        	$("#fs3").prop('required',false);
        }
	});
	$('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$("#fs4").prop('required',true);
        }else {
        	$('#s4').css('display','none');
        	$("#fs4").prop('required',false);
        }
	});
	$('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$("#fs5").prop('required',true);
        }else {
        	$('#s5').css('display','none');
        	$("#fs5").prop('required',false);
        }
	});
	$('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$("#fs6").prop('required',true);
        }else {
        	$('#s6').css('display','none');
        	$("#fs6").prop('required',false);
        }
	});
	$('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$("#fs7").prop('required',true);
        }else {
        	$('#s7').css('display','none');
        	$("#fs7").prop('required',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('required',false);
        }
	});
	$('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$("#fs8").prop('required',true);
        }else {
        	$('#s8').css('display','none');
        	$("#fs8").prop('required',false);
        }
	});
	$('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('required',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('required',false);
        }
      });


	$('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$("#fs10").prop('required',true);
        }else {
        	$('#s10').css('display','none');
        	$("#fs10").prop('required',false);
        }
	});
	$('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$("#fs11").prop('required',true);
        }else {
        	$('#s11').css('display','none');
        	$("#fs11").prop('required',false);
        }
	});
	$('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        	$("#fs12").prop('required',true);
        }else {
        	$('#s12').css('display','none');
        	$("#fs12").prop('required',false);
        }
	});
	$('#c13').change(function() {
        if($(this).is(":checked")) {
        	$('#s13').css('display','block');
        	$("#fs13").prop('required',true);
        }else {
        	$('#s13').css('display','none');
        	$("#fs13").prop('required',false);
        }
	});
	$('#c14').change(function() {
        if($(this).is(":checked")) {
        	$('#s14').css('display','block');
        	$("#fs14").prop('required',true);
        }else {
        	$('#s14').css('display','none');
        	$("#fs14").prop('required',false);
        }
	});
	$('#c15').change(function() {
        if($(this).is(":checked")) {
        	$('#s15').css('display','block');
        	$("#fs15").prop('required',true);
        }else {
        	$('#s15').css('display','none');
        	$("#fs15").prop('required',false);
        }
	});
	$('#c16').change(function() {
        if($(this).is(":checked")) {
        	$('#s16').css('display','block');
        	$("#fs16").prop('required',true);
        }else {
        	$('#s16').css('display','none');
        	$("#fs16").prop('required',false);
        }
	});

</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
function getAmphur(val) {

	$('#amphurId').html('');
	$('#districtId').html('');
	$('#zipcodeId').val('');

	$('#amphurId').append('<option value="">- เลือก -</option>');
	$('#districtId').append('<option value="">- เลือก -</option>');

	$.ajax({
	type: "POST",
	url: "/api/amphur",
	data:'provinceId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#amphurId').append('<option value="' + value.amphurId + '">' + value.amphurName + '</option>');
        });
	}
	});
}


function getTambon(val) {
	$.ajax({
	type: "POST",
	url: "/api/tambon",
	data:'amphurId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#districtId').append('<option value="' + value.districtId + '">' + value.districtName + '</option>');
        });
	}
	});
}

function getZipcode(val) {
	$.ajax({
	type: "POST",
	url: "/api/zipcode",
	data:'districtId='+val,
	success: function(data){
		$.each(data, function (index, value) {
            $('#zipcodeId').val(value.zipcode);
        });
	}
	});
}

</script>
</html>
