<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/form/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>TEMPLATE</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="f : ${lForm}">
      <td th:text="${f.formId}"></td>
      <td th:text="${f.formTitle}"></td>
      <td th:text="${f.formDescription}"></td>
      <td th:text="${f.formTemplate}"></td>
      <td>[<a href="#" th:href="@{|/form/view/${f.formId}|}">View</a>] [<a href="#">Edit] [<a href="#" th:href="@{|/form/meta/${f.formId}|}">Meta</a>] [<a href="#" th:href="@{|/form/workflow/${f.formId}|}">Workflow</a>]</td>
    </tr>
  </tbody>
</table>
</div>