<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>jQuery Word Export Plugin Demo</title>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="page-content">
<h1>ข้อมูล</h1>
<p>ข้าพเจ้า&nbsp;<b th:text="${member.Name}"></b>&nbsp;<b th:text="${member.Lname}"></b>&nbsp;อายุ&nbsp;<b th:text="${member.Age}"></b></p>
<p>บัตรประจำตัวประชน&nbsp;<b th:text="${member.idnum}"></b>&nbsp;เลขที่	<b th:text="${member.Noadd}"></b>&nbsp;หมู่&nbsp;<b th:text="${member.Madd}"></b></p>
<p>ซอย&nbsp;<b th:text="${member.Sadd}"></b>&nbsp;ถนน&nbsp;<b th:text="${member.Radd}"></b>&nbsp;รหัสไปรษณี&nbsp;<b th:text="${member.idDT}"></b></p>
<p>เบอร์โทร&nbsp;<b th:text="${member.Phone}"></b>&nbsp;โทรสาร&nbsp;<b th:text="${member.Fax}"></b>&nbsp;Email&nbsp;<b th:text="${member.Email}"></b></p>
</div>
<a class="word-export" href="javascript:void(0)"> Export as .doc </a> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="js/FileSaver.js"></script> 
<script src="js/jquery.wordexport.js"></script> 
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("a.word-export").click(function(event) {
            $("#page-content").wordExport();
        });
    });
    </script>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
