<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
  
  </style>
  
  <style>
div {
    background-color: lightblue;
}
</style>
</head>
<body>
<div class="container">
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Form</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>	

</div>
	
	<div class="container">
	<center><h5><u>แบบนำเรียนอธิบดีกรมธุรกิจพลังงานสำหรับคู่มือที่สถาบันพัฒนาเทคนิคพลังงานรับผิดชอบ</u></h5></center>
	<object align="left">
	<tag th:text="'เขียนที่: ' + ${greeting.id}" /><br>
	<tag th:text="'วันที่: ' + ${greeting.content}" />
	<tag th:text="'เดือน: ' + ${greeting.month}" />
	<tag th:text="'พ.ศ.: ' + ${greeting.year}" />
	<br><h5>เรียน อธิบดีกรมธุรกิจพลังงาน</h5>
	<tag th:text="'1.ข้าพเจ้า: ' + ${greeting.location}" />&nbsp;
	<tag th:text="'อายุ: ' + ${greeting.age}" /> ปี
	<tag th:text="'บัตรประชาชนที่: ' + ${greeting.pachachon}" /><br>
	<tag th:text="'ที่อยู เลขที่: ' +${greeting.location1}" /> <tag th:text="'หมู่ที่: ' +${greeting.location2}" />  <tag th:text="'ตรอก/ซอย: ' +${greeting.location3}" />  <tag th:text="'ถนน: ' +${greeting.location4}" /><br>
    <tag th:text="'ตำบล/แขวง: ' +${greeting.location5}" /> <tag th:text="'อำเภอ/เขต: ' +${greeting.location6}" />  <tag th:text="'จังหวัด: ' +${greeting.location7}" /> <br>
    <tag th:text="'รหัสไปรษณีย์: ' +${greeting.num}" /> <tag th:text="'โทรศัพท์: ' +${greeting.num1}" /> <tag th:text="'โทรสาร: ' +${greeting.num2}" /> <br>
    <tag th:text="'ไปรษณีย์อิเลคทรอนิคส์ (อีเมล์): ' +${greeting.num3}"/><br>
    <br><h5>มีความประสงค์ยื่นขออนุญาตพร้อมเอกสาร (ให้ทำเครื่องหมาย <input type="checkbox" checked="checked" /> หน้าข้อที่ต้องการ และระบุลักษณะของกิจการที่ขออนุญาต)</h5>
    <tag th:text="${greeting.ckk}" /><br>
    <tag th:text="${greeting.txtnum}" /><br>
    <br>
    <tag th:text="'2. ชื่อสถานประกอบกิจการ/สถานที่ทำงาน: ' +${greeting.location18}" /><br>
    <tag th:text="'ที่อยู เลขที่: ' +${greeting.location27}" /> <tag th:text="'หมู่ที่: ' +${greeting.num5}" />  <tag th:text="'ตรอก/ซอย/นิคม: ' +${greeting.location19}" />  <tag th:text="'ถนน: ' +${greeting.location20}" /><br>
    <tag th:text="'ตำบล/แขวง: ' +${greeting.location21}" /> <tag th:text="'อำเภอ/เขต: ' +${greeting.location22}" />  <tag th:text="'จังหวัด: ' +${greeting.location23}" /> <br>
    <tag th:text="'รหัสไปรษณีย์: ' +${greeting.num6}" /> <tag th:text="'โทรศัพท์: ' +${greeting.num7}" /> <tag th:text="'โทรสาร: ' +${greeting.num8}" /> <br>
    <tag th:text="'ไปรษณีย์อิเลคทรอนิคส์ (อีเมล์): ' +${greeting.location24}"/><br>
    <tag th:text="'ประเภทธุรกิจ: ' +${greeting.location25}"/><br>
    <br>
    <tag th:text="'3. ช่องทางที่ต้องการให้แจ้งผลการพิจารณา'"/><br>
    <tag th:text="'ทางอีเมล์ โปรดระบุอีเมล์: ' +${greeting.location26}"/><br>
    <tag th:text="'ทางไปรษณีย์ลงทะเบียนตอบรับ (โปรดแนบซองจดหมายและใบตอบรับในประเทศของไปรษณีย์ (ใบเหลือง) พร้อมกรอกชื่อที่อยู่ของผู้ขออนุญาตบนหน้าซองและในช องผู้รับในใบตอบรับ และสอดแสตมปE 21 บาท)'"/><br>
	</object>
	<div align="center">
	<a href="/greeting">Submit another message</a>
	</div>
	</div>
</body>	
</html>