<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      
     
      
</head>

<body>
<p Align="CENTER">
<h3>คําขอใบรับรองหรือขอต่ออาย ุ ผู้ตรวจสอบระบบไฟฟ้าบุคคล/นิติบุคคล สถานที่ใช้ก๊าซธรรมชาติ </h3>
เขียนที่ <span th:text="${form.fWrite}">fWrite</span>  <br/>
 มีความประสงค์ขอ <b th:text="${form.fPurpose}">fPurpose</b>	<br/>
 เป็นผู้ตรวจสอบระบบไฟฟ้าประเภท <b th:text="${form.fType}">fType</b><br/>
${check.fC01}&nbsp; เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้า<br/><p>
${check.fC1}&nbsp;ภาพถ่ายสําเนาทะเบียนบ้าน<br/><p>
${check.fC2}&nbsp;ภาพถ่ายวุฒิบัตรการศึกษา<br/><p>
${check.fC3}&nbsp;หนังสือรับรองการทํางานหรือรับรองการมีประสบการณ์<br/><p>
${check.fC4}&nbsp;ภาพถ่ายใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม <br/><p>
${check.fC5}&nbsp;ใบรับรองแพทย์ <br/><p>
${check.fC6}&nbsp;หลักฐานแสดงกรรมสิทธิ์ที่ตั้งของสํานักงาน  และแผนผังที่ตั้ง<br/><p>
${check.fC7}&nbsp;หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือทดสอบและตรวจสอบ พร้อมใบรับรอง การตรวจสอบความเที่ยงตรงตามมาตรฐานสากลตามระยะเวลาที่กําหนด<br/><p>
${check.fC8}&nbsp;เอกสารและหลักฐานประกอบการพิจารณาคําขอเป็นผู้ตรวจสอบระบบไฟฟ้านิติบุคคล<br/><p>
$check.fAc02&nbsp;หนังสือรับรองการจดทะเบียนเป็นนิติบุคคล ทะเบียนเลขที  <p th:text="${form.fAc1}">fAc1</p>	<br/><p>
${check.fAc1}&nbsp;แผนที่ตั้งสํานักงาน  <br/><p>
${check.fAc2}&nbsp;ภาพถ่ายบัตรประจําตัวประชาชนผู้มีอํานาจลงนาม<br/><p>
${check.fAc3}&nbsp;ภาพถ่ายใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุมของวิศวกรปฏิบัติงานให้นิติบุคคล<br/><p>
${check.fAc4}&nbsp;หนังสือมอบอํานาจพร้อมภาพถ่ายบัตรประจําตัวประชาชนของผู้มอบอํานาจและผู้รับมอบอํานาจ<br/><p>
${check.fAc5}&nbsp;หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน<br/><p>
${check.fAc6}&nbsp;หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้สํานักงาน<br/><p>
${check.fAc7}&nbsp;หลักฐานแสดงกรรมสิทธิ์หรือสิทธิ์ในการใช้เครื่องมือตรวจสอบ พร้อมใบรับรองการตรวจสอบ  ความเที่ยงตรงตามมาตรฐานสากลตามระยะเวลาที่กําหนด<br/><p>
 </p>
<table border="1">
<tr>
			<th>ID</th>
			<th>write_at</th>
			<th>purpose</th>
			<th>type_electric_engineer</th>
			<th>doc_attached1</th>
			<th>doc_attached1_1</th>
			<th>doc_attached1_2</th>
			<th>doc_attached1_3</th>
			<th>doc_attached1_4</th>
			<th>doc_attached1_5</th>
			<th>doc_attached1_6</th>
			<th>doc_attached1_7</th>
			<th>doc_attached1_8</th>
			<th>doc_attached2</th>
			<th>doc_attached2_1</th>
			<th>doc_attached2_2</th>
			<th>doc_attached2_3</th>
			<th>doc_attached2_4</th>
			<th>doc_attached2_5</th>
			<th>doc_attached2_6</th>
			<th>doc_attached2_7</th>
		</tr>
<tr th:each="sform:${sform}">
			<td th:text="${sform.id}">id</td>
			<td th:text="${sform.fWrite}">fWrite</td>
			<td th:text="${sform.fPurpose}">fPurpose</td>
			<td th:text="${sform.fType}">fType</td>
			<td th:text="${sform.fC01}">fC01</td>
			<td th:text="${sform.fC1}">fC1</td>
			<td th:text="${sform.fC2}">fC2</td>
			<td th:text="${sform.fC3}">fC3</td>
			<td th:text="${sform.fC4}">fC4</td>
			<td th:text="${sform.fC5}">fC5</td>
			<td th:text="${sform.fC6}">fC6</td>
			<td th:text="${sform.fC7}">fC7</td>
			<td th:text="${sform.fC8}">fC8</td>
			<td th:text="${sform.fAc02}">fAc02</td>
			<td th:text="${sform.fAc1}">fAc1</td>
			<td th:text="${sform.fAc2}">fAc2</td>
			<td th:text="${sform.fAc3}">fAc3</td>
			<td th:text="${sform.fAc4}">fAc4</td>
			<td th:text="${sform.fAc5}">fAc5</td>
			<td th:text="${sform.fAc6}">fAc6</td>
			<td th:text="${sform.fAc7}">fAc7</td>		
		</tr></table>
</body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="js/index.js"></script>
</html>
