<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap 4 Website Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	
<link rel="stylesheet" href="css/bootstrap.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<style>
.fakeimg {
	height: 200px;
	background: #aaa;
}

.td1 {
	margin-left: 50px;
}
</style>
</head>
<body>

	<div class="container">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th width="30%"></th>
					<th>ข้อมูล</th>
				</tr>
			<thead>
			<tbody>		
				<tr>
					<td><strong>คำขอ</strong></td>
					<td th:text="${form2.purpose1}+${form2.purpose2}">requests</td>
				</tr>
				<tr>
					<td><strong>ใบประกอบวิชาชีพวิศวกรรมควบคุม เลขที่</strong></td>
				<td th:text="${form2.lfpp}">requests</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
