<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Energy Business Information System : EBIS</title>
  <link rel="stylesheet" href="css/3.3.0/bootstrap.css" th:href="@{/user/css/3.3.0/bootstrap.css}">
  <link rel="stylesheet" href="css/style.css" th:href="@{/user/css/style.css}">
  <link rel="stylesheet" href="css/login.css" th:href="@{/user/css/login.css}">
</head>
<body class="login">

<div class="text-header mt-30 mb-30 pt-20 pb-20">
    <div class="text-center">
        <img src="images/energy-logo.svg" th:src="@{/user/images/energy-logo.svg}" width="400px;" alt="Energy Logo" />
    </div>
    <h1 class="text-center">ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</h1>
</div>

<div class="user is-visible">
    <div class="user-modal-container">
      <div id="login" class="is-selected">
        <p class="text-login text-center pt-20">เข้าสู่ระบบ</p>
        <form class="form" method="POST" action="/login" th:action="@{/login}">
            <p class="fieldset">
              <label class="image-replace username" for="username">ชื่อผู้ใช้</label>
              <input class="full-width has-padding has-border" name="fusername" id="fusername" type="username" placeholder="ชื่อผู้ใช้">
              <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
            </p>
            <p class="fieldset">
              <label class="image-replace password" for="signin-password">รหัสผ่าน</label>
              <input class="full-width has-padding has-border" name="fpassword" id="fpassword" type="password"  placeholder="รหัสผ่าน">
              <a href="#" class="hide-password">แสดงรหัสผ่าน</a>
              <span class="error-message">Wrong password! Try again.</span>
            </p>
            <p class="fieldset">
              <input type="checkbox" id="remember-me" checked>
              <label for="remember-me">จำรายชื่อ</label>
            </p>
            <p class="fieldset">
            		<input type="submit" class="btn btn-custom text-center full-width" value="เข้าสู่ระบบ">
            </p>
            <!-- 
			<p class="fieldset">
              <a href="/formRegis" th:href=@{/formRegis} type="button" class="btn btn-custom text-center full-width">ลงทะเบียน</a>
            </p>
            -->
        </form>
      </div>
      <p class="form-bottom-message"><a href="#">สงวนลิขสิทธิ์ © 2560 กรมธุรกิจพลังงาน กระทรวงพลังงาน  </a></p>
    </div>
</div>

<div id="footer_nav" class="meme" style="background-color: #444; color: #eee;">
            <div id="footerL" class="container " style="margin-top: 5px; ">
                <div style="margin-top: 10px; ">
                    <div class="col-md-6 ">
                        <p>สงวนลิขสิทธิ์พุทธศักราช 2560 ตามพระราชบัญญัติลิขสิทธิ์โดย<br>กรมธุรกิจพลังงาน กระทรวงพลังงาน<br>เลขที่ 555/2 ศูนย์เอนเนอร์ยี่ คอมเพล็กซ์ อาคาร บี ชั้น 19<br> ถนนวิภาวดีรังสิต เขตจตุจักร กรุงเทพมหานคร 10900
                            <br> โทรศัพท์ <a tabindex="9001" title="คลิกเพื่อติดต่อ" href="tel:027944000">02-794-4000</a> โทรสาร <a tabindex="9002" title="คลิกเพื่อส่งข้อมูล" href="tel:027944300">0-2794-4300</a><br> ติดต่อผู้ดูแลเว็บไซต์ <a tabindex="9003" title="คลิกเพื่อส่งจดหมาย" href="mailto:webmaster@doeb.go.th">webmaster@doeb.go.th</a>
                            <br> เว็บไซต์นี้รองรับ IE ver.9, Firefox ver.20, Safari ver.5, Chrome ver.62 ขึ้นไป
                            </p><p>
                    </p></div>
                    <div id="footerR" class="col-md-6" style="text-align: right;">
                        <a href="login.html#page-top" tabindex="1001" title="หน้าแรก" class="page-scroll">Home</a> &nbsp;
                        <a href="../../policy/disclaimer.pdf.html" tabindex="1002" target="blank" title="การปฏิเสธความรับผิด">Disclaimer</a> &nbsp;
                        <a href="../../policy/WebPolicy.pdf.html" tabindex="1003" target="blank" title="นโยบายเว็บไซต์">Website Policy</a> &nbsp;
                        <a data-ui-sref="article.email" tabindex="1004" title="ข้อมูลการติดต่อ" href="login.html#/article/email">Contact Us</a> &nbsp;
                        <p style="text-align: right; margin-top: 15px; ">

                            </p><div>
                                <a tabindex="1008" target="blank" href="http://www.facebook.com/doebfanpage" title="Facebook DOEB">
                                    <span class="fa fa-facebook-official fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1009" target="blank" href="https://www.facebook.com/doebfanpage/videos/1498378743508572/" title="สื่อมีเดีย">
                                    <span class="fa fa-caret-square-o-right  fa-2x fa-lg"></span>
                                </a>&nbsp;&nbsp;
                                <a tabindex="1010" data-ui-sref="article.sitemap" title="Sitemap" onclick="goToTop()" href="login.html#/article/sitemap">
                                    <span class="fa fa fa-sitemap fa-2x fa-lg"></span>
                                </a>
                            </div>
                            <div style="padding-top:10px; text-align:right;">
                                <a tabindex="1006" target="blank" href="http://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2.0 Level Triple-A Conformance"><img height="32" width="88" src="http://www.w3.org/WAI/wcag2AAA" alt="Achecker" longdesc="Achecker"></a>
                                <a tabindex="1007" target="blank" href="http://validator.w3.org/check?uri=referer" title="Validator HTML"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" longdesc="ValidXHTML1.0" height="31" width="88"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</body>
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/3.3.0/bootstrap.min.js"></script>
  <script src="js/login.js"></script>
</html>