<div th:fragment="engineer-quality">


  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
 <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิศวกร</h2>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<div class="modal-body">
 <div class="row">
   <div class="form-group">
     <div class="col-sm-4">
       <label>เลขวิศวกร</label><br/>
       <input type="hidden" name="engineerIdOriginal" id="engineerIdOriginal" value="">
       <input type="text" class="form-control edit" name="edit-engineerId" id="edit-engineerId" value="" >
		 </div>
		 <div class="col-sm-4">
				<label for="formDescription" class="control-label center">วันอนุญาต</label>
				<input type="text" class="form-control edit" id="sDatePermit" name="sDatePermit" >
		 </div>
		<div class="col-sm-4">
				<label for="formDescription" class="control-label center">บัตรหมดอายุ</label>
				<input type="text" class="form-control edit" id="sDatePermitExpire" name="sDatePermitExpire" >
		 </div>
     <div class="col-sm-3">
       <label>คำนำหน้า</label><br/>
     <!-- <input type="text" class="form-control" name="edit-title" id="edit-title" value="" >  -->
       <select name="edit-title" id="edit-title" class="form-control edit"  >
         <option value="0">- เลือก -</option>
         <option th:each="TitleName : ${lTitleName}"
         th:value="${TitleName.code}"
         th:utext="${TitleName.abbreviation}"
         />
       </select>
     </div>
     <div class="col-sm-3">
         <label>ชื่อ</label><br/>
         <input type="text" class="form-control edit" name="edit-firstname" id="edit-firstname" value="" >
     </div>
      <div class="col-sm-3">
         <label>นามสกุล</label><br/>
         <input type="text" class="form-control edit" name="edit-lastname" id="edit-lastname" value="" >
		 </div>
		 <div class="col-sm-3">
				<label for="formDescription" class="control-label center">เลขประจำตัวประชาชน</label>
				<input type="text" class="form-control edit idPerson" id="edit-idPerson" name="edit-idPerson" maxlength="17">
			</div>
      <div class="col-sm-7">
       <label>ตำแหน่ง</label><br/>
				 <!-- <input type="text" class="form-control" name="edit-type" id="edit-type" value=""> -->
				
				
       <select id="edit-type" name="edit-type" class="form-control edit" style=" width: 100%;" >
         <option value="0">- เลือก -</option>
         <option value="หัวหน้าวิศวกรทดสอบ">หัวหน้าวิศวกรทดสอบ</option>
         <option value="วิศวกรทดสอบ">วิศวกรทดสอบ</option>
         <option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2</option>
         <option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3</option>
         <option value="ผู้ชำนาญการทดสอบถังเก็บน้ำมัน">ผู้ชำนาญการทดสอบถังเก็บน้ำมัน</option>
       </select>
     </div>
      <div class="col-sm-5">
       <label>สาขา</label><br/>
         <!-- <input type="text" class="form-control" name="edit-type" id="edit-type" value=""> -->
         <select id="edit-faculty" name="edit-faculty" class="form-control edit" style=" width: 100%;" >
            <option value="0">- เลือก -</option>
            <option value="เครื่องกล">เครื่องกล</option>
            <option value="ไฟฟ้า">ไฟฟ้า</option>
            <option value="โยธา">โยธา</option>
         </select>
		 </div>
		 <div class="col-sm-12">
			<hr>
			<p>
							<h3><u>เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ</u></h3>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาบัตรประจำตัวประชาชน 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาหนังสือเดินทาง (กรณีบุคคลต่างด้าว) 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาทะเบียนบ้าน 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาใบอนุญาตเป็นผู้ประกอบวิชาชีพวิศวกรรมควบคุม 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;หนังสือรับรองว่าเป็นผู้มีความรู้ ความชำนาญ และประสบการณ์ในการปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน (กรณีขอใหม่) 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<input type="checkbox" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										th:checked="${sEngineerCheck_1 != ''}"
										name="" id="sEngineerCheck_1" disabled>&nbsp;&nbsp;&nbsp;สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมัน ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน 
									<a href="#" th:with="sEngineerCheck_1=${entryMap != null} ? ${entryMap['sEngineerCheck_1']} : ''" 
										target="_blank" th:href="@{|/filemanager/${sEngineerCheck_1}|}">
										<span th:if="${sEngineerCheck_1 != ''}" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
									</a>
								</div>
							</div>
			
							<script type="text/javascript">
								$('body').on('change','.sCheckFileEngineer',function(){
									var iCheckArea = $(this).data("check")
									if($(this).is(":checked")) {
										$('#section-file-'+iCheckArea).css('display','block');
									} else {
										$('#section-file-'+iCheckArea).css('display','none');
									}
								})
							</script>
			</p>
		 </div>
	 </div>
 </div>
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
 <button type="button" class="btn btn-primary" id="updateEngineerBtn">บันทึก</button>
</div>
<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
<input type="hidden" id="formMetaIdXSA" name="formMetaIdASA" value="0" th:value="${formMetaId}">

<script type="text/javascript">
$(document).ready(function(){
   $('#updateEngineerBtn').click(function (){
     //alert('asdopaisdpo');
     $.post("/api-engineer/update",
           {
           dbdId:$('#e-dbdId').val(),
           engineerIdOriginal:$('#engineerIdOriginal').val(),
           engineerId:$('#edit-engineerId').val(),
           title:$('#edit-title').val(),
           firstname:$('#edit-firstname').val(),
           lastname:$('#edit-lastname').val(),
           type:$('#edit-type').val(),
           faculty:$('#edit-faculty').val(),
              // city: "Duckburg"
           },
           function(data, status){
              // alert("Data: " + data + "\nStatus: " + status);
               if(data != 0){
                  $('#exampleModalCenter').modal('hide');
                 alert("บันทึกข้อมูลสำเร็จ");
                 loadTableEngineer();
               }else{
                 alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล, หรือติดต่อเจ้าหน้าที่");
               }
           });
   });

 });
</script>
</div>
</div>
</div>



					<div class="form-horizontal">
					<input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
					<input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
              <div class="form-group">
              	 <div class="col-sm-4">
                     <label for="formDescription" class="control-label center">เลขทะเบียน</label>
										 <input type="text" class="form-control edit" id="e-engineerId" name="engineerId" >
                  </div>
              	 <div class="col-sm-4">
                     <label for="formDescription" class="control-label center">วันอนุญาต</label>
										 <input type="text" class="form-control edit" id="sDatePermit" name="sDatePermit" >
                  </div>
              	 <div class="col-sm-4">
                     <label for="formDescription" class="control-label center">บัตรหมดอายุ</label>
										 <input type="text" class="form-control edit" id="sDatePermitExpire" name="sDatePermitExpire" >
                  </div>
              	 <div class="col-sm-5">
                     <label for="formDescription" class="control-label center">ตำแหน่ง</label>
										 <!-- <input type="text" class="form-control edit" id="e-engineerId" name="engineerId" > -->
						 <select id="e-engineerType" name="e-engineerType" class="form-control edit" style=" width: 100%;" onchange="selectEngineerType()">
                     				<!-- <option value="0">- เลือก -</option>
									<option value="หัวหน้าวิศวกรทดสอบ">หัวหน้าวิศวกรทดสอบ</option>
									<option value="วิศวกรทดสอบ">วิศวกรทดสอบ</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 2</option>
									<option value="ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3">ผู้ชำนาญการทดสอบแบบไม่ทำลายสภาพเดิม ระดับ 3</option>
									<option value="ผู้ชำนาญการทดสอบถังเก็บน้ำมัน">ผู้ชำนาญการทดสอบถังเก็บน้ำมัน</option> -->
                     	 </select>
                  </div>
                  <div class="col-sm-4">
                     <label for="formDescription" class="control-label center">สาขา</label>
  									 <!-- <input type="text" class="form-control edit" id="e-engineerId" name="engineerId" > -->
        						 <select id="e-engineerFaculty" name="e-engineerFaculty" class="form-control edit" style=" width: 100%;" >
                 				<option value="0">- เลือก -</option>
      									<option value="เครื่องกล">เครื่องกล</option>
      									<option value="ไฟฟ้า">ไฟฟ้า</option>
      									<option value="โยธา">โยธา</option>
                   	 </select>
									</div>
									<div class="col-sm-3">
											<label for="formDescription" class="control-label center">เลขประจำตัวประชาชน</label>
											<input type="text" class="form-control edit idPerson" id="e-idPerson" name="e-idPerson" maxlength="17">
										</div>
              	 <div class="col-sm-3">

                    <label for="" class="control-label center">คำนำหน้า</label><br/>
									<select name="e-title" id="e-title" class="form-control edit"  >
                         				<option value="0">- เลือก -</option>
                         				<option th:each="TitleName : ${lTitleName}"
		                            	th:value="${TitleName.code}"
		                            	th:utext="${TitleName.abbreviation}"
		                            	/>
                         			</select>
                     </div>
								<div class="col-sm-3" id="showEngineer-226" style="display:none">
									<label for="formDescription" class="control-label center">โปรดระบุ</label>
									<input type="text" class="form-control edit" id="e-prefix" name="e-prefix" maxlength="17">
								</div>
								<div class="col-sm-3">
									<label for="formDescription" class="control-label center">ชื่อ&nbsp;&nbsp;</label>
									<input type="text" class="form-control edit" id="e-firstname" name="e-firstname" >
										</div>
								<div class="col-sm-3">
									<label for="formDescription" class="control-label center">นามสกุล</label>
									<input type="text" class="form-control edit" id="e-lastname" name="e-lastname" >
								</div>
							 </div>
							 <script>
									$('body').on('change','#e-title',function(){
										var bla_value = $(this).val();
										if(bla_value == 226){
											$('div#showEngineer-226').show();
										}else{
											$('div#showEngineer-226').hide();
										}
									});
								</script>
	 			<div class="row">
              	 <div class="col-sm-12">
									 <div class="form-horizontal">
											<div class="form-group">
													<div class="col-sm-3">
														<label for="" class="control-label center">ที่อยู่เลขที่</label>
														<input type="text" class="form-control edit" id="numberhome_attorney" placeholder=""  value="" name="numberhome_attorney" th:value="${entryMap != null} ? ${entryMap['numberhome_attorney']} : ''">
													</div>
													 <div class="col-sm-3">
													<label for="" class="control-label center">หมู่ที่</label>
															<input type="text" class="form-control edit" id="moo_attorney" placeholder="" value="" name="moo_attorney" th:value="${entryMap != null} ? ${entryMap['moo_attorney']} : ''">
													</div>
													<div class="col-sm-3">
													<label for="" class="control-label center">ตรอก/ซอย</label>
															<input type="text" class="form-control edit" id="soi_attorney" placeholder=""  value="" name="soi_attorney" th:value="${entryMap != null} ? ${entryMap['soi_attorney']} : ''">
													</div>
													<div class="col-sm-3">
													<label for="" class="control-label center">ถนน</label>
															<input type="text" class="form-control edit" id="road_attorney" placeholder=""  value="" name="road_attorney" th:value="${entryMap != null} ? ${entryMap['road_attorney']} : ''">
													</div>
												</div>
			
												<div class="form-group">
													<div class="col-sm-3">
														<label for="" class="control-label center">จังหวัด</label>
										<select name="provinceId_attorney" id="provinceId_attorney" class="form-control edit" onChange="getAmphurAttorney(this.value);">
																	 <option value="">- เลือก -</option>
																	 <option th:each="province : ${lProvinceBean}" th:with="selectedValue=${entryMap != null} ? ${entryMap['provinceId_attorney']} : ''"
																			th:value="${province.provinceId}"
																			th:utext="${province.provinceName}"
																			th:selected="${province.provinceId==selectedValue}"
																			/>
															</select>
													</div>
												<div class="col-sm-3">
														<label for="" class="control-label center">อำเภอ/เขต</label>
													<select name="amphurId_attorney" id="amphurId_attorney" class="form-control edit" onChange="getTambonAttorney(this.value);">
																				 <option value="">- เลือก -</option>
																			 </select>
													</div>
													<div class="col-sm-3">
														<label for="" class="control-label right">ตำบล/แขวง</label>
													<select name="districtId_attorney" id="districtId_attorney" class="form-control edit" onChange="getZipcodeAttorney(this.value);">
																				 <option value="">- เลือก -</option>
																			 </select>
													</div>
													<div class="col-sm-3">
														<label for="" class="control-label right">รหัสไปรษณีย์</label>
														<input type="text" class="form-control edit" id="zipcodeId_attorney" name="zipcodeId_attorney" readonly>
													</div>
											</div>
											<div class="form-group">
													<div class="col-sm-3">
														<label for="" class="control-label right">โทรศัพท์</label>
														<input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder=""  value="" name="tel_attorney" th:value="${entryMap != null} ? ${entryMap['tel_attorney']} : ''">
													</div>
			
													<div class="col-sm-3">
														<label for="" class="control-label center">โทรสาร</label>
														<input type="text" class="form-control edit textFax" id="fax_attorney" placeholder=""  value="" name="fax_attorney" th:value="${entryMap != null} ? ${entryMap['fax_attorney']} : ''">
													</div>
													 <div class="col-sm-6">
														<label for="" class="control-label right">E-mail</label>
														<input type="text" class="form-control edit" id="email_attorney" placeholder=""  value="" name="email_attorney" th:value="${entryMap != null} ? ${entryMap['email_attorney']} : ''">
													</div>
											</div>
									</div>
                 </div>
                 </div>

      <div class="row" id="rShowUpload" style="display: none">

				<h3><u id="sEngineerUploadHead"></u></h3>

        <div class="form-group" id="showUpload_Engineer_1">
          <div class="col-sm-12">
						<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_1" data-check="1" id="sEngineerCheck_1" class="sCheckFileEngineer"> <span id="sEngineer_Text_1"></span></label>
            <div id="section-file-1" style="display: none;">
              <input type="file" name="sEngineerFile_1" class="well well-sm" id="sEngineerFile_1">
            </div>
          </div>
        </div>

        <div class="form-group" id="showUpload_Engineer_2">
          <div class="col-sm-12">
						<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_2" data-check="2" id="sEngineerCheck_2" class="sCheckFileEngineer"> <span id="sEngineer_Text_2"></span></label>
            <div id="section-file-2" style="display: none;">
              <input type="file" name="sEngineerFile_2" class="well well-sm" id="sEngineerFile_2">
            </div>
          </div>
        </div>

        <div class="form-group" id="showUpload_Engineer_3">
          <div class="col-sm-12">
							<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_3" data-check="3" id="sEngineerCheck_3" class="sCheckFileEngineer"> <span id="sEngineer_Text_3"></span></label>
            <div id="section-file-3" style="display: none;">
              <input type="file" name="sEngineerFile_3" class="well well-sm" id="sEngineerFile_3">
            </div>
          </div>
        </div>

        <div class="form-group" id="showUpload_Engineer_4">
          <div class="col-sm-12">
							<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_4" data-check="4" id="sEngineerCheck_4" class="sCheckFileEngineer"> <span id="sEngineer_Text_4"></span></label>
            <div id="section-file-4" style="display: none;">
              <input type="file" name="sEngineerFile_4" class="well well-sm" id="sEngineerFile_4">
            </div>
          </div>
        </div>

        <div class="form-group" id="showUpload_Engineer_5">
          <div class="col-sm-12">
							<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_5" data-check="5" id="sEngineerCheck_5" class="sCheckFileEngineer"> <span id="sEngineer_Text_5"></span></label>
            <div id="section-file-5" style="display: none;">
              <input type="file" name="sEngineerFile_5" class="well well-sm" id="sEngineerFile_5">
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="col-sm-12">
            <label for="" class="control-label left"><input type="checkbox" name="sEngineerCheck_6" data-check="6" id="sEngineerCheck_6" class="sCheckFileEngineer"> สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบกรรมวิธีไม่ทำลายสภาพเดิม ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
            <div id="section-file-6" style="display: none;">
              <input type="file" name="sEngineerFile_6" class="well well-sm" id="sEngineerFile_6">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="" class="control-label left"><input type="checkbox" name="sEngineerCheck_7" data-check="7" id="sEngineerCheck_7" class="sCheckFileEngineer"> สำเนาใบรับรองผ่านการฝึกอบรมเป็นผู้ชำนาญการทดสอบและตรวจสอบถังเก็บน้ำมัน ตามที่กำหนดไว้ในกฎกระทรวงว่าด้วยการกำหนดคุณสมบัติของผู้ทดสอบและตรวจสอบน้ำมัน และผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบน้ำมันและหลักเกณฑ์ วิธีการ และเงื่อนไขในการทดสอบและตรวจสอบน้ำมัน</label>
            <div id="section-file-7" style="display: none;">
              <input type="file" name="sEngineerFile_7" class="well well-sm" id="sEngineerFile_7">
            </div>
          </div>
        </div> -->

        <script type="text/javascript">
          $('body').on('change','.sCheckFileEngineer',function(){
            var iCheckArea = $(this).data("check")
            if($(this).is(":checked")) {
              $('#section-file-'+iCheckArea).css('display','block');
            } else {
              $('#section-file-'+iCheckArea).css('display','none');
            }
          })
        </script>

				<div class="col-sm-3">
					<label for="formDescription" class="control-label center"></label><br/>
       		<a id="add-engineer" type="button" class="btn btn-custom-next">เพิ่ม</a>
       	</div>
    	</div>

              		<script type="text/javascript">

              		(function($, undefined) {
										
										$(document).ready(function () {
										$('input#sDatePermit').datepicker({
												format : 'dd/mm/yyyy',
												todayBtn: true,
												language: 'th-th',
												autoclose: true
										});

										$('input#sDatePermitExpire').datepicker({
											format : 'dd/mm/yyyy',
											todayBtn: true,
											language: 'th-th',
											autoclose: true
										});
										})
										
										var typeEngineet = ["หัวหน้าควบคุมการทดสอบ","วิศวกรทดสอบ","ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2","ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 3"]
										$('#e-engineerType').empty();
										$('#e-engineerType').append('<option value="0">- เลือก -</option>');
										$.each(typeEngineet,function(index , val){
											$('#e-engineerType').append('<option value="'+(index+1)+'">'+val+'</option>');
										})
              		    "use strict";
              		  $( ".idPerson" ).on( "keyup", function( event ) {


                          // When user select text in the document, also abort.
                          var selection = window.getSelection().toString();
                          if ( selection !== '' ) {
                              return;
                          }

                          // When the arrow keys are pressed, abort.
                          if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
                              return;
                          }

                          var $this = $(this);
                          var input = $this.val();
                                  //input = input.replace(/[\W\s\._\-]+/g, '');
                                  input = input.replace(/[\D\s\._\-]+/g, "");
                                  //input = input ? parseInt( input, 10 ) : 0;
                               if(input.length > 13){
              	               return;
              	             }
                              var split = 4;
                              var chunk = [];

                              for (var i = 0, len = input.length; i < len; i += split) {
                              //split = 0;
                              if(i >= 0 && i < 1){
                              split = 1;
                              // console.log("SplitA:"+input.substr( i, split ));

                              }else if(i >= 1 && i <= 4){
                              	split = 4;
                              	// console.log("SplitB:"+input.substr( i, split ));
                              }else if(i > 4 && i <= 9){
                              	split = 5;
                              	// console.log("SplitC:"+input.substr( i, split ));
                              }else if(i > 9 &&  i <= 11){
                              	split = 2;
                              	// console.log("SplitD:"+input.substr( i, split ));
                              }else if(i > 11 ){
                                	split = 1;
                                  	// console.log("SplitD:"+input.substr( i, split ));
                                  }

                                  //split = ( i >= 8 && i <= 16 ) ? 4 : 8;
                                  chunk.push( input.substr( i, split ) );
                              }
                              /*
                              var input = $this.val();

                          var input = input.replace(/[\D\s\._\-]+/g, "");
                                  input = input ? parseInt( input, 10 ) : 0;

                                  $this.val( function() {
                                      return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                                  } );
                              */

                              $this.val(function() {
                                  //return ( input == 0 ) ? "" :chunk.join("-");
                                  //console.log(chunk);
                                    return chunk.join("-");
                                    //return str_return;
                              });

                      } );
	
              		})(jQuery);
              		</script>



								<script type="text/javascript">
								function selectEngineerType(){
									
	var val = $('#e-engineerType').val();
	$('u#sEngineerUploadHead').text('');
	$('div#showUpload_Engineer_1').hide();
	$('div#showUpload_Engineer_2').hide();
	$('div#showUpload_Engineer_3').hide();
	$('div#showUpload_Engineer_4').hide();
	$('div#showUpload_Engineer_5').hide();
	console.log(val);
	$('#e-engineerFaculty').empty();
	$('#e-engineerFaculty').append('<option value="0">- เลือก -</option>');
	if(val == 1){
		$('div#rShowUpload').show();
		$('u#sEngineerUploadHead').text('เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ');
		$('#e-engineerFaculty').append('<option value="1">วิศวกรรมเครื่องกล</option>');
		$('span#sEngineer_Text_1').text('สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมคุณวุฒิภาคีวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน');
		$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
		$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
		$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน');
		$('span#sEngineer_Text_5').text('เอกสารแสดงประสบการณ์ทางด้านการทดสอบและตรวจสอบภาชนะรับความดันรวมทั้งระบบท่อและอุปกรณ์ไม่น้อยกว่า 2 ปี หรือได้รับใบรับรองให้เป็นผู้ปฏิบัติงานด้านการทดสอบและตรวจสอบภาชนะบรรจุก๊าซระบบท่อก๊าซและอุปกรณ์ต่าง ๆ จากกรมธุรกิจพลังงานแล้วไม่น้อยกว่า 2 ปี');
		$('div#showUpload_Engineer_1').show();
		$('div#showUpload_Engineer_2').show();
		$('div#showUpload_Engineer_3').show();
		$('div#showUpload_Engineer_4').show();
		$('div#showUpload_Engineer_5').show();
		
	}else if(val == 2){
		$('div#rShowUpload').show();
		$('u#sEngineerUploadHead').text('เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ');
		$('#e-engineerFaculty').append('<option value="2">ไฟฟ้า</option>');
		$('#e-engineerFaculty').append('<option value="3">เครื่องกล</option>');
		$('#e-engineerFaculty').append('<option value="4">โยธา</option>');
		$('span#sEngineer_Text_1').text('สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมที่มีคุณวุฒิภาคีวิศวกรหรือสามัญวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน');
		$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
		$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
		$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
		$('div#showUpload_Engineer_1').show();
		$('div#showUpload_Engineer_2').show();
		$('div#showUpload_Engineer_3').show();
		$('div#showUpload_Engineer_4').show();
	}else if(val == 3){
		$('div#rShowUpload').show();
		$('u#sEngineerUploadHead').text('เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ');
		$('#e-engineerFaculty').append('<option value="5">การทดสอบด้วยรังสี</option>');
		$('#e-engineerFaculty').append('<option value="6">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
		$('#e-engineerFaculty').append('<option value="7">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
		$('#e-engineerFaculty').append('<option value="8">การทดสอบด้วยสารแทรกซึม</option>');
		$('span#sEngineer_Text_1').text('สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2');
		$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
		$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
		$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
		$('div#showUpload_Engineer_1').show();
		$('div#showUpload_Engineer_2').show();
		$('div#showUpload_Engineer_3').show();
		$('div#showUpload_Engineer_4').show();
	}else if(val == 4){
		$('div#rShowUpload').show();
		$('u#sEngineerUploadHead').text('เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ');
		$('#e-engineerFaculty').append('<option value="9">การทดสอบด้วยรังสี</option>');
		$('#e-engineerFaculty').append('<option value="10">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
		$('#e-engineerFaculty').append('<option value="11">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
		$('#e-engineerFaculty').append('<option value="12">การทดสอบด้วยสารแทรกซึม</option>');
		$('span#sEngineer_Text_1').text('สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2');
		$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
		$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
		$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
		$('div#showUpload_Engineer_1').show();
		$('div#showUpload_Engineer_2').show();
		$('div#showUpload_Engineer_3').show();
		$('div#showUpload_Engineer_4').show();
	}else{
		$('div#rShowUpload').hide();
	}
}
              	function loadTableEngineer(){
              	$('#table-engineer').dataTable({
              					"bDestroy": true,
								"bSort" : false,
								"language": {
									"search": "ค้นหา :",
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          }).fnClearTable();

              		var cn = $('#e-company-name').val();
              		//alert($('#e-dbdId').val());
      				$.ajax({
          				type: "POST",
          				url: "/api-engineer/list",
          				data:'dbdId='+$('#e-dbdId').val(),
          				success: function(data){
										console.log(data)
          					var content = "";
          					$.each(data, function (index, value) {
          						/*content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          			            content += '<td>'+value.engineerId+'</td>';
          			            content += '<td>'+value.titleName.abbreviation+'</td>';
          			            content += '<td>'+value.firstname+'</td>';
          			            content += '<td>'+value.lastname+'</td>';
          			            content += '<td>'+value.type+'</td>';
          			            content += '<td>'+value.expireDate+'</td>';
          			            content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" onclick="appendDatatoModal(this)">แก้ไข</a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)">ลบ</a></td>';
          			            content += '</tr>';
          			         */
          			           // $('#zipcodeId').val(value.zipcode);
          			           console.log(value);
          			            $('#table-engineer').dataTable().fnAddData( [
                                value.engineerId,
                                value.titleName.abbreviation,
                                value.firstname,
                                value.lastname,
                                value.type,
                                value.faculty,
                                value.expireDate,
                            '<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.id+'" data-id-engineer="'+value.engineerId+'" data-title="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" data-faculty="'+value.faculty+'" onclick="appendDatatoModal(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)"><i class="glyphicon glyphicon-trash"></i></a>' ]
                        );
          			        });
          					// $('#table-engineer tbody').html(content);
          				/*	$('#table-engineer').DataTable({
          					"bDestroy": true,
								"bSort" : false,
								"language": {
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          });*/
          					//var para = document.createRange().createContextualFragment(content);
          					// $('#table-engineer tbody').appendChild(para);
          				},
          				error: function(jqXHR, textStatus, errorThrown) {
          	               // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

          	                //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
          	                console.log('jqXHR:');
          	                console.log(jqXHR);
          	                console.log('textStatus:');
          	                console.log(textStatus);
          	                console.log('errorThrown:');
          	                console.log(errorThrown);
          	            },
          		});
      			}
              	</script>
              	<script type="text/javascript">
              		$(document).ready(function(){
              			loadTableEngineer();
              			$('#add-engineer').click(function (){
              				//var etitle = $('#e-title').find(":selected").text();
              				var etitle = $( "#e-title option:selected" ).val();
              				var eengineerType = $( "#e-engineerType option:selected" ).val();
              				var eengineerFaculty = $( "#e-engineerFaculty option:selected" ).val();
											var rtId = $('input#rtId').val();
											// alert(rtId);
              				//alert('asdopaisdpo');
              				console.log("eengineerType: "+eengineerType);
              				console.log("#e-engineerType option:selected: "+ $( "#e-engineerType option:selected" ).val());
              				console.log("engineerFaculty: "+eengineerType);
              				console.log("#e-engineerFaculty option:selected: "+ $( "#e-engineerFaculty option:selected" ).val());
              				/* $.post("/api-engineer/save",
              					    {
              							dbdId:$('#e-dbdId').val(),
              							engineerId:$('engineerId').val(),
              							title:etitle,
              							firstname:$('#e-firstname').val(),
              							lastname:$('#e-lastname').val(),
              							type:eengineerType,
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					    	//$('#e-dbdId').val("");
              							$('#e-engineerId').val("");
              							$('#e-title').val("");
              							$('#e-firstname').val("");
              							$('#e-lastname').val("");
              							$('#e-type').val("");
              							loadTableEngineer();
              					       //alert("Data: " + data + "\nStatus: " + status);


              					    }); */
              					oData = new FormData();
              					oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
		              		    oData.append("engineerId", $('#e-engineerId').val());
		              		    oData.append("sDatePermit", $('#sDatePermit').val());
		              		    oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
		              		    oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
		              		    oData.append("e-engineerFaculty", $( "#e-engineerFaculty option:selected" ).val());
		              		    oData.append("title", etitle);
		              		  	oData.append("firstname", $('#e-firstname').val());
		              		    oData.append("lastname", $('#e-lastname').val());
		              		    oData.append("e-idPerson", $('#e-idPerson').val());
		              		    oData.append("e-address", $('#e-address').val());
		              		    oData.append("rtId", rtId);

		              		// HTML file input, chosen by user
		              		oData.append("file_1", $('#sEngineerFile_1').prop('files')[0]);
		              		oData.append("file_2", $('#sEngineerFile_2').prop('files')[0]);
		              		oData.append("file_3", $('#sEngineerFile_3').prop('files')[0]);
		              		oData.append("file_4", $('#sEngineerFile_4').prop('files')[0]);
		              		oData.append("file_5", $('#sEngineerFile_5').prop('files')[0]);
		              		// oData.append("file_6", $('#sEngineerFile_6').prop('files')[0]);
											// oData.append("file_7", $('#sEngineerFile_7').prop('files')[0]);
											// console.log(oData);
											// return false;
		              		  var oReq = new XMLHttpRequest();
		              		  oReq.open("POST", "/api-engineer/save", true);
		              		  oReq.onload = function(oEvent) {
		              		    if (oReq.status == 200) {
		              		      //oOutput.innerHTML = "Uploaded!";
		              		      //alert("Uploaded!");
		              		    	$( "#e-engineerType option:selected" ).val("0");
		              		    	$( "#e-engineerFaculty option:selected" ).val("0");
		              		    	$('#engineerId').val("");
		              		    	$('#e-firstname').val("");
		              		    	$('#e-lastname').val("");
		              		    	//$('#toolPhotoImg').val("");
		              		      loadTableEngineer();
		              		    } else {
		              		      //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
		              		    console.log("Error " + oReq.status + " occurred when trying to upload your file.");
		              		    alert("การอัปโหลดผิดพลาด");
		              		    }
		              		  };

		              		  oReq.send(oData);

              			});

              		});

              	</script>

              		<script type="text/javascript">
              		function appendDatatoModal(e){
              		console.log("This function appendDatatoModal");
              			var engineerId = $(e).attr('data-id-engineer');
              			//$('#e-company-name').val()

              			//alert(engineerId);

              			$("#engineerIdOriginal").val($(e).attr('data-id'));
              			$("#edit-engineerId").val(engineerId);
              			//$("#edit-title").val($(e).attr('data-title'));
              			$( "#edit-title" ).val($(e).attr('data-title'));
              			$("#edit-firstname").val($(e).attr('data-firstname'));
              			$("#edit-lastname").val($(e).attr('data-lastname'));
              			$("#edit-type").val($(e).attr('data-type'));
              			$("#edit-faculty").val($(e).attr('data-faculty'));
              			$("#edit-company").val($('#e-company-name').val());
              		}
              		function deleteEngineer(e){
              			 if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
              		       // txt = "You pressed OK!";
              				$.post("/api-engineer/delete",
              					    {
              							id:$(e).attr('data-id'),
              					       // city: "Duckburg"
              					    },
              					    function(data, status){
              					        //alert("Data: " + data + "\nStatus: " + status);
              					      if(data != 0){
              					    	  alert('ลบข้อมูลเรียบร้อย');
              					      }else{
              					    	  alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
              					      }
              					      loadTableEngineer();
              					    });
              		    } else {
              		       // txt = "You pressed Cancel!";
              		    }

              		}
              		</script>
              	<hr/>
              	<h3 class="title">ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
              	<table id="table-engineer" class="display" style="width: 100%;">
  <thead>
    <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
      <th>เลขทะเบียน</th>
      <th>คำนำหน้า</th>
      <th>ชื่อ</th>
      <th>นามสกุล</th>
      <th>ตำแหน่ง</th>
      <th>สาขา</th>
      <th>บัตรหมดอายุ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <!-- <tr th:each="f : ${lEngineer}" style=" height: 60px; border-bottom: 1px solid #adadad;">
      <td th:text="${f.engineerId}"></td>
      <td th:text="${f.titleName.abbreviation}"></td>
      <td th:text="${f.firstname}"></td>
      <td th:text="${f.lastname}"></td>
      <td th:text="${f.type}"></td>
      <td th:text="${f.company.companyName}"></td>
      <td>[<a href="#" th:href="@{|/engineer/view/${f.engineerId}|}">Edit</a>]  [<a href="#" th:href="@{|/engineer/meta/${f.engineerId}|}">Meta</a>] </td>
    </tr>  -->
  </tbody>
</table>
              </div>

</div>
