<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
<script src="//cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>

<div th:fragment="engineer-quality">


	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อวิศวกร</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="    padding-left: 30px;    padding-right: 30px;">
					<div class="form-horizontal">
						<div class="container-fluid">
							<div class="row">
								<div class="form-group">
									<div class="col-sm-4">
										<label for="formDescription" class="control-label center">เลขทะเบียน</label>
										<input type="text" class="form-control edit" id="e-engineerId_modal">
									</div>
									<div class="col-sm-4">
										<label for="formDescription" class="control-label center">วันอนุญาต</label>
										<input type="text" class="form-control edit" id="sDatePermit_modal">
									</div>
									<div class="col-sm-4">
										<label for="formDescription" class="control-label center">บัตรหมดอายุ</label>
										<input type="text" class="form-control edit" id="sDatePermitExpire_modal">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5">
										<label for="formDescription" class="control-label center">ตำแหน่ง</label>
										<select id="e-engineerType_modal" class="form-control edit" style=" width: 100%;" onchange="selectEngineerTypeModal()">
										</select>
									</div>
									<div class="col-sm-4">
										<label for="formDescription" class="control-label center">สาขา</label>
										<select id="e-engineerFaculty_modal" class="form-control edit" style=" width: 100%;">
											<option value="0">- เลือก -</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label for="formDescription" class="control-label center">เลขประจำตัวประชาชน</label>
										<input type="text" class="form-control edit idPerson" id="e-idPerson_modal" maxlength="13">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="" class="control-label center">คำนำหน้า</label><br />
										<select id="e-title_modal" class="form-control edit">
											<option value="0">- เลือก -</option>
											<option th:each="TitleName : ${lTitleName}" th:value="${TitleName.code}" th:utext="${TitleName.abbreviation}" />
										</select>
									</div>
									<div class="col-sm-3" id="showEngineer-226-modal" style="display:none">
										<label for="formDescription" class="control-label center">โปรดระบุ</label>
										<input type="text" class="form-control edit" id="e-prefix_modal">
									</div>
									<div class="col-sm-3">
										<label for="formDescription" class="control-label center">ชื่อ&nbsp;&nbsp;</label>
										<input type="text" class="form-control edit" id="e-firstname_modal">
									</div>
									<div class="col-sm-3">
										<label for="formDescription" class="control-label center">นามสกุล</label>
										<input type="text" class="form-control edit" id="e-lastname_modal">
									</div>
								</div>
								<script>
									$('body').on('change','#e-title_modal',function(){
						var bla_value = $(this).val();
						if(bla_value == 226){
							$('div#showEngineer-226-modal').show();
						}else{
							$('div#showEngineer-226-modal').hide();
						}
					});
				</script>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="" class="control-label center">ที่อยู่เลขที่</label>
										<input type="text" class="form-control edit" id="numberhome_attorney_modal" placeholder="" value="">
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label center">หมู่ที่</label>
										<input type="text" class="form-control edit" id="moo_attorney_modal" placeholder="" value="">
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label center">ตรอก/ซอย</label>
										<input type="text" class="form-control edit" id="soi_attorney_modal" placeholder="" value="">
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label center">ถนน</label>
										<input type="text" class="form-control edit" id="road_attorney_modal" placeholder="" value="">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3">
										<label for="" class="control-label center">จังหวัด</label>
										<select id="provinceId_attorney_modal" class="form-control edit" onChange="getAmphurAttorneyModal(this.value);">
											<option value="">- เลือก -</option>
											<option th:each="province : ${lProvinceBean}" th:value="${province.provinceId}" th:utext="${province.provinceName}" />
										</select>
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label center">อำเภอ/เขต</label>
										<select id="amphurId_attorney_modal" class="form-control edit" onChange="getTambonAttorneyModal(this.value);">
											<option value="">- เลือก -</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label right">ตำบล/แขวง</label>
										<select id="districtId_attorney_modal" class="form-control edit" onChange="getZipcodeAttorneyModal(this.value);">
											<option value="">- เลือก -</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label for="" class="control-label right">รหัสไปรษณีย์</label>
										<input type="text" class="form-control edit" id="zipcodeId_attorney_modal" readonly>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label for="" class="control-label right">โทรศัพท์</label>
										<input type="text" class="form-control edit textTelephone" id="tel_attorney_modal" placeholder="" value="">
									</div>
									<div class="col-sm-6">
										<label for="" class="control-label right">E-mail</label>
										<input type="text" class="form-control edit" id="email_attorney_modal" placeholder="" value="">
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="row" id="rShowUploadModal" style="display: none ;padding-left: 15px; padding-right: 15px;">

									<h3><u id="sEngineerUploadHead"></u></h3>

									<div class="form-group" id="showUpload_Engineer_1_modal">
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_1_modal" data-check="1" id="sEngineerCheck_1_modal"
												 class="sCheckFileEngineer"> <span id="sEngineer_Text_1_modal"></span> <span id="showFile_1_modal"></span></label>
											<div id="section-file-1-modal" style="display: none;">
												<input type="file" name="sEngineerFile_1_modal" class="well well-sm" id="sEngineerFile_1_modal">
											</div>
											
										</div>
									</div>

									<div class="form-group" id="showUpload_Engineer_2_modal">
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_2_modal" data-check="2" id="sEngineerCheck_2_modal"
												 class="sCheckFileEngineer"> <span id="sEngineer_Text_2_modal"></span> <span id="showFile_2_modal"></span></label>
											<div id="section-file-2-modal" style="display: none;">
												<input type="file" name="sEngineerFile_2_modal" class="well well-sm" id="sEngineerFile_2_modal">
											</div>
										</div>
									</div>

									<div class="form-group" id="showUpload_Engineer_3_modal">
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_3_modal" data-check="3" id="sEngineerCheck_3_modal"
												 class="sCheckFileEngineer"> <span id="sEngineer_Text_3_modal"></span> <span id="showFile_3_modal"></span></label>
											<div id="section-file-3-modal" style="display: none;">
												<input type="file" name="sEngineerFile_3_modal" class="well well-sm" id="sEngineerFile_3_modal">
											</div>
										</div>
									</div>

									<div class="form-group" id="showUpload_Engineer_4_modal">
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_4_modal" data-check="4" id="sEngineerCheck_4_modal"
												 class="sCheckFileEngineer"> <span id="sEngineer_Text_4_modal"></span> <span id="showFile_4_modal"></span></label>
											<div id="section-file-4-modal" style="display: none;">
												<input type="file" name="sEngineerFile_4_modal" class="well well-sm" id="sEngineerFile_4_modal">
											</div>
										</div>
									</div>

									<div class="form-group" id="showUpload_Engineer_5_modal">
										<div class="col-sm-12">
											<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_5_modal" data-check="5" id="sEngineerCheck_5_modal"
												 class="sCheckFileEngineer"> <span id="sEngineer_Text_5_modal"></span> <span id="showFile_5_modal"></span></label>
											<div id="section-file-5-modal" style="display: none;">
												<input type="file" name="sEngineerFile_5_modal" class="well well-sm" id="sEngineerFile_5_modal">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-custom-prev" data-dismiss="modal">ปิด</button>
					<!-- <button type="button" class="btn btn-custom-next" id="updateEngineerBtn">บันทึก</button> -->
				</div>
				<input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
				<input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
				<input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
				<input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
				<input type="hidden" id="formMetaIdXSA" name="formMetaIdASA" value="0" th:value="${formMetaId}">

				<script type="text/javascript">
					$(document).ready(function () {
						$('#updateEngineerBtn').click(function () {
							//alert('asdopaisdpo');
							$.post("/api-engineer/update", {
									dbdId: $('#e-dbdId').val(),
									engineerIdOriginal: $('#engineerIdOriginal').val(),
									engineerId: $('#edit-engineerId').val(),
									title: $('#edit-title').val(),
									firstname: $('#edit-firstname').val(),
									lastname: $('#edit-lastname').val(),
									type: $('#edit-type').val(),
									faculty: $('#edit-faculty').val(),
									// city: "Duckburg"
								},
								function (data, status) {
									// alert("Data: " + data + "\nStatus: " + status);
									if (data != 0) {
										$('#exampleModalCenter').modal('hide');
										alert("บันทึกข้อมูลสำเร็จ");
										loadTableEngineer();
									} else {
										alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล, หรือติดต่อเจ้าหน้าที่");
									}
								});
						});

					});
				</script>
			</div>
		</div>
	</div>



	<div class="form-horizontal">
		<input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
		<input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
		<div class="form-group">
			<div class="col-sm-4">
				<label for="formDescription" class="control-label center">เลขทะเบียน</label>
				<input type="text" class="form-control edit" id="e-engineerId">
			</div>
			<div class="col-sm-4">
				<label for="formDescription" class="control-label center">วันอนุญาต</label>
				<input type="text" class="form-control edit" id="sDatePermit">
			</div>
			<div class="col-sm-4">
				<label for="formDescription" class="control-label center">บัตรหมดอายุ</label>
				<input type="text" class="form-control edit" id="sDatePermitExpire">
			</div>
			<div class="col-sm-5">
				<label for="formDescription" class="control-label center">ตำแหน่ง</label>
				<select id="e-engineerType" class="form-control edit" style=" width: 100%;" onchange="selectEngineerType()">
				</select>
			</div>
			<div class="col-sm-4">
				<label for="formDescription" class="control-label center">สาขา</label>
				<select id="e-engineerFaculty" class="form-control edit" style=" width: 100%;">
					<option value="0">- เลือก -</option>
				</select>
			</div>
			<div class="col-sm-3">
				<label for="formDescription" class="control-label center">เลขประจำตัวประชาชน</label>
				<input type="text" class="form-control edit idPerson" id="e-idPerson" maxlength="13">
			</div>
			<div class="col-sm-3">
				<label for="" class="control-label center">คำนำหน้า</label><br />
				<select id="e-title" class="form-control edit">
					<option value="0">- เลือก -</option>
					<option th:each="TitleName : ${lTitleName}" th:value="${TitleName.code}" th:utext="${TitleName.abbreviation}" />
				</select>
			</div>
			<div class="col-sm-3" id="showEngineer-226" style="display:none">
				<label for="formDescription" class="control-label center">โปรดระบุ</label>
				<input type="text" class="form-control edit" id="e-prefix">
			</div>
			<div class="col-sm-3">
				<label for="formDescription" class="control-label center">ชื่อ&nbsp;&nbsp;</label>
				<input type="text" class="form-control edit" id="e-firstname">
			</div>
			<div class="col-sm-3">
				<label for="formDescription" class="control-label center">นามสกุล</label>
				<input type="text" class="form-control edit" id="e-lastname">
			</div>
		</div>
		<script>
			$('body').on('change','#e-title',function(){
		var bla_value = $(this).val();
		if(bla_value == 226){
			$('div#showEngineer-226').show();
		}else{
			$('div#showEngineer-226').hide();
		}
	});
</script>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-3">
							<label for="" class="control-label center">ที่อยู่เลขที่</label>
							<input type="text" class="form-control edit" id="numberhome_attorney" placeholder="" value="">
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label center">หมู่ที่</label>
							<input type="text" class="form-control edit" id="moo_attorney" placeholder="" value="">
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label center">ตรอก/ซอย</label>
							<input type="text" class="form-control edit" id="soi_attorney" placeholder="" value="">
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label center">ถนน</label>
							<input type="text" class="form-control edit" id="road_attorney" placeholder="" value="">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-3">
							<label for="" class="control-label center">จังหวัด</label>
							<select id="provinceId_attorney" class="form-control edit" onChange="getAmphurAttorney(this.value);">
								<option value="">- เลือก -</option>
								<option th:each="province : ${lProvinceBean}" th:value="${province.provinceId}" th:utext="${province.provinceName}" />
							</select>
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label center">อำเภอ/เขต</label>
							<select id="amphurId_attorney" class="form-control edit" onChange="getTambonAttorney(this.value);">
								<option value="">- เลือก -</option>
							</select>
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label right">ตำบล/แขวง</label>
							<select id="districtId_attorney" class="form-control edit" onChange="getZipcodeAttorney(this.value);">
								<option value="">- เลือก -</option>
							</select>
						</div>
						<div class="col-sm-3">
							<label for="" class="control-label right">รหัสไปรษณีย์</label>
							<input type="text" class="form-control edit" id="zipcodeId_attorney" readonly>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<label for="" class="control-label right">โทรศัพท์</label>
							<input type="text" class="form-control edit textTelephone" id="tel_attorney" placeholder="" value="">
						</div>
						<div class="col-sm-6">
							<label for="" class="control-label right">E-mail</label>
							<input type="text" class="form-control edit" id="email_attorney" placeholder="" value="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="rShowUpload" style="display: none">

			<h3><u id="sEngineerUploadHead"></u></h3>

			<div class="form-group" id="showUpload_Engineer_1">
				<div class="col-sm-12">
					<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_1" data-check="1" id="sEngineerCheck_1"
						 class="sCheckFileEngineer"> <span id="sEngineer_Text_1"></span></label>
					<div id="section-file-1" style="display: none;">
						<input type="file" name="sEngineerFile_1" class="well well-sm" id="sEngineerFile_1">
					</div>
				</div>
			</div>

			<div class="form-group" id="showUpload_Engineer_2">
				<div class="col-sm-12">
					<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_2" data-check="2" id="sEngineerCheck_2"
						 class="sCheckFileEngineer"> <span id="sEngineer_Text_2"></span></label>
					<div id="section-file-2" style="display: none;">
						<input type="file" name="sEngineerFile_2" class="well well-sm" id="sEngineerFile_2">
					</div>
				</div>
			</div>

			<div class="form-group" id="showUpload_Engineer_3">
				<div class="col-sm-12">
					<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_3" data-check="3" id="sEngineerCheck_3"
						 class="sCheckFileEngineer"> <span id="sEngineer_Text_3"></span></label>
					<div id="section-file-3" style="display: none;">
						<input type="file" name="sEngineerFile_3" class="well well-sm" id="sEngineerFile_3">
					</div>
				</div>
			</div>

			<div class="form-group" id="showUpload_Engineer_4">
				<div class="col-sm-12">
					<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_4" data-check="4" id="sEngineerCheck_4"
						 class="sCheckFileEngineer"> <span id="sEngineer_Text_4"></span></label>
					<div id="section-file-4" style="display: none;">
						<input type="file" name="sEngineerFile_4" class="well well-sm" id="sEngineerFile_4">
					</div>
				</div>
			</div>

			<div class="form-group" id="showUpload_Engineer_5">
				<div class="col-sm-12">
					<label class="checkbox-inline"><input type="checkbox" name="sEngineerCheck_5" data-check="5" id="sEngineerCheck_5"
						 class="sCheckFileEngineer"> <span id="sEngineer_Text_5"></span></label>
					<div id="section-file-5" style="display: none;">
						<input type="file" name="sEngineerFile_5" class="well well-sm" id="sEngineerFile_5">
					</div>
				</div>
			</div>



			<script type="text/javascript">
				$('body').on('change', '.sCheckFileEngineer', function () {
					var iCheckArea = $(this).data("check")
					if ($(this).is(":checked")) {
						$('#section-file-' + iCheckArea).css('display', 'block');
					} else {
						$('#section-file-' + iCheckArea).css('display', 'none');
					}
				})
			</script>

			<div class="col-sm-3">
				<label for="formDescription" class="control-label center"></label><br />
				<a id="add-engineer" type="button" class="btn btn-custom-next">เพิ่ม</a>
			</div>
		</div>

		<script type="text/javascript">
			var reqID = "[[${requestId}]]";
			console.log("x=" + reqID);
			if (reqID == 10) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ", "ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2",
					"ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 3"
				]
			} else if (reqID == 11) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ", "ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2"]
			} else if (reqID == 12) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ"]
			} else if (reqID == 13) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ", "ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2",
					"ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 3"
				]
			} else if (reqID == 14) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ", "ผู้ชำนาญการกรรมวิธีทดสอบแบบไม่ทำลายสภาพเดิมระดับที่ 2"]
			} else if (reqID == 15) {
				var typeEngineet = ["หัวหน้าควบคุมการทดสอบ", "วิศวกรทดสอบ"]
			}

			var typeFaculty = ["-", "วิศวกรรมเครื่องกล", "ไฟฟ้า", "เครื่องกล", "โยธา", "การทดสอบด้วยรังสี",
				"การทดสอบด้วยคลื่นเสียงความถี่สูง", "การทดสอบด้วยคลื่นแม่เหล็ก", "การทดสอบด้วยสารแทรกซึม", "การทดสอบด้วยรังสี",
				"การทดสอบด้วยคลื่นเสียงความถี่สูง", "การทดสอบด้วยคลื่นแม่เหล็ก", "การทดสอบด้วยสารแทรกซึม"
			];

			(function ($, undefined) {

				$(document).ready(function () {
					$('input#sDatePermit').datepicker({
						format: 'dd/mm/yyyy',
						todayBtn: true,
						language: 'th-th',
						autoclose: true
					});

					$('input#sDatePermitExpire').datepicker({
						format: 'dd/mm/yyyy',
						todayBtn: true,
						language: 'th-th',
						autoclose: true
					});

					$('input#sDatePermit-Modal').datepicker({
						format: 'dd/mm/yyyy',
						todayBtn: true,
						language: 'th-th',
						autoclose: true
					});

					$('input#sDatePermitExpire-Modal').datepicker({
						format: 'dd/mm/yyyy',
						todayBtn: true,
						language: 'th-th',
						autoclose: true
					});
				})



				$('#e-engineerType').empty();
				$('#e-engineerType').append('<option value="0">- เลือก -</option>');
				$.each(typeEngineet, function (index, val) {
					$('#e-engineerType').append('<option value="' + (index + 1) + '">' + val + '</option>');
				})
				"use strict";
				$(".idPerson").on("keyup", function (event) {


					// When user select text in the document, also abort.
					var selection = window.getSelection().toString();
					if (selection !== '') {
						return;
					}

					// When the arrow keys are pressed, abort.
					if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
						return;
					}

					var $this = $(this);
					var input = $this.val();
					//input = input.replace(/[\W\s\._\-]+/g, '');
					input = input.replace(/[\D\s\._\-]+/g, "");
					//input = input ? parseInt( input, 10 ) : 0;
					if (input.length > 13) {
						return;
					}
					var split = 4;
					var chunk = [];

					for (var i = 0, len = input.length; i < len; i += split) {
						//split = 0;
						if (i >= 0 && i < 1) {
							split = 1;
							// console.log("SplitA:"+input.substr( i, split ));

						} else if (i >= 1 && i <= 4) {
							split = 4;
							// console.log("SplitB:"+input.substr( i, split ));
						} else if (i > 4 && i <= 9) {
							split = 5;
							// console.log("SplitC:"+input.substr( i, split ));
						} else if (i > 9 && i <= 11) {
							split = 2;
							// console.log("SplitD:"+input.substr( i, split ));
						} else if (i > 11) {
							split = 1;
							// console.log("SplitD:"+input.substr( i, split ));
						}

						//split = ( i >= 8 && i <= 16 ) ? 4 : 8;
						chunk.push(input.substr(i, split));
					}
					/*
                              var input = $this.val();

                          var input = input.replace(/[\D\s\._\-]+/g, "");
                                  input = input ? parseInt( input, 10 ) : 0;

                                  $this.val( function() {
                                      return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
                                  } );
                              */

					$this.val(function () {
						//return ( input == 0 ) ? "" :chunk.join("-");
						//console.log(chunk);
						return chunk.join("-");
						//return str_return;
					});

				});

			})(jQuery);
		</script>

		<script type="text/javascript">
		
			function selectEngineerType() {

				var val = $('#e-engineerType').val();
				$('u#sEngineerUploadHead').text('');
				$('div#showUpload_Engineer_1').hide();
				$('div#showUpload_Engineer_2').hide();
				$('div#showUpload_Engineer_3').hide();
				$('div#showUpload_Engineer_4').hide();
				$('div#showUpload_Engineer_5').hide();
				console.log(val);
				$('#e-engineerFaculty').empty();
				$('#e-engineerFaculty').append('<option value="0">- เลือก -</option>');
				if (val == 1) {
					$('div#rShowUpload').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty').append('<option value="1">วิศวกรรมเครื่องกล</option>');
					$('span#sEngineer_Text_1').text(
						// 'สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมคุณวุฒิภาคีวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน');
						'สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุม');
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน');
					$('span#sEngineer_Text_5').text(
						'เอกสารแสดงประสบการณ์ทางด้านการทดสอบและตรวจสอบภาชนะรับความดันรวมทั้งระบบท่อและอุปกรณ์ไม่น้อยกว่า 2 ปี หรือได้รับใบรับรองให้เป็นผู้ปฏิบัติงานด้านการทดสอบและตรวจสอบภาชนะบรรจุก๊าซระบบท่อก๊าซและอุปกรณ์ต่าง ๆ จากกรมธุรกิจพลังงานแล้วไม่น้อยกว่า 2 ปี'
					);
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
					$('div#showUpload_Engineer_5').show();

				} else if (val == 2) {
					$('div#rShowUpload').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty').append('<option value="2">ไฟฟ้า</option>');
					$('#e-engineerFaculty').append('<option value="3">เครื่องกล</option>');
					$('#e-engineerFaculty').append('<option value="4">โยธา</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมที่มีคุณวุฒิภาคีวิศวกรหรือสามัญวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else if (val == 3) {
					$('div#rShowUpload').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty').append('<option value="5">การทดสอบด้วยรังสี</option>');
					$('#e-engineerFaculty').append('<option value="6">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
					$('#e-engineerFaculty').append('<option value="7">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
					$('#e-engineerFaculty').append('<option value="8">การทดสอบด้วยสารแทรกซึม</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else if (val == 4) {
					$('div#rShowUpload').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty').append('<option value="9">การทดสอบด้วยรังสี</option>');
					$('#e-engineerFaculty').append('<option value="10">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
					$('#e-engineerFaculty').append('<option value="11">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
					$('#e-engineerFaculty').append('<option value="12">การทดสอบด้วยสารแทรกซึม</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else {
					$('div#rShowUpload').hide();
				}
			}

			function selectEngineerTypeModal() {
				var val = $('#e-engineerType_modal').val();
				$('u#sEngineerUploadHead').text('');
				$('div#showUpload_Engineer_1').hide();
				$('div#showUpload_Engineer_2').hide();
				$('div#showUpload_Engineer_3').hide();
				$('div#showUpload_Engineer_4').hide();
				$('div#showUpload_Engineer_5').hide();
				console.log(val);
				$('#e-engineerFaculty').empty();
				$('#e-engineerFaculty').append('<option value="0">- เลือก -</option>');
				if (val == 1) {
					$('div#rShowUploadModal').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty_modal').append('<option value="1">วิศวกรรมเครื่องกล</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมคุณวุฒิภาคีวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน');
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน');
					$('span#sEngineer_Text_5').text(
						'เอกสารแสดงประสบการณ์ทางด้านการทดสอบและตรวจสอบภาชนะรับความดันรวมทั้งระบบท่อและอุปกรณ์ไม่น้อยกว่า 2 ปี หรือได้รับใบรับรองให้เป็นผู้ปฏิบัติงานด้านการทดสอบและตรวจสอบภาชนะบรรจุก๊าซระบบท่อก๊าซและอุปกรณ์ต่าง ๆ จากกรมธุรกิจพลังงานแล้วไม่น้อยกว่า 2 ปี'
					);
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
					$('div#showUpload_Engineer_5').show();

				} else if (val == 2) {
					$('div#rShowUploadModal').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty_modal').append('<option value="2">ไฟฟ้า</option>');
					$('#e-engineerFaculty_modal').append('<option value="3">เครื่องกล</option>');
					$('#e-engineerFaculty_modal').append('<option value="4">โยธา</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาใบอนุญาตประกอบวิชาชีพวิศวกรรมควบคุมที่มีคุณวุฒิภาคีวิศวกรหรือสามัญวิศวกรหรือวุฒิวิศวกรสาขาวิศวกรรมเครื่องกล อย่างน้อย 2 คน'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else if (val == 3) {
					$('div#rShowUploadModal').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty_modal').append('<option value="5">การทดสอบด้วยรังสี</option>');
					$('#e-engineerFaculty_modal').append('<option value="6">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
					$('#e-engineerFaculty_modal').append('<option value="7">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
					$('#e-engineerFaculty_modal').append('<option value="8">การทดสอบด้วยสารแทรกซึม</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else if (val == 4) {
					$('div#rShowUploadModal').show();
					$('u#sEngineerUploadHead').text(
						'เอกสารหลักฐานผู้ปฏิบัติงานตามบัญชีรายชื่อผู้ปฏิบัติงานเกี่ยวกับการทดสอบและตรวจสอบ (เอกสารมีอายุไม่น้อยกว่าหมดเวลา 3 เดือน)');
					$('#e-engineerFaculty_modal').append('<option value="9">การทดสอบด้วยรังสี</option>');
					$('#e-engineerFaculty_modal').append('<option value="10">การทดสอบด้วยคลื่นเสียงความถี่สูง</option>');
					$('#e-engineerFaculty_modal').append('<option value="11">การทดสอบด้วยคลื่นแม่เหล็ก</option>');
					$('#e-engineerFaculty_modal').append('<option value="12">การทดสอบด้วยสารแทรกซึม</option>');
					$('span#sEngineer_Text_1').text(
						'สำเนาหนังสือรับรองคุณสมบัติการฝึกอบรมหลักสูตรผู้ชำนาญการทำสอบกรรมวิธีไม่ทำลายสภาพเดิมที่ผ่านการฝึกอบรมจากสถาบันที่เชื่อถือได้ไม่ต่ำกว่าระดับ 2'
					);
					$('span#sEngineer_Text_2').text('สำเนาบัตรประชาชน');
					$('span#sEngineer_Text_3').text('สำเนาทะเบียนบ้าน');
					$('span#sEngineer_Text_4').text('สัญญาจ้างทำงาน (เอกสารมีระยะเวลาก่อนหมดอายุไม่น้อยกว่า 3 เดือน)');
					$('div#showUpload_Engineer_1').show();
					$('div#showUpload_Engineer_2').show();
					$('div#showUpload_Engineer_3').show();
					$('div#showUpload_Engineer_4').show();
				} else {
					$('div#rShowUploadModal').hide();
				}
			}

			function loadTableEngineer() {
				$('#table-engineer').dataTable({
                    "bAutoWidth": false , 
					"aoColumns" : [
						null,
						null,
						null,
						null,
						null,
						null,
						null,
						{ sWidth: '80px' }
					],
					
					"dom": 'Bfrtip',
					"buttons": [
						'copy', 'csv', 'excel', 'pdf', 'print'
					],
					"bDestroy": true,
					"bSort": false,
					"language": {
						"search": "ค้นหา :",
						"lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						"zeroRecords": "ไม่มีข้อมูล",
						"info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						"infoEmpty": "ไม่มีข้อมูล",
						"paginate": {
							"previous": "ก่อนหน้า",
							"next": "ถัดไป"
						}
						// "infoFiltered": "(filtered from _MAX_ total records)"
					}
				}).fnClearTable();

				var cn = $('#e-company-name').val();
				//alert($('#e-dbdId').val());
				$.ajax({
					type: "POST",
					url: "/api-engineer/listTest",
					// url: "/api-engineer/list",
					data: 'dbdId=' + $('#e-dbdId').val(),
					success: function (data) {
						console.log(data)
						var content = "";
						$.each(data, function (index, value) {
							/*content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
          			            content += '<td>'+value.engineerId+'</td>';
          			            content += '<td>'+value.titleName.abbreviation+'</td>';
          			            content += '<td>'+value.firstname+'</td>';
          			            content += '<td>'+value.lastname+'</td>';
          			            content += '<td>'+value.type+'</td>';
          			            content += '<td>'+value.expireDate+'</td>';
          			            content += '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" onclick="appendDatatoModal(this)">แก้ไข</a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)">ลบ</a></td>';
          			            content += '</tr>';
          			         */
							// $('#zipcodeId').val(value.zipcode);
							console.log(value);
							//         $('#table-engineer').dataTable().fnAddData( [
							//         value.engineerId,
							//         value.titleName.abbreviation,
							//         value.firstname,
							//         value.lastname,
							//         typeEngineet[parseInt(value.type)-1],
							//         typeFaculty[parseInt(value.faculty)],
							//         value.expireDate,
							//     '<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="'+value.id+'" data-id-engineer="'+value.engineerId+'" data-title="'+value.titleName.code+'" data-firstname="'+value.firstname+'" data-lastname="'+value.lastname+'" data-type="'+value.type+'" data-faculty="'+value.faculty+'" onclick="appendDatatoModal(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="'+value.id+'"  onclick="deleteEngineer(this)"><i class="glyphicon glyphicon-trash"></i></a>' ]
							// );

							$('#table-engineer').dataTable().fnAddData([
								value.engineerId,
								value.titleName.abbreviation,
								value.firstname,
								value.lastname,
								typeEngineet[parseInt(value.type) - 1],
								typeFaculty[parseInt(value.faculty)],
								value.expireDate,
								'<a class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter" data-id="' +
								value.id + '" data-engineerId="' + value.engineerId + '" data-title="' + value.titleName.code +
								'" data-sTitleName="' + value.titleEngi + '" data-firstname="' + value.firstname + '" data-lastname="' +
								value.lastname + '" data-engineerType="' + value.type + '" data-engineerFaculty="' + value.faculty +
								'" data-idPerson="' + value.personalId + '" data-numberhome="' + value.numhome_service + '" data-moo="' +
								value.moo_service + '" data-soi="' + value.soi_service + '" data-road="' + value.road_service +
								'" data-tumbon="' + value.tumbon_service + '" data-aumphur="' + value.aumphur_service +
								'" data-province="' + value.province_service + '" data-zipcode="' + value.zipcode_service +
								'" data-tel="' + value.tel_service + '" data-email="' + value.email_service + '" data-expireDate="' +
								value.expireDate + '" data-issueDate="' + value.issueDate +
								'" data-file1="' + value.file1 +
								'" data-file2="' + value.file2 +
								'" data-file3="' + value.file3 +
								'" data-file4="' + value.file4 +
								'" data-file5="' + value.file5 +
								'" onclick="appendDatatoModal(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="' +
								value.id + '"  onclick="deleteEngineer(this)"><i class="glyphicon glyphicon-trash"></i></a>'
							]);
						});
						// $('#table-engineer tbody').html(content);
						/*	$('#table-engineer').DataTable({
          					"bDestroy": true,
								"bSort" : false,
								"language": {
						            "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
						            "zeroRecords": "ไม่มีข้อมูล",
						            "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
						            "infoEmpty": "ไม่มีข้อมูล",
						            "paginate": {
									      "previous": "ก่อนหน้า",
									      "next": "ถัดไป"
									    }
						           // "infoFiltered": "(filtered from _MAX_ total records)"
						        }
						          });*/
						//var para = document.createRange().createContextualFragment(content);
						// $('#table-engineer tbody').appendChild(para);
					},
					error: function (jqXHR, textStatus, errorThrown) {
						// alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

						//$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
						console.log('jqXHR:');
						console.log(jqXHR);
						console.log('textStatus:');
						console.log(textStatus);
						console.log('errorThrown:');
						console.log(errorThrown);
					},
				});
			}
		</script>
		<script type="text/javascript">
			$(document).ready(function () {
				loadTableEngineer();
				$('#add-engineer').click(function () {
					var formId = $('input#formId').val();

					var rtId = $('input#rtId').val();
					oData = new FormData();
					oData.append("dbdId", $('#e-dbdId').val());
					oData.append("rtId", rtId);

					oData.append("engineerId", $('#e-engineerId').val());
					oData.append("sDatePermit", $('#sDatePermit').val());
					oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());

					oData.append("title", $("#e-title option:selected").val());
					oData.append("sTitle_Name", $('#e-prefix').val());
					oData.append("firstname", $('#e-firstname').val());
					oData.append("lastname", $('#e-lastname').val());

					oData.append("e-engineerType", $("#e-engineerType option:selected").val());
					oData.append("e-engineerFaculty", $("#e-engineerFaculty option:selected").val());
					oData.append("e-idPerson", $('#e-idPerson').val());

					oData.append("e-numberhome", $('#numberhome_attorney').val());
					oData.append("e-moo", $('#moo_attorney').val());
					oData.append("e-soi", $('#soi_attorney').val());
					oData.append("e-road", $('#road_attorney').val());
					oData.append("e-tumbon", $('#districtId_attorney').val());
					oData.append("e-aumphur", $('#amphurId_attorney').val());
					oData.append("e-province", $('#provinceId_attorney').val());
					oData.append("e-zipcode", $('#zipcodeId_attorney').val());
					oData.append("e-tel", $('#tel_attorney').val());
					oData.append("e-email", $('#email_attorney').val());

					// oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
					// oData.append("engineerId", $('#e-engineerId').val());
					// oData.append("sDatePermit", $('#sDatePermit').val());
					// oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
					// oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
					// oData.append("e-engineerFaculty", $( "#e-engineerFaculty option:selected" ).val());
					// oData.append("title", etitle);
					// oData.append("sTitle_Name", etitle);
					// oData.append("firstname", $('#e-firstname').val());
					// oData.append("lastname", $('#e-lastname').val());
					// oData.append("e-idPerson", $('#e-idPerson').val());
					// oData.append("e-address", $('#e-address').val());
					// oData.append("rtId", rtId);

					// HTML file input, chosen by user
					oData.append("file_1", $('#sEngineerFile_1').prop('files')[0]);
					oData.append("file_2", $('#sEngineerFile_2').prop('files')[0]);
					oData.append("file_3", $('#sEngineerFile_3').prop('files')[0]);
					oData.append("file_4", $('#sEngineerFile_4').prop('files')[0]);
					oData.append("file_5", $('#sEngineerFile_5').prop('files')[0]);
					// oData.append("file_6", $('#sEngineerFile_6').prop('files')[0]);
					// oData.append("file_7", $('#sEngineerFile_7').prop('files')[0]);
					// console.log(oData);
					// return false;

					var oReq = new XMLHttpRequest();
					//   oReq.open("POST", "/api-engineer/save", true);
					oReq.open("POST", "/api-engineer/saveTEST", true);
					//   oReq.open("POST", "/api-engineer/saveTESTER", true);
					oReq.onload = function (oEvent) {
						if (oReq.status == 200) {

							//oOutput.innerHTML = "Uploaded!";
							alert("Uploaded!");
							loadTableEngineer();
							return false;
							$('#e-engineerType').val("0");
							$('#e-engineerFaculty').val("0");
							$('#engineerId').val("");

							$('#e-engineerId').val("");
							$('#sDatePermit').val("");
							$('#sDatePermitExpire').val("");
							$('#e-idPerson').val("");
							$('#e-title').val("0");
							$('#numberhome_attorney').val("");
							$('#tel_attorney').val("");
							$('#moo_attorney').val("");
							$('#soi_attorney').val("");
							$('#road_attorney').val("");
							$('#fax_attorney').val("");
							$('#email_attorney').val("");
							$('#provinceId_attorney').val("");
							$('#amphurId_attorney').val("");
							$('#districtId_attorney').val("");
							$('#zipcodeId_attorney').val("");
							$('#e-prefix').val("");

							$('#e-firstname').val("");
							$('#e-lastname').val("");
							//$('#toolPhotoImg').val("");
							loadTableEngineer();
						} else {
							//oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
							console.log("Error " + oReq.status + " occurred when trying to upload your file.");
							alert("การอัปโหลดผิดพลาด");
						}
					};

					oReq.send(oData);

				});

			});
		</script>

		<script type="text/javascript">
			function appendDatatoModal(e) {
				$('#showFile_1').empty();
				$('#showFile_2').empty();
				$('#showFile_3').empty();
				$('#showFile_4').empty();
				$('#showFile_5').empty();
				
				console.log($(e).attr('data-title'));
				// alert('1234');

				$('#e-engineerType_modal').empty();
				$('#e-engineerType_modal').append('<option value="0">- เลือก -</option>');
				$.each(typeEngineet, function (index, val) {
					$('#e-engineerType_modal').append('<option value="' + (index + 1) + '">' + val + '</option>');
				})
				$("#e-engineerType_modal").val($(e).attr('data-engineertype'));
				selectEngineerTypeModal()
				console.log("This function appendDatatoModal");
				$("#e-engineerId_modal").val($(e).attr('data-engineerid'));
				$("#sDatePermit_modal").val($(e).attr('data-issuedate'));
				$("#sDatePermitExpire_modal").val($(e).attr('data-expiredate'));
				$("#e-engineerFaculty_modal").val($(e).attr('data-engineerfaculty'));
				$("#e-idPerson_modal").val(personUpdateFormat($(e).attr('data-idperson')));
				$("#e-title_modal").val($(e).attr('data-title'));
				if ($("#e-title_modal").val() == 226) {
					$('div#showEngineer-226-modal').show();
				} else {
					$('div#showEngineer-226-modal').hide();
				}
				$("#e-prefix_modal").val($(e).attr('data-sTitleName'));
				$("#e-firstname_modal").val($(e).attr('data-firstname'));
				$("#e-lastname_modal").val($(e).attr('data-lastname'));
				$("#numberhome_attorney_modal").val($(e).attr('data-numberhome'));
				$("#moo_attorney_modal").val($(e).attr('data-moo'));
				$("#soi_attorney_modal").val($(e).attr('data-soi'));
				$("#road_attorney_modal").val($(e).attr('data-road'));

				$("#provinceId_attorney_modal").val($(e).attr('data-province'));
				// getAmphurAttorneyModal($("#provinceId_attorney_modal").val());
				// console.log('Aumphur : '+$(e).attr('data-aumphur'));
				// $("#amphurId_attorney_modal").val($(e).attr('data-aumphur'));
				// getTambonAttorneyModal($("#amphurId_attorney_modal").val());
				// $("#districtId_attorney_modal").val($(e).attr('data-tumbon'));
				// getZipcodeAttorneyModal($("#districtId_attorney_modal").val());

				$('#amphurId_attorney_modal').html('');
				$('#districtId_attorney_modal').html('');
				$('#zipcodeId_attorney_modal').val('');

				$('#amphurId_attorney_modal').append('<option value="">- เลือก -</option>');
				$('#districtId_attorney_modal').append('<option value="">- เลือก -</option>');
				console.log("PV : "+$("#provinceId_attorney_modal").val());
				$.ajax({
						type: "POST",
						url: "/api/amphur",
						data: 'provinceId=' + $("#provinceId_attorney_modal").val(),
						success: function (data) {
							$.each(data, function (index, value) {
								$('#amphurId_attorney_modal').append('<option value="' + value.amphurId + '" >' + value.amphurName +
									'</option>');
							});
						}
					}).done(function(){
						console.log('AP: '+$(e).attr('data-aumphur'));
						$("#amphurId_attorney_modal").val($(e).attr('data-aumphur'));
						$.ajax({
								type: "POST",
								url: "/api/tambon",
								data: 'amphurId=' + $(e).attr('data-aumphur'),
								success: function (data) {
									$.each(data, function (index, value) {
										$('#districtId_attorney_modal').append('<option value="' + value.districtId + '">' + value.districtName +
											'</option>');
									});
								}
							}).done(function(){
								console.log('TB: '+$(e).attr('data-tumbon'));
								$("#districtId_attorney_modal").val($(e).attr('data-tumbon'));
								$.ajax({
									type: "POST",
									url: "/api/zipcode",
									data: 'districtId=' + $(e).attr('data-tumbon'),
									success: function (data) {
										$.each(data, function (index, value) {
											$('#zipcodeId_attorney_modal').val(value.zipcode);
										});
									}
								});
							});
					});

				// $("#amphurId_attorney_modal").val($(e).attr('data-aumphur'));
				// $("#zipcodeId_attorney_modal").val($(e).attr('data-zipcode'));
				$("#tel_attorney_modal").val(telephoneUpdateFormat($(e).attr('data-tel')));
				$("#email_attorney_modal").val($(e).attr('data-email'));

				if($(e).attr('data-file1') == '' || $(e).attr('data-file1') == 'null'){
					$('#sEngineerCheck_1_modal').prop('checked',false);
				}else{
					$('#sEngineerCheck_1_modal').prop('checked',true);
				}
				
				if($(e).attr('data-file2') == '' || $(e).attr('data-file2') == 'null'){
					$('#sEngineerCheck_2_modal').prop('checked',false);
				}else{
					$('#sEngineerCheck_2_modal').prop('checked',true);
				}
				
				if($(e).attr('data-file3') == '' || $(e).attr('data-file3') == 'null'){
					$('#sEngineerCheck_3_modal').prop('checked',false);
				}else{
					$('#sEngineerCheck_3_modal').prop('checked',true);
				}
				
				if($(e).attr('data-file4') == '' || $(e).attr('data-file4') == 'null'){
					$('#sEngineerCheck_4_modal').prop('checked',false);
				}else{
					$('#sEngineerCheck_4_modal').prop('checked',true);
				}
				
				if($(e).attr('data-file5') == '' || $(e).attr('data-file5') == 'null'){
					$('#sEngineerCheck_5_modal').prop('checked',false);
				}else{
					$('#sEngineerCheck_5_modal').prop('checked',true);
				}

				if($('#sEngineerCheck_1_modal').is(":checked")){
					$('#showFile_1').append('<a class="mt-10" target="_blank" href="/filemanager/'+$(e).attr('data-file1')+'"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>');
				}

				if($('#sEngineerCheck_2_modal').is(":checked")){
					$('#showFile_2').append('<a class="mt-10" target="_blank" href="/filemanager/'+$(e).attr('data-file2')+'"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>');
				}

				if($('#sEngineerCheck_3_modal').is(":checked")){
					$('#showFile_3').append('<a class="mt-10" target="_blank" href="/filemanager/'+$(e).attr('data-file3')+'"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>');
				}

				if($('#sEngineerCheck_4_modal').is(":checked")){
					$('#showFile_4').append('<a class="mt-10" target="_blank" href="/filemanager/'+$(e).attr('data-file4')+'"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>');
				}

				if($('#sEngineerCheck_5_modal').is(":checked")){
					$('#showFile_5').append('<a class="mt-10" target="_blank" href="/filemanager/'+$(e).attr('data-file5')+'"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>');
				}
				

				// var engineerId = $(e).attr('data-id-engineer');
				// //$('#e-company-name').val()

				// //alert(engineerId);

				// $("#engineerIdOriginal").val($(e).attr('data-id'));
				// $("#edit-engineerId").val(engineerId);
				// //$("#edit-title").val($(e).attr('data-title'));
				// $( "#edit-title" ).val($(e).attr('data-title'));
				// $("#edit-firstname").val($(e).attr('data-firstname'));
				// $("#edit-lastname").val($(e).attr('data-lastname'));
				// $("#edit-type").val($(e).attr('data-type'));
				// $("#edit-faculty").val($(e).attr('data-faculty'));
				// $("#edit-company").val($('#e-company-name').val());
			}

			function deleteEngineer(e) {
				if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
					// txt = "You pressed OK!";
					$.post("/api-engineer/delete", {
							id: $(e).attr('data-id'),
							// city: "Duckburg"
						},
						function (data, status) {
							//alert("Data: " + data + "\nStatus: " + status);
							if (data != 0) {
								alert('ลบข้อมูลเรียบร้อย');
							} else {
								alert('ลบขอ้มูลผิดพลาดกรุณาติดต่อเจ้ากหน้าที่');
							}
							loadTableEngineer();
						});
				} else {
					// txt = "You pressed Cancel!";
				}

			}
		</script>
		<hr />
		<h3 class="title">ผู้ปฏิบัติงานทดสอบและตรวจสอบ</h3>
		<table id="table-engineer" class="display" style="width: 100%;">
			<thead>
				<tr style=" height: 60px; border-bottom: 1px solid #adadad;">
					<th>เลขทะเบียน</th>
					<th>คำนำหน้า</th>
					<th>ชื่อ</th>
					<th>นามสกุล</th>
					<th>ตำแหน่ง</th>
					<th>สาขา</th>
					<th>บัตรหมดอายุ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr th:each="f : ${lEngineer}" style=" height: 60px; border-bottom: 1px solid #adadad;">
      <td th:text="${f.engineerId}"></td>
      <td th:text="${f.titleName.abbreviation}"></td>
      <td th:text="${f.firstname}"></td>
      <td th:text="${f.lastname}"></td>
      <td th:text="${f.type}"></td>
      <td th:text="${f.company.companyName}"></td>
      <td>[<a href="#" th:href="@{|/engineer/view/${f.engineerId}|}">Edit</a>]  [<a href="#" th:href="@{|/engineer/meta/${f.engineerId}|}">Meta</a>] </td>
    </tr>  -->
			</tbody>
		</table>
	</div>

</div>