<div th:fragment="tool">
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">แก้ไขชื่อเครื่องมือ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form onSubmit="return false;">
                    <div class="modal-body">
                        <input type="hidden" name="edit-toolId" id="edit-toolId" value="">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ</label><br />
                                <div>
                                    <select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
                                        <option value="0">-------เลือก-------</option>
                                        <option value="3">ก) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
                                        <option value="4">ข) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้นกรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                                    </select>
                                    <script>
                                            $(document).ready(function(){
                                                $("#edit-toolNameCat").change(function (){
                                                    console.log($('#edit-toolName').val());
                                                    if($(this).val() == 3){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                                                        $('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                                                        $('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                                                        $('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                                                        $('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                                                    }else if($(this).val() == 4){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                                                        $('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                                                        $('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                                                    }
                                                });
                                            });
                                    </script>
                                </div>
                                <div th:if="${requestId} == 14">
                                    <select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
                                        <option value="0">-------เลือก-------</option>
                                        <option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
                                        <option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
                                        <option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
                                        <option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้นกรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                                    </select>
                                    <script>
                                            $(document).ready(function(){
                                                $("#edit-toolNameCat").change(function (){
                                                    console.log("ASJkasjdpaos");
                                                    if($(this).val() == 1){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
                                                        $('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
                                                    }else if($(this).val() == 2){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
                                                        $('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
                                                        $('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
                                                        $('#edit-toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
                                                        $('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
                                                        $('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
                                                        $('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
                                                    }else if($(this).val() == 3){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                                                        $('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                                                        $('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                                                        $('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                                                        $('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                                                    }else if($(this).val() == 4){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                                                        $('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                                                        $('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                                                    }
                                                });
                                            });
                                    </script>
                                </div>
                                <div th:if="${requestId} == 15">
                                    <select name="edit-toolNameCat" id="edit-toolNameCat" style="width: 100%;">
                                        <option value="0">-------เลือก-------</option>
                                        <option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
                                        <option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
                                        <option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ </option>
                                        <option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้นกรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                                    </select>
                                    <script>
                                            $(document).ready(function(){
                                                $("#edit-toolNameCat").change(function (){
                                                    console.log("ASJkasjdpaos");
                                                    if($(this).val() == 1){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
                                                        $('#edit-toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
                                                        $('#edit-toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
                                                    }else if($(this).val() == 2){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
                                                        $('#edit-toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
                                                        $('#edit-toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
                                                        $('#edit-toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
                                                        $('#edit-toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
                                                        $('#edit-toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
                                                        $('#edit-toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
                                                    }else if($(this).val() == 3){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                                                        $('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                                                        $('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                                                        $('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                                                        $('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                                                    }else if($(this).val() == 4){
                                                        $('#edit-toolName').html("");
                                                        $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                                                        $('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                                                        $('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                                                        $('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                                                    }
                                                });
                                            });
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br />
                                <select name="edit-toolName" id="edit-toolName" style="width: 100%;">
                                    <option value="0">-------เลือก-------</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>หมายเลขเครื่อง</label><br />
                                <input type="text" class="form-control" name="edit-toolSerial" id="edit-toolSerial" value="" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>ยี่ห้อ</label><br />
                                <input type="text" class="form-control" name="edit-toolBrand" id="edit-toolBrand" value="" style="width: 100%;">
                            </div>
                            <div class="col-sm-6">
                                <label>รุ่น</label><br />
                                <input type="text" class="form-control" name="edit-toolModel" id="edit-toolModel" value="" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="formDescription" class="control-label center">วันหมดอายุ</label>
                                <input type="text" class="form-control edit edit-Date" id="edit-calibration_tool_expire" name="edit-calibration_tool_expire">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>รูป</label>
                                <br />
                                <input type="file" class="form-control" name="edit-toolPhotoImg" id="edit-toolPhotoImg" value="">
                                <br />
                                <div id="edit-toolPhoto" style="width: inherit;">

                                </div>
                                <!-- <img  th:src="@{|/../images/data/uploads/tool/${dbdId}/tool/${toolphoto}|}"> -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-custom-prev" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-custom-next" id="updateToolBtn">บันทึก</button>
                    </div>
                </form>
                <script type="text/javascript">
                $('#exampleModalCenter2').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) 
                    var modal = $(this)
                    // modal.find(".modal-body").attr(loadImg());
                    var cn = $('#edit-toolId').val();
                    // alert($('#edit-toolId').val());
                    $.ajax({
                        type: "POST",
                        url: "/api-tool/list",
                        data:'dbdId='+$('#e-dbdId').val(),
                        success: function(data){
                        var content = "";
                        $.each(data, function (index, value) {
                            // console.log(value.toolId)
                            // console.log(cn)
                            if(value.toolId == cn){
                                $('#edit-toolPhoto').html('<img src="[[@{/../images/data/uploads/tool/}]]'+$('#e-dbdId').val()+'/tool/'+value.toolPhoto+'" style="width: inherit;">');
                                // $('#edit-toolPhoto').html(content);
                            }

                        });
                        
                
                        }
                
                    });
                });

                function loadImg(){
                    
                }

                    $(document).ready(function () {
                        
                        $('#updateToolBtn').click(function () {
                            //alert('asdopaisdpo');
                            /*$.post("/api-tool/update",
                                    {
                                        dbdId:$('#e-dbdId').val(),
                                        engineerIdOriginal:$('#engineerIdOriginal').val(),
                                        engineerId:$('#edit-engineerId').val(),
                                        title:$('#edit-title').val(),
                                        firstname:$('#edit-firstname').val(),
                                        lastname:$('#edit-lastname').val(),
                                        type:$('#edit-type').val(),
                                        // city: "Duckburg"
                                    },
                                    function(data, status){
                                        // alert("Data: " + data + "\nStatus: " + status);
                                        if(data != 0){
                                            alert("บันทึกข้อมูลสำเร็จ");
                                            loadTableEngineer();
                                        }else{
                                            alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล หรือติต่อเจ้าหน้าที่")
                                        }
                                    });*/
                            oData = new FormData();
                            oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
                            oData.append("toolId", $('#edit-toolId').val());
                            oData.append("toolName", $('#edit-toolName').val());
                            oData.append("toolNameCatagory", $('#edit-toolNameCat option:selected').val());
                            oData.append("toolSerial", $('#edit-toolSerial').val());
                            oData.append("toolBrand", $('#edit-toolBrand').val());
                            oData.append("toolModel", $('#edit-toolModel').val());
                            oData.append("calibrationToolExprie", $('#edit-calibration_tool_expire').val());
                            oData.append("toolphoto", $('#edit-toolPhotoImg').prop('files')[0]);
                            // HTML file input, chosen by user
                            // oData.append("toolPhotoImg", $('#edit-toolPhotoImg').prop('files')[0]);
                            var oReq = new XMLHttpRequest();
                            console.log(oData);
                            oReq.open("POST", "/api-tool/update", true);
                            oReq.onload = function (oEvent) {
                                if (oReq.status == 200) {
                                    //oOutput.innerHTML = "Uploaded!";
                                    alert("บันทึกข้อมูลสำเร็จ");
                                    loadTableTool();
                                } else {
                                    //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
                                    //alert("Error " + oReq.status + " occurred when trying to upload your file.<br \/>");
                                    alert("การบันทึกข้อมูลผิดพลาด โปรดตรวจสอบข้อมูล หรือติต่อเจ้าหน้าที่");
                                }
                            };

                            oReq.send(oData);
                        });

                    });
                </script>
            </div>
        </div>
    </div>

    <!-------------------------------------------------------------------->

    
        <input type="hidden" name="e-dbdId" id="e-dbdId" value="" th:value="${dbdId}" />
        <input type="hidden" name="e-company-name" id="e-company-name" value="" th:value="${company.companyName}" />
        <div class="form-horizontal">
            <!--   <form onSubmit="return false;" id="toolform" enctype="application/x-www-form-urlencoded"> -->

            <div class="row">
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">เครื่องมือผู้ทดสอบ </label><br />
                    <!--  <input type="text" class="form-control edit" id="toolNameCat" name="toolNameCat" style="width: 100%;">-->
                    <div>
                        <select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
                            <option value="0">-------เลือก-------</option>
                            <option value="3">ก) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ
                            </option>
                            <option value="4">ข) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น
                                กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                        </select>
                        <script>
                            $(document).ready(function(){
                        $("#toolNameCatagory").change(function (){
                        console.log("ASJkasjdpaos");
                             if($(this).val() == 3){
                $('#toolName').html("");
                $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                $('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                $('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                $('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                $('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                $('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
            }else if($(this).val() == 4){
                $('#toolName').html("");
                $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                $('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                $('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                $('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
            }
                        });
                    });
                    </script>
                    </div>
                    <div th:if="${requestId} == 14">
                        <select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
                            <option value="0">-------เลือก-------</option>
                            <option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
                            <option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
                            <option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ
                            </option>
                            <option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น
                                กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                        </select>
                        <script>
                            $(document).ready(function(){
                        $("#toolNameCatagory").change(function (){
                        console.log("ASJkasjdpaos");
                        if($(this).val() == 1){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
                            $('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
                            $('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
                            $('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
                            $('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
                        }else if($(this).val() == 2){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
                            $('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
                            $('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
                            $('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
                            $('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
                            $('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
                            $('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
                        }else if($(this).val() == 3){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                            $('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                            $('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                            $('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                            $('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                        }else if($(this).val() == 4){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                            $('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                            $('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                        }
                        });
                    });
                    </script>
                    </div>
                    <div th:if="${requestId} == 15">
                        <select name="toolNameCatagory" id="toolNameCatagory" style="width: 100%;">
                            <option value="0">-------เลือก-------</option>
                            <option value="1">ก) ชุดเครื่องมือตรวจสอบแนวเชื่อมเหล็ก</option>
                            <option value="2">ข) ชุดเครื่องมือตรวจสภาพภาชนะบรรจุน้ำมันและระบบท่อน้ำมันและอุปกรณ์</option>
                            <option value="3">ค) ชุดเครื่องมือทดสอบสภาวะภายใต้ความดันของภาชนะบรรจุก๊าซระบบท่อก๊าซและกลอุปกรณ์นิรภัยต่าง ๆ
                            </option>
                            <option value="4">ง) ชุดเครื่องมือตรวจสอบระบบไฟฟ้า อุปกรณ์ไฟฟ้า และระบบป้องกันอันตรายจากฟ้าผ่า (ยกเว้น
                                กรณีไม่ประสงค์ตรวจสอบระบบไฟฟ้า) </option>
                        </select>
                        <script>
                            $(document).ready(function(){
                        $("#toolNameCatagory").change(function (){
                        console.log("ASJkasjdpaos");
                        if($(this).val() == 1){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
                            $('#toolName').append('<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
                            $('#toolName').append('<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
                            $('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
                            $('#toolName').append('<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
                        }else if($(this).val() == 2){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
                            $('#toolName').append('<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
                            $('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
                            $('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
                            $('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
                            $('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
                            $('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
                        }else if($(this).val() == 3){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                            $('#toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                            $('#toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                            $('#toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                            $('#toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                        }else if($(this).val() == 4){
                            $('#toolName').html("");
                            $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                            $('#toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                            $('#toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                            $('#toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                        }
                        });
                    });
                    </script>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">ชื่อเครื่องมือ</label><br />
                    <select name="toolName" id="toolName" style="width: 100%;">
                        <option value="0">-------เลือก-------</option>

                    </select>
                </div>
                <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label center">หมายเลขเครื่อง</label><br />
                    <input type="text" class="form-control edit" id="toolSerial" name="toolSerial" style="width: 100%;">
                </div>
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">ยี่ห้อ</label><br />
                    <input type="text" class="form-control edit" id="toolBrand" name="toolBrand" style="width: 100%;">
                </div>
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">รุ่น</label><br />
                    <input type="text" class="form-control edit" id="toolModel" name="toolModel" style="width: 100%;">
                </div>

                <div class="col-sm-12">
                    <input type="checkbox" id="manual" name="manual" value="1"> <label style="padding-top: 0px;" for="inputEmail3"
                     class="control-label center">คู่มือ</label>
                     <input type="file" class="well well-sm" id="toolManual" name="toolManual" style="display:none;">
                     <script>
                         $('body').on('change','#manual',function(){
                            console.log($(this).is(':checked'));
                            if($(this).is(':checked')){
                                $('#toolManual').show();
                            }else{
                                $('#toolManual').hide();
                            }
                         })
                     </script>
                </div>
                <div class="col-sm-12">
                    <input type="checkbox" id="FieldInspection" name="FieldInspection" value="1"> <label style="padding-top: 0px;"
                     for="inputEmail3" class="control-label center">ออกตรวจภาคสนาม</label>
                     <input type="file" class="well well-sm" id="toolFieldInspection" name="toolFieldInspection" style="display:none;">
                     <script>
                         $('body').on('change','#FieldInspection',function(){
                            console.log($(this).is(':checked'));
                            if($(this).is(':checked')){
                                $('#toolFieldInspection').show();
                            }else{
                                $('#toolFieldInspection').hide();
                            }
                         })
                     </script>
                </div>
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">รูป</label>
                    <input type="file" class="well well-sm" id="toolPhotoImg" name="toolPhotoImg">
                </div>
                <div class="col-sm-6">
                    <label for="inputEmail3" class="control-label center">เอกสารกรรมสิทธิ์ </label>
                    <input type="file" class="well well-sm" id="proprietary_document" name="proprietary_document">
                </div>
                <div class="col-sm-12">
                    <label for="inputEmail3" class="control-label center">เอกสารการสอบเทียบเครื่องมือ </label>
                    <input type="file" class="well well-sm" id="calibration_tool" name="calibration_tool">
                </div>
                <div class="col-sm-4">
                    <label for="formDescription" class="control-label center">วันหมดอายุ</label>
                    <input type="text" class="form-control edit" id="calibration_tool_expire" name="calibration_tool_expire">
                </div>
                <div class="col-sm-12">
                    <label for="formDescription" class="control-label center"></label><br />
                    <a id="add-tool" type="button" class="btn btn-custom-next">เพิ่ม</a>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            /*<![CDATA[*/
            function loadTableTool() {
                $('#table-tool').dataTable({
                    "bAutoWidth": false , 
         "aoColumns" : [
             null,
             null,
             null,
             null,
             null,
             { sWidth: '80px' }
         ],
                    "bDestroy": true,
                    "bSort": false,
                    "language": {
                        "search": "ค้นหา :",
                        "lengthMenu": "แสดง ข้อมูล  _MENU_ แถวต่อหน้า",
                        "zeroRecords": "ไม่มีข้อมูล",
                        "info": "แสดงหน้าที่  _PAGE_ จาก  _PAGES_",
                        "infoEmpty": "ไม่มีข้อมูล",
                        "paginate": {
                            "previous": "ก่อนหน้า",
                            "next": "ถัดไป"
                        }
                        // "infoFiltered": "(filtered from _MAX_ total records)"
                    }
                    
                }).fnClearTable();
                var cn = $('#e-company-name').val();
                //alert($('#e-dbdId').val());
                $.ajax({
                    type: "POST",
                    url: "/api-tool/list",
                    data: 'dbdId=' + $('#e-dbdId').val(),
                    success: function (data) {
                        // console.log(data)
                        // return false;
                        var content = "";
                        $.each(data, function (index, value) {
                            /*
                  1 เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)
                  2 เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)
                3 เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)
                4 เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)
                5 เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)
                6 เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)
                7 เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)
                8 เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)
                9 เครื่องตรวจวัดความลึก (Depth Gauge)
                10 เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)
                11 เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)
                12 เทปวัดระยะชนิดเหล็ก (Steel Tape)
                13 เครื่องสูบอัดอากาศ (Air Compressor)
                14 เครื่องสูบอัดน้ำ (Pressure Water Pump)
                15 มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)
                16 กลอุปกรณ์ปรับความดัน (Pressure Regulator)
                17 เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)
                18 เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)
                19 เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)
                20 เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)
                  */
                            var toolName = "";
                            switch (value.toolName) {
                                case "1":
                                    toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)";
                                    break;
                                case "2":
                                    toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)";
                                    break;
                                case "3":
                                    toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)";
                                    break;
                                case "4":
                                    toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)";
                                    break;
                                case "5":
                                    toolName = "เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)";
                                    break;
                                case "6":
                                    toolName = "เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)";
                                    break;
                                case "7":
                                    toolName = "เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)";
                                    break;
                                case "8":
                                    toolName = "เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)";
                                    break;
                                case "9":
                                    toolName = "เครื่องตรวจวัดความลึก (Depth Gauge)";
                                    break;
                                case "10":
                                    toolName = "เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)";
                                    break;
                                case "11":
                                    toolName = "เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)";
                                    break;
                                case "12":
                                    toolName = "เทปวัดระยะชนิดเหล็ก (Steel Tape)";
                                    break;
                                case "13":
                                    toolName = "เครื่องสูบอัดอากาศ (Air Compressor)";
                                    break;
                                case "14":
                                    toolName = "เครื่องสูบอัดน้ำ (Pressure Water Pump)";
                                    break;
                                case "15":
                                    toolName = "มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)";
                                    break;
                                case "16":
                                    toolName = "กลอุปกรณ์ปรับความดัน (Pressure Regulator)";
                                    break;
                                case "17":
                                    toolName = "เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)";
                                    break;
                                case "18":
                                    toolName = "เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)";
                                    break;
                                case "19":
                                    toolName = "เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)";
                                    break;
                                case "20":
                                    toolName = "เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)";
                                    break;
                                default:
                                    // code block
                                    break;
                            }
                            content += '<tr style=" height: 60px; border-bottom: 1px solid #adadad;">';
                            content += '<td>' + toolName + '</td>';
                            content += '<td> <img src="[[@{/images/data/uploads/tool/DbdId}]]' + $('#e-dbdId').val() + '/' + value.toolPhoto +
                                '" style="width: 150px;"></td>';

                            content += '<td>' + value.toolSerial + '</td>';
                            content += '<td>' + value.toolBrand + '</td>';
                            content += '<td>' + value.toolModel + '</td>';
                            //value.toolPhoto
                            //@{/images/energy-logo.svg}
                            //'+value.toolName+'
                            content += '<td>' + cn + '</td>';
                            content +=
                                '<td><a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="' +
                                value.toolId + '" data-toolName="' + value.toolName + '" data-toolSerial="' + value.toolSerial +
                                '" data-toolBrand="' + value.toolBrand + '" data-toolModel="' + value.toolModel + '" data-toolPhoto="' + value.toolPhoto + '" data-toolEndDate="' + value.calibrationToolExprie +
                                '"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="' +
                                value.toolId + '"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a></td>';
                            content += '</tr>';

                            // $('#zipcodeId').val(value.zipcode);

                            console.log("test " + value.toolPhoto);
                            $('#table-tool ').dataTable().fnAddData([
                                toolName,
                                value.toolSerial,
                                value.calibrationToolExprie,
                                value.toolBrand,
                                value.toolModel,
                                '<a  class="btn btn-primary btn-sm edit-engineer" data-toggle="modal" data-target="#exampleModalCenter2" data-id="' +
                                value.toolId + '" data-toolNameCat="' + value.toolNameCatagory + '" data-toolName="' + value.toolName +
                                '" data-toolSerial="' + value.toolSerial + '" data-toolBrand="' + value.toolBrand +
                                '" data-toolModel="' + value.toolModel + '" data-toolPhoto="' + value.toolPhoto + '" data-toolEndDate="' + value.calibrationToolExprie +
                                '"  onclick="appendDatatoModal2(this)"><i class="glyphicon glyphicon-edit"></i></a> <a class="btn btn-danger  btn-sm delete" data-id="' +
                                value.toolId + '"  onclick="deleteTool(this)"><i class="glyphicon glyphicon-trash"></i></a>'
                            ]);
                        });
                        // $('#table-tool tbody').html(content);
                        //var para = document.createRange().createContextualFragment(content);
                        // $('#table-engineer tbody').appendChild(para);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // alert('An error occurred... Look at the console (F12 or Ctrl+Shift+I, Console tab) for more information!');

                        //$('#result').html('<p>status code: '+jqXHR.status+'</p><p>errorThrown: ' + errorThrown + '</p><p>jqXHR.responseText:</p><div>'+jqXHR.responseText + '</div>');
                        console.log('jqXHR:');
                        console.log(jqXHR);
                        console.log('textStatus:');
                        console.log(textStatus);
                        console.log('errorThrown:');
                        console.log(errorThrown);
                    },
                });
            }
            /*]]>*/
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                loadTableTool();
                $('#add-tool').click(function () {

                    //alert('asdopaisdpo');
                    //var data = $( "#toolform" ).serialize();
                    /*$.post("/api-tool/save",
                            {
                                data:data,
                            },
                            function(data, status){
                                //$('#e-dbdId').val("");
                                loadTableTool();
                               //alert("Data: " + data + "\nStatus: " + status);


                            });*/
                    //var oOutput = document.querySelector("div"),
                    oData = new FormData();
                    oData.append("dbdId", $('#e-dbdId').val()); // number 123456 is immediately converted to a string "123456"
                    oData.append("toolName", $('#toolName').val());
                    oData.append("toolNameCatagory", $("#toolNameCatagory option:selected").val());
                    oData.append("toolSerial", $('#toolSerial').val());
                    oData.append("toolBrand", $('#toolBrand').val());
                    oData.append("toolModel", $('#toolModel').val());
                    oData.append("manual", $('#toolModel').val());
                    var manualVal = 0;
                    var manual = document.getElementsByName('manual');

                    for (var i = 0, length = manual.length; i < length; i++) {
                        if (manual[i].checked) {
                            // do whatever you want with the checked radio
                            // alert(radios[i].value);
                            manualVal = 1;
                            // only one radio can be logically checked, don't check the rest
                            break;
                        }
                    }

                    oData.append("manual", manualVal);

                    var FieldInspectionlVal = 0;
                    var FieldInspection = document.getElementsByName('FieldInspection');

                    for (var i = 0, length = FieldInspection.length; i < length; i++) {
                        if (FieldInspection[i].checked) {
                            // do whatever you want with the checked radio
                            // alert(radios[i].value);
                            FieldInspectionlVal = 1;
                            // only one radio can be logically checked, don't check the rest
                            break;
                        }
                    }

                    oData.append("FieldInspection", FieldInspectionlVal);
                    oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
                    oData.append("proprietary_document", $('#proprietary_document').prop('files')[0]);
                    oData.append("calibrationToolExprie", $('#calibration_tool_expire').val());
                    oData.append("calibration_tool", $('#calibration_tool').prop('files')[0]);
                    /*
                       oData.append("sDatePermitExpire", $('#sDatePermitExpire').val());
                      oData.append("e-engineerType", $( "#e-engineerType option:selected" ).val());
                      oData.append("title", etitle);
                        oData.append("firstname", $('#e-firstname').val());
                      oData.append("lastname", $('#e-lastname').val());
                      oData.append("e-idPerson", $('#e-idPerson').val());
                      oData.append("e-address", $('#e-address').val());

                  // HTML file input, chosen by user
                  oData.append("file_1", $('#fs10').prop('files')[0]);
                  oData.append("file_2", $('#fs11').prop('files')[0]);
                  oData.append("file_3", $('#fs12').prop('files')[0]);
                  oData.append("file_4", $('#fs13').prop('files')[0]);

                      */
                    // HTML file input, chosen by user
                    //oData.append("toolPhotoImg", $('#toolPhotoImg').prop('files')[0]);
                    var oReq = new XMLHttpRequest();
                    oReq.open("POST", "/api-tool/save", true);
                    oReq.onload = function (oEvent) {
                        if (oReq.status == 200) {
                            //oOutput.innerHTML = "Uploaded!";
                            //alert("Uploaded!");
                            $('#toolNameCatagory').val("0")
                            $('#toolName').val("0")
                            $('#manual').val("");
                            $('#FieldInspection').val("");
                            $('#toolSerial').val("");
                            $('#toolBrand').val("");
                            $('#toolModel').val("");
                            $('#toolPhotoImg').val("");
                            $('#calibration_tool_expire').val("");
                            loadTableTool();
                        } else {
                            //oOutput.innerHTML = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
                            console.log("Error " + oReq.status + " occurred when trying to upload your file.");
                            alert("การอัพโหลดผิดพลาด");
                        }
                    };

                    oReq.send(oData);
                    // ev.preventDefault();
                });

            });
        </script>
        <script type="text/javascript">
            function appendDatatoModal2(e) {
                //$('#e-company-name').val()

                //alert(engineerId);

                $("#edit-toolId").val($(e).attr('data-id'));
                $("#edit-toolNameCat").val($(e).attr('data-toolnameCat'));
                $("#edit-toolName").val($(e).attr('data-toolName'));
                $("#edit-toolSerial").val($(e).attr('data-toolserial'));
                $("#edit-toolBrand").val($(e).attr('data-toolbrand'));
                $("#edit-toolModel").val($(e).attr('data-toolmodel'));
                $("#edit-calibration_tool_expire").val($(e).attr('data-toolEndDate'));
                //$("#edit-type").val($(e).attr('data-lastname'));
                $("#edit-company2").val($('#e-company-name').val());
                if ($("#edit-toolNameCat").val() == 1) {
                    $('#toolName').html("");
                    $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                    $('#toolName').append('<option value="1">เครื่องตรวจสอบแนวเชื่อมด้วยรังสี (Radiographic Inspection)</option>');
                    $('#toolName').append(
                        '<option value="2">เครื่องตรวจสอบแนวเชื่อมด้วยคลื่นอุลตราโซนิค (Ultrasonic Inspection)</option>');
                    $('#toolName').append(
                        '<option value="3">เครื่องตรวจสอบแนวเชื่อมด้วยอนุภาคแม่เหล็ก (Magnetic Particle Inspection)</option>');
                    $('#toolName').append('<option value="4">เครื่องตรวจสอบแนวเชื่อมด้วยกล่องสุญญากาศ (Vacuum Box)</option>');
                    $('#toolName').append(
                        '<option value="5">เครื่องตรวจสอบแนวเชื่อมด้วยสารแทรกซึม (Liquid Penetrant Inspection)</option>');
                } else if ($("#edit-toolNameCat").val() == 2) {
                    $('#toolName').html("");
                    $('#toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                    $('#toolName').append('<option value="6">เครื่องมือตรวจสอบสภาพพื้นถังเก็บน้ำมัน (Tank Flaw Scan)</option>');
                    $('#toolName').append(
                        '<option value="7">เครื่องตรวจวัดความหนาของถังเก็บน้ำมัน (Ultrasonic Thickness Tester)</option>');
                    $('#toolName').append('<option value="8">เครื่องตรวจวัดความแข็งของถังเก็บน้ำมัน (Hardness Tester)</option>');
                    $('#toolName').append('<option value="9">เครื่องตรวจวัดความลึก (Depth Gauge)</option>');
                    $('#toolName').append('<option value="10">เครื่องมือตรวจสอบความดิ่งของผนังถัง (Plumbness)</option>');
                    $('#toolName').append('<option value="11">เครื่องมือตรวจสอบการทรุดตัว (Surveyor’s Level)</option>');
                    $('#toolName').append('<option value="12">เทปวัดระยะชนิดเหล็ก (Steel Tape)</option>');
                } else if ($("#edit-toolNameCat").val() == 3) {
                    $('#edit-toolName').html("");
                    $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                    $('#edit-toolName').append('<option value="13">เครื่องสูบอัดอากาศ (Air Compressor)</option>');
                    $('#edit-toolName').append('<option value="14">เครื่องสูบอัดน้ำ (Pressure Water Pump)</option>');
                    $('#edit-toolName').append('<option value="15">มาตรวัดความดันมาตรฐาน (Standard Pressure Gauge)</option>');
                    $('#edit-toolName').append('<option value="16">กลอุปกรณ์ปรับความดัน (Pressure Regulator)</option>');
                    $('#edit-toolName').append('<option value="17">เครื่องทดสอบอุปกรณ์นิรภัย (Safety Relief Valve Tester)</option>');
                } else if ($("#edit-toolNameCat").val() == 4) {
                    $('#edit-toolName').html("");
                    $('#edit-toolName').append('<option value="0">--เลือกเครื่องมือ--</option>');
                    $('#edit-toolName').append('<option value="18">เครื่องมือวัดแรงดันไฟฟ้า (Volt Meter)</option>');
                    $('#edit-toolName').append('<option value="19">เครื่องมือวัดกระแสไฟฟ้า (Amp Meter)</option>');
                    $('#edit-toolName').append('<option value="20">เครื่องมือวัดความต้านทานของหลักสายดิน (Ground Tester)</option>');
                }
                $("#edit-toolName").val($(e).attr('data-toolname'));
            }

            function deleteTool(e) {
                if (confirm("คุณแน่ใจหรือไม่ที่จะลบข้อมูล!?")) {
                    // txt = "You pressed OK!";
                    $.post("/api-tool/delete", {
                            id: $(e).attr('data-id'),
                            // city: "Duckburg"
                        },
                        function (data, status) {
                            //alert("Data: " + data + "\nStatus: " + status);
                            if (data != 0) {
                                alert('ลบข้อมูลเรียบร้อย');
                            } else {
                                alert('ลบข้อมูลผิดพลาดกรุณาติดต่อเจ้าหน้าที่');
                            }
                            loadTableTool();
                        });
                } else {
                    // txt = "You pressed Cancel!";
                }

            }

            $('.edit-Date').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: true,
                language: 'th-th',
                autoclose: true
            });
        </script>
        <hr>
        <h3 class="title">บัญชีรายชื่อเครื่องมือ</h3>
        <table id="table-tool" class="display" style="width: 100%;">
            <thead>
                <tr style=" height: 60px; border-bottom: 1px solid #adadad;">
                    <th>ชื่อเครื่องมือ</th>
                    <!-- <th>รูป</th> -->
                    <th>หมายเลขเครื่อง</th>
                    <th>วันหมดอายุ</th>
                    <th>ยี่ห้อ</th>
                    <th>รุ่น</th>

                    <!-- <th>บริษัท</th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
</div>