<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/tool/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/tool/save}" enctype="multipart/form-data" >
		<div class="form-group ">
		    <label for="formTitle">toolName</label>
		    <input type="text" class="form-control" id="toolName" name="toolName" required>
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">toolSerial</label>
		    <input type="text" class="form-control" id="toolSerial" name="toolSerial" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolBrand</label>
		    <input type="text" class="form-control" id="toolBrand" name="toolBrand" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolModel</label>
		    <input type="text" class="form-control" id="toolModel" name="toolModel" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolPhoto</label>
		    <input type="file" class="form-control" id="toolPhotoImg" name="toolPhotoImg" required>
		  </div>
		  <div class="form-group">
		    <label for="formTemplate">Company</label>
		    <select name="companyIdstr" id="companyIdstr" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="company : ${lCompany}"
                            	th:value="${company.dbdId}"
                            	th:utext="${company.companyName}"/>
                  		</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>