<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{tool/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<p th:text="${url_img}"></p>
<img  th:src="${url_img}" />
</div>