<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<div layout:fragment="content">
<a href="#" th:href="@{/tool/add}">ADD</a>
<table id="table-form" class="display">
  <thead>
    <tr>
      <th>ToolId</th>
      <th>ToolName</th>
      <th>ToolSerial</th>
      <th>ToolBrand</th>
      <th>ToolModel</th>
      <th>ToolPhoto</th>
      <th>Company</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
   	<tr th:each="var : ${lTool}">
      <td th:text="${var.toolId}"></td>
      <td th:text="${var.toolName}"></td>
      <td th:text="${var.toolSerial}"></td>
      <td th:text="${var.toolBrand}"></td>
      <td th:text="${var.toolModel}"></td>
      <td>[<a href="#" th:href="@{|/tool/img/${var.toolId}|}" th:text="${var.toolPhoto}" target="_blank">file</a>]</td>
      <td th:text="${var.company.companyName}"></td>
      <td>[<a href="#" th:href="@{|/tool/view/${var.toolId}|}">Edit</a>]  [<a href="#" th:href="@{|/tool/meta/${var.toolId}|}">Meta</a>] </td>
    </tr>
  </tbody>
</table>
</div>