<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{form/layout}">  
<head><meta charset="UTF-8"></head>
<div layout:fragment="content">
<a href="#" th:href="@{/tool/list}">LIST</a>
	<div class="col-sm-4">
		<form method="POST" action="#" th:action="@{/tool/update}" enctype="multipart/form-data" >
		<input type="hidden" name="toolId" th:value="${ETool.toolId}"> 
		<div class="form-group ">
		    <label for="formTitle">toolName</label>
		    <input type="text" class="form-control" id="toolName" name="toolName" th:value="${ETool.toolName}" required >
		  </div>
		  <div class="form-group ">
		    <label for="formTitle">toolSerial</label>
		    <input type="text" class="form-control" id="toolSerial" name="toolSerial" th:value="${ETool.toolSerial}" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolBrand</label>
		    <input type="text" class="form-control" id="toolBrand" name="toolBrand" th:value="${ETool.toolBrand}" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolModel</label>
		    <input type="text" class="form-control" id="toolModel" name="toolModel" th:value="${ETool.toolModel}" required>
		  </div>
		  <div class="form-group">
		    <label for="formDescription">toolPhoto</label>
		    <img src=""  th:src="${url_img}" />
		    <input type="file" class="form-control" id="toolPhotoImg" th:value="${ETool.toolPhoto}"  name="toolPhotoImg" >
		  </div>
		  <div class="form-group">
		    <label for="formTemplate">Company</label>
		    <select name="companyIdstr" id="companyIdstr" class="form-control edit" required>
                         	<option value="">-เลือก-</option>
                         	<option th:each="company : ${lCompany}"
                            	th:value="${company.dbdId}"
                            	th:utext="${company.companyName}"
                            	th:selected="${ETool.company.dbdId == company.dbdId}">Wireframe</option>
                  		</select>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>