/*margin and padding*/
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-20 {
  margin-left: 20px !important;
}

.simple-text {
  color: #EB5E28 !important;
}
.navbar-brand {
  color: #EB5E28 !important;
  font-size: large;
}
.form-control.edit {
  border: 1px solid #ccc !important;
  background-color: #ffffff !important;
}
label.success, label.warning, label.danger, label.info, label.primary {
  color: #ffffff;
  padding: 4.5px 15px;
  border-radius: 5px;
}
label.success { 
  background-color: #28bd2b;
}
label.warning { 
  background-color: #F3BB45;
}
label.danger { 
  background-color: #ac2925;
}
label.info { 
  background-color: #68b3c8;
}
label.primary { 
  background-color: #337ab7;
}
.content.edit {
  padding: 10px !important;
}
.form-search {
  width: 68% !important;
}
h4.title {
  background-color: #eee;
  padding: 5px 10px;
  border-left: 5px solid #ccc;
  color: #383737;
}
.breadcrumb.edit {
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}