<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head th:replace="common-onestop/header :: common-header" />
<body>
  <div th:replace="common-onestop/navbar :: common-navbar" />
  <div class="box-container">
    <h2 class="text-right"></h2>
    <h3 class="text-center"><u>จดหมายนำส่งจากบริษัท </u></h3>

    <form action="#" th:action="@{/onestopER/form/submission}"  method="post" enctype="multipart/form-data">

      <div class="form-inline mt-20">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>เขียนที่</label>
                <input type="text" name="write_at" class="form-control edit form-control edit-edit" value="กรมธุรกิจพลังงาน" th:value="${entryMap != null} ? ${entryMap['write_at']} : 'กรมธุรกิจพลังงาน'">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-6 col-sm-offset-6 text-right">
            <div class="form-inline">
              <div class="form-group">
                <label>วันที่</label>
                <input type="text" name="date_notice" class="form-control edit form-control edit-edit" id="theDate" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end date form -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tab text-center mt-40" role="tablist">
        <li role="presentation" class="tab-edit active" id="nav-1">
          <a href="form.html#tap1" aria-controls="tab1" role="tab" data-toggle="tab" style="margin: 16px 0px;">1 จดหมายนำส่งจากบริษัท</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tap1">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <h3 class="title">ส่วนที่ ๑ : จดหมายนำส่งจากบริษัท </h3>
            <table class="table">
              <tbody>
              <tr>
                <td style="border-top: 0px !important">
                  <input type="file" class=" well well-sm" name="document_1">
                  <span class="text-danger">* This field is required.</span>
                </td>
                <td style="border-top: 0px !important" colspan="2">
                  จดหมายนำส่งจากบริษัท
                                </td>
              </tr>
              <!-- <tr>
                <td style="border-top: 0px !important">
                  <input type="file" class=" well well-sm" name="document_other[]">
                  <span class="text-danger">* This field is required.</span>
                </td>
                <td style="border-top: 0px !important" colspan="2">
                  อื่นๆ <input type="text" class="form-control edit" id="name_other_file" name="name_other_file[]" placeholder=""  value="" >
                </td>
                <td style="border-top: 0px !important" colspan="2">
                  <a class="btn btn-danger btnRemoveRow" data-id="" disabled>X</a>
                </td>
              </tr> -->
            </tbody>
          </table>
          <!-- <div class="row text-center mt-20">
            <a class="btn btn-primary" id="addTableTwo">เพิ่มไฟล์อื่นๆ </a>
          </div> -->
          <hr>
            <div class="row text-right mt-20">
              <a id="prev"  class="btn btn-custom-prev" th:href="@{|/onestop/company/${dbdId}/requestForm|}" >ย้อนกลับ</a>
              <input type="hidden" id="dbdId" name="dbdId" value="0" th:value="${dbdId}">
              <input type="hidden" id="rtId" name="rtId" value="0" th:value="${rtId}">
              <input type="hidden" id="formId" name="formId" value="0" th:value="${formId}">
              <input type="hidden" id="rfId" name="rfId" value="0" th:value="${rfId}">
              <input type="hidden" id="formMetaId" name="formMetaId" value="0" th:value="${formMetaId}">
              <input  id="submit" type="submit" class="btn btn-custom-confirm" value="บันทึก"/>
            </div>
          </div>
        </div>

      </div>
  </div>

</form>

 <div th:replace="common-officer/footer :: common-footer">
</body>


<script type="text/javascript">
$(document).ready(function () {

  $("#addTableTwo").click(function() {
    var numItems = $('.table tr').length;
    numItems++;

    var myvar = '<tr id="'+numItems+'">'+
    '                <td style="border-top: 0px !important">'+
    '                  <input type="file" class=" well well-sm" name="document_other[]">'+
    '                  <span class="text-danger">* This field is required.</span>'+
    '                </td>'+
    '                <td style="border-top: 0px !important" colspan="2">'+
    '                  อื่น ๆ <input type="text" class="form-control edit" id="name_other_file" name="name_other_file[]" placeholder=""  value="" >'+
    '                </td>'+
    '                <td style="border-top: 0px !important" colspan="2">'+
    '                  <a class="btn btn-danger btnRemoveRow" data-id="'+numItems+'">X</a>'+
    '                </td>'+
    '              </tr>';


  $('.table tbody').append(myvar);
});


  $('body').on('click', '.btnRemoveRow', function (event) {
    var id = $(this).attr('data-id');
    $('#'+id).remove();
  });


	  $('#c1').change(function() {
        if($(this).is(":checked")) {
        	$('#s1').css('display','block');
        	$('#vs1').focus();
        	$("#fs1").prop('',true);
        }else {
        	$('#s1').css('display','none');
        	$('#vs1').val('');
        	$("#fs1").prop('',false);
        }
      });
	 $('#c2').change(function() {
        if($(this).is(":checked")) {
        	$('#s2').css('display','block');
        	$('#vs2').focus();
        	$("#fs2").prop('',true);
        }else {
        	$('#s2').css('display','none');
        	$('#vs2').val('');
        	$("#fs2").prop('',false);
        }
      });
	 $('#c3').change(function() {
        if($(this).is(":checked")) {
        	$('#s3').css('display','block');
        	$('#vs3').focus();
        	$("#fs3").prop('',true);
        }else {
        	$('#s3').css('display','none');
        	$('#vs3').val('');
        	$("#fs3").prop('',false);
        }
      });
	 $('#c4').change(function() {
        if($(this).is(":checked")) {
        	$('#s4').css('display','block');
        	$('#vs4').focus();
        	$("#fs4").prop('',true);
        }else {
        	$('#s4').css('display','none');
        	$('#vs4').val('');
        	$("#fs4").prop('',false);
        }
      });
	 $('#c5').change(function() {
        if($(this).is(":checked")) {
        	$('#s5').css('display','block');
        	$('#vs5').focus();
        	$("#fs5").prop('',true);
        }else {
        	$('#s5').css('display','none');
        	$('#vs5').val('');
        	$("#fs5").prop('',false);
        }
      });
	 $('#c6').change(function() {
        if($(this).is(":checked")) {
        	$('#s6').css('display','block');
        	$('#vs6').focus();
        	$("#fs6").prop('',true);
        }else {
        	$('#s6').css('display','none');
        	$('#vs6').val('');
        	$("#fs6").prop('',false);
        }
      });
	 $('#c7').change(function() {
        if($(this).is(":checked")) {
        	$('#s7').css('display','block');
        	$('#vs7').focus();
        	$("#fs7").prop('',true);
        }else {
        	$('#s7').css('display','none');
        	$('#vs7').val('');
        	$("#fs7").prop('',false);
        }
      });
	 $('#c8').change(function() {
        if($(this).is(":checked")) {
        	$('#s8').css('display','block');
        	$('#vs8').focus();
        	$("#fs8").prop('',true);
        }else {
        	$('#s8').css('display','none');
        	$('#vs8').val('');
        	$("#fs8").prop('',false);
        }
      });
	 $('#c9').change(function() {
        if($(this).is(":checked")) {
        	$('#s9').css('display','block');
        	$('#vs9').focus();
        	$("#fs9").prop('',true);
        }else {
        	$('#s9').css('display','none');
        	$('#vs9').val('');
        	$("#fs9").prop('',false);
        }
      });
	 $('#c10').change(function() {
        if($(this).is(":checked")) {
        	$('#s10').css('display','block');
        	$('#vs10').focus();
        	$("#fs10").prop('',true);
        }else {
        	$('#s10').css('display','none');
        	$('#vs10').val('');
        	$("#fs10").prop('',false);
        }
      });



	  $('#c11').change(function() {
        if($(this).is(":checked")) {
        	$('#s11').css('display','block');
        	$('#s11').focus();
        	$("#s11").prop('',true);
        }else {
        	$('#s11').css('display','none');
        	$('#s11').val('');
        	$("#s11").prop('',false);
        }
      });
       $('#c12').change(function() {
        if($(this).is(":checked")) {
        	$('#s12').css('display','block');
        }else {
        	$('#s12').css('display','none');
        }
      });


  $('#someTab').tab('show');

  $("#next-1").click(function() {
    $("#nav-1").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#next-2").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-3").addClass('active');
  });
  $("#next-3").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-4").addClass('active');
  });
  $("#prev-1").click(function() {
    $("#nav-2").removeClass('active');
    $("#nav-1").addClass('active');
  });
  $("#prev-2").click(function() {
    $("#nav-3").removeClass('active');
    $("#nav-2").addClass('active');
  });
  $("#prev-3").click(function() {
    $("#nav-4").removeClass('active');
    $("#nav-3").addClass('active');
  });

});
</script>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = day + "/" + month + "/" +year ;


document.getElementById('theDate').value = today;
</script>
<script>
</script>

</html>
