  <div th:fragment="common-back_1">
    <a href="javascript:history.back()" type="button" class="btn btn-danger btn-custom denybtn pull-right " style="font-size: 20px !important; margin-top: 25px;" >
    <i class="glyphicon glyphicon-chevron-left"></i> ย้อนกลับ</a>
  </div>
  
  
  