<head th:fragment="common-header">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" charset="UTF-8" content="text/html; charset=UTF-8">
<title>Energy Business Information System : EBIS</title>

	<link type="text/css" href="css/3.3.0/bootstrap.css" th:href="@{/css/3.3.0/bootstrap.css}" rel="stylesheet">
	<link rel="stylesheet" href="css/fontawesome-all.min.css" th:href="@{/officer/css/fontawesome/fontawesome-all.min.css}">
	<link type="text/css" href="css/helper.css" th:href="@{/css/helper.css}" rel="stylesheet">
	<link type="text/css" href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" href="" th:href="@{/css/jquery.dataTables.min.css}">
	<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->
	

	
	<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
	

	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/3.3.0/bootstrap.min.js}"></script>

		<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->



