<nav class="navbar navbar-default navbar-custom" th:fragment="common-navbar">

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav custom-link">
          <li class="active"><a href="../officer/dashboard" th:href="@{/director/dashboard}">Home</a></li>
        </ul>
        <div style="margin-left: 15px;float: left;">
			<div>
		      <img src="images/energy-logo.svg" th:src="@{/images/energy-logo.svg}" width="220px;" alt="Energy Logo">
		    </div>
		     <p style="margin-bottom: 0px;"><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
	    </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user user-menu"  style="width: 350px;">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height: 70px;">
            <div class="row">
      			<div class="col-md-2"> 
            <img src="../user/images/user.png" th:src="@{/images/user.png}" alt="User Image" style=" float: left;">
            	</div>
            	<div class="col-md-7"> 
            <span class="ml-10 hidden-xs"th:text="${nm}"></span><br>
            <span class="ml-10 hidden-xs" th:text="${ps}"></span><br>
             <span class="ml-10 hidden-xs"><u>สถาบันพัฒนาเทคนิคพลังงาน</u></span>
             	</div>
            	<div class="col-md-2">
                <span class="" title="ออกจากระบบ"><i class="fas fa-power-off" style="color: #fff; background: #e04e39; padding: 10px; border-radius: 5px; font-size: 14px; margin-top: 10px;"></i></span>
            	</div>
            	</div>
            </a>
            <ul class="dropdown-menu" style="
			width: 250px;
			height: 70px;
		">
              <!-- User image -->
              <li class="user-footer">
                  <a href="#" th:href="@{/user/logout}" class="btn btn-custom-next text-center w-100 fs-XL">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
    
    <script type="text/javascript">
// $(document).ready(function () {
	
// 	$('.dataTable').DataTable({
// 		 paging: false,
//          bInfo: false
//       });
   
		
// 	} );
	</script>
	
  </nav>
  <!-- end navbar -->
    <div class="box-container mb-50">
  <div>
      <img src="images/energy-logo.svg" width="250px;" alt="Energy Logo">
    </div>
   <p><strong>ระบบฐานข้อมูลธุรกิจพลังงาน (Energy Business Information System : EBIS)</strong></p>
   </div>